[2017-01-08 22:36] remia commented on #4830
Solved the issue by editing the formula `brew edit opencv3` and adding `env :std`:

[code]

I have no idea why it works as I'm not familiar at all with homebrew formulas

[2017-01-09 00:09] timotheecour commented on #4825
no idea, but could we revert to previous state where things weren't broken?

[2017-01-09 01:07] timotheecour commented on #4825
is this normal?

[code]

[2017-01-09 01:13] timotheecour commented on #4825
https://gist.github.com/d752621eff5844eee4cc47ff5e9147cf

[2017-01-09 09:08] #4824 closed

[2017-01-09 19:12] dev4dev commented on #4830
@remia did it build module for python 3? because I get p2 version only =\

[2017-01-09 20:46] remia commented on #4830
With `--with-python3` flag yes it builds the python3 lib and I just pasted it in the python3 site-packages.
Again, not sure what the `env: std does` in this case, the problem was perhaps due to incorrect setup / environment / ... on my system (`brew doctor` repoted nothing though).

[2017-01-10 08:18] dev4dev commented on #4830
meh, it doesn't work for me after they updated it to 3.2 =(

[code]

[2017-01-10 10:58] remia commented on #4830
You should maybe check that the commands brew use to discover your python3 environment are working correctly :

[code]

[2017-01-10 18:09] dev4dev commented on #4830
@remia they return correct paths, but still no luck

[2017-01-10 22:06] niemasd opened #4835 "ART formula is out-of-date"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?

### Bug reports / build errors:

#### Brief summary of issue:
The current [ART formula](https://github.com/Homebrew/homebrew-science/blob/master/art.rb) installs [ART-ChocolateCherryCake-03-19-2015](http://www.niehs.nih.gov/research/resources

[2017-01-10 22:25] niemasd commented on #4835
I created a Pull Request resolving the out-of-date issue:
https://github.com/Homebrew/homebrew-science/pull/4836

[2017-01-11 15:43] StephanJanosch opened #4840 "vcf-tools needs htslib as dependency because of tabix"
the tool vcd-consensus needs tabix

[code]

[2017-01-11 15:44] ilovezfs commented on #4840
mind opening a pr?

[2017-01-11 15:51] StephanJanosch commented on #4840
What should I put into the PR?

[2017-01-11 15:55] ilovezfs commented on #4840
https://github.com/Homebrew/homebrew-science/blob/master/vcftools.rb#L20

you'll want to add
[code]

and bump the revision, adding
[code]
between the `head` and `sha256` at the top.

[2017-01-11 16:22] StephanJanosch commented on #4840
created PR. Thanks for trying teaching me how to write recipes

[2017-01-11 16:22] #4840 closed

[2017-01-11 16:22] ilovezfs commented on #4840
You're welcome!

[2017-01-11 19:55] lesserwhirls opened #4843 "netCDF and authentication/authorization"
When accessing remote data with `netCDF` tools, like `ncdump`, users occasionally need to be able to use client side certificates for authentication and/or authorization. Currently, the homebrew build of netCDF links to the system copy of `libcurl`, which isn't built against `openssl` (in favor of `SecureTransport` alone). The result is that certificates, in PEM format, are not picked up properly

[2017-01-11 20:40] korya opened #4845 "Installation of homebrew/science/vips fails"
# Please follow the general troubleshooting steps first:

- [x] Ran `brew update` and retried your prior step?

- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?

- [x] Confirmed this is problem with specific formulae and not Homebrew/brew? If it's a general Homebrew/brew problem please file this issue at https://github.com/Homebrew/brew/issues/new

_You can er

[2017-01-12 02:28] bugkiwi commented on #2401
1. find where is `ls -l /usr/local/bin/gfortran`, that should been a soft link refer to a gfortran.
![image](https://cloud.githubusercontent.com/assets/1936250/21874729/c84481d6-d8b1-11e6-95bc-fbcc5a605bf8.png)

2. remove it and
3. use `ln` to give a new link to your `gcc gfortran`, it looks like
[code]

and everything work well.

[2017-01-12 15:05] nextgenusfs commented on #4584
Okay, finally got an answer to this https://github.com/Homebrew/brew/issues/1810

So the formula needs to add `depends on perl => :build` option in order for the local version of Perl to be added to the filtered PATH.

[2017-01-12 19:33] xzcvczx opened #4848 "openni2 make java build optional"
Currently openni2 requires java for normal builds, This is only required for the java wrapper and java samples so As attached i have patched out the java stuff from being built if the option without-java is used.

2 patches are used. One for the brew recipe

[code]

and openni2-nojava.patch being

[code]

occipital/OpenNI2#104

[2017-01-13 10:01] timotheecour opened #4850 "[moved]"

[2017-01-13 10:03] #4850 closed

[2017-01-13 19:12] jonchang commented on #4845
What other package are you trying to install? It seems like this specific combination of options:

[code]

is causing the `vips` build to fail. Specifically it's looking for `libexif` symbols and can't find them:

[code]

We recommend installing using bottles whenever possible.

[2017-01-13 19:44] jonchang commented on #4825
Looks like this is an upstream issue with opencv 3.2

[2017-01-13 21:58] korya commented on #4845
I am not sure when it got broken. Suddenly I started seeing this error couple months ago, but back then I said may be I have to upgrade Xcode, and if I am going to upgrade Xcode it makes sense to upgrade the OS and a lot of other applications. So I waited until last week, when I finally have upgrade OSX, Xcode and a lot of other software. But the problem remained.

What does 'installing using bott

[2017-01-14 09:54] iMichka commented on #4670
@nextgenusfs don't forget to close this if this is OK for you :)

[2017-01-14 10:12] iMichka commented on #2820
I gave this a quick try. Now that mathgl was updated, the formula builds. There were explicit changes for QT5 in the updated formula.

The installation fails though:

[code]

[2017-01-14 10:59] at-2500 commented on #4680
AFAIK, imread additionally requires the highgui library: `-lopencv_highgui`

[2017-01-14 11:15] at-2500 opened #4852 "ceres-solver built against old eigen3"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-01-14 17:21] nextgenusfs commented on #4670
ah, sorry.  yes working for me.  Thanks!

[2017-01-14 17:21] #4670 closed

[2017-01-15 02:17] nextgenusfs commented on #4584
While this works for me to add the `depends_on "perl" => :build` to the formula, I'm not sure this is what others would want?  As it will install brew perl if it is not installed, which may not be what some users want if system perl is what they are using.  So should I do a pull request for this formula and add the depends on perl?  OR is there another way to add as an option?

[2017-01-15 10:40] twogee opened #4854 "viennarna is outdated"
viennarna in mac brew is version 2.1.9, but the latest version is 2.3.1 and the URL is different.
I tried "brew edit viennarna" and change the URL + checksum to rebuild from source, but the source archive is sent as an attachment and brew seems unable to handle it properly.
There's a dmg available for download, so maybe viennarna shoould move to the caskroom.
What do you think?

[2017-01-15 18:06] iMichka commented on #4835
I merged the pull request, you can now update to get the new version. Thanks.

[2017-01-15 18:06] #4835 closed

[2017-01-15 20:49] iMichka commented on #4780
Hi. Looks almost good. Where exactly are you stuck?
There is a tutorial on how to open a pull request here: http://docs.brew.sh/How-To-Open-a-Homebrew-Pull-Request.html

Some comments:
- You should make your changes on a separate branch. This will allow you to open multiple pull requests, and is good practice.
- The title (first line of commit message) should be: `edirect 6.00` (see the docs)

Hop

[2017-01-15 22:09] iMichka commented on #4562
Hi.

Homebrew only downloads the .zip from the official site, extracts it, and copies the .jar to /usr/local/share/java/picard.jar. Not sure how we could something about it.

When you just run ```picard```, it will use whatever defaults the picard developers have set, or the default set by the JVM.
It's up to you to call it with the right flags: ```java -Xmx10g -jar /usr/local/share/java/picard.ja

[2017-01-15 22:36] rlancaste opened #4856 "WCSLIB is now outdated"
WCSLIB 5.12 does not exist anymore at ftp://ftp.atnf.csiro.au/.  Therefore running brew install wcslib fails.  They are now on version 5.16.

Please update the formula.

Thanks!

[2017-01-15 22:42] iMichka commented on #4856
Hi

Thanks for the notification. Would you like to edit the formula yourself and submit a pull request? It is pretty easy. There is a tutorial on how to open a pull request here: http://docs.brew.sh/How-To-Open-a-Homebrew-Pull-Request.html

[2017-01-15 23:32] rlancaste commented on #4856
Hi, thank you for responding so quickly.  On my own machine, I edited the wcslib.rb file earlier today to reflect the new version number and removed the checksum and it seemed to work.  The problem is that while I could probably change zip file's name and submit a pull request, I don't know where the sha256 checksum comes from to enter it correctly.  I also don't know if there is anything else tha

[2017-01-16 07:20] iMichka commented on #4856
You can use ```shasum -a 256 /filepath/downloadedfile```. You can also run the formula; it will fail at the sha256 check and tell you which one to use.

Also, don't worry about other changes. If you just update the version number, in simple cases, there is often nothing else to do (only if there are failures or you want to explicitly change something). For changes we leave that up to the users: th

[2017-01-16 19:14] rlancaste commented on #4856
I attempted the pull request.  Please let me know if there are any issues.

[2017-01-16 21:27] iMichka commented on #4854
Hi. Thanks for letting us know.

Looking at their homepage (http://www.tbi.univie.ac.at/RNA/#download), the new url seems to be:
`http://www.tbi.univie.ac.at/RNA/download/sourcecode/2_3_x/ViennaRNA-2.3.1.tar.gz`

I am not sure what you mean by: `but the source archive is sent as an attachment and brew seems unable to handle it properly`? Do you have a specific error message that you could share?

[2017-01-16 22:33] twogee commented on #4854
What I meant was that if I try to run brew install on updated formula, the contents of ViennaRNA-2.3.1.tar.gz are those of the web page, that is, it contains the HTML code. I believe the reason for this is that the actual tar.gz file is sent as an attachment to the web page.

[2017-01-16 22:41] altosaar opened #4859 "Brew install armadillo doesn't add necessary pkg-config files"
### Indicate troubleshooting steps taken

- [ x ] Ran `brew update` and retried your prior step?
- [ x ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ x ] Checked that a similar issue hasn't already been filed?
- [ x ] Looked up the software bug tracker if reporting a build error?
- [ x ] If you're seeing permission errors tried running `sudo chown -R $(whoam

[2017-01-17 07:09] iMichka commented on #4856
@rlancaste thanks for your contribution to Homebrew.

Closed by a907fabfd52f9a139408f6e8cc7ce9394a687e66

[2017-01-17 07:09] #4856 closed

[2017-01-17 18:16] twogee commented on #4854
I tried again and noticed that brew is getting redirected

[code]

but wget is not... is Vienna University blocking homebrew?

[2017-01-17 18:18] iMichka commented on #4854
I had a look at this.

Homebrew tries to setup the url here:
https://github.com/Homebrew/brew/blob/master/Library/Homebrew/download_strategy.rb#L401-L408

Here is the output:
[code]

So the output from curl is weird, and the urls get wrongly setup. This will probably need to be made more robust. Or the server setup is really weird. But this explains why the html page gets downloaded.

[2017-01-17 18:28] iMichka commented on #4854
The time being, I tried and by guessing, using the pattern of the old URL:
`http://www.tbi.univie.ac.at/~ronny/RNA/packages/source/ViennaRNA-2.3.1.tar.gz`

That one works. Please use that in your pull request.

[2017-01-17 18:36] iMichka commented on #4854
Even better (with the help of @ilovezfs):

Get info in the Finder: `http://www.tbi.univie.ac.at/RNA/packages/source/ViennaRNA-2.3.1.tar.gz`
Url in the browser: `http://www.tbi.univie.ac.at/RNA/download/sourcecode/2_3_x/ViennaRNA-2.3.1.tar.gz`

So the best is to use `http://www.tbi.univie.ac.at/RNA/packages/source/ViennaRNA-2.3.1.tar.gz`

[2017-01-17 18:44] twogee commented on #4854
Thanks for helping out with the URL. What should I do about the bottle?

[2017-01-17 18:45] iMichka commented on #4854
As stated in the [doc](http://docs.brew.sh/How-To-Open-a-Homebrew-Pull-Request.html):

[2017-01-17 20:40] cmfrtblynmb728 opened #4864 "Dynare can not be installed: -lgfortran library can not be found"
### Indicate troubleshooting steps taken

- [ x] Ran `brew update` and retried your prior step?
- [ x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?

### Bug reports / build errors:

[code]

#### Brief summary of issue:

When I try t

[2017-01-17 21:51] gwerbin opened #4865 "R -- any reason not to use CRAN's build env variables?"
The ["R Installation and Administration" manual](https://cran.r-project.org/doc/manuals/r-release/R-admin.html) says that the official CRAN binary is built using the following environment variables:

[code]

See https://cran.r-project.org/doc/manuals/r-release/R-admin.html#macOS for more.

It looks like this change would be easy; I think you'd just have to add

[code]

somewhere before the line

[

[2017-01-17 22:13] greg-rocketrip commented on #4865
Sorry to double-post (on a different account no less), but this is what the change might look like:

https://github.com/Homebrew/homebrew-science/compare/master...greg-rocketrip:r-cran-build-parity

[2017-01-18 06:43] #4854 closed

[2017-01-18 18:27] iMichka commented on #4780
Meanwhile, somebody else opened a pull request, with an even newer version: #4868. I merged that in instead. @joshualoving Thanks for your contribution.

[2017-01-18 18:27] #4780 closed

[2017-01-20 18:54] cmfrtblynmb728 commented on #4864
I have an inconsequential update on the issue. I solved all the issues with regards to brew:

[code]

But I get exactly the same result. Here is someone else having the same problem as I do (the first post. I am the person who shows up as hhceylan). So from I understand this problem is replicated, there is a problem with gcc-gfortran homebrew is using and Dynare using it to compile.

Thanks

[2017-01-20 19:42] iMichka commented on #4848
Thanks for your contribution.

I see that you opened a pull request here: #4863

You did not include the patch there though. Any reason for this?

[2017-01-20 19:45] iMichka commented on #4562
I will close this issue to keep the issue tracker clean.

I do believe that this is not a Homebrew issue. I gave a detailed solution on how you could handle this problem.

If you think I am wrong, please open a new issue with more details, so that we might reconsider the problem.

[2017-01-20 19:45] #4562 closed

[2017-01-20 19:47] iMichka commented on #4380
Hi. I will close this issue to try to keep the issue tracker clean.

We do believe that this is not a Homebrew issue. Please reopen a new bug if you believe we are wrong with that assumption.

[2017-01-20 19:47] #4380 closed

[2017-01-20 21:02] xzcvczx commented on #4848
This is adding an option, where as the pull request is just saying that java is required to build. As currently you just get the dialog saying how to install java

[2017-01-22 04:06] CarlosRDomin commented on #4830
I was having the same issue on my new MacBookPro (OS X Sierra): even with the flag `--with-python3` set, `cmake` would not be able to find my Python3 include&lib folders. Running the installation with `--verbose`, I'd actually get the following warning/message in the `cmake` stage:

[...]
tar xzf /Users/MYUSERNAME/Library/Caches/Homebrew/opencv3--contrib-3.2.0.tar.gz
Failed to import the site modu

[2017-01-22 08:09] dev4dev commented on #4830
@CarlosRDomin you are the HERO!

[2017-01-22 10:19] iMichka commented on #4830
Hi. Thanks for the investigation.

Would you mind opening a pull request with you changes?
See http://docs.brew.sh/How-To-Open-a-Homebrew-Pull-Request.html for the instructions.

Thanks

[2017-01-22 13:04] iMichka commented on #3150
VTK5 is gone since #3616. Nobody complained about this, at least not to my knowledge. The python linking problem has been fixed here #3811, for VTK 7.1.0.

There is nothing more to be done here; closing.

[2017-01-22 13:04] #3150 closed

[2017-01-22 18:34] saulspatz commented on #4821
I tried again and it worked, god knows why.  I think it's a later version of ffmpeg, but I'm not sure.

[2017-01-22 18:34] #4821 closed

[2017-01-23 01:22] CarlosRDomin commented on #4830
Glad it worked @dev4dev! :)
@iMichka Sure, opening a pull request now. I actually tried to do it yesterday (before reading your comment) but the link I found on google was broken, thanks for the correct link!

[2017-01-23 07:12] extrinsicmedia opened #4888 "Python bindings fail to install OSX 10.10"
oiiotool works correctly but when using Python 2.7 the standard module import for oiio no longer works:
`import OpenImageIO as oiio`
`Traceback (most recent call last):`
`  File "<stdin>", line 1, in <module>`
`ImportError: No module named OpenImageIO`

[2017-01-23 07:23] extrinsicmedia commented on #4888
Just needed to add this path to PYTHONPATH:
`/usr/local/Cellar/openimageio/1.7.10/lib/python2.7/python`

[2017-01-23 07:23] #4888 closed

[2017-01-23 12:04] pbrazdil commented on #4437
Tried as well, not working.

[2017-01-23 15:55] wyx006 commented on #4690
i download the protobuf-cpp-3.1.0.tar.gz. but i do not know put it to which dir.

[2017-01-23 16:36] iMichka commented on #4865
Closing here too. The question was answered in the PR. We already pass the right flags.

[2017-01-23 16:36] #4865 closed

[2017-01-23 17:33] ngutman opened #4896 "Wrong python when trying to install opencv 2.4.13.2"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [X] Looked up the software bug tracker if reporting a build error?

#### Brief summary of issue:

I'm trying to get opencv to be built against brew python

[2017-01-23 19:05] ngutman commented on #4896
Looking in https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md seems like `/usr/local/bin` is not supposed to be in $PATH:

[2017-01-23 19:09] ngutman commented on #4896
Answered myself by reading https://github.com/Homebrew/brew/blob/master/docs/Python-for-Formula-Authors.md

[2017-01-23 19:09] #4896 closed

[2017-01-25 22:32] iMichka commented on #3259
With 2.19, this still fails. Happens on the buildbots when making changes to matplotlib, see #4910
Error message is slightly different, but may help.

[code]

[2017-01-25 22:57] iMichka commented on #4843
Hi. Thanks for the explanation.

You can build with the `-v` flag to see what is going on. Maybe the logs will help you see with which curl netcdf gets compiled. And did you try this yourself? You seem not sure that this will fix the problem.

[2017-01-26 07:05] timotheecour opened #4911 "brew install homebrew/science/matplotlib: Error: No available formula with the name "numpy""
on linuxbrew

[2017-01-26 07:45] ilovezfs commented on #4911
That will be fixed once linuxbrew merges in the latest from homebrew/core. The formula was relocated from homebrew/python to homebrew/core.

[2017-01-26 07:45] #4911 closed

[2017-01-26 09:46] timotheecour commented on #4911
FYI @sjackman

[2017-01-26 22:02] greenstick commented on #3291
I'm facing the same problem, I checked out issue [#1593](https://github.com/Homebrew/homebrew-science/issues/1593), but it doesn't seem there's a good answer there. It's been about a year; is anyone aware of any updates?

Thanks

[2017-01-27 12:32] fxcoudert commented on #4859
I think the recipe would need `depends_on "pkg-config" => :build`, so that the bottles are built with `.pc` files.

[2017-01-27 17:24] andrewyatz commented on #3929
I managed to get augustus to compile by recompiling bamtools from source. This was after a prod from another GitHub issue https://github.com/jts/sga/issues/122. Anyway do `brew install -s bamtools` and then augustus compiles.

[2017-01-27 19:22] sjackman opened #4926 "Update bottles for Linuxbrew"
+ [x] bedops #4912
+ [x] circlator #4907
+ [ ] cppad #4890
+ [ ] dgtal #4891
+ [x] mothur #4904
+ [x] openfst #4902
+ [x] opengrm-ngram #4902
+ [x] opengrm-thrax #4902
+ [ ] orocos-kdl #4892
+ [x] packmol #4914
+ [ ] shogun #4893
+ [x] stringtie #4909
+ [x] viennarna #4917
+ [ ] vtk #4919

[2017-01-27 21:14] sjackman commented on #4926
Bioinformatics formula: bedops circlator diamond gubbins iva mothur nextflow quast sratoolkit stringtie viennarna

[2017-01-27 23:37] lesserwhirls commented on #4843
Hi @iMichka - I wasn't sure it would work until I tried it locally, and it does indeed work. I thought a patch would be more involved than one line (plus a revision bump), but when it turned out to be that easy, I went ahead and made a PR. I forgot to update this issue to make clear that the PR I submitted links to the correct (i.e. homebrew) version of curl.

[2017-01-28 07:15] chrisidefix opened #4928 "Error: No available formula with the name "gfortran" (dependency of homebrew/science/gmsh)"
Running `brew upgrade gmsh` returns this:

`Error: No available formula with the name "gfortran" (dependency of homebrew/science/gmsh)`

[2017-01-28 22:49] djazo commented on #4852
This happens almost always when eigen is updated. Workaround is to:
brew install --build-from-source ceres-solver

[2017-01-29 13:57] iMichka opened #4933 "moab: sha256 mismatch when building from source"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-01-29 14:06] ilovezfs commented on #4933
original tarball was added to the formula in 5820cb647, which was 11th Sep 2016, but the tarball was re-uploaded on  6th Jan 2017, so we have a misbehaving, or hacked, upstream.

[2017-01-29 15:47] ilovezfs commented on #4933
updated checksum in https://github.com/Homebrew/homebrew-science/pull/4946

[2017-01-29 16:27] iMichka commented on #4933
I opened an issue upstream: https://bitbucket.org/fathomteam/moab/issues/55/moab-492-targz-checksum-has-changed

Let's wait until we get an answer.

[2017-01-29 23:15] iMichka commented on #4639
Hi. Thanks for all your investigations.

The error was a ./configure error. We just switched the setup to cmake, see #4932.
With this the `--with-fortran` flag is working again. I do believe that this problem is fixed for us, so I will close this issue. If there are still problems, please open a new bug. Thanks.

[2017-01-29 23:15] #4639 closed

[2017-01-30 08:02] jonchang commented on #4928
Hi @chrisidefix can you please [fill out the issue template](https://github.com/Homebrew/homebrew-science/blob/master/.github/ISSUE_TEMPLATE.md)? This will help us better diagnose the problem you're experiencing.

[2017-01-30 18:59] iMichka commented on #4933
Close with #4946

[2017-01-30 18:59] #4933 closed

[2017-01-31 05:17] tseemann opened #4960 "stringtie-1.3.2c removed, now stringtie-1.3.2d"
[code]

No longer at http://ccb.jhu.edu/software/stringtie/dl/

Use this?  http://ccb.jhu.edu/software/stringtie/dl/stringtie-1.3.2d.tar.gz

[2017-01-31 06:23] ilovezfs commented on #4852
Considering that the reverse dependencies get revision bumped when there's an upgrade, that's not really a particularly helpful thing to say, as it's demonstrably false.

[2017-01-31 06:38] ilovezfs commented on #4852
Will be fixed by https://github.com/Homebrew/homebrew-science/pull/4961.

[2017-01-31 06:38] #4852 closed

[2017-01-31 07:23] sablokg opened #4962 "BUSCO brew not working"
### Indicate troubleshooting steps taken

- [ ] Ran `brew update` and retried your prior step?
- [ ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ ] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-01-31 07:29] ilovezfs commented on #4852
should be fixed now.

[2017-01-31 07:35] ilovezfs commented on #4962
Should be fixed now if you `brew update`

[2017-01-31 07:35] #4962 closed

[2017-01-31 07:39] ilovezfs commented on #4960
yup https://github.com/Homebrew/homebrew-science/pull/4964

[2017-01-31 07:39] #4960 closed

[2017-02-01 16:28] genos opened #4969 "Unable to install `littler`"
Hi all! I'm trying to install the `littler` formula for running `R` scripts from the command line.

### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [X] Looked up the software bug tracker if reporting a

[2017-02-01 23:32] sunilshah opened #4972 "ld: library not found -lgfortran, during pkg install -forge control in octave 4.2.0_2"
### Indicate troubleshooting steps taken

- [x ] Ran `brew update` and retried your prior step?
- [x ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ x] Checked that a similar issue hasn't already been filed?
- [ x] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(b

[2017-02-01 23:32] timotheecour opened #4973 "numpy: undefined reference to `main'"
FYI @sjackman: this is a regression, it now blocks many other pacakges, eg opencv, matplotlib,..
undefined reference to `main'
https://gist.github.com/1db4b10be90234f27a0256928f3f94a8

[2017-02-02 01:07] timotheecour opened #4974 "opencv: fails (even with --without-numpy)"
(linuxbrew)

using --without-numpy because of this other regression: https://github.com/Homebrew/homebrew-science/issues/4973

[code]

https://gist.github.com/c81ecb30fffb81cb8d112f98cf92405e

Also gives:
[code]

looks like `OPENCV_VCSVERSION` is not defined anad fails:
[code]
not sure if related to https://github.com/opencv/opencv/pull/6234 Added check if debian package version matches version fr

[2017-02-02 01:25] timotheecour commented on #4974
FYI @sjackman : is there any plan to prevent those regressions (for packages in homebrew-science for example)

[2017-02-02 03:06] timotheecour opened #4975 "libtiff.so.5 installed from libtiff-4.0.7_2 , version mismatch?"
while trying to debug https://github.com/Homebrew/homebrew-science/issues/4974 I found that libtiff.so.5 is installed from libtiff-4.0.7_2 , isn't that a version mismatch?

eg:
[code]

[2017-02-02 22:20] iMichka commented on #4859
Hi. Thanks you for reporting this. Could you please test the suggested solution by modifying the armadillo.rb formula locally, and `brew uninstall armadillo && brew install armadillo -s` ?

Would one of you want to open a pull request with a fix: http://docs.brew.sh/How-To-Open-a-Homebrew-Pull-Request.html ?

[2017-02-02 22:28] iMichka commented on #1481
Hi. There was no activity here since Dec. 2014.

`cgns` was updated to version 3.3.0 on January 25, 2016.
The formula has evolved too, so the problem you encountered is maybe gone.

Anyway, I will close this bug now. Please open a new bug once you tested with the latest version.
Sorry that you did not get an answer faster. Thank you for your comprehension.

[2017-02-02 22:28] #1481 closed

[2017-02-03 00:25] sunilshah commented on #4972
Checked that  gfortan was installed on the machine.

[2017-02-03 02:53] sunilshah commented on #4972
Clang default target on the machine is
clang --version
Apple LLVM version 8.0.0 (clang-800.0.42.1)
Target: x86_64-apple-darwin16.4.0

Yet, pkg install script is using the old target of x86_64-apple-darwin16.3.0.  So, the corresponding directories under

/usr/local/Cellar/gcc/6.3.0_1/lib/gcc/6/gcc/x86_64-apple-darwin16.3.0

do not exist but instead they are

/usr/local/Cellar/gcc/6.3.0_1/lib/gcc/6/

[2017-02-03 03:03] #4926 closed

[2017-02-03 11:54] iMichka commented on #4975
Is this on Linux?

And please, please, use the issue template. It helps us standardise the bug reports.

[2017-02-03 11:58] iMichka commented on #4974
Don't forget that this is an open source project with limited workforce and resources. We are trying to prevent regressions but this is not always possible. We are also counting on the community to investigate when there are build failures and provide patches. Thanks for reporting this, we will have a look a soon as somebody has some free time to spare.

[2017-02-03 12:06] iMichka commented on #4664
@giriarteS I hope that @jonchang 's instructions helped you. It really looks like you edited the repeatscout.rb file, this is why there is a conflict.

@autosquid I am not sure how your error is similar. Please fill in a new bug for this, using the issue template. Thanks

I will close this bug so that the issue tracker does not get cluttered. Please open new issues if there are still problems.

[2017-02-03 12:06] #4664 closed

[2017-02-03 23:44] stephenwilliams22 commented on #3929
@andrewyatz this worked for me. Thanks!

[2017-02-04 09:33] schoeps commented on #4972
Your octave seems to have been build on an older macOS version (16.3 instead 16.4). At that time `.../x86_64-apple-darwin16.3.0` was correct. Now you update macOS and gcc but not octave. You can check where octave expects Fortran libs to be located by running `mkoctfile -p FLIBS` on the command line.

As I explained on the octave mailing list: reinstalling octave from source should fix this proble

[2017-02-04 10:08] ilovezfs commented on #3419
looks like this was resolved

[2017-02-04 10:08] #3419 closed

[2017-02-04 11:12] martinsluka opened #4996 "The new source of actual code for Therion: https://github.com/therion/therion.git May you change the cask, please?"
### Indicate troubleshooting steps taken

- [ ] Ran `brew update` and retried your prior step?
- [ ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ ] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-02-04 17:21] sunilshah commented on #4972
Thanks.

Re-building from source worked fine.

I suppose at some point the bottled version on homebrew will be updated so that it works with the latest gcc on homebrew-core.

[2017-02-05 07:43] sjackman commented on #4974
Suggestions to try for troubleshooting. Remove the `lib*-dev` from your host system for all the dependencies of `opencv`. Try installing all the dependencies of `opencv` from source `brew install -s foo`. Install `opencv` from source.

[2017-02-05 07:44] sjackman commented on #4973
[code]
https://gist.github.com/anonymous/1db4b10be90234f27a0256928f3f94a8#file-02-python-L1541

[2017-02-05 07:47] sjackman commented on #4973
Moved to Linuxbrew/homebrew-core: https://github.com/Linuxbrew/homebrew-core/pull/1722

[2017-02-05 07:47] #4973 closed

[2017-02-05 15:47] iMichka opened #5011 "hdf5 1.10.0-patch1: revisions"
- [x] abinit (#4934, needs #4938 first)
 - [x] alembic (#5012)
 - [x] alpscore (#5006)
 - [x] anvio (#5055)
 - [ ] blasr (#4254, failing, waiting on update)
 - [x] blast (#5032)
 - [x] cdo (#5013)
 - [x] cgns (#5008)
 - [x] cmor (#5045)
 - [x] dealii (#5056)
 - [x] dextractor (#5009)
 - [x] dynare (#5044)
 - [x] enblend-enfuse (#5061)
 - [x] etsf_io (#4938)
 - [x] field3d (#5023)
 - [x] flann (#50

[2017-02-05 21:13] iMichka commented on #3544
Done with 918528e3e98999626c6650fc76407260c6c25214

Here is the list of formula which are currently being rebuilt: #5011

[2017-02-05 21:13] #3544 closed

[2017-02-05 23:22] butala opened #5062 "After vtk update to vtk-7.1.0_4.sierra.bottle: ImportError: No module named vtkIOAMRPython"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-02-06 07:29] iMichka commented on #4926
vtk was done with #5050 :)

[2017-02-06 08:35] joergsteinkamp opened #5068 "ncview startup error"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-02-06 08:36] ilovezfs commented on #5068
This will be fixed by https://github.com/Homebrew/homebrew-science/pull/4949.

[2017-02-06 08:49] joergsteinkamp commented on #5068
Thanks. I didn't find #4949 due to "is:issue" filter, which is active by default. Should I close this one?

[2017-02-06 08:51] ilovezfs commented on #5068
@joergsteinkamp Yes, this can be closed. Also I just updated #4949 so it should actually succeed this time :)

[2017-02-06 08:51] #5068 closed

[2017-02-06 18:03] vakatov commented on #4423
Just FYI there is now a new release: http://ncbi.github.io/cxx-toolkit/pages/release_notes

[2017-02-06 19:57] iMichka commented on #4423
Hi. Thanks for notifying us. I opened a pull request with and updated formula here: #5072

[2017-02-06 22:19] iMichka commented on #5062
Hi. Thanks for reporting. Revision 5 is out, but this should not change anything to your problem.

Does the `/usr/local/lib/python2.7/site-packages/vtk/vtkIOAMRPython.so` file exist?
Could you make sure your `/usr/local/lib/python2.7/site-packages/` is in your path?
Please look at the output of `import sys` and then `sys.path` for this.

Thanks.

[2017-02-06 22:24] iMichka commented on #4996
Hello. I am not sure what you are requesting. Could you be more explicit?

If you want an update to a newer version, the project needs to tag an official release. We do not deliver releases from a random commit.

[2017-02-06 22:38] iMichka commented on #4969
Hi. Thanks for reporting. A fix is underway, you can test it if you want: #5074

[2017-02-06 22:44] iMichka commented on #4864
Hi. Thanks for reporting and sorry for the delay. I looked the topic on the dynare forum, it seems all the questions have been answered. Is this working for you now?

[2017-02-06 22:58] iMichka commented on #2820
Err disregard my comment, I had some botched installation on my system. Working with a clean state, everything installs correctly.

I do believe this is fixed now. I'll close this issue, please open a new one using the new issue templates if needed. Thanks.

[2017-02-06 22:58] #2820 closed

[2017-02-06 23:03] iMichka commented on #4969
Patch has been merged and bottles rebuild.

Please `brew update` and `brew upgrade` to test this. I do believe this is fixed for now, I'll close this issue. Please tell us if you still encounter problems. Thanks.

[2017-02-06 23:03] #4969 closed

[2017-02-07 00:31] genos commented on #4969
Looks great, thanks very much!

[2017-02-07 05:19] butala commented on #5062
Hmm. Now works post revision 5.

Sorry to have bothered you.

[2017-02-07 07:30] iMichka commented on #5062
No problem. Thanks for the feedback.

[2017-02-07 08:34] martinsluka commented on #4996
That is not random commit, it is official git repository of Therion software. New one. The static source of Therion window’s version is linked to this repository yet - check therion.speleo.sk - download page. The git repository is managed by the same people as static page - Martin Budaj and Stacho Mudrak.

Regards

Martin Sluka

[2017-02-07 16:15] jonchang commented on #4975
Hi @timotheecour, please use the issue template. `libtiff` is in core so you'd have been better off reporting this there; regardless, the version number of dynamic libraries does not necessarily have to match the version number of the actual software.

[2017-02-07 16:15] #4975 closed

[2017-02-07 16:19] #5062 closed

[2017-02-07 21:04] iMichka commented on #3415
Has been fixed with #3430. Closing.

[2017-02-07 21:04] #3415 closed

[2017-02-07 21:44] iMichka commented on #4652
We provide now hdf5 1.10.0-patch1 now. Our CI built it `--with-mpi` on 10.12, 10.11 and 10.10 with success. Please open a new issue if you still encounter problems.

[2017-02-07 21:44] #4652 closed

[2017-02-07 21:50] iMichka commented on #4501
I will close this issue for now, as there was no response since Oct. 2016. Please open a new one and fill out the detailed issue template if this is still not working for you. Thanks.

[2017-02-07 21:50] #4501 closed

[2017-02-07 22:24] iMichka commented on #4012
Reported upstream. See #4762 for reference. Let's wait for a fix.

[2017-02-08 00:24] mictadlo opened #5088 "where is "IO::Prompt" defined"
Hi,
where is `IO::Prompt` defined?

Thank you in advance.

Michal

[2017-02-08 22:07] Cnd-North commented on #4643
This was great!! Thanks so much!

[2017-02-08 22:24] jonchang commented on #5088
Hi @mictadlo, please always fill out the issue template when filing an issue. It helps us diagnose any problems you're having with Homebrew. In this case, you seem to be asking about a Perl module. Something like Stack Overflow or Perl Monks is probably a better place than the Homebrew/science issue tracker.

[2017-02-08 22:24] #5088 closed

[2017-02-08 22:46] iMichka commented on #4012
Upstream pushed a fix. Head is fixed, we will use the patch in the formula. Closing here.

[2017-02-08 22:46] #4012 closed

[2017-02-08 22:52] iMichka opened #5094 "Paraview 5.2 fails to build with hdf5 1.10.0"
Here is the error we are getting:
[code]

[2017-02-08 22:52] iMichka commented on #5094
Issue opened upstream: https://gitlab.kitware.com/paraview/paraview/issues/17160

[2017-02-08 22:54] iMichka commented on #5011
Migration done; all the broken formulae were known to be broken before, so nothing new there. A separate issue has been opened for paraview. We can close this now.

[2017-02-08 22:54] #5011 closed

[2017-02-08 22:55] iMichka commented on #5094
Quickfix on our side: rollback to hdf5@1.8 for paraview: #5082

[2017-02-09 18:26] jdv25 commented on #1517
Hi, I have recently tried installing lammps on my Mac running OS 10.12.3 using home-brew. It seems that I am dealing with the same issue as above. I originally tried a normal installation using "`brew install lammps --without-mpi`". That did not work. I recently tried doing "`brew uninstall $(brew deps lammps); brew install lammps --without-mpi`". This gave the same error mentioned above. `16 erro

[2017-02-09 18:42] jdv25 commented on #2314
Hi, I have recently tried installing lammps on my Mac running OS 10.12.3 using home-brew. It seems that I am dealing with the same issue as above. I originally tried a normal installation using `brew install lammps --without-mpi`. That did not work. I recently tried doing `brew uninstall $(brew deps lammps); brew install lammps --without-mpi`. This gave the same error mentioned above.

16 errors g

[2017-02-11 17:37] storer1017 opened #5105 "Inappropriate file type or format BLAST v.2.6.0"
Here is the error that I keep getting when I run:
sudo make install
For RMBlast

install: /Users/batzer/Documents/RepeatMasker/NCBI_BLAST/c++/ReleaseMT/inc/common: Inappropriate file type or format
make[1]: *** [install-toolkit] Error 71
make: *** [install] Error 2

Does anyone know how to fix this?

[2017-02-11 17:44] fxcoudert commented on #5105
Can you please fill out the [issue template](https://github.com/Homebrew/homebrew-science/blob/master/.github/ISSUE_TEMPLATE.md)? This will help us better diagnose the problem you're experiencing.

[2017-02-11 17:52] storer1017 commented on #4670
@iMichka What do you mean that Blast 2.5.0 was merged? I'm getting this same error, and I don't know how to fix it, but I don't see the fix on here!

[2017-02-12 10:09] cmfrtblynmb728 commented on #4864
Sorry for the late response. I was able to install it the way it is proposed there.  I installed it for Octave only, saved the relevant files, uninstalled, then reinstalled only for Matlab through Brew. Then copy-pasted the octave files. During this process, I did not receive any error messages, it apparently installed successfully in both times.

Dynare works for Matlab but I was not able to test

[2017-02-12 12:13] iMichka commented on #4670
@storer1017 I mean that we updated blast to version 2.5.0, which should have fixed the problem. If this is not the case, please open a new issue, and fill out the issue template so that we can help you.

[2017-02-12 12:29] iMichka commented on #5105
I will close this issue, you will have to open a new one, with the issue template properly filled out.

[2017-02-12 12:29] #5105 closed

[2017-02-12 14:00] nazavode opened #5116 "Octave installed but command is broken"
Installation of Octave formula went smoothly, but every time I try to run the octave command from terminal, I end up with this:

[code]

#### The complete command that you issued:

[code]

#### Gist with output of `brew doctor`:

[code]

#### Link output by `brew gist-logs <formula>`:

[code]

#### Output of `brew config`:

[code]

[2017-02-12 14:02] ilovezfs commented on #5116
Yeah you need to rebuild from source or wait a bit.

See https://github.com/Homebrew/homebrew-science/pull/5112 which I'm still working on.

[2017-02-12 14:04] nazavode commented on #5116
Yep, thank you very much, looked around quite a bit for some help but didn't manage to find that issue, sorry.

[2017-02-12 18:39] iMichka commented on #4996
I understand that this is not a "random commit", but the website is saying:

This is the version we deliver

And also:

If this is a stable version, it needs to be tagged on GitHub first. The Therion authors need to sort this out. And we are not running after the different projects managers to get stuff tagged, we have no time for this (we do it sometimes, but it is rather exceptional). You could

[2017-02-12 18:39] #4996 closed

[2017-02-12 22:12] iMichka commented on #4597
I opened a PR for that here (with a version bump): #5124

[2017-02-12 22:14] iMichka commented on #4928
Closing, as there was no response since 14 days. As @jonchang said, please open an issue and fill out the issue template.

[2017-02-12 22:14] #4928 closed

[2017-02-12 22:20] iMichka commented on #4778
I opened a PR for that: #5125

[2017-02-12 22:26] iMichka commented on #3274
This has been open for one year now (without activity). If there are problems with HEAD versions, it is up to the user to sort that out with upstream. We are focusing on having stable working releases, and this is already a lot of work. I'll close this for now.

If you encounter problems with the stable release, please open a new issue, and we will have a look at that. Thanks.

[2017-02-12 22:26] #3274 closed

[2017-02-12 22:32] storer1017 opened #5126 "Inappropriate file type or format Blast 2.6.0"
### Indicate troubleshooting steps taken

- [ ] Ran `brew update` and retried your prior step?
- [ ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ ] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-02-12 22:32] #5126 closed

[2017-02-12 22:41] storer1017 opened #5127 "Inappropriate file type or format Blast 2.6.0"
### Indicate troubleshooting steps taken
I ran brew update, brew doctor, checked that a similar issues hasn't already be filed, and tried sudo make install.
- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker

[2017-02-13 00:56] lasuomela opened #5128 "Opencv3 contrib installation problem"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-02-13 06:05] iMichka commented on #4597
Should be fixed with a06f907.

[2017-02-13 06:05] #4597 closed

[2017-02-13 13:54] ilovezfs commented on #5116
Closed via #5112 which I've now shipped.

[2017-02-13 13:54] #5116 closed

[2017-02-13 18:24] #4778 closed

[2017-02-13 18:25] iMichka commented on #4778
I added the missing dependency. There are no Linux bottles for the moment as the scripy installation is currently broken, but the mac bottles are still valid.

[2017-02-13 18:30] iMichka commented on #5127
Hi. I do not know why you are talking about blast 2.6.0, we only deliver 2.5.0. And I think 2.6.0 is not out yet.

I think I had already had this error; which was fixed with that patch, after a discussion with the blast developers:
https://github.com/Homebrew/homebrew-science/blob/master/blast.rb#L36-L40

I am not sure why/where you are running "sudo make install"; this is not a command that is re

[2017-02-13 18:32] storer1017 commented on #5127
@iMichka 2.6.0 says that it's out based on the RepeatMasker page. I used the patch, and I still got this error.

[2017-02-13 19:19] iMichka commented on #5127
I didn't see the version update. I ran the installation of 2.6.0 locally, and it fails (without the patch):

if test -d /private/tmp/blast-20170213-1212-9hor4b/ncbi-blast-2.6.0+-src/c++/ReleaseMT/bin/gbench; then \
	    /Applications/Xcode.app/Contents/Developer/usr/bin/make - --jobserver-fds=3,4 -j install-gbench; \
	else \
	    /Applications/Xcode.app/Contents/Developer/usr/bin/make - --jobserve

[2017-02-13 19:40] iMichka commented on #4829
Hi. The balance between options/non-options is always difficult. With the bottles, compilation time is no more a reason to make things optional. Also, options are never tested during the build process on our bots, and often get broken.

So I think that we are going in the direction to make things mandatory than making things optional, which will help make things more stable for our users in the lo

[2017-02-13 19:40] #4829 closed

[2017-02-13 19:50] iMichka commented on #5127
Seems the patch is still needed. I opened a PR with the updated version: #5134

Once the bottles are built I'll merge it.

[2017-02-13 20:12] iMichka commented on #3508
I just tested the installation of prokka. A lot of version updates have been made meanwhile, and everything is now provided as bottles. Seems to work well.

Please open a new issue if you have still problems with this (and fill out the issue template). Thanks.

[2017-02-13 20:12] #3508 closed

[2017-02-14 06:08] rojinsafavi opened #5139 "netcdf error"
### Indicate troubleshooting steps taken

- [y ] Ran `brew update` and retried your prior step?
- [ y] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [y ] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(br

[2017-02-14 13:42] tornadomeet commented on #4690
any update? same problem here, even with ```cmake -DBUILD_opencv_dnn=OFF```, it still do ```-- Downloading v3.1.0/protobuf-cpp-3.1.0.tar.gz...```

[2017-02-14 21:16] iMichka commented on #1036
`qgis` was removed from `homebrew-science` with #4688. Closing.

[2017-02-14 21:16] #1036 closed

[2017-02-14 21:17] iMichka commented on #1866
`qgis` was removed from `homebrew-science` with #4688. Closing.

[2017-02-14 21:17] #1866 closed

[2017-02-14 21:17] iMichka commented on #2915
`qgis` was removed from `homebrew-science` with #4688. Closing.

[2017-02-14 21:17] #2915 closed

[2017-02-14 21:17] iMichka commented on #2914
`qgis` was removed from `homebrew-science` with #4688. Closing.

[2017-02-14 21:17] #2914 closed

[2017-02-14 21:18] iMichka commented on #1682
`qgis` was removed from `homebrew-science` with #4688. Closing.

[2017-02-14 21:18] #1682 closed

[2017-02-14 21:18] iMichka commented on #2692
`qgis` was removed from `homebrew-science` with #4688. Closing.

[2017-02-14 21:18] #2692 closed

[2017-02-14 21:19] iMichka commented on #2655
`qgis` was removed from `homebrew-science` with #4688. Closing.

[2017-02-14 21:19] #2655 closed

[2017-02-14 21:20] iMichka commented on #3442
`qgis` was removed from `homebrew-science` with #4688. Closing.

[2017-02-14 21:20] #3442 closed

[2017-02-14 21:40] iMichka commented on #4859
PR opened here: #5142

[2017-02-14 22:05] iMichka commented on #5127
Blast has been upgraded to 2.6.0. Closing this. Please open a new bug if you still encounter problems. Thanks.

[2017-02-14 22:05] #5127 closed

[2017-02-14 22:11] iMichka commented on #4859
PR merged. This should be working now. Please open a new bug if you still encounter problems. Thanks.

[2017-02-14 22:11] #4859 closed

[2017-02-14 22:17] iMichka commented on #4477
Closing due to inactivity. Running linuxbrew-homebrew on Windows 10 is quite a niche; so you will probably not get many answers. We have also a limited manpower and can not focus on Windows builds.

The problem looks more like an openssl problem than a spades problem, but I may be wrong.

You could try to install this on Linux first, to see if everything works there. Thanks for your comprehension.

[2017-02-14 22:17] #4477 closed

[2017-02-16 02:23] andersgs commented on #3226
@tseemann I think this still broken...

[code]

Running:
[code]

[2017-02-16 05:56] jinfagang commented on #4690
Same issue, anyone had figured this out?

[2017-02-16 06:13] ilovezfs commented on #4690
I suggest reporting this to upstream since it's about a HEAD spec, which we don't really support in any way.

[2017-02-16 06:13] #4690 closed

[2017-02-16 07:14] jinfagang commented on #4690
Solve it, directly build it from source code, works fine.

[2017-02-16 14:46] SonofFaker commented on #4690
@jinfagang Can you explain more specifically?

[2017-02-16 15:55] andrewyatz opened #5152 "hmmer2: libgcc_s.so.1 must be installed for pthread_cancel to work"
I've just encountered this issue on my local machine. It seems very similar to issue #2546 and was resolved by rebuilding hmmer from source and not using the bottle. My brew is in a non-standard location; not sure if that matters or not. hmmer2 might need rebuilding against the later version of gcc.

[2017-02-17 19:27] jakirkham commented on #1888
Found a response from an HDF5 dev a while back that seems much clearer IMHO than the other to. Figured I'd include it here if people come looking for why this would be ok.

ref: https://lists.hdfgroup.org/pipermail/hdf-forum_lists.hdfgroup.org/2009-June/000135.html

[2017-02-17 21:05] allanavila opened #5155 "Lammps openmpi error"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-02-17 21:22] iMichka commented on #4110
This was maybe fixed in homebrew by 1e68a7081ce66dadc481e70a7bf2605999d9bdc2
Bowtie 1.2.0 contains the fix, we will upgrade to that version soon: #5156

Closing here. Once bowtie 1.2.0 is added to homebrew, please upgrade, and open a new issue if you still encounter problems. Thanks.

[2017-02-17 21:22] #4110 closed

[2017-02-17 21:26] iMichka commented on #5155
Please fill out the missing information (brew doctor, brew gist-logs, brew config). Thanks

[2017-02-17 22:09] allanavila commented on #5155
@iMichka thank you for helping me. I am new to all of this terminal language and hope I have filled in what is missing correctly for the (brew doctor, and brew config).

However I am unsure what to put for the brew gist logs

[2017-02-18 02:25] blueclowd commented on #4690
@jinfagang Can you share more details?

[2017-02-18 02:31] blueclowd commented on #4690
@wyx006 protobuf-cpp-3.1.0.tar.gz should be under ../opencv_contrib/modules/dnn/.downloads/bd5e3eed635a8d32e2b99658633815ef/

[2017-02-18 06:11] kyungminlee opened #5160 "matplotlib: resource numpy unnecessary"
Resource numpy at in `matplotlib` formula unnecessary. ([matplotlib.rb#L105](https://github.com/Homebrew/homebrew-science/blame/master/matplotlib.rb#L105))
`depends_on "numpy"` at [matplotlib.rb#L68](https://github.com/Homebrew/homebrew-science/blame/master/matplotlib.rb#L68) should be sufficient.

[2017-02-18 10:06] ilovezfs commented on #5160
Sometimes resource blocks are used, and sometimes formula dependencies are used. Feel free to open pull request.

[2017-02-18 10:06] #5160 closed

[2017-02-19 09:22] iMichka commented on #3871
Closing due to inactivity. Please open a new issue and fill out the full issue template if you still need help. Thanks.

[2017-02-19 09:22] #3871 closed

[2017-02-19 09:40] iMichka commented on #3721
@ilovezfs did something regarding this, see #5131

disable bottles
fix audit error about installing non-executables in bin

Closing

[2017-02-19 09:40] #3721 closed

[2017-02-19 22:46] iMichka commented on #5094
Fixed with https://github.com/Homebrew/homebrew-science/pull/5167

[2017-02-19 22:46] #5094 closed

[2017-02-20 02:36] johanzhuohan commented on #5155
I have an exactly the same issue. brew test lammps -v runs completely well. but I cannot run executable "lammps".

[2017-02-20 03:43] jinfagang commented on #4690
@blueclowd I am not install opencv from brew anymore, just download macOS platform source code and build it, it should work properly.

[2017-02-20 15:04] alexshires commented on #4690
same issue - any suggestions?

[2017-02-20 23:04] iMichka commented on #5155
I am not a lammps specialist, so I have no clue what is going on.

Could you try: `brew install lammps -s`. It will recompile from source, linking against the latest libraries, so that we can exclude that is got broken due to some updated openmpi or whatever other dependency.

What is the `body.in` file? Could I get it so I can test this locally? Is it small enough to be added to the test?

[2017-02-21 08:58] A7medAbdeldaim commented on #4690
@blueclowd This solution is working with me without any problem but it is
-D BUILD_opencv_dnn=OFF
 not
-DBUILD_opencv_dnn=OFF

[2017-02-21 14:31] apetri commented on #5155
It might be a problem with open MPI on MacOS Sierra: https://www.open-mpi.org/faq/?category=osx
The quick fix is shorten the name of the open MPI temp directory:

export TMPDIR=/tmp

[2017-02-21 17:19] tdsmith opened #5173 "netcdf @rpath issue causes vtk problems"
Importing vtk with system python fails. vtk masks the real error message but after removing the try/except in vtkIOExodus.py the error is:

[code]

The linkage of libnetcdf_c++.dylib is:
[code]

Using an absolute path instead of an @rpath with `install_name_tool -change @rpath/libnetcdf.11.dylib $PWD/libnetcdf.11.dylib libnetcdf_c++.4.dylib` allows the import to work.

I think this is a bad intera

[2017-02-21 19:32] jonchang commented on #5128
Unfortunately I wasn't able to reproduce this issue locally. I don't really see anything that would suggest a systematic problem, it might just take a really long time to compile or was a transient, one-off error. Thanks for reporting the issue but without being able to reproduce this I'm not sure if there's anything we can do about it.

[2017-02-21 19:32] #5128 closed

[2017-02-22 10:02] metalbobinou opened #5175 "Matplotlib –with-python3 doesn’t compile (because of qhull)"
Hello,

I have an issue with matplotlib compiling with the option "--with-python3".
I opened a topic on brew.sh, but it seems more appropriate to post here
(here is the original topic : [http://discourse.brew.sh/t/matplotlib-with-python3-doesnt-compile-because-of-qhull/638](url) )

So, I want to use matplotlib with python36.
When I type :

The installation works well, but, matplot only works for p

[2017-02-22 19:37] gfairchild opened #5181 "graph-tool --with-openmp --with-python3 fails referencing chrono namespace"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [X] Looked up the software bug tracker if reporting a build error?
- [X] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-02-22 21:31] iMichka commented on #5155
@allanavila Please test `brew install lammps -s`, and also the hint given by @apetri.

Someone could also maybe report this upstream (https://github.com/lammps/lammps) and try to get help there. We are only package managers, and for us the package builds and installs, and the tests runs. So someone will have to debug this, but we do rely on our users to give us a hand for those tricky corner cases

[2017-02-22 21:39] iMichka commented on #5175
Hi. Thanks for reporting. You should have filled out the issue template; because there is a lot of information missing.

Especially `brew gist-logs`; `brew-doctor` and `brew config` would help debug this.

[2017-02-22 21:42] iMichka commented on #5173
I think the rpath user got some mails ... :)

I am willing to help debug/test this. I do not really care about system Python, but netcdf is user at other places and could make trouble in other situations I guess.
@tdsmith do you have something in mind on how to rewrite that path? Is this something that needs to be done somewhere in the netcdf setup code?

[2017-02-22 21:42] allanavila commented on #5155
Hey everyone,
I apologize for the delay in my response, I have been ill.
Update: the problem is fixed I simply had Homebrew install open mpi again and there was no issue when using lammps.

However, I completely agree @apetri. It was an open mpi-mac os problem and if the homebrew reinstall had not worked I am confident your suggestion would have also fixed the problem.

@iMichka I apologize for po

[2017-02-22 21:45] iMichka commented on #5155
No problem. When you said you re-installed `openmpi`, did you just `brew uninstall` and `brew install`, and used the bottles, or did you build openmpi from source (using the `-s` flag). Just to know the details if this was a one-off problem, or if we should rebuild openmpi on our side too.

[2017-02-22 21:48] iMichka commented on #4845
Hi. `bottles` are binaries that we precompile for the users, so that they do not need to rebuild the packages. But as soon as you use optional flags it will recompile the library. And this often fails because all these options flags are sort of "untested".

[2017-02-23 00:58] aeoleader commented on #4690
-DBUILD_opencv_dnn=OFF works on ubuntu 16.04

[2017-02-23 01:49] jonchang commented on #3501
The tests passed on CI thanks to #4360 so I think that this is now fixed.

[2017-02-23 01:49] #3501 closed

[2017-02-23 01:49] jonchang commented on #3998
The tests passed on CI thanks to #4360 so I think that this is now fixed.

[2017-02-23 01:49] #3998 closed

[2017-02-23 09:59] metalbobinou commented on #5175
Ok
And to precise (before I take a "you didn't installed it in the right path !!1!"), I was able to recompile gcc (with gfortran) because of "numpy --with-python3" dependency (and also "scipy --with-python3" and "boost-python --with-python3") and make all of them work correctly.
And some previous files of matplotlib were also able to compile. So I don't think the path change is the real issue.
(I'

[2017-02-23 13:28] ilovezfs commented on #5173
I've opened #5184.

[2017-02-23 18:20] gfairchild commented on #5181
I just corrected this particular error (but I encountered another, which I'll post shortly). Turns out the version of gcc that I installed was not installed using the `--without-multilib` flag. Installing gcc *without* passing this flag can make OpenMP break. All I had to do was this:

`brew reinstall gcc --without-multilib`

[2017-02-23 19:24] iMichka commented on #5181
@ilovezfs This does not directly depend on gcc6, but the dependencies install gcc, and this seems to be the compiler graph-tools picks up anyway.

Should we maybe add: `depends_on "gcc" => "--without-multilib"` ?

[2017-02-23 19:25] gfairchild commented on #5181
I think that could be a good idea. But that's only if the user attempts to build graph-tool with `--with-openmp`. I didn't try it, but my guess is that if I had tried to build graph-tool without OpenMP support that it would've worked.

[2017-02-23 20:35] gfairchild commented on #5181
I'm sorry, I seem to have spoken too soon. I thought that my issue was fixed, but that's because I actually ran `brew install graph-tool --with-python3` instead. I accidentally left off `--with-openmp`. Even after rebuilding gcc with `--without-multilib`, I'm still getting the same error I initially posted.

Any ideas what might be causing this?

[2017-02-24 03:54] allanavila commented on #5155
no uninstall, no -s, just did brew install openmpi.

[2017-02-24 06:19] ilovezfs commented on #5181
No, since the plan is to remove all `=> "with-foo"` at some point.

[2017-02-24 07:13] timotheecour commented on #4974
`brew gist-logs homebrew/science/opencv` now seems to take forever

Haven't tried your suggestion yet; it's a bit intrusive so will have to try on a vm

[2017-02-24 07:51] timotheecour commented on #4974
PR https://github.com/Homebrew/homebrew-science/pull/5185 seems to fix this

[2017-02-24 09:47] timotheecour commented on #4825
sent out PR: https://github.com/Homebrew/homebrew-science/pull/5186

[2017-02-24 19:01] iMichka commented on #2235
Closing due to inactivity. Please test with the newest netcdf, and open a new bug if this still does not work. Thanks.

[2017-02-24 19:01] #2235 closed

[2017-02-24 19:14] iMichka commented on #4974
#5185 has been merged, we have Linux bottles now. Closing.

[2017-02-24 19:14] #4974 closed

[2017-02-24 19:24] iMichka commented on #2254
Closing due to inactivity. Please open a new bug by filling the issue template if this still happens.

[2017-02-24 19:24] #2254 closed

[2017-02-24 19:26] iMichka commented on #2393
Blasr is sort of dead, see #4254. Maybe we should remove it completely but for the moment the formula can stay as-is until somebody wants to work on this.

[2017-02-24 19:26] #2393 closed

[2017-02-24 19:47] iMichka commented on #2831
Has been fixed with b1a12b52277346741e31794cb6ea36fba64e5bcf. We have bottles too now. Closing.

[2017-02-24 19:47] #2831 closed

[2017-02-24 19:49] iMichka commented on #2428
Vigra now builds since #5026. Closing.

[2017-02-24 19:49] #2428 closed

[2017-02-24 19:57] iMichka commented on #3245
Closing due to inactivity. Please open a new bug and fill out the issue template if you still have problems. Thanks

[2017-02-24 19:57] #3245 closed

[2017-02-24 23:12] tdsmith commented on #5175
We should instruct matplotlib not to look for a system qhull.

[2017-02-24 23:16] tdsmith commented on #5175
One way to do this is `inreplace "setupext.py", "has_include_file(include_dirs, 'qhull_a.h')", "False"`

[2017-02-24 23:19] tdsmith commented on #4571
Please open a new ticket if you're still having trouble.

[2017-02-24 23:19] #4571 closed

[2017-02-25 23:40] tdsmith commented on #5173
Closed by 77fb5db.

[2017-02-25 23:40] #5173 closed

[2017-02-26 23:09] jonchang commented on #3226
Superenv for Linuxbrew will fix it. You can wait until that happens (maybe a few weeks) or get it now with `brew install <formula> --env=super`

std env

[code]

with superenv

[code]
[code]

[2017-02-26 23:09] #3226 closed

[2017-02-27 22:12] mbprentice opened #5195 "Blast failed to build when installing PROKKA/blast --without-check"
### Indicate troubleshooting steps taken

- [y] Ran `brew update` and retried your prior step?
- [y] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [y] Checked that a similar issue hasn't already been filed?
- [y] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-02-28 07:25] iMichka commented on #5181
This seems to compile with `boost@1.59`. I did not try the python build, just `--with-openmp`. It is still compiling on my computer (takes forever);. Could you try this too please?

[2017-02-28 07:31] gfairchild commented on #5181
I can do that tomorrow. I'm not on my work computer right now, but I'm almost positive I've got whatever the latest boost is (1.6x or something if I remember right). I hadn't considered a boost incompatibility, but that's a good thought. Please let me know if your build was successful.

[2017-02-28 08:18] guglielmo opened #5198 "graph-tool won't build after upgrading to python 3.6"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-02-28 15:18] gfairchild commented on #5181
Just checked, and I am using Boost 1.63.0, so it's possible that 1.6x is broken with graph-tool. About to attempt a Boost downgrade and rebuild.

[2017-02-28 15:21] gfairchild commented on #5181
Crap, it's not going to be easy to downgrade. I've got a number of installed packages that rely on the current boost.

[code]

Is there a way to install `boost@1.59` and tell graph-tool which version of Boost to use?

[2017-02-28 16:42] iMichka commented on #5181
You can replace the `depends_on "boost" => cxx11` with `depends_on "boost@1.59" => cxx11` in the formula.

I do not know if this fixes the python problem too. We will maybe need to move ` homebrew/versions/boost-python159` to `boost-python@1.59` to get this to work.

[2017-02-28 16:44] ilovezfs commented on #5181
It would be preferable to have upstream fix this.

[2017-02-28 16:46] gfairchild commented on #5181
Has anyone else tried building graph-tool with the current Boost 1.63.0? If so, are you getting the same compile error I am?

[2017-02-28 19:12] gfairchild commented on #5198
I actually experienced the exact same issue. I've been preoccupied with #5181 (dealing with OpenMP errors), but when I tried to build using `brew install --with-python3`, I got the same error referring to the non-standard path. I also have Python 3.6 installed.

[2017-02-28 19:18] ilovezfs commented on #5198
Yeah I'm tempted to declare 2.21 a dud and downgrade.

[2017-02-28 21:03] guglielmo commented on #5198
@ilovezfs how could I do that now? :-)

[2017-03-01 03:48] david-july1991 commented on #3172
I've added few lines following @samcunliffe 's advice! Please check out #5204 !

[2017-03-01 07:20] aadrych opened #5205 "lammps: MPI4PY module install"
Hi,

I've used homebrew to install lammps on to my mac laptop in the hopes of using the python interface with lammps more easily.
I do however need to use the mpirun command in lammps which I can't do using homebrew because I have been unable to install the MPI4PY module.
When using brew install MPI4PY I get the error
Error: No available formula with the name "mpi4py"
==> Searching for similarly n

[2017-03-01 07:41] guglielmo commented on #5198
Could not compile with 3.6, even using previous commit referring to 2.20 release: f8dee4a25ec1b783f4261707ff25e3551.

The error was the same.

I'm reverting to use python 2.7 for this project.

Is python3 at all supported? It does not seem to be tested in the CI.

[2017-03-01 08:09] ilovezfs commented on #5198
ci never tests non-default options

[2017-03-01 11:03] jonchang commented on #5205
We would probably accept a pull request that would add this formula. Please consult the [Formula Cookbook](http://docs.brew.sh/Formula-Cookbook.html) and [contributing guidelines](https://github.com/Homebrew/homebrew-science/blob/master/.github/CONTRIBUTING.md). The formula for `pillow` is a good example of how to build a Python library for Homebrew. Feel free to ping a maintainer if you need help

[2017-03-01 11:03] #5205 closed

[2017-03-01 11:05] aadrych commented on #5205
Hi, how come you have closed this thread ?

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Jonathan Chang <notifications@github.com>
Date: 01/03/2017 11:04 (GMT+00:00)
To: Homebrew/homebrew-science <homebrew-science@noreply.github.com>
Cc: Alexandra Adrych-Brunning <alex.adrych-brunning@postgrad.manchester.ac.uk>, Author <author@noreply.github.com>
Subject: Re: [

[2017-03-01 11:08] aadrych commented on #5205
It's not just the lack of MPI4PY that I'm confused about. The lammps documentation recommends that the module be built into the Lammps directory so that it has access to the same mpi library?

[2017-03-01 11:10] jonchang commented on #5195
It looks like `gcc-4.8` exists on your machine but not `g++-4.8`. Can you confirm this with `which`?

[2017-03-01 11:12] jonchang commented on #5205
It looks like lammps and mpi4py are separate packages, so they would need to be built as separate formula. I closed the issue because although this is not something we're actively working on, we would nevertheless welcome a pull request for it, per my previous message.

[2017-03-01 11:18] aadrych commented on #5205
Okay. Do you know how I can keep doing my work on the brew installed lammps whilst modifying another lammps directory to try and include mpi4py?

[2017-03-01 11:31] mbprentice commented on #5195
looks like I have g++-5 in ~/.linuxbrew/bin and /usr/bin but no g++-4.8 in either . Thanks for your help
On 1 Mar 2017, at 11:10, Jonathan Chang <notifications@github.com<mailto:notifications@github.com>> wrote:

It looks like gcc-4.8 exists on your machine but not g++-4.8. Can you confirm this with which?

—
You are receiving this because you authored the thread.
Reply to this email directly, vie

[2017-03-01 13:45] mrksbrndt commented on #5198
Hello everyone,

I struggled with this myself. After my findings there are two reasons why it fails:
1. Homebrewed python 3 returns a wrong value for distutils.sysconfig.get_config_var('LINKFORSHARED')
2. Automake's ax_python_devel.m4 (which is used by graph-tool) uses this deprecated var instead of invoking python3-config

I think the formula tries to fix this by overwriting the values (https://g

[2017-03-01 13:50] ilovezfs commented on #5198
@mrksbrndt mind opening a PR with your fix? Two formulae is probably not in the cards for the time being.

[2017-03-01 13:51] ilovezfs commented on #5198
@tdsmith is this a python3 formula bug?

[2017-03-01 14:01] mrksbrndt commented on #5198
@ilovezfs I just created a pull request.

[2017-03-01 14:28] guglielmo commented on #5198
@mrksbrndt the way I do it is through the --without-python option, that should compile with no support for python 2.

So:
`brew install -v --build-from-source --with-python3 --without-python graph-tool`

[2017-03-01 14:29] guglielmo commented on #5198
@mrksbrndt I launched the compilation, and it is now compiling. To see if it will also work I'll have to wait a little (~60min on my machine).

[2017-03-01 16:12] iMichka commented on #5198
If it does not build for python2 and python3 at the same time, it would be great if we could add this to the formula:
[code]

[2017-03-01 16:42] gfairchild commented on #5198
Looks like building without Python isn't enough for me:

[code]

[2017-03-01 21:15] guglielmo commented on #5198
@gfairchild actually it seems to be working, at least as far as the --without-python option is concerned.

The error makes me think that you did not apply the patch mrksbrndt mentioned in his comment.

I report it here for your convenience: _change PYTHON_EXTRA_LDFLAGS to PYTHON_EXTRA_LIBS in the formula_.

That is at line 100 of `/usr/local/Homebrew/Library/Taps/homebrew/homebrew-science/graph-to

[2017-03-01 21:33] iMichka commented on #5155
So, initial problem fixed by reinstalling openmpi. Not sure what the exact problem was. If somebody has the same problem we may need to invest more time to investigate this.

[2017-03-01 21:33] #5155 closed

[2017-03-01 21:35] gfairchild commented on #5198
Ah, you're exactly right! It appears to be building now. Sorry about that.

[2017-03-01 21:57] iMichka commented on #5139
I could not reproduce this. Could you please provide:
`brew doctor`; `brew gist-logs netcdf`, `brew config`.
as asked by the issue template

[2017-03-01 22:32] iMichka commented on #5198
I just merged the proposed patch: #5208

@gfairchild Please `brew update` and try to reinstall `graph-tool`, the patch should fix it for you.

I still need your opinion. Should we add these lines:
[code]

This forces people to use the `--without-python` flag if they are trying to build `--with-python3`. Just a safeguard so that no new issues are opened if somebody stumbles over this.

[2017-03-01 22:38] gfairchild commented on #5198
Updated, and it looks like `brew install graph-tool --with-python3 --without-python` is proceeding properly.

Regarding the Python 2/3 issue, can we either:

1. Fix the formula so that it compiles for both 2 and 3 or
1. Implement @mrksbrndt's suggestion of splitting the formula into two: one for Python 2 and one for Python 3.

I'm more in favor or option 1 since that's kind of more standard with t

[2017-03-01 22:42] iMichka commented on #5198
Two separate formula is double the work to maintain, and not so standard in the homebrew world. Especially for python2/3. So solution 1 it will be.

If we are not able to get both running, then my proposal for the error message would be the final solution. Not ideal but brings the least surprises.

[2017-03-01 22:43] gfairchild commented on #5198
I agree.

[2017-03-01 22:49] gfairchild commented on #5198
I'm trying to build with `brew install graph-tool --with-python3`, and I'll report back the errors I get so that we can start debugging.

[2017-03-01 23:59] gfairchild commented on #5198
Actually, everything just built just fine!

[code]

However, I got a segfault when trying to run in Python 2:

[code]

I'm rebuilding a few things just to make sure everything built properly.
[code]

[2017-03-02 00:06] tdsmith commented on #5198
I don't believe `LINKFORSHARED` is the right variable to use for flags for building a Python extension module, so, no, there is no bug in the python3 formula. It is a deficiency of the graph-tool build system that we need to pass any extra flags at all.

[2017-03-02 00:32] miguelarauj1o opened #5213 "clonalframeml moved to GitHub"
clonalframeml is hosted at GitHub now. (https://github.com/xavierdidelot/ClonalFrameML)
How I can update the formulae correctly?

1. Add `url`
2. Add `sha256` after running `brew fetch clonalframeml --build-from-source`
3. Update `def install`

What's next? If have.

[2017-03-02 02:52] desperinter commented on #4690
actually we have to put protobuf-cpp-3.1.0.tar.gz into
../opencv_contrib/modules/dnn/.downloads/bd5e3eed635a8d32e2b99658633815ef/v3.1.0/
instead of @jinfagang 's directory
../opencv_contrib/modules/dnn/.downloads/bd5e3eed635a8d32e2b99658633815ef/
and the problem will be solved. But another problem will occur:
CMake Error at /media/tungps/diskb/opencv3.2/opencv-3.2.0/cmake/OpenCVUtils.cmake:1047 (m

[2017-03-02 03:01] jinfagang commented on #4690
@desperinter  Not bother, just build from source code, no problem, I tried.

[2017-03-02 04:05] desperinter commented on #4690
@jinfagang As I know this ton of issues occurs when cmake can not download these 3rd party files corresponding to opencv extra modules. I am working in my company and I guess some connections has been block by administrators. So there are only 2 ways to fix this:
- Try building opencv+extra with a fully connection as @jinfagang has
- Manually download many files, and put each files to the right di

[2017-03-02 08:55] mrksbrndt commented on #5198
@tdsmith Correct, `LINKFORSHARED` should not be used but autoconf still uses it which itself is used by many others. Nevertheless, the output of the homebrewed python 3 is very different compared to other versions. Just as a comparison:

Apple Python 2 (2.7.10):
[code]

Homebrewed Python 2 (2.7.13):
[code]

Homebrewed Python 3 (3.6.0):
[code]

The absolute path is missing. This has already been a

[2017-03-02 12:28] gmrandazzo opened #5215 "VTK relase debug request."
Dear all,

i have a problem regarding the vtk library and qt5.7.
If i compile my software in relase mode -DCMAKE_BUILD_TYPE=Release, my applications crash with this output:
"QWidget: Must construct a QApplication before a QWidget"

Instead if i compile in Debug mode the applications working well... So.. I guess that the vtk bottle/source is just compiled under Debug mode and not release mode. Can

[2017-03-02 16:04] supreetSinghBhatia commented on #2895
@dpo I'm facing a problem in installing octave through brew can you please help me

[2017-03-02 16:14] schoeps commented on #2895
@supreetSinghBhatia if your problem is different, then please open a new issue. In either case you need to explain the problem. Please read http://docs.brew.sh/Troubleshooting.html before doing so.

[2017-03-02 16:18] supreetSinghBhatia commented on #2895
@schopes brew doctor is showing me these warnings

[2017-03-02 16:18] supreetSinghBhatia commented on #2895
@schoeps
Warning: Python is installed at /Library/Frameworks/Python.framework

Homebrew only supports building against the System-provided Python or a
brewed Python. In particular, Pythons installed to /Library can interfere
with other software installs.

Warning: You have unlinked kegs in your Cellar
Leaving kegs unlinked can lead to build-trouble and cause brews that depend on
those kegs to fail

[2017-03-02 17:17] gfairchild commented on #5198
Are there any graph-tools devs that are following this thread? If not, perhaps we should rope them in.

[2017-03-02 17:26] tdsmith commented on #5198
The difference between the python2 and python3 LINKFORSHARED happened upstream: https://bugs.python.org/issue3588

Hm, I did try to fix it once anyway: https://github.com/Homebrew/legacy-homebrew/issues/37923 -- and that code's still in the formula; I guess we should make it work.

[2017-03-03 18:23] iMichka commented on #5213
Hi. We have a extensive documentation here on how to open a pull request, and some general rules to follow when doing so:
http://docs.brew.sh/How-To-Open-a-Homebrew-Pull-Request.html

If you have any specific questions; just ask, we can guide you through this.

[2017-03-03 20:34] jonchang commented on #5215
It's unusual that builds in release mode crash. Do you have a test case that we can look at? Also, have you reported this to the vtk developers?

[2017-03-03 20:41] jonchang commented on #5152
This is pretty strange, can you write a short test case that demonstrates this? I'm not familiar with the hmmer software.

[2017-03-04 01:21] miguelarauj1o commented on #5213
@iMichka

[code]

returns:

[code]

I made the required replaces.

But, I don't know how to fix the error.

[2017-03-04 12:14] iMichka commented on #5213
`brew bump-formula-pr` should be used if you bump the version number (for example from 1.0 to 1.1). This is not the case here, so you can not use it. You will need to do this manually, see the relevant section in the doc (`Create your pull request from a new branch`).

One important thing is that the 1.0 tag should tag the exact same commit as before, for consistency. But I see the sha256 of the f

[2017-03-04 15:00] iMichka commented on #3110
Closing due to inactivity. Please open a new bug and fill out the new issue template if there are still problems with that formula. Thanks.

[2017-03-04 15:00] #3110 closed

[2017-03-04 16:08] harshnarang8 opened #5225 "Formula should have a desc"
While running brew audit --strict t-coffee, I came across the following message, "Formula should have a description". Is it okay to browse the t-coffee website and use their description in the formula, and create a PR?

[2017-03-04 16:17] iMichka commented on #5225
Hi. I think this is not a problem at all, this is what we are doing for other formulas too. Maybe you will have to find your own description, as the number of characters is limited. Feel free to open a pull request for that.

[2017-03-04 16:17] #5225 closed

[2017-03-04 22:45] iMichka commented on #5215
From what I see, we build with `-DCMAKE_BUILD_TYPE=Release` by default (because of `std_cmake_args`). This means that the bottles have been build in release mode.

[2017-03-05 19:49] harshnarang8 opened #5231 "fully scope test system calls"
While trying to fix a few audits, I've come across the following problem:
`fully scope test system calls e.g. system "#{bin}/velvetg"`
Can someone help point the direction on how to fix such problems?

[2017-03-06 06:01] geoglrb commented on #5181
@gfairchild Yes, same error. For several versions of graph-tool, now.

[2017-03-06 06:06] ilovezfs commented on #5181
Closing since this is an upstream issue. Please report it to them.

[2017-03-06 11:53] metalbobinou commented on #5175
Hi again,

Is there a manipulation I should do to make it compile anyway ?
I don't know where to do the `inreplace` to ignore the system qhull.

[2017-03-06 20:38] mbprentice commented on #5195
Hi
It looks like #4335 is the same problem:  absence of g++-4.8 in usr/bin on Ubuntu 16.04 when the installation won't use g++-5. The solution may be very simple but as a novice I would be very grateful for some advice

[2017-03-06 22:28] jonchang commented on #5195
Can you please retry with superenv e.g. `brew install prokka --env=super`

[2017-03-07 08:04] ckeeling commented on #3828
I am having the same issue with `brew install express`

I tried without success:
`brew reinstall protobuf -s`
`brew install express`

https://gist.github.com/54f9c21b993cda49b216c6e75d3d8a0e

[2017-03-07 16:23] count0 commented on #5181
Hi, upstream here. I can't reproduce this problem with boost 1.63 (or any other boost version) in GNU/Linux. The fact that the error comes from deep within the Boost include files is rather strange.

Does it also happen when using clang?

[2017-03-07 16:26] count0 commented on #5198
Upstream here. AFAIK `python3-config` will use LINKFORSHARED internally. Can anyone verify if `python3-config --ldflags` returns the correct flags?

[2017-03-07 16:26] gfairchild commented on #5181
I'm not sure, but I'm happy to try. However, I'm not sure I can tell the formula which compiler to use. These are the only flags:

[code]

[2017-03-07 16:28] gfairchild commented on #5181
@ilovezfs, would you mind reopening this issue since upstream (@count0) is here?

[2017-03-07 16:32] gfairchild commented on #5181
@count0, have you tried building graph-tool using Homebrew, or are you just building from source?

[2017-03-07 16:33] count0 commented on #5198
What do you get for `distutils.sysconfig.get_config_var("LINKFORSHARED")`?

[2017-03-07 16:36] gfairchild commented on #5198
Python 2.7:

[code]

Python 3.6:

[code]

[2017-03-07 16:38] count0 commented on #5181
@gfairchild You can set the compiler globally in homebrew, I believe by setting the HOMEBREW_CXX environment variable.

I haven't build graph-tool with Homebrew, since I don't have a  MacOS machine.

[2017-03-07 16:39] gfairchild commented on #5181
Ah ha, so maybe this is part of the problem. Looks like I currently *am* using clang. I didn't even realize it.

[code]

So I need to try building with GCC. I wonder if that's the problem.

[2017-03-07 16:40] count0 commented on #5198
Ok, so it seems that `LINKFORSHARED` is indeed broken. Strictly speaking, this is a Python bug, but we can fix graph-tool to use `python-config` instead. Please open an issue upstream in the graph-tool website, and it will be dealt with.

[2017-03-07 16:42] count0 commented on #5181
Note how the compilation is using a GCC include file `/usr/local/Cellar/gcc/6.3.0_1/include/c++/6.3.0/chrono`. Something is inconsistent in your build environment.

[2017-03-07 16:43] geoglrb commented on #5181
Here's a case where I get it:

brew reinstall libsigc++ boost boost-python --build-from-source --cc=gcc-6
brew reinstall --build-from-source --with-openmp graph-tool

[2017-03-07 16:43] geoglrb commented on #5181
I have no problems with boost@159...

[2017-03-07 16:45] count0 commented on #5181
@geoglrb Are you sure you are using the same compiler both for boost/boost-python and graph-tool?

[2017-03-07 16:47] gfairchild commented on #5181
@count0, after looking more closely at my [build logs](https://gist.github.com/gfairchild/6ae146a676530db145e317d14fe6f5aa), I am definitely using GCC, not clang. So the graph-tool formula must be overriding the compiler at some point.

[2017-03-07 16:47] geoglrb commented on #5181
It was my impression that graph-tool was using gcc-6 when I asked for --with-openmp, but I'll see if I can force that.

[2017-03-07 16:50] geoglrb commented on #5181
@count0 I do wonder why I can build with boost@159 but not 1.63. Almost the same configuration.

[2017-03-07 16:50] gfairchild commented on #5198
I'll do that shortly.

[2017-03-07 16:56] count0 commented on #5181
There is obviously a conflict between boost::chrono and std::chrono, but I don't get it on my system with any boost version (including 1.63). I can change the source to make it unambiguous, but it is a bit puzzling.

[2017-03-07 16:56] gfairchild commented on #5198
Done: https://git.skewed.de/count0/graph-tool/issues/377

[2017-03-07 16:57] geoglrb commented on #5181
What can I do to help you out in the most efficient manner? @count0

[2017-03-07 17:02] count0 commented on #5181
You can try this patch: https://git.skewed.de/count0/graph-tool/commit/aaae585f18d324d50c3e1875b9b251c5c543d19e

[2017-03-07 17:04] geoglrb commented on #5181
Ok let me reproduce my own error and then directly apply.

[2017-03-07 17:54] gfairchild commented on #5181
I tried, but I'm getting another bug now that wasn't there before. I just recently updated to Sierra 10.12.3, so I'm not sure if that's the reason or if something else is going on:

[code]

I have expat installed:

[code]

So I'm not sure what's going on right now.

[2017-03-07 17:56] count0 commented on #5181
@gfairchild You have to look inside config.log to see the reason of the failure.

[2017-03-07 19:07] ckeeling commented on #3828
Found a solution--install express binary manually into Cellar:
`cd ~/.linuxbrew/Cellar/express`
`wget http://bio.math.berkeley.edu/eXpress/downloads/express-1.5.1/express-1.5.1-linux_x86_64.tgz`
`tar zxvf express-1.5.1-linux_x86_64.tgz`
`cd ~/.linuxbrew/bin`
`link -s ~/.linuxbrew/Cellar/express/express-1.5.1-linux_x86_64/express express`

Now, I can successfully install trinity without it trying t

[2017-03-07 19:56] geoglrb commented on #5181
@count0 The patch works for me!

Summary (without config or logs, which I would be happy to provide; each step involves proper modification of the homebrew formula not shown here):

     # this compiles using gcc-6 with openmp and works in python:
     brew reinstall libsigc++ boost@1.59 homebrew/versions/boost-python159 --build-from-source --cc=gcc-6 && brew reinstall --build-from-source --with-o

[2017-03-07 20:06] mbprentice commented on #5195
Thanks Jon, travelling at present, my next opportunity to try this is at the weekend

[2017-03-07 20:08] gfairchild commented on #5181
@geoglrb, the second two commands are identical. I think you meant to remove `--build-from-source` from the second part of the second command.

[2017-03-07 20:19] geoglrb commented on #5181
@gfairchild it's meant to be the same command. I just tried to make it clearer that the difference is applying a patch in the brew formula.

[2017-03-07 20:19] gfairchild commented on #5181
Ah, gotcha! 👍

[2017-03-07 20:46] gfairchild commented on #5181
I fixed my expat compilation issue by forcing Homebrew to link expat:

[code]

I'm not sure why I need to do this in order to get this to compile. @geoglrb, did you encounter any expat strangeness when compiling? I have the standard bottle installed:

[code]

I don't see why this would throw up an error. Perhaps I should open a new issue for this.

[2017-03-07 21:04] count0 commented on #5181
@geoglrb I think we just need to add this patch to the formula, until the next version is released.

[2017-03-08 01:15] oa0107 opened #5241 "lammps: Error in download"
Hello,

I am trying to learn LAMMPS but looks like my first step is not going smooth. I am using MAC OS and when I follow the download steps, I checked my installation as per the manual and I got the following:

Last login: Tue Mar  7 13:47:45 on console
dynamic-10-125-214-57:~ Omar$ brew test lammps -v
Testing homebrew/science/lammps
==> Using the sandbox
/usr/bin/sandbox-exec -f /tmp/homebrew201

[2017-03-08 02:11] geoglrb commented on #5181
@gfairchild I don't know what the problem is with that. Looks similar to my expat when I 'brew info expat'. Sorry. I get these lines in the 01.configure:

     checking for OpenMP flag of C++ compiler... -fopenmp
     checking whether to enable cairo drawing... yes
     checking for Expat XML Parser headers in /usr/include... found
     checking for Expat XML Parser libraries... found
     checkin

[2017-03-08 02:12] geoglrb commented on #5181
@count0 Great. I am preparing a pull request...

[2017-03-08 07:37] iMichka commented on #5241
Hi. Please always fill out the issue template.

This is maybe related to #5155, but I am not sure.

We are only package managers, if you think we wrongly packaged lammps, please try to find out. But I do think this should be reported upstream first.

[2017-03-08 21:26] sjackman commented on #3828
I'm attempting to build bottles for `express` at PR https://github.com/Homebrew/homebrew-science/pull/5244

[2017-03-08 22:34] iMichka commented on #4848
Compilation fixes and update to 2.2.0-debian were done by #5192.

We will not support non-upstreamed patches. You will need to lobby with upstream to make java optional and to get your changes in a new, stable release. You could also host your own version of the formula as an alternative. Thanks for all the hard work on this.

[2017-03-08 22:34] #4848 closed

[2017-03-08 22:36] sjackman commented on #3828
@ckeeling The bottle build was successful, and the bottle is relocatable, so from now on you'll be able to simply `brew install express` and install the binary rather than build from source.

[2017-03-08 22:36] #3828 closed

[2017-03-08 22:36] iMichka commented on #5241
Please double check if #5155 helps. If not, please report upstream. They are the most likely to help you with this problem. If you really think this is a homebrew bug, please open a new issue.

[2017-03-08 22:36] #5241 closed

[2017-03-08 22:45] iMichka commented on #3518
We are distribution version 2016.11.17. If this does not solve your problem, please open a new issue. You may also double-check with upstream if the manual is up to date, or if there are some changes to be made to formula to get this to work. Thanks.

[2017-03-08 22:45] #3518 closed

[2017-03-08 22:56] iMichka commented on #5231
For ref, happened in #5227
`fully scope test shell_output calls e.g. shell_output "#{bin}/seqlogo"`

I think you need to write it like this: `shell_output("#{bin}/seqlogo -h 2>&1", 255)`. Could you please try again?

Wording of the error is weird, I'll have a look if I can improve that.

[2017-03-08 23:01] iMichka commented on #4864
I'll just close this.

It works for you now. Please open a new issue if it doesn't.

The install process could be made more robust for that formula, with maybe some checks for octave/matlab, but that is not something we are actively working on. A PR would be welcome though. Thanks.

[2017-03-08 23:01] #4864 closed

[2017-03-09 08:28] changkaizhao opened #5245 "pcl_viewer bin not found after brew install pcl"
I `brew` install pcl ,but I check the folder `/usr/local/Celler/pcl/1.8/bin` there is no bin `pal_viewer`. I use Mac!

[2017-03-09 11:29] ysolovyov commented on #3373
Where are those static libs? I can't find them in /usr/local/opt/opencv3/lib It does not work

[2017-03-09 16:03] talonchandler opened #5247 "Installing VTK with Python 3 bindings fails."
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?

#### Summary:

Installing vtk with python 3 bindings fails. Installing vtk with python

[2017-03-09 16:14] iMichka commented on #5247
Thanks for reporting this. I confirm from the log files that the error is:

#include <Python.h>

I'll try to recompile locally first and let you know what I found out. It's maybe due to the patch that I added to VTK, or any other reasons, but I know their cmake setup a little bit so there is good hope that I can get that fixed.

[2017-03-09 20:30] iMichka commented on #5247
First investigations show that:
- I vaguely remember having built 7.1.0 with python3 at one point, between now and July 2016, and it worked.
- removing the patch does not help, so the patch does not seem to be the problem
- building head is also broken (no need for the patch there)
- copy-pasting the cmake flags we pass and building manually from a repository outside of homebrew works, so this see

[2017-03-09 21:11] oa0107 commented on #5241
@iMichka I apologize for posting here but I am totally new to this. I figured out what was the problem. For MAC OS, homebrew/science/lammps is automatically not linked when you download lammps but I figured it out.

[2017-03-09 21:13] iMichka commented on #5241
@oa0107 Thanks. Would there be any commands that we would need to execute during installation to help other people encountering the same problem?

[2017-03-09 21:19] oa0107 commented on #5241
I just had to type:

I know it is very easy step to figure out but I have zero experience with downloading from a MAC OS terminal this so I was proud of myself at some point.
I made sure after that if the download would have any issue:

and everything seems to work fine
Thanks

[2017-03-09 21:27] iMichka commented on #5241
At least it works for you, but you are not expected to call `link homebrew/science/lammps`. Maybe something got broken and this fixed it.

Just out of interest, could you post here:
- Gist with output of `brew doctor`
- Link output by `brew gist-logs lammps`
- Output of `brew config`

Trying to do some post-mortem analysis of the bug. But we may just leave it as-is as a one-off error due to some s

[2017-03-09 22:27] iMichka commented on #5247
@MikeMcQuaid seems that reverting this: https://github.com/Homebrew/brew/pull/2211
fixes the problem.

[2017-03-09 22:33] oa0107 commented on #5241
dynamic-10-125-176-35:~ Omar$ brew doctor
Your system is ready to brew.
dynamic-10-125-176-35:~ Omar$ brew gist-logs lammps
https://gist.github.com/771c991b1f3809be89bba02c0f32f814
dynamic-10-125-176-35:~ Omar$ brew config
HOMEBREW_VERSION: 1.1.11-23-gb38c52f
ORIGIN: https://github.com/Homebrew/brew
HEAD: b38c52f930ad5736518dff54f135674347a4a222
Last commit: 27 hours ago
Core tap ORIGIN: https://g

[2017-03-09 22:35] oa0107 commented on #5241
Again, thank you for your concern.

[2017-03-09 22:43] iMichka commented on #5247
The gist log shows:

[2017-03-10 01:04] adamwtow commented on #4437
Issue exists for me also. Is there a fix yet to get pcl_viewer on macos sierra?

[2017-03-10 01:05] adamwtow commented on #5245
This is a repeat of: https://github.com/Homebrew/homebrew-science/issues/4437

[2017-03-10 03:10] changkaizhao commented on #5245
I copy `pcl_viewer` bin from `pcl_viewer.app` to `/usr/local/bin`  , now it works!

[2017-03-10 08:55] ilovezfs commented on #5247
I'm having trouble reproducing this issue.

[2017-03-10 18:58] iMichka commented on #5247
@talonchandler Please try `brew upgrade`. There is a new python3 bottle. In fact homebrew should have made the upgrade for you (and for me), but it didn't. With the latest packages everything should work fine. We are investigating the problem, but at least you should be able to build for now (after `brew upgrade`).

[2017-03-10 19:30] talonchandler commented on #5247
@iMichka Excellent. The VTK installation worked. Thanks for maintaining!

[2017-03-10 21:20] #5181 closed

[2017-03-10 21:22] iMichka commented on #5181
The formula has been update with the patch. This should be good now. Thanks all for helping tackling this problem.

[2017-03-10 22:32] iMichka commented on #5231
I hope my hint helped. Closing here as this is more a question than a real issue.

[2017-03-10 22:32] #5231 closed

[2017-03-10 22:34] iMichka commented on #5215
Please report this upstream. We can reopen this bug if this is a homebrew-specific packaging problem.

[2017-03-10 22:34] #5215 closed

[2017-03-10 22:36] iMichka commented on #4554
Without more details, it will be difficult to debug. This could not be reproduced locally.
I'll close this the time being.

[2017-03-10 22:36] #4554 closed

[2017-03-10 22:47] jonchang commented on #5245
@changkaizhao @adamwtow thanks for figuring this out! If you could open a pull request for this formula that adds a symlink to the `bin` directory that would be fantastic. Feel free to ping me if you need help with this.

[2017-03-10 22:47] #5245 closed

[2017-03-11 19:14] ShivangiM commented on #3490
[http://stackoverflow.com/a/42214539/5511915](url)

[2017-03-14 03:19] tseemann opened #5267 "fastx_toolkit installs share/aclocal/ax_c_long_long.m4 => conflict"
[code]

[2017-03-14 04:51] tseemann commented on #5152
I get this same error all the time on Linuxbrew for certain packages when using bottles.  It seems to be particular to non-standard brew locations (ie. not `/home/linuxbrew/.linuxbrew`, but when even I use that location, it occurs on Centos or RHEL, but not Ubuntu.

Solution is to build the package from source:  `brew reinstall -s hmmer`

[2017-03-14 09:18] andrewyatz commented on #5152
Isn't there a way to indicate if a formula cannot be unpacked from keg if
using a non-standard brew location?

On 14 March 2017 at 04:51, Torsten Seemann <notifications@github.com> wrote:

[2017-03-14 09:48] mbprentice commented on #5195
`brew install prokka --env=super` fails the same way as `brew install prokka --HEAD`
and `brew install homebrew/science/blast --without-check`

configure: error: Do not know how to parse GCC version number ./src/build-system/configure: line 7577: /usr/bin/g++-4.8: No such file or directory

[2017-03-14 11:15] aadrych opened #5269 "brew install lammps error"
Hi,

I have just tried to get the latest version of lammps on my mac trhough homebrew but it has now crashed my lammps install.

I got an error during the lammps install which was
In file included from ../fix_mscg.cpp:21:
../fix_mscg.h:24:10: fatal error: 'mscg.h' file not found
#include "mscg.h"
         ^
1 error generated.
make[1]: *** [fix_mscg.o] Error 1
make: *** [mac] Error 2
Which I saw al

[2017-03-14 15:04] aadrych commented on #5155
I am having the same problem as this but even with uninstalling lammps and openmpi and reinstalling I get the same error.
I also found that the option of building lammps with mpi support no longer exists. I get the error
homebrew/science/lammps: this formula has no --with-mpi option so it will be ignored! which is not the same as the lammps download page.
I can get it to work temporarily using the

[2017-03-14 15:06] aadrych commented on #5269
I just saw the same error in a previous post (Lammps openmpi error #5155) but even with the suggested uninstalling lammps and openmpi and reinstalling I get the same error.
I also found that the option of building lammps with mpi support no longer exists. I get the error
homebrew/science/lammps: this formula has no --with-mpi option so it will be ignored! which is not the same as the lammps downlo

[2017-03-14 16:32] iMichka commented on #5269
Thanks. We have had multiple reports of this being broken.
For the `--with-mpi` option, this is normal, as it is always build against `mpi`. These is a `--without-mpi` option though, which allows to remove `mpi`.

It is still not clear why this breaks so often. Reporting the bug upstream may help. It is not clear for the moment if we are doing something wrong with packaging or if this is a real bu

[2017-03-14 17:40] aadrych commented on #5269
Could it be something to do with os Sierra features being included with the el capitain bottle?
Is there a way for me to reload a previous version of lammps instead ?

Thanks in advance

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Michka Popoff <notifications@github.com>
Date: 14/03/2017 16:32 (GMT+00:00)
To: Homebrew/homebrew-science <homebrew-science@noreply

[2017-03-14 18:40] sononix commented on #4830
Can these changes get pushed? - currently on mac sierra homebrew install using python3/opencv is breaking

I ended up using
ENV["PYTHONPATH"] = "/usr/local/lib/python3.6/site-packages"

[2017-03-14 19:34] CarlosRDomin commented on #4830
@sononix I opened a PR a month and half ago (#4885), but it never got merged :( I think they weren't sure why PYTHONPATH needed to be unset (or manually set to your actual Python3 folder)

[2017-03-14 19:57] iMichka commented on #4830
The thing is that as long as we don't understand exactly what is going on, we are reluctant to merge this. You can modify your formula locally to get this fixed, so there is an unofficial workaround.

We need more time and more help from to community to investigate this in detail though.

[2017-03-14 22:13] iMichka commented on #5269
Not sure what you mean. Each bottle is built on it's own OS X version, so a mixup is unlikely. And if rebuilding from source did not help you, the problem is more general than the bottles being broken.

[2017-03-14 22:22] iMichka commented on #5269
Also, it would be good to fill out the issue template. This information could be important for us. Please note that I just tested lammps on Sierra and the tests given in the caveats section seem to run on my machine.

[2017-03-16 02:17] tseemann commented on #5213
I've asked them to make a new release:
https://github.com/xavierdidelot/ClonalFrameML/issues/50

[2017-03-17 10:15] aadrych commented on #5269
________________________________
I haven't updated to mac os sierra yet, but I did get it to work temporarily by restarting my computer, although I am now back to an error as shown in the previous message.

I will look into installing mac os sierra and see if this will work too.

--------------------
From: Michka Popoff [notifications@github.com]
Sent: 14 March 2017 22:22
To: Homebrew/homebrew-sci

[2017-03-17 14:38] jergosh opened #5283 "Vcftools doesn't install the required Perl modules"
### Bug reports / build errors:
vcf-tools installation doesn't install Perl modules which are required for some of the tools to work:

[code]

[2017-03-17 21:48] mbprentice commented on #5195
Hi Jon

I tried your suggestion from #4306 to set compiler to `gcc-5` like
  `brew install --verbose blast --cc=gcc-5 -cxx=g++-5`

and it worked - thanks

[2017-03-19 21:47] tdsmith opened #5289 "plr is broken"
`brew test plr` is failing on the bot:

[code]

[2017-03-19 23:35] iMichka commented on #5283
`brew list vcftools` shows that these files are installed to:
`/usr/local/Cellar/vcftools/0.1.14/Library/Perl/5.18`

Don't know if we should change the caveat, or copy the files to `/usr/local/lib/perl5/site_perl` during installation.

[2017-03-19 23:36] tdsmith commented on #5289
Building plr fails (transcript from [a build bot](https://bot.brew.sh/job/Homebrew%20Science%20Pull%20Requests/7546/version=yosemite/console)):

[code]

[2017-03-19 23:37] tdsmith commented on #5289
Heh, and the homepage 404s:

[code]

[2017-03-20 00:26] tdsmith commented on #5283
Ah; this is happening because the PMDIR detection code in configure asks perl where its modules should go, and system perl gives a silly answer on OS X.

Anyway, neither, per #5290.

[2017-03-20 18:23] #5283 closed

[2017-03-20 19:47] jonchang commented on #5289
Looks like there's an updated version. I can't build right now (traveling) but let's see what the build bot says.

[2017-03-20 19:52] jonchang commented on #5267
Looks like we can just do a `rmdir share` or similar to avoid this. Probably also should file an issue against their Github repository: https://github.com/agordon/fastx_toolkit

[code]

[2017-03-20 23:41] dancooke opened #5292 "htslib version 1.4 linker error"
I've just upgraded to the latest htslib (version 1.4) and I'm now getting the following linker error:

	Undefined symbols for architecture x86_64:
	  "_BZ2_bzBuffToBuffCompress", referenced from:
	      _cram_compress_by_method in libhts.a(cram_io.o)
	  "_BZ2_bzBuffToBuffDecompress", referenced from:
	      _cram_uncompress_block in libhts.a(cram_io.o)
	  "_lzma_code", referenced from:
	      _cra

[2017-03-21 13:49] #5247 closed

[2017-03-22 02:42] mathslimin opened #5300 "protobuf-cpp-3.1.0.tar.gz Couldn't connect to server"
hi protobuf-cpp-3.1.0.tar.gz is not exists
but protobuf-cpp-3.2.0.tar.gz is ok

CMake Error at cmake/OpenCVUtils.cmake:1081 (message):
  Failed to download v3.1.0/protobuf-cpp-3.1.0.tar.gz.  Status=7;"Couldn't
  connect to server"
Call Stack (most recent call first):
  opencv_contrib/modules/dnn/cmake/download_protobuf.cmake:23 (ocv_download)
  opencv_contrib/modules/dnn/cmake/download_protobuf.cm

[2017-03-22 09:03] s18692001 opened #5302 "Bowtie2 2.3.0 installation error"
Hi there,

I'm using brew to install MetaPhlAn2 [https://bitbucket.org/biobakery/biobakery/wiki/metaphlan2](url)
which contains steps of Bowtie2 2.3.0 installation. It shows errors as following:

make install prefix=/home/yangj/.linuxbrew/Cellar/bowtie2/2.3.0
Last 15 lines from /home/yangj/.cache/Homebrew/Logs/bowtie2/01.make:
                 from aligner_seed2.h:101,
                 from aligne

[2017-03-22 19:38] #5292 closed

[2017-03-22 20:15] olalonde commented on #3723
Still having this issue... Tried a bunch of stuff:

[code]

For some reason it tries to load a library in `/usr/local/opt/gcc/lib/gcc/5` which doesn't exist (5 should be 6).

[2017-03-22 20:44] olalonde commented on #4972
Had a similar issue:

[code]

Tried a bunch of stuff but the only thing that worked was re-building from source with `brew install --build-from-source octave`.

[2017-03-22 22:13] JCount commented on #3723
Have you tried reinstalling `arpack`?

[2017-03-22 22:37] jcminerlanl commented on #5269
Has there been any progress on this front?
My own operating system is El Capitan 10.11.6 and I am seeing these same errors.
Have people given the upstream report to Homebrew or LAMMPS?

[2017-03-22 23:37] jonchang commented on #5300
Hi @mathslimin, could you please [fill out the issue template](https://github.com/Homebrew/homebrew-science/blob/master/.github/ISSUE_TEMPLATE.md) when filing issues. It helps us maintainers diagnose your problem. Feel free to open a new issue with the template filled out.

[2017-03-22 23:37] #5300 closed

[2017-03-22 23:48] jonchang commented on #5302
Hi @s18692001, thanks for reporting this issue. In the future please be sure [fill out the issue template](https://github.com/Homebrew/homebrew-science/blob/master/.github/ISSUE_TEMPLATE.md) so the maintainers can diagnose problems faster.

This will be fixed once https://github.com/Homebrew/homebrew-science/pull/5303 is merged. You may also want to contact the author of metaphlan2 as it seems lik

[2017-03-22 23:54] jonchang commented on #5267
Looks like the maintainer is already aware of this issue but no action has been taken: https://github.com/agordon/fastx_toolkit/issues/6

[2017-03-23 00:12] #5302 closed

[2017-03-23 00:37] kaboroevich commented on #5139
I'm having the same issue with the same error report. I made a workaround for my purposes (installing the R package [ncdf4](https://cran.r-project.org/web/packages/ncdf4/index.html)) by commenting out the `resource("cxx-compact").stage do` block in the bottle. The following is for when the error occurs.

**brew doctor**
Your system is ready to brew.

**brew gist-logs netcdf**
https://gist.github.c

[2017-03-23 00:58] JindongJiang commented on #4690
For homebrew user, you could simply download [protobuf-cpp-3.1.0.tar.gz](https://github.com/google/protobuf/releases/download/v3.1.0/protobuf-cpp-3.1.0.tar.gz) and store copy it to `/Users/Jd/Library/Caches/Homebrew/` before brew (re)install opencv3.

[2017-03-23 01:06] #5267 closed

[2017-03-23 02:18] akohlmey commented on #5269
guys, the `mscg.h` error has **nothing** to do with MPI. when you install the MSCG package, you need the corresponding library and configure its location in lib/mscg/Makefile.lammps. This is all documented in the Manual and corresponding README files and not different from, e.g., the VORONOI package that depends on libvoro++ or the USER-SMD package depending on the Eigen template library.

[2017-03-23 02:26] akohlmey commented on #5269
i would suspect that the MPI related errors originate from having an updated MPI library installed, but an outdated LAMMPS executable (since the compilation failed) that was compiled against an older version of the same MPI library and because of that fails to load properly.

[2017-03-23 08:37] aadrych commented on #5269
After a restart of my computer I'm not getting any errors.
I can't imagine this has actually fixed anything but I am going to try updating to os sierra and reinstall lammps.
________________________________
From: Jacob Miner [notifications@github.com]
Sent: 22 March 2017 22:37
To: Homebrew/homebrew-science
Cc: Alexandra Adrych-Brunning; Author
Subject: Re: [Homebrew/homebrew-science] brew install

[2017-03-23 17:07] olalonde commented on #3723
@JCount yes but didn't work. Only thing that worked was using the `--build-from-source` flag (https://github.com/Homebrew/homebrew-science/issues/4972#issuecomment-288533210)

[2017-03-23 20:28] JCount commented on #3723
@olalonde That would have been the next thing I would have suggested. It's just a bit strange because I loooked at the contents of the bottle itself, everything seemed to be in order. Perhaps the bottle needs to be rebuilt... Once I am behind my Mac again I'll take a look at that, so others won't continue to have this problem. In any case, I'm glad you found a solution.

[2017-03-24 00:48] tseemann commented on #5267
Thanks @jonchang

[2017-03-24 10:37] cbrnr commented on #2840
Any update on this one? It would be great if we could use Homebrew Python using MKL just like in Anaconda.

[2017-03-25 13:36] Ling-wei commented on #4303
Anybody here...I updated my macOS to 10.12 last month ,before that I had already install opencv 3 successfully...For some reason,I need to intall opencv 2.4.9 with xcode 8....When I made the file, I met the same question. I tried everything to fix the problem  about 'QTKit/QTKit.h', but the process is still stuck at 31% with a fatal error.HELP!!!!!("brew install opencv3 --HEAD" doesn't work for me

[2017-03-25 16:18] deOliveira-R opened #5314 "Paraview 5.3.0 does not create symlink in Applications folder"
Brew update run twice returning "Already up-to-date"
Brew doctor returns "Your system is ready to brew"

"brew link paraview" gives:

Warning: Already linked: /usr/local/Cellar/paraview/5.3.0
To relink: brew unlink paraview && brew link paraview

If I execute "brew unlink paraview && brew link paraview"

Unlinking /usr/local/Cellar/paraview/5.3.0... 0 symlinks removed
Linking /usr/local/Cellar/par

[2017-03-25 19:00] starcolon opened #5329 "OpenCV3 fails to install on macOS with --c++11"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-03-26 10:31] iMichka commented on #4303
Please don't post on old closed issues, and open a new issue (and fill out the issue template).

[2017-03-26 11:35] iMichka commented on #5329
You didn't fill out the full issue template. Especially there is information missing like `brew doctor`, `brew gist-logs <formula>`, `brew config`, which would help debug this.

I tested this locally and it building with these build options worked for me. So there is something different on your machine. Which we can only debug with all the full information. Please open a new issue with the require

[2017-03-26 11:35] #5329 closed

[2017-03-26 14:18] maryamalq opened #5330 "Reason: image not found Error: homebrew/science/lammps: failed"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-03-26 14:27] maryamalq commented on #5330
I am trying to install lammps using homebrew in my mac and I followed the instructions posted in:http://lammps.sandia.gov/download.html#homebrew
 but when i try to test the code through: `% brew test lammps -v`
I get the error:   Reason: image not found
Error: homebrew/science/lammps: failed

here is a snap shot of the command line:
<img width="869" alt="screenshot 2017-03-26 18 17 54" src="https:

[2017-03-26 16:31] #5330 closed

[2017-03-26 16:50] maryamalq opened #5332 "Error in brew test lammps -v"
So I followed the instruction posted in: http://lammps.sandia.gov/download.html#homebrew
to install lammps in mac OSX using Homebrew but when I reach to ` brew test lammps -v`
command I get an error: `AttributeError: 'lammps' object has no attribute 'lmp'
Error: homebrew/science/lammps: failed
`

the whole code is shown below: `brew test lammps -v
Testing homebrew/science/lammps
==> Using the sand

[2017-03-27 09:30] jonchang commented on #5314
`brew linkapps` will do you what you want, but note that this will no longer be supported in Homebrew very soon (see below). At that point we will probably have to either migrate `paraview` to Homebrew/cask or come up with another acceptable solution.

    Unfortunately brew linkapps cannot behave nicely with e.g. Spotlight using
    either aliases or symlinks and Homebrew formulae do not build "p

[2017-03-27 09:30] #5314 closed

[2017-03-27 18:54] iMichka commented on #3172
#5204 has been merged. Closing here.

[2017-03-27 18:54] #3172 closed

[2017-03-27 21:15] iMichka commented on #2938
I will close this bug because the initial bug report is very old.

@tibaes Please open a new issue and fill out the issue template so that we can try to help you.

[2017-03-27 21:15] #2938 closed

[2017-03-27 21:23] iMichka opened #5336 "Issues building opencv3 Linux bottles"
This is a follow-up from #5186

There are multiple things to do:

1) `depends_on "openblas" unless OS.mac?` can be added, and `WITH_LAPACK=OFF` removed.

2) Try to fix the AVX2 failure. I had a look at this. There are a bunch of ENABLE_AVX flags that can be used, but they are not working. They are also marked as deprecated option in opencv3 master. Building with `--HEAD` works, so this has been fi

[2017-03-28 15:53] lmrodriguezr commented on #2559
@tdsmith I think your changes in ec63b61feb154b29579231fe11fd18645872b10b fixed nonpareil.

[2017-03-28 15:53] #2559 closed

[2017-03-28 18:53] olalonde opened #5344 "Error: No such file or directory - python3-config"
### Indicate troubleshooting steps taken

- [ x] Ran `brew update` and retried your prior step?
- [ x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x ] Checked that a similar issue hasn't already been filed?
- [ x] Looked up the software bug tracker if reporting a build error?
- [x ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(

[2017-03-28 19:03] jonchang commented on #5344
It looks like you're trying to build from a python virtualenv, which probably doesn't install all the support scripts, etc. that opencv3 needs to build. Try building it outside of a venv. Moreover we don't really support `HEAD` builds since they are entirely dependent on the upstream developers.

[2017-03-28 19:03] #5344 closed

[2017-03-28 19:34] olalonde opened #5345 "OpenCV3 fatal error: 'Python.h' file not found"
### Indicate troubleshooting steps taken

- [x ] Ran `brew update` and retried your prior step?
- [ x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x ] Checked that a similar issue hasn't already been filed?
- [x ] Looked up the software bug tracker if reporting a build error?
- [ x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(

[2017-03-28 19:39] iMichka commented on #5345
Hi. Could you also post `brew gist-logs opencv3`. Thanks.

[2017-03-28 19:44] iMichka commented on #5336
I asked for a new release here: https://github.com/opencv/opencv/issues/7985

[2017-03-28 19:48] olalonde commented on #5345
Well, I got it to work by unlinking python3 and installing again with brew.

[2017-03-28 19:48] #5345 closed

[2017-03-28 19:52] iMichka commented on #5345
That does not really help us what was broken; but glad you fixed it.

[2017-03-28 19:54] olalonde commented on #5345
Actually, have another issue now. It seemed to install correctly but I can't import cv2 from python3:

[code]

[2017-03-28 19:56] iMichka commented on #5345
I think you should do:

The caveats section tells to do it. Though for python2; we need to update the message for python3.

[2017-03-28 20:00] ilovezfs commented on #5345
[code]

[2017-03-28 20:05] olalonde commented on #5345
Found how to get it to work here (http://www.pyimagesearch.com/2016/12/19/install-opencv-3-on-macos-with-homebrew-the-easy-way/ Handling the Python 3 issue):

[code]

[2017-03-28 22:19] alalek commented on #5336
Hi,

I'm a member of OpenCV development team. There are some my comments below:

2.

Probably it is not a good idea to use this variable at all. Please use `CPU_BASELINE` variable instead to enable AVX/SSE4.2/etc options and use "nothing" to disable of unsupported optimizations (most of them are disabled by default).

What does `Hardware::CPU.avx` mean in the expression below?

If "Hardware::CPU"

[2017-03-28 23:03] sjackman commented on #5336
Thanks for your response, Alexander. For our binary bottles we target `-march=core2` without SSE 4.2. Does this look right?
[code]

[2017-03-28 23:05] sjackman commented on #5336
Yes, `Hardware::CPU.avx?` returns whether this machine's CPU has support for AVX.

[2017-03-28 23:56] alalek commented on #5336
Looks good. But "ENABLE_AVX" should not be used anymore. Also OpenCV CMake scripts doesn't know about "core2" (the current optimization flags configuration is based on instructions sets).

GCC docs states [this](https://gcc.gnu.org/onlinedocs/gcc-6.3.0/gcc/x86-Options.html#x86-Options):

Intel Core 2 CPU with 64-bit extensions, MMX, SSE, SSE2, SSE3 and SSSE3 instruction set support.

The nearest O

[2017-03-29 04:12] sjackman commented on #5336
Thanks. I forgot this additional bit of information. We found it necessary to use `-DOPENCV_EXTRA_CXX_FLAGS='-march=core-avx2'` to avoid
`error: '_mm_cvtps_ph' was not declared in this scope`.
See https://github.com/Homebrew/homebrew-science/blob/master/opencv3.rb#L125
and https://github.com/RoboSherlock/robosherlock/issues/78#issuecomment-274469830

[2017-03-29 16:55] nextgenusfs opened #5347 "Blast v2.6.0 on Linux producing inconsistent results, can I install older version?"
Using LinuxBrew I'm seeing some inconsistent results from Blast+ 2.6.0 on Ubuntu, specifically the `tblastn` command is yielding different results on Linux than it does on Mac.  There was a segfault issue with `tblastn v2.4.0`, so I'm guessing there is yet another bug but I can't get it to spit an error at me, just finds many fewer hits than it should be.  I was wondering if there is a way to inst

[2017-03-29 19:17] iMichka commented on #5336
I oped a pull request with the changes here: #5348

Let's continue the discussion there.

[2017-03-29 19:17] #5336 closed

[2017-03-29 21:18] iMichka commented on #3395
Tested on my setup, and it worked.

Since you opened this issue, opencv 2.4.13.2 has been release. Please open a new issue if you still have trouble with that version.

[2017-03-29 21:18] #3395 closed

[2017-03-29 21:34] jonchang commented on #5347
Well, ideally we would be able to track down and fix the bug. It would be good to be able to tell if this is an issue on our side (i.e., our build system passing incorrect flags or something causing the error) or whether this is an upstream bug with blast. I recommend contacting the blast developers or email the blast mailing list to see if anyone else is encountering this specific situation. A re

[2017-03-29 21:34] #5347 closed

[2017-03-29 21:44] nextgenusfs commented on #5347
Thanks, I will try to test the NCBI 2.6.0 binary release vs the home-brew build and see if there is a difference.  I've noticed the problem on a rather large dataset, so will also see if I can't get a smaller test case.  My guess is it is an upstream issue and not a build problem, but mostly I was curious about installing older versions.  I know one can do `brew switch` if you have previously inst

[2017-03-29 21:47] jonchang commented on #5347
Ok, feel free to file a new issue if you get a test case / show that our build system is causing problems. For the future note that you can use the `brew pin` command to prevent formulae your workflow depends on from being upgraded automatically.

[2017-03-30 19:08] iMichka commented on #2642
Current opencv3 builds fine without it. This issue was opened quite some time ago, and is probably obsolete. Please open a new issue and fill out the issue template if you still encounter problems.

[2017-03-30 19:08] #2642 closed

[2017-03-30 19:58] iMichka commented on #3119
Patch has been delivered since opencv3 3.1.0.
The mentioned options work for me. Closing here.

If you still encounter problems, please open a new issue and fill out the issue template. Thanks.

[2017-03-30 19:58] #3119 closed

[2017-03-30 21:10] iMichka commented on #4825
And with #5348 we had some more changes, the formula builds on circle and travis. Closing here.

[2017-03-30 21:10] #4825 closed

[2017-04-01 02:38] tseemann commented on #5195
It seems the `blast` formula no longer has  a `--without-check` option?

[code]

[2017-04-02 18:19] bhelenbr opened #5364 "netcdf --with-fortran error"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [X] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-04-03 21:41] iMichka commented on #5364
I remember having built it in january/february with the older Xcode and it worked. I can confirm that I have this error now with the new Xcode (the same as you have). Somebody (upstream) will need to find a fix for this.

[2017-04-03 21:56] bhelenbr commented on #5364
Ok.  Thanks for your help.

There seem to be other problems with petsc related to gfortran.  I don’t really need the fortran interface so I may try to figure out how to make a petsc script that doesn’t require fortran.

Brian

Brian Helenbrook
Paynter-Krigman Endowed Professor in Engineering Science Simulation
Mechanical and Aeronautical Engineering Department
357 CAMP
Clarkson University
Potsdam,

[2017-04-03 21:58] lordqwerty opened #5379 "kmc: Cannot tap homebrew/science: invalid syntax in tap!"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-04-04 03:35] rwhogg opened #5380 "r-gui: Requires macOS"
_From @yzhzu on April 4, 2017 2:40_

Installing r-gui from homebrew/science
[code]

# Please follow the general troubleshooting steps first:

- [ ] Ran `brew update` and retried your prior step?
- [ ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ ] Confirmed this is a problem with Linuxbrew/brew and not specific formulae? If it's a formulae-specific problem p

[2017-04-04 03:35] rwhogg commented on #5380
`r-gui` basically downloads R.app, which is inherently Mac-only. So I think the proper solution here is to mark `r-gui` as Mac-only (assuming Homebrew-science is okay with such a change).

However, I think we also need to fix the GUI that comes with the `r` formula. At least for me, it doesn't launch either the built-in X11 or Tk GUI's.

@sjackman and @yzhzu, does that sound reasonable to you?

(N

[2017-04-04 04:19] rwhogg commented on #5380
One other problem: installing Rcmdr fails for me with: `ERROR: dependency ‘tcltk2’ is not available for package ‘Rcmdr’`. That's also possibly related.

Might want to look into this too once the tap migration from homebrew-dupes is finished.

[2017-04-04 04:51] sjackman commented on #5380
@yzhzu To install R on Linuxbrew use `brew install r`
To install a GUI for R see RStudio https://www.rstudio.com

[2017-04-04 04:51] #5380 closed

[2017-04-04 04:52] sjackman commented on #5380
I've never used the GUI that comes with R, but yeah, it'd be good if it worked. RStudio is :100:

[2017-04-04 04:53] sjackman commented on #5380
I've opened PR #5381

[2017-04-04 09:24] deepstop opened #5385 "cytoscape 3.5"
Hi,

cytoscape 3.5 is the current stable version, could you please do a version bump:

http://chianti.ucsd.edu/cytoscape-3.5.0/cytoscape-3.5.0.tar.gz

thanking you!

[2017-04-04 22:19] jonchang commented on #5385
Hi @deepstop, our documentation on [how to open a pull request for Homebrew](http://docs.brew.sh/How-To-Open-a-Homebrew-Pull-Request.html) should be able to guide you through this process. Feel free to ask any questions if you encounter difficulties.

[2017-04-04 22:19] #5385 closed

[2017-04-05 09:56] lordqwerty commented on #5379
@ilovezfs it appears this was done in https://github.com/Homebrew/homebrew-science/commit/2d00e99d095d120fb43e34d839e086e5daf35554 . However this does not work with Linuxbrew. Cannot tap formula.

@sjackman are you experiencing this same issue?

[2017-04-05 10:52] lordqwerty commented on #5379
Closing it was a `$PATH` variable issue.

[2017-04-05 10:52] #5379 closed

[2017-04-05 16:16] parsibox opened #5395 "opencv3 error"
hi
i want install
`brew install opencv3 --with-python3`
but say hal_internal.cpp...
https://gist.github.com/8a1b932a6b4e39fb96a093b6a44c5543

[2017-04-05 20:22] silwalr commented on #4554
i have run into compilation issue on mac OS sierra (10.12): please help.
cmd: brew install -sv openblas --with-openmp
Error:
-----------------------------------
gcc-6 -O2 -DMAX_STACK_ALLOC=2048 -DEXPRECISION -m128bit-long-double -fopenmp -Wall -m64 -DF_INTERFACE_GFORT -fPIC -DSMP_SERVER -DUSE_OPENMP -DNO_WARMUP -DMAX_CPU_NUMBER=8 -DASMNAME=_dtrmm_kernel_LN -DASMFNAME=_dtrmm_kernel_LN_ -DNAME=dtrmm

[2017-04-05 20:24] iMichka commented on #4554
Please don't hijack old issues. Open a new one and fill out the issue template. Thanks

[2017-04-05 22:27] silwalr opened #5396 "openblas doesnt compile with macOS sierra (10.12)"
### Indicate troubleshooting steps taken

- [ yes] Ran `brew update` and retried your prior step?
- [ yes] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ yes] Checked that a similar issue hasn't already been filed?
- [ yes] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(who

[2017-04-06 09:29] wukedi0410 commented on #5396
I have also been failed to install openblas on the Mac Pro (workstation).
However, I am successful to install it on the macbook.
==> Installing openblas from homebrew/science
==> Using Homebrew-provided fortran compiler.
This may be changed by setting the FC environment variable.
==> Downloading https://github.com/xianyi/OpenBLAS/archive/v0.2.18.tar.gz
Already downloaded: /Users/kdwu/Library/Cache

[2017-04-06 11:49] jenson-shi commented on #5396
### I'm failed too. I have reinstalled gcc --without-multilib.

### Build errors:

 brew install openblas --with-openmp
==> Installing openblas from homebrew/science
==> Using Homebrew-provided fortran compiler.
This may be changed by setting the FC environment variable.
==> Downloading https://github.com/xianyi/OpenBLAS/archive/v0.2.18.tar.gz
Already downloaded: /Users/shixiongfei/Library/Caches/

[2017-04-06 15:25] spatala opened #5400 "brew install dealii - Errors while running CTest"
I am not able to install dealii using homebrew.

### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
Yes
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
Yes
- [x] Checked that a similar issue hasn't already been filed?
Yes
- [x] Looked up the software bug tracker if reporting a build error?
Yes
- [ ] If you're seeing

[2017-04-07 11:29] ilovezfs commented on #5400
There are two issues. One is that petsc needs to be rebuilt against the current open-mpi. The other is that we've not yet been able to build netcdf --with-fortran with Xcode 8.3. The first issue can be resolved as soon as the second is.

As a workaround until we figure out what's really going on, you can downgrade Xcode to 8.2.x.

This issue is really a duplicate of https://github.com/Homebrew/hom

[2017-04-07 11:29] #5400 closed

[2017-04-07 13:13] ilovezfs commented on #5364
OK CMake has fixed this: https://gitlab.kitware.com/brad.king/cmake/commit/53f17333f830d4f314bbe10ba32889bbcfbc3c46

I will try to backport the fix to CMake 3.7.2

[2017-04-07 13:16] bhelenbr commented on #5364
Thank you

[2017-04-07 14:34] heuermh commented on #5379
I'm seeing the same with linuxbrew in docker at DockerHub, e.g.
https://hub.docker.com/r/heuermh/adam/builds/bbfi234i2t6fbpueostorzg/
https://hub.docker.com/r/heuermh/adam/builds/bdxivkuwkkoy8xq48upzxtl/

What is the `$PATH` variable issue?

[2017-04-07 14:36] ilovezfs commented on #5364
@bhelenbr this should take care of it once it's merged https://github.com/Homebrew/homebrew-core/pull/12198.

[2017-04-07 14:36] ilovezfs commented on #5400
@spatala this should take care of it once it's merged https://github.com/Homebrew/homebrew-core/pull/12198

[2017-04-07 14:57] lordqwerty commented on #5379
Can you past the output of `brew config` and `brew doctor`?
For me in the `.bash_profile` file adding:
[code]

Prior to:
[code]

Once complete run `exec $SHELL && source $HOME/.bashrc` should resolve your issue.

[2017-04-07 15:26] spatala commented on #5400
**@ilovezfs** Thank you for the quick response and help.

[2017-04-07 15:27] ilovezfs commented on #5400
You're welcome.

[2017-04-07 21:32] sjackman commented on #5379
Linuxbrew 1.1.10 doesn't support the line `needs :cxx14` in the formula `homebrew/science/kmc`. You can update `brew` to master, or you can wait for us to release Linuxbrew 1.1.11, which should be happening quite soon.

[2017-04-09 08:43] ilovezfs commented on #5364
This is now fixed.

[2017-04-09 08:43] #5364 closed

[2017-04-09 08:45] ilovezfs commented on #5400
This is now fixed, and I've shipped deal.II 8.5.0

[2017-04-09 11:07] iMichka commented on #3039
sdsl-lite has been added to homebrew-science since some time now. Closing here.

[2017-04-09 11:07] #3039 closed

[2017-04-09 21:56] heuermh commented on #5379
Thank you, @sjackman @lordqwerty for the explanation.

I'm at the mercy of `sjackman/linuxbrew`, so I'll pick up the fix when it makes its way there.

[2017-04-10 05:15] sjackman commented on #5379
The Docker image `linuxbrew/linuxbrew` is the one to use. It already has this fix.

[2017-04-10 06:25] sadransh commented on #5379
@sjackman I am a little bit starter could you please tell me how to do that?
I didn't find exactly "The Docker image linuxbrew/linuxbrew"  and how to install it on my current linuxbrew

[2017-04-10 14:34] alanhoyle commented on #5379
@sjackman, there are a number of Dockerfiles over at https://github.com/heuermh/docker-linuxbrew-bio that seem to be dependent on your sjackman/linuxbrew.  I tried forking that repo and substituting "linuxbrew/linuxbrew" for "sjackman/linuxbrew" but I still get the same error there on the ones I tried (freebayes and snpeff, e.g).

Cloning into '/home/linuxbrew/.linuxbrew/Library/Taps/homebrew/home

[2017-04-10 15:00] heuermh commented on #5379
@alanhoyle @sjackman I have an issue at https://github.com/heuermh/docker-linuxbrew-bio/issues/6, perhaps we continue discussion there?

[2017-04-10 15:48] tobadia opened #5411 "r-gui El capitan bottle compiled using Sierra sources"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-04-10 17:07] sjackman commented on #5379
I've tagged `brew` 1.1.11`. A `brew update` should resolve this issue.

[2017-04-10 18:04] iMichka commented on #5411
Hi.

Could you try: `brew uninstall r-gui && brew install r-gui --build-from-source` ?

Just to see if this is really a mixup or a problem in the build process?

[2017-04-10 19:12] tobadia commented on #5411
Hi,

Will try out tomorrow when I'm on that laptop again. I did try to uninstall
and reinstall but did not force from sources on purpose (I did rm the
downloaded file from Cellar though). More to follow when I'm back at work.

Thanks for investigating anyway.

Le 10 avr. 2017 20:04, "Michka Popoff" <notifications@github.com> a écrit :

[2017-04-10 20:38] spatala commented on #5400
So does this mean that if I type "brew install dealii" it should work now?
I am getting the same error when I do this. Let me know if I am missing
something here.

Thanks,
Srikanth

On Sun, Apr 9, 2017 at 4:45 AM, ilovezfs <notifications@github.com> wrote:

--
Srikanth

[2017-04-11 08:37] tobadia commented on #5411
Checked today by building from source. Still the same error
`brew install r-gui --build-from-source
Updating Homebrew...
==> Auto-updated Homebrew!
Updated 4 taps (caskroom/cask, caskroom/versions, homebrew/core, homebrew/science).
==> Updated Formulae
cmake ✔                        gjs                            gtksourceview3                 jenkins                        proftpd

[2017-04-11 12:44] jhuh3226 opened #5419 "Error: undefined local variable or method `buildpath' for #<Class:0x007fe1ac83ed58>"
- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew --prefix)`?

### Bug reports / build error

[2017-04-11 15:20] spatala opened #5420 "brew install netcdf --with-fortran fails."
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-04-11 19:24] iMichka commented on #5411
The installation documentation says:

project is called "R.xcodeproj" and requires Xcode 3.2 or higher.

the XCode GUI.

  SnowLeopard64 (release, current OS X, default)
  Lion64 (release, OS X 10.7+, Xcode 4.5+)
  MLion64 (release, OS X 10.8+, Xcode 4.5+)
  Debug (with debugging output, current OS X)

of Xcode only support the current and immediately previous SDKs, so
for example in Mar 2013 the

[2017-04-11 19:25] iMichka commented on #5411
And as building from source is also broken, this shows that this is not a bottling problem.

[2017-04-11 20:56] iMichka commented on #5396
There is an openblas update. I opened a PR for that #5421.
Let's see if that helps

[2017-04-12 00:33] jonchang commented on #5411
As far as I can tell, the documentation is updated as there is no `SnowLeopard64` build target. Unfortunately I don't have an older machine to try to reproduce this bug on.

[2017-04-12 08:20] tobadia commented on #5411
Indeed, the doc seems to be outdated (file created 2013-03-18 and indicated "last updated" 2013-03-08 within the file... Although i'm not sure about these exact dates it's way out of date anyway)

I thought it could just be a mix-up in build calls but this doesn't make sense. I'll try and see with the CRAN team (including a reference to the issue raised here if that can be of any help).

Thanks ag

[2017-04-12 18:49] iMichka commented on #5396
I updated to 0.2.19 and added an upstream patch that fixes the compilation error.
This should fix this problem.

[2017-04-12 18:49] #5396 closed

[2017-04-12 18:51] iMichka commented on #5419
Hi. Thanks for reporting.

We do not really support `HEAD` builds. They are there to play around; but we are not actively fixing bugs as these are often moving targets. Please open a new issue if there is still a problem with the stable version.

[2017-04-12 18:51] #5419 closed

[2017-04-12 19:38] iMichka commented on #4830
Fixed by #5424 . Thanks to @CarlosRDomin for finding this out.

[2017-04-12 19:38] #4830 closed

[2017-04-12 19:41] iMichka commented on #2846
This issue is fairly outdated. There were multiple changes to the opencv3 formula since the initial report. I'm closing this issue, please open a new issue with updated information if you still encounter problems. Thanks.

[2017-04-12 19:41] #2846 closed

[2017-04-13 08:56] dominicrico opened #5429 "brew install dbus --devel fails on make"
### Indicate troubleshooting steps taken

- [✔] Ran `brew update` and retried your prior step?
- [✔] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [✔] Checked that a similar issue hasn't already been filed?
- [✔] Looked up the software bug tracker if reporting a build error?
- [✔ If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew -

[2017-04-13 09:17] ilovezfs commented on #5429
`dbus` is a homebrew/core formula, so this issue really should be re-opened over there, but as a workaround you can do this:
[code]

[2017-04-13 09:28] blebo opened #5430 "opencv3: Python 2.7 & 3.6 bindings build successfully but not available in homebrew'd python"
The following commands need to be executed after successful install of opencv3 with python 2.7/3.6 bindings, in order to access opencv3 from homebrew'd python.

Python 2:

    ln -s /usr/local/Cellar/opencv3/3.2.0/lib/python2.7/site-packages/cv2.so /usr/local/lib/python2.7/site-packages/cv2.so

Python 3:

    ln -s /usr/local/Cellar/opencv3/3.2.0/lib/python3.6/site-packages/cv2.cpython-36m-darwin.

[2017-04-13 09:32] blebo commented on #5430
Successful build gist if interested: https://gist.github.com/blebo/ed25bb7a0e97b32bd611bb8a697d7fa9

[2017-04-13 09:36] dominicrico commented on #5429
@ilovezfs worked like charm! Thanks for your help! 👍

[2017-04-13 09:37] ilovezfs commented on #5429
you're welcome

[2017-04-13 09:38] dominicrico commented on #5429
@ilovezfs maybe you can also tell me why the dbus service is not creating  the dbus socket file in `/usr/local/var/run/dbus/system_bus_socket`

[2017-04-13 10:28] ilovezfs commented on #5429
@dominicrico it depends how you start it. That file is used if you start the daemon with `--system` not `--session`.

[2017-04-13 10:34] ilovezfs commented on #5429
@dominicrico how are you starting the daemon?

[2017-04-13 10:44] dominicrico commented on #5429
@ilovezfs I run brew servics start dbus. Can I pass there arguments?Sent from Nylas Mail, the best free email app for work

            On Apr. 13 2017, at 12:34 pm, ilovezfs <notifications@github.com> wrote:

              @dominicrico how are you starting the daemon?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-04-13 10:46] ilovezfs commented on #5429
You could, but I don't think that's what you actually want. I think you're just looking for
[code]
which will tell you where the socket is.

[2017-04-13 10:48] dominicrico commented on #5429
Perfect, thank you!Sent from Nylas Mail, the best free email app for work

            On Apr. 13 2017, at 12:46 pm, ilovezfs <notifications@github.com> wrote:

              You could, but I don't think that's what you actually want. I think you're just looking for
launchctl print system/homebrew.mxcl.dbus

which will tell you where the socket is.

—You are receiving this because you were mention

[2017-04-13 10:48] ilovezfs commented on #5429
You're welcome.

[2017-04-13 16:54] tdsmith commented on #5430
I think this is stated in the post-build caveats; let us know if that wasn't the case.

[2017-04-13 16:54] #5430 closed

[2017-04-14 14:55] iMichka commented on #5429
As this seems to work for you now, I'm closing this now.

[2017-04-14 14:55] #5429 closed

[2017-04-15 05:11] blebo commented on #5430
OK I missed that. It only shows the following for python2.7:

    echo /usr/local/opt/opencv3/lib/python2.7/site-packages >> /usr/local/lib/python2.7/site-packages/opencv3.pth

Its probably worth adding another line for python3.6:

    echo /usr/local/opt/opencv3/lib/python3.6/site-packages >> /usr/local/lib/python3.6/site-packages/opencv3.pth

[2017-04-16 08:12] jhuh3226 opened #5433 "opencv3 build error"
- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew --prefix)`?

### Bug reports / build error

[2017-04-16 09:36] iMichka commented on #5433
Follow up from #5419.

Does `brew gist-logs opencv3` really return `-bash: syntax error near unexpected token newline`?

And does this fail while building or when you call `brew info opencv3` like explained in your description?

[2017-04-16 09:38] iMichka commented on #5433
Related to https://github.com/Homebrew/brew/issues/2500

[2017-04-16 10:30] jhuh3226 commented on #5433
@iMichka
I just updated return for the` brew gist-logs opencv3`.
and yes it also fails when `brew info opencv3`was commended returning `Error: undefined local variable or method `buildpath' for #<Class:0x007fbd5a1008c8>`.

[2017-04-16 15:37] hsiaoyi0504 opened #5434 "brew install netcdf wild"
It is related to sneumann/mzR#85
libnetcdf.11.dylib can't be loaded. If I use `brew install netcdf` to install `netcdf`
`ls /usr/local/opt/netcdf/lib/` shows that there is libnetcdf.11.dylib.
However, it can't be loaded through  `@rpath/libnetcdf.11.dylib`

My `brew doctor` result:
[code]

I had already ran `brew update` several times.

### Bug reports / build errors:
When I installed `mzR`
The in

[2017-04-16 15:56] tdsmith commented on #5430
Hmm, yep! That was bug https://github.com/Homebrew/brew/issues/249; I'm finally working on a solution in https://github.com/Homebrew/brew/pull/2499.

[2017-04-17 04:44] woodruffw commented on #5434
Building `netcdf` from source fixed the `LC_ID_DYLIB` for me, which suggests that this is a leftover regression from https://github.com/Homebrew/brew/pull/2036.

We'll fix it by rebuilding the bottles, but in the mean time you should be able to fix your problem locally by running:

[code]

Thanks for reporting this!

[2017-04-17 04:50] woodruffw commented on #5434
Actually, even that shouldn't be necessary. You should be able to just uninstall and reinstall from the bottle, since our relocation code will correctly replace `@rpath` with the prefix. The problem stems from `netcdf` just being installed after the aforementioned PR.

[2017-04-17 06:25] hsiaoyi0504 commented on #5434
`brew reinstall netcdf` didn't work for me. I will try
[code]

[2017-04-17 06:41] hsiaoyi0504 commented on #5434
It still doesn't work.....

[2017-04-17 07:09] ilovezfs commented on #5434
It won't because you're on the stable tag not master. You'll need to wait for the next tag (my recommendation) or switch to master (not my recommendation).

[2017-04-17 08:43] ilovezfs commented on #5434
@hsiaoyi0504 OK 1.1.13 has been tagged. https://github.com/Homebrew/brew/releases/tag/1.1.13

If you `brew update` and try again, I think it will be fixed.

[2017-04-17 13:21] hsiaoyi0504 commented on #5434
It works, really thanks a lot !!

[2017-04-17 13:21] #5434 closed

[2017-04-17 13:30] ilovezfs commented on #5434
You're welcome!

[2017-04-17 16:56] iAdramelk opened #5438 "libgif update broke vips bottles"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-04-17 17:56] iMichka commented on #3852
@enriquefernandez Nobody really worked on this since July 2016. As long as we don't have both log files requested by @dpo, we will not be able to make progress on this.

[2017-04-17 18:01] iMichka commented on #2596
Blasr is sort of dead, see #4254. Maybe we should remove it completely but for the moment the formula can stay as-is until somebody wants to work on this. Closing here.

[2017-04-17 18:01] #2596 closed

[2017-04-17 18:03] iMichka commented on #2123
Ping @tseemann . We deliver version 4.3.0a now. As @tdsmith these may be expected errors. Closing here, please open a new issue if there are still problems with 4.3.0a.

[2017-04-17 18:03] #2123 closed

[2017-04-17 18:10] iMichka commented on #2267
@gawbul Could you try again? We are delivering a new version of maker since them and this may have been fixed. Thanks.

[2017-04-17 21:48] jonchang commented on #5438
Please run `brew update` and see if that fixes the issue. We just pushed a new version of `vips` which should have the proper links to `giflib`.

[2017-04-17 21:48] #5438 closed

[2017-04-17 22:07] cmdcolin commented on #5195
Is blast in general having problems on linuxbrew?

Sorry if this is not related to issue at hand but is the current blast formula currently not accepting gcc 5? I'm trying with linuxbrew with ubuntu 16.04 gcc 5.4

[code]

[2017-04-18 00:05] bhelenbr commented on #5420
I believe this will be fixed once this pull request is merged:  https://github.com/Homebrew/homebrew-core/pull/12198.  I'm not sure when that happens though.

[2017-04-18 01:06] bhelenbr commented on #5420
If you "brew install --HEAD cmake", this problem also goes away.

[2017-04-18 01:21] momo12321 opened #5440 "Symbol not found while using Cufflinks"
I am trying to run cufflinks , all the other programs that requrie boost like Tophat and such are working perfectly. However whenever I execute Cufflinks, I get this error :
dyld: Symbol not found: __ZN5boost11this_thread5hiden11sleep_untilERK8timespec
  Referenced from: /usr/local/bin/cufflinks
  Expected in: /usr/local/opt/boost/lib/libboost_thread-mt.dylib
Trace/BPT trap: 5
I always end up with

[2017-04-18 02:15] pammacdotnet opened #5441 "Openni2 not found with OPENNI2_INCLUDE"
OpenNi2 is not found if ENV.append "OPENNI2_INCLUDE" is used.

ENV.append "OPENNI2_INCLUDE_DIRS" seems to work ok.

[2017-04-18 06:31] gawbul commented on #2267
@iMichka sure, will have a look when I have some free time :smile:

[2017-04-19 00:13] alexstaj opened #5446 "biopieces won't install"
little help please.

tried to install biopieces but ruby needed a gem.  installed the gem using sudo (required to install it) but its not being detected (even after restarting).

mbp:~ Staj$ brew install biopieces
Updating Homebrew...
==> Auto-updated Homebrew!
Updated 1 tap (caskroom/cask).

==> Installing biopieces from homebrew/science
biopieces: Unsatisfied dependency: inline
Homebrew does not

[2017-04-19 08:17] tobadia commented on #5411
Some updates regarding this issue. If I'm reading what the R-SIG-MAC mailing list says, it's still something fishy on Homebrew's side: https://stat.ethz.ch/pipermail/r-sig-mac/2017-April/012302.html

However this still does not explain why building from source would fail on my machine...

[2017-04-19 10:20] jonchang commented on #5446
What does `ruby -e 'require "inline"'` say?

[2017-04-19 10:31] jonchang commented on #5441
Hi @pammacdotnet, thanks for your report. Could you please fill out the [issue template](https://github.com/Homebrew/homebrew-science/blob/master/.github/ISSUE_TEMPLATE.md)? I don't actually know what formula this is for as there are several it could apply to. Feel free to open a new issue with the template filled out.

[2017-04-19 10:31] #5441 closed

[2017-04-19 10:42] jonchang commented on #5440
Hi @momo12321, thanks for your report. Could you please fill out the [issue template](https://github.com/Homebrew/homebrew-science/blob/master/.github/ISSUE_TEMPLATE.md)? In particular, knowing if you're installing from source or a bottle will be helpful to diagnose your issue. Feel free to reopen a new issue with the issue template filled out.

[2017-04-19 10:43] #5440 closed

[2017-04-19 12:59] tobadia commented on #5411
Fix found and applied, as suggested on the R-SIG-Mac mailing list. By building from source myself (from the .tar.gz archive) I had to add `MACOSX_DEPLOYMENT_TARGET=10.11` to the xcodebuild call.

So depending on the SDK available o the machine builds are compiled on, these flags should be set. I have no clue where the bottled versions are generated and if there's a better way to suggest an edit of

[2017-04-19 18:28] ACharbonneau opened #5448 "STACKS 1.46"
I'm trying up update the formula for STACKS to the most current version, but I keep getting a `fatal error: 'tr1/functional' file not found`

It looks like this issue was address in the previous formula update https://github.com/Homebrew/homebrew-science/pull/2265 so I'm not sure why it's back or what to do now.

I have homebrew completely updated, including the gcc compiler, and am running OSX Si

[2017-04-19 21:01] alexstaj commented on #5446
mbp:~ Staj$ ruby -e 'require "inline"'
/Library/Ruby/Gems/2.0.0/gems/inline-0.1.0/lib/inline/history_buffer.rb:96: warning: else without rescue is useless
/Library/Ruby/Gems/2.0.0/gems/inline-0.1.0/lib/inline/history_buffer.rb:108: warning: else without rescue is useless
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/rubygems/core_ext/kernel_require.rb:55:in `require': /

[2017-04-19 21:41] jonchang commented on #5446
Seems like there's an issue with the `inline` gem, not sure if we're able to fix this as it looks like it hasn't been updated since 2008.

[2017-04-19 21:47] jonchang commented on #5448
It's probably easier to look at the code. Do you mind opening a pull request so we can see your changes and how our build machines handle it?

[2017-04-19 21:55] alexstaj commented on #5446
sudo gem install RubyInline worked to allow me to install it.  havent tried to use it yet though.

[2017-04-19 22:26] ACharbonneau commented on #5448
Of course! I just wasn't sure whether I was supposed to pull request obviously broken code. It's PR https://github.com/Homebrew/homebrew-science/pull/5450

[2017-04-19 22:57] sjackman commented on #5448
TravisCI
``
g++-5: error: ./htslib/libhts.a: No such file or directory
[code]
or
[code]
may resolve it.

[2017-04-19 22:59] sjackman commented on #5448
CircleCI
[code]
Add…
[code]

[2017-04-19 22:59] sjackman commented on #5448
Superseded by #5450

[2017-04-19 22:59] #5448 closed

[2017-04-19 23:26] #5446 closed

[2017-04-19 23:49] spatala commented on #5420
I uninstalled cmake and then reinstalled it `brew install --HEAD cmake` and then ran `brew install netcdf --with-fortran`. **I am still getting the same error.**
Any idea why this would be the case? Thank you.

[2017-04-20 02:14] bhelenbr commented on #5420
My homebrew seems to be more up to date than yours:

HOMEBREW_VERSION: 1.1.13-14-g417f49dd
ORIGIN: https://github.com/Homebrew/brew
HEAD: 417f49dd32bfe555b20f3f7d88e2739f6623991b
Last commit: 2 days ago
Core tap ORIGIN: https://github.com/Homebrew/homebrew-core
Core tap HEAD: e2bf7ff3fccd4ebf7f0b3bb18d5b1577052982d7
Core tap last commit: 2 weeks ago
HOMEBREW_PREFIX: /usr/local
HOMEBREW_REPOSITORY:

[2017-04-20 05:47] jonchang commented on #5411
@tobadia thanks for looking into this! Would you mind opening a pull request for this change? Getting the current macOS version can be done with `MacOS.version.to_s`.

[2017-04-20 06:30] tobadia commented on #5411
Will do later today, in 2-3 h probably. I'll test on a Sierra machine if I can, as well, just to check if I'm not breaking anything.

[2017-04-20 06:56] tnayuki opened #5452 "CI on sierra failed because Xcode is outdated"
My PR's CI failed because Xcode is outdated.

https://bot.brew.sh/job/Homebrew%20Science%20Pull%20Requests/7810/version=sierra/testReport/junit/brew-test-bot/sierra/doctor/

[2017-04-20 09:38] tobadia commented on #5411
Done! The compiled binaries should still be modified (probably by adding the same flag for future builds) to prevent the same thing from occuring when `--build-from-source` is not requested. Not sure where this should be edited as I don't know where the bottling pipeline takes place, though.

[2017-04-20 10:21] ilovezfs commented on #5452
Thanks for the report. The CI nodes will be updated eventually.

[2017-04-20 10:21] #5452 closed

[2017-04-20 10:25] ilovezfs opened #5455 "formulae using deprecated names"
- [x] gnudatalanguage.rb:22:  depends_on "homebrew/versions/hdf4" => :optional (#5479)
- [x] matplotlib.rb:72:  depends_on "homebrew/dupes/tcl-tk" => :optional (#5480)
- [x] oce.rb:26:    depends_on "homebrew/dupes/tcl-tk"  (#5478)
- [x] opencascade.rb:30:    depends_on "homebrew/dupes/tcl-tk" (#5481)
- [x] pocl.rb:16:    depends_on "homebrew/versions/llvm34" (#5482)
- [ ] pymol.rb:17:  depends_on

[2017-04-20 22:29] vszakats opened #5458 "Improving URLs"
Attaching a large patch that aims to improve URLs by using HTTPS (and/or following redirects, upgrading URLs to superior alternatives.)

I decided to post this here as-is, as there are too many (strict) audit issues (and even some broken links) for a PR to handle/resolve fully. I believe that accepting this as-is would be an improvement in itself, especially as a first step, but I understand that

[2017-04-21 00:52] jonchang commented on #5458
Thanks for doing this @vszakats. Do you mind pushing this to your own repo and posting the link to the branch here? You don't have to open a pull request (it's probably better if you didn't as it would take forever for the build machines to churn through it) but it would be easier for us maintainers to review it using the github interface.

[2017-04-21 09:51] vszakats commented on #5458
@jonchang Good idea! I've rebased it to latest master and pushed it to this branch:
https://github.com/vszakats/homebrew-science/tree/urlu

[2017-04-21 15:03] kkdd opened #5463 "opencv3: --with-python3 doesn't work"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-04-21 20:03] jonchang commented on #5463
What does `brew install opencv3 --with-python3 --without-python` return?

[2017-04-21 20:47] momo12321 opened #5466 "Symbol not found while using Cufflinks"
### Indicate troubleshooting steps taken
- [ yes] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ yes] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew --prefix)`?

### Bug reports / build errors:
dyl

[2017-04-21 20:50] ilovezfs commented on #5466
[code]

[2017-04-21 20:52] ilovezfs commented on #5466
what's the output?

[2017-04-21 21:13] momo12321 commented on #5466
../Cellar/boost/1.63.0

[2017-04-21 21:14] ilovezfs commented on #5466
[code]

[2017-04-21 21:15] momo12321 commented on #5466
I tried this, nothing changed

[2017-04-21 21:16] ilovezfs commented on #5466
The current version of boost is 1.64.0 so that should not be 1.63.0 if you already ran brew update and brew upgrade.

[2017-04-21 21:24] momo12321 commented on #5466
I just upgraded , still no difference

[2017-04-21 21:25] ilovezfs commented on #5466
OK, now try
[code]

[2017-04-21 21:27] momo12321 commented on #5466
Error: Cannot install homebrew/science/samtools-0.1 because conflicting formulae are installed.

  samtools

Please `brew unlink samtools` before continuing.

Unlinking removes a formula's symlinks from /usr/local. You can
link the formula again after the install finishes. You can --force this
install, but the build may fail or cause obscure side-effects in the
resulting software.

[2017-04-21 21:29] ilovezfs commented on #5466
brew unlink samtools
brew reinstall -s cufflinks
brew unlink samtools-0.1
brew link samtools

[2017-04-21 21:32] momo12321 commented on #5466
i got this error while trying to reinstall cufflinks:Last 15 lines from /Users/mohamad/Library/Logs/Homebrew/cufflinks/02.make:
            ar & serialization::make_array(data_, s);
[code]

[2017-04-21 21:39] ilovezfs commented on #5466
OK, that's this https://svn.boost.org/trac/boost/ticket/12978.

[code]

[2017-04-21 21:48] momo12321 commented on #5466
I did what you said exactly , unlink samtools-0.1 , linked smalls , updated brew , and tried cufflinks and IT WORKED
I can't thank you enough! You're amazing.

[2017-04-21 21:48] ilovezfs commented on #5466
You're welcome :)

[2017-04-22 02:53] jonchang opened #5470 "audit: ensure default dependencies don't use options"
Reference: https://github.com/Homebrew/brew/pull/2482

`brew audit` rejects formulae with any dependencies that require options, including optional dependencies. Looking at `brew uses --recursive <formula>`:

* `hdf5` is used by 4 formula `--with-mpi` (optional/recommended) out of a total of 56
* netcdf is used by 6 formulae `--with-fortran` (4/6 recommended) out of a total of 24
* fftw is used by

[2017-04-22 08:09] Neabfi opened #5472 "OpenCV3 brew --with-python3"
I'm trying to install OpenCV for Python 3.

```brew install opencv3 --with-contrib --with-python3 --HEAD```

But this creates

```/usr/local/opt/opencv3/lib/python2.7/```

but not

```/usr/local/opt/opencv3/lib/python3.5/```

So I can't import OpenCV in Python 3

    Python 3.5.1 (v3.5.1:37a07cee5969, Dec  5 2015, 21:12:44)
    [GCC 4.2.1 (Apple Inc. build 5666) (dot 3)] on darwin
    Type "help",

[2017-04-22 09:40] iMichka commented on #5472
Hi

- We do not support `--HEAD` builds completely. Using this means you know what you are doing.
- Next time, please fill out the issue template.

This is a duplicate of #5463

[2017-04-22 09:40] #5472 closed

[2017-04-22 11:44] Neabfi commented on #5463
I have the same problem it creates
```/usr/local/opt/opencv3/lib/python2.7/````
but not
 ``` /usr/local/opt/opencv3/lib/python3.5/ ```

[2017-04-22 14:20] ilovezfs commented on #5455
@iMichka btw I think as part of this therion's bottling can be turned back on.

[2017-04-22 15:26] ilovezfs commented on #5470
@jonchang you can use `brew audit --only=lines`

[2017-04-22 15:28] ilovezfs commented on #5470
[code]

[2017-04-22 16:18] iMichka commented on #5420
This has been fixed by https://github.com/Homebrew/homebrew-core/pull/12198
If this is not the case, please open a new issue and fill out the full issue template. Thanks.

[2017-04-22 18:31] ReneMalenfant opened #5485 "R 3.4.0 doesn't compile (--with-openblas --with-x11)"
Typing:
`> brew upgrade r`

Gives the following output:
[code]

[2017-04-22 20:01] smartinsightsfromdata opened #5486 "upgrade request - rstudio-server.rb"
I'm a user of the excellent formula for rstudio-server.

Currently it installs rstudio-server 1.0.44

Rstudio-server current release is v1.0.143

It would be nice if it would be upgraded.  I tried to edit the formula myself but failed!

[2017-04-22 20:26] randy3k commented on #5486
I have created #5442  a few days ago targeting for rstudio-server v1.0.136. As v1.0.143 is just out, I will just update it to  v1.0.143

[2017-04-22 20:44] randy3k commented on #5485
There is a bug of the homebrew core, try `brew install --env=std r`.

[2017-04-22 20:57] #5485 closed

[2017-04-22 21:47] iskandarshabaev commented on #5463
I have the same problem.
brew install opencv3 --with-python3 does not create /usr/local/opt/opencv3/lib/python3.5/
brew install opencv3 --with-python3 --without-python does not create /usr/local/opt/opencv3/lib/python2.7/

[2017-04-22 21:55] iMichka commented on #5463
What is sure is that you will not be able to have both python2 and python3 installations, because opencv3 does not support this from a single build.

[2017-04-22 22:00] randy3k commented on #5486
I noted that R has updated to 3.4 and unfortunately rstudio-server v1.0.xxx doesn't build against R 3.4 since the R API has changed. We will need to upgrade it to the preview version v1.1.xxx.

[2017-04-22 23:35] jonchang commented on #5463
@iMichka does it make sense to make `--with-python` and `--with-python3` mutually exclusive and update the options documentation to reflect that?

[2017-04-23 09:13] iMichka commented on #5463
@jonchang I opened a PR for that, see #5488
Using the same strategy as for VTK.

So the only valid combinations will be:

[2017-04-23 09:16] iMichka commented on #5463
And the initial problem reported here is different.
See that tutorial: http://www.pyimagesearch.com/2016/12/19/install-opencv-3-on-macos-with-homebrew-the-easy-way/

This seem to be a common problem. Either this is on purpose and the opencv 3 documentation should tell this (and users needs to be aware of this); or we should rename the `.so` file.

[2017-04-24 00:43] rajeeja opened #5493 "DRAWEXE OCE linking issue"
The following error shows up after launching DRAWEXE

==> DRAWEXE
can't read "::env(CASROOT)": no such variable
Draw[1]> Draw[2]> exit

Another library that I link with OCE gives the following error:

[ 84%] Linking CXX executable brick_facet
**ld: library not found for -lDRAWEXE**
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make[2]: *** [test/brick_facet] Error

[2017-04-24 13:22] Neabfi commented on #5463
So in the tutoriel it should be ```brew install opencv3 --without-python --with-contrib --with-python3 --HEAD``` instead of ```brew install opencv3 --with-contrib --with-python3 --HEAD```for python3 ?

[2017-04-24 15:17] spatala commented on #5420
@bhelenbr
You are right, your homebrew version seems to be more up to date than mine. The output of `brew config` on my computer is shown below.

I tried `brew update` and `brew upgrade`. Doesn't seem to update the version for some reason. Any tips?

HOMEBREW_VERSION: 1.1.13
ORIGIN: https://github.com/Homebrew/brew.git
HEAD: 46f6dc4c93b96abd528c3a0a808a5ca5a795c7f3
Last commit: 8 days ago
Core tap

[2017-04-24 15:32] bhelenbr commented on #5420
Try deleting and starting over?  I’m not very sure why that is the case.

[2017-04-24 22:34] iMichka commented on #5420
It's not really about the core homebrew library, but about cmake. What does `brew info cmake` say?

[2017-04-25 13:20] maryamalq opened #5496 "how to try a lammps example in mac os x using homebrew in a single processor?"
I installed lammps using homebrew just as the steps noted on the website. I reached the point where to test lammps by typing ( brew test lammps -v ) and it did work with no error. I want to try examples to understand the program better. My attempt to do so is the following:
I want to lammps/example directory through : `cd /usr/local/share/lammps/examples`
and then listed some examples: `ls`
I choo

[2017-04-25 15:25] mohammedsaleh21 opened #5497 "Error building opencv --with-java"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-04-25 16:56] spatala commented on #5420
@iMichka
The output of `brew info cmake` is as follows:

cmake: stable 3.8.0 (bottled), HEAD
Cross-platform make
https://www.cmake.org/
/usr/local/Cellar/cmake/HEAD-3cb7048 (2,291 files, 29.5MB) *
  Built from source on 2017-04-24 at 14:14:48
From: https://github.com/Homebrew/homebrew-core/blob/master/Formula/cmake.rb
==> Dependencies
Build: sphinx-doc ✔
==> Options
--with-completion
	Install Bash

[2017-04-25 18:07] iMichka commented on #5497
Please open a new issue and fill out the full issue template. There is even no error message in your issue ...

[2017-04-25 18:07] #5497 closed

[2017-04-25 18:08] mohammedsaleh21 commented on #5497
the error message I'm getting is "No such file or directory - /private/tmp/opencv3-20170425-7114-k4n6pn/3rdparty/ippicv/downloader.cmake"

[2017-04-25 18:09] mohammedsaleh21 opened #5498 "Error building opencv --with-java"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-04-25 18:10] iMichka commented on #5496
Next time, please fill out the full issue template.

I think this is not related to homebrew. There is a FAQ entry in mpi for your error
https://www.open-mpi.org/faq/?category=osx#startup-errors-with-open-mpi-2.0.x

[2017-04-25 18:10] #5496 closed

[2017-04-25 18:11] iMichka commented on #5498
Please fill out the FULL issue template. We won't be able to help you without this ...

[2017-04-25 18:13] mohammedsaleh21 commented on #5498
I did

[2017-04-25 18:18] iMichka commented on #5498
Right, I wrote this and you were not done writing, sorry :)

We do not support `--HEAD` builds. These are reserved for people knowing what they are doing, but we can not help debug this directly. Could you try without `--HEAD`? And could you try with/without `contrib` and/or `java`, to see which one of the flags makes this fail?

[2017-04-25 18:19] iMichka commented on #5493
Please fill out the full issue template. I have even no clue about which formula we are talking about here.

[2017-04-25 18:19] #5493 closed

[2017-04-25 18:21] iMichka commented on #5486
PR was merged, version 1.0.143 is available. Closing here.

[2017-04-25 18:21] #5486 closed

[2017-04-25 18:46] rajeeja commented on #5493
Will do. THanks. It says on the title: OCE

[2017-04-25 18:54] iMichka commented on #5493
I was focused on DRAWEXE and missed the oce. We are getting a lot of issue reports for different packages, so filling out the issues clearly helps a lot.

[2017-04-25 18:58] rajeeja opened #5499 "OCE Package Issues"
### Indicate troubleshooting steps taken

- [ ] Ran `brew update` and retried your prior step?
yes
- [ ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
yes
- [ ] Checked that a similar issue hasn't already been filed?
yes
- [ ] Looked up the software bug tracker if reporting a build error?
yes
- [ ] If you're seeing permission errors tried running `sudo chown -R $

[2017-04-25 19:39] iMichka commented on #5269
I opened a PR for the new version. I added a workaround for the missing mscg.h file, by not building that plugin/extension. See #5500

[2017-04-25 21:27] jonchang commented on #5499
How are you setting `CASROOT`? The test was passing as of Apr 22 and ran this command:

[code]

Setting `DYLD_LIBRARY_PATH` is really not recommended and is a sign that there's something wrong with your installation.

There's no library named `libDRAWEXE.dylib` in the installation. I looked at the `CMakeLists.txt` of `oce` and it doesn't seem like this is supposed to get built. I believe `DRAWEXE`

[2017-04-25 21:51] rajeeja commented on #5499
**Brew installed OCE**
==> ls /usr/local/Cellar/oce/0.18_2/lib/libTKDraw*
ls: /usr/local/Cellar/oce/0.18_2/lib/libTKDraw*: No such file or directory

**My own OCE using CMake**
~/install/oce/lib
==> ls libTKDraw.
libTKDraw.11.0.0.dylib  libTKDraw.11.dylib      libTKDraw.dylib

**Now CASROOT -**
~/install/oce/lib
==> CASROOT=/usr/local/Cellar/oce/0.18_2/share/oce-0.18 DRAWEXE -v -c "pload ALL"
1
~/

[2017-04-25 21:55] rajeeja commented on #5499
Ah I see there is folder in lib -
/usr/local/Cellar/oce/0.18_2/lib/oce-0.18
==> ls libTKDraw.
libTKDraw.11.0.0.dylib  libTKDraw.11.dylib      libTKDraw.dylib

**Why another folder one-0.18?**

[2017-04-26 03:37] akirasosa commented on #5463
I tried ```brew install opencv3 --without-python --with-python3```. It looks like same as ```brew install opencv3 --without-python```.

Nothing was created for python.
[code]
Here is my environment.
[code]

[2017-04-26 06:34] iMichka commented on #5463
What does this output?:

If `cv2.cpython-36m-darwin.so` was built, it means it worked. Read my comment and the tutorial.

[2017-04-26 07:30] akirasosa commented on #5463
@iMichka
Thanks! But I don't have a ```python3.6``` directory as written in my previous comment.
[code]

[2017-04-26 13:16] adityapatadia commented on #5463
This is the commit which is creating all the problems. https://github.com/Homebrew/homebrew-science/commit/435b6e5c471fd4061af376e88737b8895e7affa0

I removed those lines added in the commit and it's working perfectly fine.

[2017-04-26 15:43] iMichka commented on #5463
Note sure. What problems are we talking abou?. There seem to be quite a mixup of different problems in this issue. And my change was made 2 days after the initial report, so it is not responsible for the initial problem (which is that the .so file needs to be renamed as cv2.so). I am currently working on a patch for this.

@adityapatadia @akirasosa You seem to have a different problem, which is th

[2017-04-26 20:46] iMichka commented on #5463
Two fixes will be needed to make this work:
Giving the cv2.so file the right name: #5503
Adding the missing caveats line: https://github.com/Homebrew/brew/pull/2499

[2017-04-26 21:02] iMichka commented on #5463
@kkdd Can you please test?

[code]

Once you are done you can use `brew update-reset` to reset homebrew to the "normal" state.

[2017-04-27 06:23] iMichka commented on #5463
In fact the .so file renaming is not needed.
All you can do is:

[code]

[2017-04-27 07:32] smartinsightsfromdata opened #5504 "rstudio-server 1.0.143 keeps crashing on R 3.4"
I have installed the updated formula for `rstudio-server`, which installs ` 1.0.143`.

`Rstudio-server` keeps crashing with the following message:
[code]
This is the sequence of events I experience:

1. I disconnect and reconnect (to get a clean slate?)
2. I enter into a `project`
3. I get a message saying that the previous session crashed and I could have lost space.
4. I get the following error

[2017-04-27 08:08] mesalas opened #5505 "Pymol crashes on startup"
#### Brief summary of issue:
Pymol crashes on stratup main window visible for lesses than a sec
terminal output:

`$pymol`:

    PyMOL(TM) Molecular Graphics System, Version 1.8.4.0.
    Copyright (c) Schrodinger, LLC.
    All Rights Reserved.

    Created by Warren L. DeLano, Ph.D.

    PyMOL is user-supported open-source software.  Although some versions
    are freely available, PyMOL is not in

[2017-04-27 13:01] randy3k commented on #5504
It is usually resulted by a previously crashed R session. Try starting a new session instead.

PS: I assume that you are using macOS?

[2017-04-27 15:55] smartinsightsfromdata commented on #5504
@randy3k  I'm on `OSX 10.12.4` & `R 3.4`.

 I tried to start a new session few times, with no change to the above behaviour.

Also, I think the `ERROR session hadabend;` is irrelevant: I got the crash / `disconnect` message even without the  `ERROR session hadabend;` message.

It just seems to think that there is another version of `rstudio` installed (which is obviously not the case).  Can it be

[2017-04-27 16:08] randy3k commented on #5504
Possible related to this? https://support.rstudio.com/hc/en-us/community/posts/211227667-Rstudio-server-specific-project-disconnect

[2017-04-27 19:45] iAdramelk commented on #5438
Works good now, thanks!

[2017-04-27 19:55] iMichka commented on #5505
Thanks for reporting. I am working on a fix here: #5483

[2017-04-27 20:19] mesalas commented on #5505
Thanks for reply. Just for clarity, I did not fix the problem by installing tcl-tk nor have I found that that is the actual cause of the problem.

I'll be ready to test when you are done.

[2017-04-28 20:34] smartinsightsfromdata commented on #5504
@randy3k  Thanks for the suggestion, but then wouldn't I have the problem also with the desktop version?

I will give it a try in the weekend.  Thanks

[2017-04-28 20:39] randy3k commented on #5504
As far as I know, RStudio desktop doesn't reassume sessions except loading the workspace in a `.RData` file.

[2017-04-28 22:01] iMichka commented on #5499
I do not know why there is a `oce-0.18` subfolder, and I am not sure that it is directly due to homebrew.
Here is what is passed to cmake:

[code]

You may play around and try to find out if you can reproduce this with your local build too. Or look at the CMakeList.txt file of the project, which probably says were stuff should be installed.

[2017-04-28 23:09] sjackman commented on #3929
Superseded by https://github.com/Homebrew/homebrew-science/pull/5158

[2017-04-28 23:09] #3929 closed

[2017-04-29 05:24] RachitKansal opened #5513 "Unable to install brew install gcc --without-multilib"
ran brew gist-logs gcc, here:
https://gist.github.com/5781768991cc37fa6f1166b0ee7ead13
please help

[2017-04-29 10:37] RachitKansal commented on #5513
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make[3]: *** [lto1] Error 1
make[3]: *** Waiting for unfinished jobs....
rm gcc.pod
make[2]: *** [all-stage1-gcc] Error 2
make[1]: *** [stage1-bubble] Error 2
make: *** [bootstrap] Error 2

This is the error I get

[2017-04-29 10:37] RachitKansal commented on #5513
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make[3]: *** [lto1] Error 1
make[3]: *** Waiting for unfinished jobs....
rm gcc.pod
make[2]: *** [all-stage1-gcc] Error 2
make[1]: *** [stage1-bubble] Error 2
make: *** [bootstrap] Error 2

[2017-04-29 16:00] wjcapehart opened #5514 "Brew edition of NetCDF 4.4.1.1 not working with OPeNDAP"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [X] Looked up the software bug tracker if reporting a build error?
- [X] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-04-29 21:01] wweiss10 opened #5515 "lammps: Install issues"
### Indicate troubleshooting steps taken

- [ y] Ran `brew update` and retried your prior step?
- [ y] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [n ] Checked that a similar issue hasn't already been filed?
- [n don't know how ] Looked up the software bug tracker if reporting a build error?
- [n ] If you're seeing permission errors tried running `sudo chown

[2017-04-29 22:06] iMichka commented on #4392
That was fixed by deeb5e3a23ea5fa581175a52ceff47a3bfa586d0, by using `-undefined dynamic_lookup`. Closing here.

[2017-04-29 22:06] #4392 closed

[2017-04-29 22:16] iMichka commented on #5514
Hi. Thanks for reporting this.

Looking at your logs, everything installed fine. The netcdf test suite was run and all the tests passed. So this error is not covered by their tests.

This may be difficult to debug from our side. The error could be that we passed some wrong compilers flags during the build, which can always happen. It would be great to compare our build with a manual build done "ou

[2017-04-29 22:25] iMichka commented on #5513
Hi. Please always fill out the issue template.

This formula is in homebrew-core, please report that there. Thanks.

[2017-04-29 22:25] #5513 closed

[2017-04-29 22:30] iMichka commented on #5420
OK so the actual netcdf error is fixed for you. If you think your homebrew does not update correctly, please report this there: https://github.com/Homebrew/brew. Thanks.

Closing here.

[2017-04-29 22:30] #5420 closed

[2017-04-29 22:35] wjcapehart commented on #5514
Thanks Michael.  I also saw that it cleared the dap tests in the log which is perplexing since it clearly doesn't on the programming tests.   I WAS able to get a local build to compile a version that was able to use OPeNDAP outside of homebrew and the ncdump query to worked for it, but I am not sure how to make it manifest in brew itself with hacking the netcdf.rb file and pointing to libraries an

[2017-04-29 22:51] iMichka commented on #5514
I tried: `ncdump http://test.opendap.org/opendap/data/nc/3fnoc.nc` on my MacOS 10.12.4, and it seems to work for me (at least it has been outputting numbers since 5 minutes, so I guess it correctly works). I stopped it meanwhile (do I need to wait until the end to test it completely?

You may test: `brew uninstall netcdf && brew install netcdf -s', which will rebuild netcdf from source. Maybe ther

[2017-04-29 23:20] iMichka commented on #4388
Closing this issue due to inactivity. `r` has bottles, so this can be installed, at least if you use the `/home/linuxbrew/.linuxbrew` path as install location for Linuxbrew.

Please open a new issue with an updated status and log files if you have still trouble installing `r` on Linux. Thanks.

[2017-04-29 23:20] #4388 closed

[2017-04-30 08:17] iMichka commented on #2934
Kissplice 2.4.1-p1 is out, and has now bottles, see #5516

Closing here. Please open a new issue if you still have trouble with this. Thanks.

[2017-04-30 08:17] #2934 closed

[2017-04-30 08:20] iMichka commented on #2795
Hi. This issue is pretty old and probably outdated. R has been updated multiple times since the initial report. If you still have troubles  installing R, please open a new issue and fill out the issue template. Thanks.

[2017-04-30 08:20] #2795 closed

[2017-04-30 08:22] iMichka commented on #2933
Hi. We are providing sambamba v0.6.6 now, and it has even bottles. The upstream bug seems to have been fixed.

@karel-brinda If you have still troubles installing sambamba, please open a new issue. Thanks.

[2017-04-30 08:22] #2933 closed

[2017-04-30 08:25] iMichka commented on #3058
Closing here.

[2017-04-30 08:25] #3058 closed

[2017-04-30 08:26] iMichka commented on #2267
Hi. I'm closing this issue, so it does not stay indefinitely open. Please open a new one if you still have trouble with `maker`. Thanks.

[2017-04-30 08:26] #2267 closed

[2017-04-30 08:30] iMichka commented on #3536
We deliver a new version of netcdf (4.4.1.1) since end of 2016/ beginning 2017. This may have fixed your problem. Please open a new issue if you still have trouble with this. Thanks.

[2017-04-30 08:30] #3536 closed

[2017-04-30 08:32] iMichka commented on #3329
Fixed by #5424 (workaround), and fixed by  some other patches before that correctly set the different Python library paths. I'm closing this issue. Please open a new one if you still have trouble with this. Thanks.

[2017-04-30 08:32] #3329 closed

[2017-04-30 08:38] iMichka commented on #3302
Hi. There has been some opencv3 updates since the initial issue report. Most of the python3 problems have been solved.

It seems that the actual failure was due to the `--with-opengl`. If you still have trouble installing with that flag, please open a new issue (with a build log for opencv3 using only that flag, so that the log file is not cluttered with unnecessary information). Thanks.

[2017-04-30 08:38] #3302 closed

[2017-04-30 08:42] iMichka commented on #5411
The bottles were rebuilt on our jenkins buildbot. 3 bottles got build with different platform targets, as MacOS.version was different each time. This should be good now, even for installations which are not compiled from source. Closing issue.

[2017-04-30 08:42] #5411 closed

[2017-04-30 13:47] iMichka commented on #5269
New version has just been merged. Closing here. Please open a new issue if you still encounter trouble installing lammps (and provide updated changelogs). Thanks

[2017-04-30 13:47] #5269 closed

[2017-04-30 13:48] iMichka commented on #5515
A new lammps version has just been merged. Please `brew update && brew upgrade`, and test. Thanks.

[2017-04-30 13:49] iMichka commented on #5332
A new version was just merged. Please update and test again. Thanks.

[2017-04-30 13:54] iMichka commented on #4086
This issue has been without activity for more than 6 months now. This is clearly not something we are working on or plan to work on. It is not really clear what the homebrew team is supposed to do here.

We do not provide Pypar, so you should ask Pypar questions upstream: https://github.com/daleroberts/pypar

[2017-04-30 13:54] #4086 closed

[2017-04-30 15:56] wjcapehart commented on #5514
Michka:  The data that is streaming is the metatdata and data from the `3fnoc.nc' converted from th binary netCDF format to human-readable ASCII.    If you get that stream with the command in question it means that you have been able to reach the OPeNDAP server and crack and read the remote file in question.  (A control-C is fine at that point to end the data running across your terminal).  I've t

[2017-05-01 10:01] iMichka commented on #5514
I think your best bet is to ask the netcdf people if they could help you debug the segfault. You will probably need to use a debugger. Or maybe they will have an idea of what may not be working. I have no real experience in segfaults, but my intuition would be that there is a bug somewhere in netcdf. Especially if you rebuilt from source, so we can exclude some fancy architecture/processor problem

[2017-05-01 17:39] sjackman commented on #4388
Consider installing Linuxbrew in `/home/linuxbrew/.linuxbrew/` if possible so that you can use precompiled binary packages (known as bottles) for non-relocatable formula like `r`.

The precompiled binary bottles of non-relocatable bottles can only be used if you install in `/home/linuxbrew/.linuxbrew`, otherwise they have to be built from source. See the documentation below, but wherever it reads

[2017-05-02 01:54] #5213 closed

[2017-05-02 05:33] tseemann opened #5520 "hugo 0.20.6 - SHA256 mismatch"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-05-03 08:54] jonchang commented on #5520
See https://github.com/Homebrew/homebrew-core/pull/13186

[2017-05-03 08:54] #5520 closed

[2017-05-03 13:51] chuk966 commented on #5498
I had same trouble and removing --HEAD helps

[2017-05-03 20:26] iMichka commented on #5498
Thanks. Closing here. It may be good to report the issue upstream though, if we do not want to have this in the next release.

If there any new trouble installing opencv3, please open a new issue with a non head build. Thanks.

[2017-05-03 20:26] #5498 closed

[2017-05-04 10:37] geoHeil opened #5583 "graph-tool dependencies and headers missing during installation"
### Indicate troubleshooting steps taken

- [ x] Ran `brew update` and retried your prior step?
- [x ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x ] Checked that a similar issue hasn't already been filed?
- [x ] Looked up the software bug tracker if reporting a build error?
- [x ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(

[2017-05-04 13:21] fxcoudert opened #5584 "snid: cannot download resource"
[code]

Once this is fixed, the formula will need a revision bump due to GCC major version upgrade: https://github.com/Homebrew/homebrew-science/pull/5531

[2017-05-04 15:53] tangyiwu opened #5585 "dyld: Library not loaded when run octave"
[code]

[2017-05-04 16:12] wjcapehart commented on #5514
We've been working with this problem on the UNIDATA NetCDF mailing list.

We believe we have a working resolution.  The problem is in the ~/.dodsrc file.  Removing references to certificates removed the problem.

A previous issue was found here.

https://github.com/Homebrew/homebrew-science/pull/4847

[2017-05-04 17:44] academikuser commented on #5585
➜  elpa git:(develop) ✗ which R
/usr/local/bin/R
➜  elpa git:(develop) ✗ R -v
dyld: Library not loaded: /usr/local/opt/gcc/lib/gcc/6/libgfortran.3.dylib
  Referenced from: /usr/local/Cellar/r/3.4.0/R.framework/Versions/3.4/Resources/lib/libR.dylib
  Reason: image not found
[1]    44989 abort      R -v
➜  elpa git:(develop) ✗ brew install R
Warning: homebrew/science/r-3.4.0 already installed

[2017-05-04 17:51] academikuser commented on #5585
brew reinstall r --build-from-source

or

brew reinstall octave --build from-source

you did an upgrade from gcc 6 to gcc 7 and then --purged the old gcc to save disk space, so you no longer have the library in the right place.

[2017-05-04 19:29] hauntingEcho opened #5587 "r has dependency on gcc@6, but only lists gcc (which has updated to 7)"
### Indicate troubleshooting steps taken
`brew install gcc@6; ln -s /usr/local/opt/gcc@6/lib/gcc/6/ /usr/local/opt/gcc/lib/gcc/6` resolves the issue locally

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker

[2017-05-04 20:08] ellisvalentiner commented on #5587
@hauntingEcho try building R from source

[code]

[2017-05-04 22:25] kuanlinhuang commented on #5505
Exactly the same problem looking forward to the fix.

[2017-05-05 00:25] jonchang commented on #5587
Building R from source should not be necessary. We've updated to gcc 7.1 and are in the process of rebuilding bottles for affected formulae. Try `brew update && brew rm r && brew install r`

[2017-05-05 00:25] #5587 closed

[2017-05-05 00:46] jonchang commented on #5585
I've just updated `octave`, please try `brew update && brew rm octave && brew install octave`.

[2017-05-05 00:46] #5585 closed

[2017-05-05 04:04] itsayellow commented on #4972
Looks like now the octave bottle is referencing gcc 6, but now homebrew-core has updated gcc to 7:
`birchtree:~$ octave
dyld: Library not loaded: /usr/local/opt/gcc/lib/gcc/6/libgfortran.3.dylib
  Referenced from: /usr/local/opt/qrupdate/lib/libqrupdate.1.dylib
  Reason: image not found
octave exited with signal 6`

I can fix this by `brew install gcc@6` and then making a symlink from /usr/local/o

[2017-05-05 04:13] ilovezfs commented on #4972
The revisions for the new gcc will take some time to all go through.

[2017-05-05 04:13] #4972 closed

[2017-05-05 05:39] sunilshah commented on #5585
brew update && brew rm octave && brew install octave  does not work.

[2017-05-05 05:47] sunilshah commented on #4972
Before you close the issue, can you please list the commands a non-expert user of homebrew needs to issue in the workaround?

For example, to get back to gcc@6 and "creating symlink from /usr/local/opt/gcc/lib/gcc/6 to its lib/gcc/6" , what is the exact incantation for the un-initiated?

[2017-05-05 06:40] sunilshah commented on #4972
In my case, because gcc  6.3.0_1 was already installed (for the last working octave build)

works.

Does that sound right in general?

[2017-05-05 06:43] ilovezfs commented on #4972
No. You should not do any of these workarounds. You should simply install the lastest gcc, and brew install --build-from-source anything that has not already had its revision bump go through.

[2017-05-05 08:37] jonchang commented on #5585
@sunilshah can you please clarify what you mean by "does not work"? Please open a new issue filling out the issue template.

[2017-05-05 13:47] tangyiwu commented on #5585
@academikuser it does work, thank you

[2017-05-05 14:50] sunilshah commented on #5585
Hi Jonchang,

The commands completed without errors but octave had the same run time error

dyld: Library not loaded: /usr/local/opt/gcc/lib/gcc/6/libgfortran.3.dylib
  Referenced from: /usr/local/opt/qrupdate/lib/libqrupdate.1.dylib
  Reason: image not found
Abort trap: 6

What did work was symlink to gcc 6.3.0_1 library

[2017-05-05 14:52] ilovezfs commented on #5585
The qrupdate went in 4 hours ago: https://github.com/Homebrew/homebrew-science/pull/5540

So it should work now.

[2017-05-05 14:54] sunilshah commented on #4972
In my case, that did not work- it gave the same error of not finding the library.

See http://octave.1599824.n4.nabble.com/Octave-gcc-problem-Homebrew-Mac-td4683174.html

[2017-05-05 14:55] ilovezfs commented on #4972
Please file a new issue if it's still broken.

[2017-05-05 19:53] whao opened #5597 "Warning: Calling ENV.Og is deprecated when building the latest R."
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-05-05 21:40] jonchang commented on #5597
Thanks for filing this issue @whao. Do you mind opening a pull request that changes this line to add `-g -O0` (or whatever optimization level you need for valgrind) to cflags? Feel free to ping me or any other maintainer for help.

[2017-05-05 21:52] jonchang commented on #5583
Hmm, very odd, do you know if these are new dependencies? `brew deps --recursive graph-tool` doesn't list `expat` as a dependency. What does `configure` say if you try `brew install -s graph-tool --with-openmp` or `brew install -s graph-tool --with-python`?

[2017-05-05 22:18] iMichka commented on #5515
Closing. Please open a new issue if you still have trouble installing this. Thanks.

[2017-05-05 22:18] #5515 closed

[2017-05-05 22:18] iMichka commented on #5332
Closing. Please open a new issue if you still have trouble with this. Thanks.

[2017-05-05 22:18] #5332 closed

[2017-05-06 07:39] geoHeil commented on #5583
Here is the output:

[code]

[2017-05-06 22:20] iMichka commented on #5499
Closing here as this was just the wrong path used to link against the `libTKDraw.dylib` libraries.

[2017-05-06 22:20] #5499 closed

[2017-05-06 22:24] iMichka commented on #5514
Did they say what we should be doing to make this work for you?

The patch proposed in #4847 would be to build curl with openssl, but that seems not to be the correct solution.

[2017-05-06 22:27] iMichka commented on #4680
Closing here as there was no activity since a few months now. Please let us know if the proposed flag did nit help. Thanks.

[2017-05-06 22:27] #4680 closed

[2017-05-07 05:10] ilovezfs commented on #5455
Closing since the only one left is `pymol` for which there is now a PR: #5483

Thanks @iMichka

[2017-05-07 05:10] #5455 closed

[2017-05-07 05:14] ilovezfs commented on #4251
Closing since this is now a hard failure during CI for `brew style` so it should take care of itself over time.

[2017-05-07 05:14] #4251 closed

[2017-05-07 20:53] jcminerlanl opened #5606 "curl: (22) The requested URL returned error: 503 Error: Failed to download resource "gnuplot""
FAILURE to replace gnuplot with a modification to include --with-aquaterm
`brew update`
`brew tap homebrew/science`
`brew install gnuplot --with-aquaterm --with-qt4 --with-test`

### Indicate troubleshooting steps taken
`brew doctor` (out of date Xcode)
`brew prune`
Remove 3 symbolic links and 10 directories.

### Bug reports / build errors:
==> Using the sandbox
==> Downloading https://downloads.

[2017-05-07 21:45] jonchang commented on #5606
What does `brew fetch -s gnuplot` return?

[2017-05-08 03:14] jcminerlanl commented on #5606
https://downloads.sourceforge.net/project/gnuplot/gnuplot/5.0.6/gnuplot-5.0.6.tar.gz

This fails just the same as `brew install gnuplot --with-aquaterm --with-qt@5.7`

curl: (22) The requested URL returned error: 503
Error: Failed to download resource "gnuplot"
Download failed: https://downloads.sourceforge.net/project/gnuplot/gnuplot/5.0.6/gnuplot-5.0.6.tar.gz

[2017-05-08 17:49] sjackman commented on #5152
Hi, Andrew. The issue is that `glibc`'s `pthread_cancel` is not able to find the shared library `libgcc_s.so.1` which is provided by `gcc`. Here's a work around to put `libgcc_s.so.1` somewhere that `glibc` can find it.
[code]

[2017-05-08 18:02] sjackman commented on #5152
This error will be resolved by `https://github.com/Linuxbrew/homebrew-core/pull/2622` once it's merged.

[2017-05-08 19:33] fxcoudert opened #5611 "einspline doesn't build from source"
On macOS Sierra, error is:

[code]

Once this is fixed, a revision should be introduced for GCC 7: https://github.com/Homebrew/homebrew-science/pull/5570

[2017-05-08 20:49] sjackman commented on #2546
This issue is resolved by https://github.com/Linuxbrew/homebrew-core/pull/2622

[2017-05-08 20:50] sjackman commented on #5152
This issue is resolved by https://github.com/Linuxbrew/homebrew-core/pull/2622
BWA is also affected by this issue. Run…
[code]

[2017-05-08 20:50] #5152 closed

[2017-05-09 17:43] iMichka commented on #5514
Ok I saw the discussion here:
http://netcdf-group.1586084.n2.nabble.com/Using-NetCDF-with-OPeNDAP-on-MacOS-Sierra-homebrew-and-netCDF-dependant-software-td7576349i20.html

Seems it is fixed for you by removing the references to the certificates fixed it for you. Closing here.

[2017-05-09 17:43] #5514 closed

[2017-05-09 17:46] iMichka commented on #4843
For ref PR opened here: #4847

[2017-05-09 17:58] iMichka commented on #4843
Closing here, see #4847 for discussion and possible solutions.

[2017-05-09 17:58] #4843 closed

[2017-05-09 18:26] wjcapehart commented on #5514
That is correct.   We have a working solution... Thanks, Michka

[2017-05-09 20:35] vszakats commented on #5458
Closing this but keeping the above branch around. Feel free to use it.

[2017-05-09 20:35] #5458 closed

[2017-05-09 20:54] iMichka commented on #5458
I think the difficulty to merge this as-is or in batches are the build bots. All formulas will be rebuilt anyway, and I think we will prefer to let the bots re-run again to see if other audits didn't get broken. We can try to keep this around but I have the feeling that it will be more efficient to do this on a case by case when updating formula.

Sorry that we do not really scale for such a big p

[2017-05-09 21:01] vszakats commented on #5458
Yes, I understand this and it was the reason I skipped creating a Pull Request (in which case I'd have also split it for each for each formula separately). In my strict audit tests there were misc other problems, and even some broken links here and there, so it's definitely a larger scale job to fix everything.

In its current form it may be useful as a reference when updating a formula anyway, or

[2017-05-09 21:17] iMichka commented on #5514
Thanks. And sorry that we could not offer a different alternative, but we have limited ressources.

[2017-05-10 15:35] chrisgulvik opened #5622 "IGV sha256 mismatch"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew