[2016-08-25 12:42] maximilianh opened #4110 "bowtie creates output files filled with zeros"
### Indicate troubleshooting steps taken
- [X ] Ran `brew update` and retried your prior step?
- [X ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X ] Checked that a similar issue hasn't already been filed?
- [X ] Looked up the software bug tracker if reporting a build error?
- [X ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(b

[2016-08-25 14:57] jwhite007 commented on #4098
That is why I was confused. I built cairo without X support and then issued ```brew install r --with-cairo --without-x11``` which resulted in the current issue. This command seemed to proceed to install X-related dependencies as well.

I don't think that I made the gist-logs for ```brew install r --without-x11```. I would need to uninstall r and try again to get the logs.

I also believe that I tr

[2016-08-25 21:55] mdelmans commented on #4105
Ok, solved that. It seems like ncbi-c++-toolkit does't like boost library installed via brew. So running

`brew uninstall boost`

solved the issue.

[2016-08-25 21:55] #4105 closed

[2016-08-26 02:46] bobtodd opened #4141 "Any chance of including BEAST-2 in homebrew-science & updating the version?"
I've installed [`BEAST-2`](https://github.com/jonchang/homebrew-biology/blob/master/beast2.rb) via the [`homebrew-biology`](https://github.com/jonchang/homebrew-biology) cask that @jonchang set up.  But while attempting to install other add-ons (the BEAUTi add-ons menu is actually blank... any suggestions?), I noticed the formula installs version 2.1.1.  But the latest version [seems to be](http:/

[2016-08-26 12:59] jonchang commented on #4141
Hi @bobtodd, I've updated my BEAST 2 formula to v2.4.3. You can install the new version after running `brew update`.

BEAST 2 isn't part of homebrew-science mainly because no one has submitted a pull request for it. I haven't done it myself because I don't use it for my own work and therefore cannot justify the pain of shepherding it into homebrew-science.

[2016-08-26 13:03] ilovezfs commented on #4141
@jonchang why do you anticipate it would be painful? It appears to be the best case scenario: no dependencies, no reverse dependencies, and no options:
[code]

[2016-08-26 13:08] jonchang commented on #4141
@ilovezfs No offense to you or any of the other hardworking homebrew-science maintainers, but I have often experienced an incredible delay in getting PRs accepted. See #3628 that fixes build errors that date back to July of last year. It's really not a big deal for me since `brew pull xxx && brew install` is not super difficult, but I hope you can understand why I'm reticent about submitting patch

[2016-08-26 13:11] jonchang commented on #4141
@ilovezfs Also, just to clarify -- BEAST2 is a separate app from BEAST1 despite the name and version numbers. Any installs therefore need to support both apps on the same machine without conflicts.

[2016-08-26 13:13] ilovezfs commented on #4141
@jonchang yep, I more-than-understand that lol. I was just worried it was something technical with beast2. Let's get your garli PR merged and I'll clean it up if necessary afterward.

[2016-08-26 14:09] bobtodd commented on #4141
Thanks @jonchang.  You rock!  Just installed the updated version and it seems to be working great.

As for the hornet's nest of placing `BEAST-2` in `homebrew-science`, I was just working off of the install prompt:

[code]

But I can understand it might be much more complicated.  I'm just learning to use `BEAST-2` myself, so I don't yet know enough to say anything helpful.

Thanks *very* much to y

[2016-08-26 15:00] muammar commented on #4075
It is not building anymore:

[code]

[2016-08-26 15:50] #2541 closed

[2016-08-26 15:50] #3368 closed

[2016-08-26 15:50] #3420 closed

[2016-08-26 15:50] #3559 closed

[2016-08-26 18:00] schoeps commented on #4075
This is an octave issue (and I thibk it is already reported upstream). Keep in mind that you are building a development snapshot if using --HEAD.

[2016-08-28 00:17] tseemann commented on #2380
@dpo can you link the specific page here please?

[2016-08-28 00:50] dpo commented on #2380
I had https://github.com/Homebrew/brew/blob/master/share/doc/homebrew/Formula-Cookbook.md in mind.

[2016-08-28 14:39] predmijat opened #4155 "brew tap homebrew-science fails because of undefined methods in formulas"
### Indicate troubleshooting steps taken

- [✓] Ran `brew update` and retried your prior step?
- [✓] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [✓] Checked that a similar issue hasn't already been filed?
- [✓] Looked up the software bug tracker if reporting a build error?
- [✓] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-08-28 14:44] ilovezfs commented on #4155
Your main brew repository is outdated. `revision` within the bottle block was renamed `rebuild`.

[code]

[2016-08-28 14:44] #4155 closed

[2016-08-28 14:52] predmijat commented on #4155
`brew update` was telling me that I already have the latest version, hence the confusion.

Fixed it by following http://stackoverflow.com/questions/20133587/brew-update-not-working-after-mac-10-9

Sorry for the alarm and thanks!

[2016-08-28 14:54] ilovezfs commented on #4155
@predmijat you were probably bitten by this bug: https://twitter.com/MacHomebrew/status/763686348041641984

[2016-08-28 23:56] #3838 closed

[2016-08-29 03:54] gullzaib opened #4158 "I have 32bit windows7 laptop. I have downloaded the LAMMPS accordingly and installed too. But unfortunately it is not working on my laptop, I mean all the files are produced but the command windows is not showing. I want to ask that what is the actual problem?or should I install C++ to run LAMMPS in my laptop?"
### Indicate troubleshooting steps taken

- [ ] Ran `brew update` and retried your prior step?
- [ ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ ] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-08-29 04:06] dpo commented on #4158
Please take this to a lammps tracker. Homebrew does not support Windows. Also, next time, please don't write your entire message in the title. Thanks.

[2016-08-29 04:06] #4158 closed

[2016-08-29 04:25] gullzaib commented on #4158
okay sorry for this time. could you please tell me what is the LAMMPS tracker?

[2016-08-29 05:35] dhcn opened #4159 "brew tap homebrew/science error"
bogon:~ denghui$ brew tap homebrew/science
==> Tapping homebrew/science
正克隆到 '/usr/local/Library/Taps/homebrew/homebrew-science'...
remote: Counting objects: 624, done.
remote: Compressing objects: 100% (620/620), done.
remote: Total 624 (delta 1), reused 65 (delta 0), pack-reused 0
接收对象中: 100% (624/624), 542.33 KiB | 11.00 KiB/s, 完成.
处理 delta 中: 100% (1/1), 完成.
检查连接... 完成。
Error: Invalid formula:

[2016-08-29 05:42] ilovezfs commented on #4159
Please see https://github.com/Homebrew/homebrew-science/issues/4155

[2016-08-29 05:42] #4159 closed

[2016-08-29 20:08] aw1621107 opened #4163 "Numpy does not state its dependency on a cython install"
This was with `brew install numpy --with-python3 --HEAD`

[code]

Running `pip3 install cython` and `pip install cython` fixed the issue.

Is Homebrew capable of doing such a check and/or installing the package in question?

[2016-08-29 22:34] fish2000 opened #4164 "Running `brew tap homebrew/science` fails catastrophically."
### Indicate troubleshooting steps taken

- [✔️] Ran `brew update` and retried your prior step?
- [✔️] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [✔️] Checked that a similar issue hasn't already been filed?
- [✔️] Looked up the software bug tracker if reporting a build error?
- [✔️] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(

[2016-08-29 22:40] fish2000 commented on #4164
OK wow I just found all the closed issues reporting this e.g. https://github.com/Homebrew/homebrew-science/issues/4159 – so, erm, nevermind actually.

_[Might want to move that fix out of the tweet and into a position of prominence, but then again, maybe this is all hillariously after-the-fact, what do I know. Sorry!]_

[2016-08-29 22:40] #4164 closed

[2016-08-30 00:45] DomT4 opened #4165 "Vtk build fails to work"
_From @rambalachandran on August 29, 2016 21:6_

I installed vtk in Mac 10.10.5 with homebrew. These are the steps that I followed for installation
[code]

However when I try to start python and do `import vtk` it fails with an error that says
[code]
I ran gist-logs for the last step and it is located in the following location [https://gist.github.com/20e2f5181f2601a7aafa13aa83286e13]

_Copied fro

[2016-08-30 00:48] dpo commented on #4165
@rambalachandran See #3401. If it's feasible for you, uninstall Homebrew Python and build VTK against system Python. I'm closing this, but please reopen if the issue persists, or comment in the other issue.

[2016-08-30 02:00] dpo commented on #4163
This should be reported over at [homebrew/python](https://github.com/Homebrew/homebrew-python/issues).

[2016-08-30 03:43] ruchapatki opened #4166 "it doesnt work"

[2016-08-30 04:26] tdsmith commented on #4166
Please let us know if we can help with anything.

[2016-08-30 04:26] #4166 closed

[2016-08-30 04:29] tdsmith commented on #4163
This issue was moved to Homebrew/homebrew-python#330

[2016-08-30 04:29] #4163 closed

[2016-08-30 04:40] tdsmith commented on #4098
I think the odds of this being fixed are low unless you devise and test a solution; if you come up with something please feel free to send a PR. Thanks for reporting & sorry for the hassle.

[2016-08-30 04:40] #4098 closed

[2016-08-30 04:43] tdsmith commented on #4110
Unless this is caused by https://github.com/BenLangmead/bowtie/pull/25 (plausible) I don't think this is a Homebrew bug. If you apply that patch before building from source do you see the same failure mode?

[2016-08-30 04:49] #4108 closed

[2016-08-30 04:50] tdsmith commented on #4108
Fixed; thanks for reporting!

[2016-08-30 04:52] tdsmith commented on #4104
upstream observed this is a duplicate of https://github.com/opencv/opencv/issues/6913; pending fix is https://github.com/opencv/opencv/pull/7159

[2016-08-30 04:53] egonw commented on #4108
Thanks for fixing! We'll try it later today. Can I use it immediately with "brew" or does it need propagation of some kind, before people will see the change on their machine with "brew"?

[2016-08-30 04:55] tdsmith commented on #4086
Sorry, there's not enough information here to help me troubleshoot. I'm not familiar with pypar or lammps. Is pypar a Python extension module or something that lammps can be configured with?

[2016-08-30 04:56] tdsmith commented on #4082
You need numpy one way or another; you should install numpy if you want this to work. Sorry!

[2016-08-30 04:56] #4082 closed

[2016-08-30 04:57] tdsmith commented on #4082
(it appears to work for 2.x because you're using the ancient numpy Apple ships with system Python)

[2016-08-30 04:58] #3939 closed

[2016-08-30 04:59] tdsmith commented on #3930
This looks like the same issue as https://github.com/Homebrew/homebrew-science/issues/4104, which describes the problem more succinctly, so I'm going to close this issue in favor of that one. Thanks for reporting!

[2016-08-30 04:59] #3930 closed

[2016-08-30 05:00] tdsmith commented on #3863
Fixed by Homebrew/homebrew-python@4c5a6fe9.

[2016-08-30 05:00] #3863 closed

[2016-08-30 05:02] tdsmith commented on #3620
Okay, thanks. Quicktime is deprecated on recent OS X releases; we'll remove it from the formula soon.

[2016-08-30 05:02] #3620 closed

[2016-08-30 05:03] tdsmith commented on #4108
You can run `brew update` but for most users Homebrew will auto-update before install.

[2016-08-30 05:05] egonw commented on #4108
Cool, thanks! (I'm not an OS/X user myself :)

[2016-08-30 05:43] aadrych commented on #4086
I think it is.  I recently found more documentation on what lammps recommends (this is another software recently installed with homebrew). Apparently its for getting a computer to split it's processor usage and now they've made a new module to do that called MPI4PY which did install.

________________________________
From: Tim D. Smith [notifications@github.com]
Sent: 30 August 2016 05:55
To: Home

[2016-08-30 09:48] lendenmc commented on #4082
No problem thank you, your explanation in your last comment made me understand that it doesn't seem to be a bug. I didn't think system Python could have an influence on this, even less that Apple already shipped an ancient numpy with it ! This is good to know.

[2016-08-30 14:52] rambalachandran commented on #4165
Unfortunately uninstalling Homebrew Python is not an option, since it has too many other packages in it and in its virtualenvs. Please update  this issue when a solution emerges that does not involve uninstalling Homebrew Python

[2016-08-30 14:56] dpo commented on #4165
PLease follow #3401. This issue is a duplicate.

[2016-08-30 14:57] tintin42 opened #4170 "IGV SHA256 mismatch"
Issuing "brew install igv" results in:
[code]
Maybe a silent update with the same version number?
I just changed the hash in igv.rb to the current value and everything seemingly works again.

[2016-08-30 14:59] ilovezfs commented on #4170
[code]

[2016-08-30 15:01] #4165 closed

[2016-08-30 17:28] nir-krakauer opened #4171 "mkoctfile not working (lgfortran not found)"
I installed the current version of Octave with

`brew install octave --with-fltk`

Now mkoctfile fails to compile files. E.g., with the example program from [here](https://www.gnu.org/software/octave/doc/interpreter/Getting-Started-with-Oct_002dFiles.html)

[code]

[2016-08-30 19:33] ptzz commented on #4077
I finally got QT plots working by putting `graphics_toolkit("gnuplot")` in my .octaverc. I used to have only `setenv GNUTERM qt` there. Perhaps the default value for graphics_toolkit changed from gnuplot to fltk with the update.

[2016-08-30 20:25] dpo commented on #4171
Try `brew reinstall gcc octave`.

[2016-08-30 21:00] nir-krakauer commented on #4171
Reinstalling doesn't help, I still get the same error.

When Octave gets installed there is a message:
[code]
Not sure if it could be relevant.

[2016-08-30 21:03] dpo commented on #4171
Something else must still be linked to the old location. Let's go for the hammer: `brew uninstall -f $(brew deps octave) && brew install octave`.

[2016-08-30 23:13] nir-krakauer commented on #4171
no improvement after `brew uninstall -f $(brew deps octave) && brew uninstall octave && brew install octave --with-fltk`

[2016-08-30 23:16] dpo commented on #4171
Is the error message exactly the same (including the paths)? Could you gist the output of `brew doctor`?

[2016-08-31 00:05] PasghettiCode opened #4172 "Invalid formula error when trying to tap homebrew-science"
I've run brew update and brew doctor, but I'm still getting the same error:

$ brew tap -vd homebrew/science
==> Tapping homebrew/science
git clone https://github.com/Homebrew/homebrew-science /usr/local/Library/Taps/homebrew/homebrew-science --depth=1
Cloning into '/usr/local/Library/Taps/homebrew/homebrew-science'...
remote: Counting objects: 627, done.
remote: Compressing objects: 100% (623/623

[2016-08-31 06:57] miwalker commented on #4172
I am receiving a similar error as referenced above.

~ $ brew tap homebrew/science
==> Tapping homebrew/science
Cloning into '/usr/local/Library/Taps/homebrew/homebrew-science'...
remote: Counting objects: 627, done.
remote: Compressing objects: 100% (623/623), done.
remote: Total 627 (delta 1), reused 67 (delta 0), pack-reused 0
Receiving objects: 100% (627/627), 544.96 KiB | 620.00 KiB/s, done.

[2016-08-31 12:24] nir-krakauer commented on #4171
Yes, it is

[code]

`brew doctor` gives `Your system is ready to brew.`

[2016-08-31 23:42] dpo commented on #4172
Could you try `brew untap homebrew/science` followed by `brew tap homebrew/science`?

[2016-08-31 23:46] dpo commented on #4171
I assume you ran `brew update` before reinstalling?! At least temporarily, you can build from source with `brew install -s octave`.

[2016-09-01 01:03] miwalker commented on #4172
I see your edit, but for good measure here is what happens when i run the command:

~ $ brew untap homebrew/science
Error: No available tap homebrew/science.
~ $ brew tap homebrew/science
==> Tapping homebrew/science
Cloning into '/usr/local/Library/Taps/homebrew/homebrew-science'...
remote: Counting objects: 627, done.
remote: Compressing objects: 100% (623/623), done.
remote: Total 627 (delta 1)

[2016-09-01 01:41] dpo commented on #4172
There were glitches in `brew update` recently. Could you try this: https://github.com/Homebrew/brew/issues/829#issuecomment-243006354

[2016-09-01 01:46] PasghettiCode commented on #4172
That worked for me 👍

[2016-09-01 01:46] #4172 closed

[2016-09-01 02:02] miwalker commented on #4172
Worked for me too - thank you!

[2016-09-01 03:07] fish2000 commented on #3329
Relatedly, I am likewise seeing similar issues with this formula’s cmake args under a Python 2 regime – causing `FindPythonInterp.cmake` to prefer the system Python (`/usr/bin/python`) over a brewed version, and ultimately resulting in the build erroring out when the Clang invocation can’t find `<Python.h>` (?!) when trying to build the `cv3` Python 2 extension module.

[2016-09-01 05:39] ilovezfs commented on #3226
please try again now that https://github.com/Homebrew/homebrew-science/pull/4185 has shipped.

[2016-09-01 05:47] ilovezfs commented on #2721
please try again now that https://github.com/Homebrew/homebrew-science/pull/4189 has shipped

[2016-09-01 07:26] devonhollowood commented on #2721
I ran `brew update`, and then `brew install gnudatalanguage --with-python --withhdf4`, and it failed with the same error:

[code]

[2016-09-01 09:07] ilovezfs commented on #2721
@devonhollowood thanks for checking. This fixes it: https://gist.github.com/ilovezfs/00d95a9ad9e44c8091a1353b2242c33c

[2016-09-01 11:43] tseemann commented on #3226
Still broken:

[code]

[2016-09-01 11:45] ilovezfs commented on #3226
Cool thanks for checking. I think it just needs to depend on htslib.

[2016-09-01 11:49] ilovezfs commented on #3226
hmm no that file is in there... wonder if it's superenv that's making it work magically on macOS

[2016-09-01 12:23] tseemann commented on #3226
@ilovezfs it worked whenI compiled it in Linux manually with `make` but not when I go via Brew. I am working on a new formula using the new version but no luck so far.

[2016-09-01 16:52] nir-krakauer commented on #4171
After `brew uninstall octave && brew install -s octave --with-fltk` , `mkoctfile` works (note that GCC went from 6.1 to 6.2):

[code]

[2016-09-01 16:59] dpo commented on #4171
But gcc should have gone from 6.1 to 6.2 just by upgrading, without building from source. I'm suspecting you need to do https://github.com/Homebrew/brew/issues/829#issuecomment-243006354.

[2016-09-01 19:22] jtconnor opened #4211 "brew breakage?"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-09-01 23:11] dpo commented on #4211
You need https://github.com/Homebrew/brew/issues/829#issuecomment-243006354

[2016-09-01 23:11] #4211 closed

[2016-09-02 01:22] hjorne commented on #3237
@dpo I don't know about @rotten , but I'm getting the same error in 2.18, having used homebrew to install it --with-python3. Here's the resulting error

`>>> from graph_tool.all import *
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.5/site-packages/graph_tool/__init__.py", line 106, in <module>
    dl_import("from . import libgraph_tool_cor

[2016-09-02 02:01] jtconnor commented on #4211
Indeed!  Thanks so much for your help @dpo !

[2016-09-02 12:00] filipefigcorreia commented on #3669
I've faced this same issue today when trying to use the switches `--with-gui --HEAD` and, inspired by @schoeps' workaround, solved it by adding this to my formula:
`ENV.prepend_path "PATH", "/Library/TeX/Distributions/.DefaultTeX/Contents/Programs/texbin"`

It appears to have installed fine. I'm now facing [another issue](http://stackoverflow.com/questions/39289903/unable-to-open-files-in-octave-g

[2016-09-02 14:40] schoeps commented on #3669
Most users want the function help (to e.g. call `help sin` in Octave). Most users will probably not care to build the pdf documentation locally (since the pdf can be downloaded from the internet). In former times Octave <=4.3 this could not be achieved. However, in `--HEAD` and thus in the next release (4.2 is due in one week or so) `--without-docs` will only disable the pdf documentation. Therefo

[2016-09-02 14:43] schoeps commented on #3669
@filipefigcorreia: I suggest to post your question to the octave mailing list instead of stackoverflow (however, crossposting is not favoured...).

[2016-09-02 18:14] #2773 closed

[2016-09-03 08:39] ilovezfs commented on #4170
This is now moot because I've shipped 2.3.81 :)

[2016-09-03 08:39] #4170 closed

[2016-09-04 12:35] wobytides opened #4220 "Octave 4.0.3_3 missing dependencies on lcms and libpng-1.5?"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?

### Bug reports / build errors:

It seems that Octave 4.0.3 depends on libpng-1.5.x an

[2016-09-05 09:13] jonchang commented on #3369
The open source version of PAUP* was announced about 2 years ago but is still vaporware. If and when it comes out feel free to reopen this issue and I'll take a look at creating a formula for it.

[2016-09-05 09:13] #3369 closed

[2016-09-06 04:50] #2636 closed

[2016-09-06 08:05] ilovezfs commented on #4141
@jonchang any luck with a BEAST2 formula?

[2016-09-06 08:07] jonchang commented on #4141
I mean, it's already written. I'll just open a PR for the formula from my tap.

[2016-09-06 08:08] ilovezfs commented on #4141
@jonchang cool thanks jon

[2016-09-06 13:03] ReaddyEddy commented on #3667
I've picked up an issue with python 3.5.2_1 that _may_ explain some of this if you have installed 3.5.1 and have then upgraded to 3.5.2_1 you'll find the the opencv installation doesn't find the correct python when installing opencv3 from the command line and the Python3 include paths have to be explicitly set to point at the newer libraries in the cake configuration. SFAIKS the python 3.5.1 paths

[2016-09-07 06:58] timotheecour opened #4228 "brew install dlib: linuxbrew: cuDNN V5.0 OR GREATER NOT FOUND. DLIB WILL NOT USE CUDA"
(on linuxbrew)
[code]

[2016-09-07 16:17] dpo commented on #4228
It works on OSX. The strange part is that before the error, CMake said
[code]
The Homebrew cuda requirement isn't linux-ready, so it's either a bug in dlib or I'll need help updating the requirement.

One thing you can try to rule out the Homebrew problem: run the same `cmake` command manually, outside of Homebrew, e.g.
[code]

[2016-09-07 17:39] timotheecour commented on #4228
tar zxf doesn't work
you need:
[code]

also, after `ccmake ..` i get:
[code]

[2016-09-07 18:04] josePhoenix opened #4232 "GalSim depends on pyfits instead of astropy"
The `galsim` formula includes a line

[code]

However, PyFITS has been [deprecated](http://www.stsci.edu/institute/software_hardware/pyfits) in favor of `astropy.io.fits`. People with `astropy` available should not be required to install a deprecated package. It should be possible to depend on either PyFITS *or* Astropy, but I'm not familiar enough with the formula syntax to say whether that depen

[2016-09-07 18:08] dpo commented on #4228
Sorry, you're right.

Your output seems to indicate a bug in CMake figuring out where you cuda compiler lives. It seems worth opening an issue on the dlib tracker.

[2016-09-07 19:14] dpo commented on #4232
Thanks for pointing that out. Would you like to submit a pull request?

[2016-09-07 19:36] josePhoenix commented on #4232
Is there a way to depend on either pyfits **or** astropy? I think I'd be trading one problem for another (for users of PyFITS) if I just changed the name of the dependency, but I would be happy to open a PR with that change.

[2016-09-08 00:17] cacampbell opened #4234 "'brew install plink' build failure"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?  **Not exactly sure where to look**

**Could it be that XCode is very outdated? i.e. wo

[2016-09-08 00:40] jonchang commented on #4234
Hi Chris, that's a really old version of Xcode and clang. It builds fine
for me with Xcode 7.3 clang 703.

[2016-09-08 02:22] cacampbell commented on #4234
Yes, this makes sense -- I'll update and see if this fixes the problem.

[2016-09-08 15:58] #4232 closed

[2016-09-08 18:52] cacampbell commented on #4234
Yep, that was the problem. Sorry to waste your time!

Upgrading XCode to the most recent version resulted in the build finishing without error.

[2016-09-08 18:52] #4234 closed

[2016-09-09 14:37] nizar-sallem opened #4241 "pcl exec run issue"
Homebrew was updated on Sep 8th 2016

I did:

 Ran brew update and retried
 Ran brew doctor, no real issues there
Bug reports:

I installed PCL from brew with qt support: brew install homebrew/science/pcl --with-qt, this installed jpeg among other things.

Trying to run pcl_vlp_viewer results in this error:
dyld: Symbol not found: __cg_jpeg_resync_to_restart
Referenced from: /System/Library/Framew

[2016-09-10 05:28] dpo commented on #4220
When I run `brew install octave`, it installs `libpng` and `little-cms2` (not 1!) So something appears to be off. Could you do a `brew uninstall -f $(brew deps octave --recursive)` followed by `brew update` and `brew install octave`?

[2016-09-11 03:04] tseemann opened #4251 "Formulae with missing "desc" tag"
We have 619 formulae. 413 of them have a `desc` and 206 don't. These are listed below. I think a `desc` is important for `brew search` and `brew info` as well as any web pages that are generated from the database. Ideall we would add `# tag "bioinformatics"` and `# doi "xxxx"` where appropriate at the same time.

@sjackman what is the best way to tackle this in terms of commits?  The bottles won't

[2016-09-11 03:16] tseemann opened #4252 "Formulae with inappropriate test"
There are 47 formulae with a "null" test that just runs the binary and checkes for return value 0. This is better than nothing of course, but perhaps a

[code]

would be better?

Found via:

[code]
- [ ] astrometry-net : `system "solve-field"`
- [ ] atpdec : `system "atpdec"`
- [ ] bcalm : `system bin/"bcalm"`
- [ ] blasr : `system "#{bin}/blasr"`
- [ ] bless : `system "#{bin}/bless"`
- [ ] celera

[2016-09-11 04:08] ilovezfs commented on #4252
These tests are usually perfectly valid, and I don't think having a general tracking issue like this makes much sense. If you think a given test should be improved, feel free to open a PR for that.

[2016-09-11 04:10] ilovezfs commented on #4251
If you think this needs a tracking issue, you should lobby for it to be a non-strict audit failure.

[2016-09-11 04:27] tseemann commented on #4252
@ilovezfs all these tests should be improved. there are probably < 50 "real tests" in homebrew-science.

[2016-09-11 04:28] tseemann commented on #4251
That needs to be done at the Brew level, this is homebrew-science.

[2016-09-11 04:40] ilovezfs commented on #4252
https://github.com/Homebrew/brew/pull/208#issuecomment-217734009

This topic is well covered terrain.

[2016-09-12 13:13] mominchen opened #4297 "Tophat2 path variable search path depending on current work directory"
### Indicate troubleshooting steps taken
- None of the troubleshooting steps helped. It's an error report.
### Bug reports / build errors:

_Erase any parts of this template not applicable to your Issue._
- Summary: the search path of tophat2 is depending on the current working directory, which isn't always as assumed the correct path to find tophat2 in the bin of .linuxbrew
- the issue comes from

[2016-09-12 13:18] winstonma commented on #4220
@dpo I tried your steps but still no success. In addition I checked both lcms and libpng-1.5 is installed. I don't think the root cause is lcms and libpng-1.5.

Actually that one is the root cause.

[2016-09-12 13:36] dpo commented on #4220
What options are you brewing octave with?

[2016-09-12 20:41] kevinclark commented on #4220
I'm also having this problem using default options. Simply 'brew install octave' hits the make errors that @winstonma pasted in his last comment.

[2016-09-12 21:29] dpo commented on #4220
Simply `brew install octave` should not build from source. Did you `export HOMEBREW_BUILD_FROM_SOURCE=1`?

[2016-09-12 21:50] kevinclark commented on #4220
@dpo Nope. Doesn't appear to be set. I also got a load of bottles when installing prereqs, so it doesn't seem to be doing it across the board. I *am* on a beta of the new macOS. Would that trigger the flag?

[2016-09-12 22:04] dpo commented on #4220
I've no idea and I don't know if Homebrew Core supports it already (don't think so). We certainly don't support macOS yet at Science.

[2016-09-12 22:06] dpo commented on #4220
@wobytides What was your `brew install` command?
@winstonma What OS are you on? Could you gist the output of `brew doctor`?

[2016-09-13 01:05] miltontan commented on #3828
Hello, I am having a problem installing express as well, and it led me here. I have gone through the typical brew update, brew doctor, and such as instructed. I also used
`brew reinstall protobuf -s`
as mentioned above, but that did not solve the problem.

[code]

[2016-09-13 03:11] winstonma commented on #4220
@dpo I am running OSX Sierra

Here is the `brew doctor` result:

[2016-09-13 03:27] dpo commented on #4171
ps: please paste the output of `brew config`.

[2016-09-13 09:00] wobytides commented on #4220
@dpo I'm using OS X 10.11, but I think @winstonma has yet another build error. I included the results of `brew doctor` as a [gist](https://gist.github.com/68f27b923b5f09359d8b02dc10b03b78) in the original report - I can't re-run it by removing all dependencies now because I'm on holiday away from my laptop.

Like @winstonma, I installed using `brew install octave`. `HOMEBREW_BUILD_FROM_SOURCE` was

[2016-09-13 12:54] dpo commented on #4220
Could you `rm -f $(brew --cache)/octave*` and try again? If that doesn't work I'll just rebuild the bottles.

[2016-09-13 13:19] ilovezfs commented on #4220
what's the output of
git -C /usr/local rev-parse HEAD
git -C /usr/local/Homebrew rev-parse HEAD
git -C /usr/local/Homebrew/Library/Taps/homebrew/homebrew-core rev-parse HEAD
git -C /usr/local/Homebrew/Library/Taps/homebrew/homebrew-science rev-parse HEAD

[2016-09-13 13:30] ilovezfs commented on #4220
@dpo there is nothing wrong with the bottles.

New brew installation that is completely empty:
[code]

[2016-09-13 14:01] dpo commented on #4220
@ilovezfs Thanks for checking!

[2016-09-13 14:03] dpo commented on #4220
@wobytides Try https://github.com/Homebrew/brew/issues/829#issuecomment-243006354.

[2016-09-13 14:06] ilovezfs commented on #4220
Interestingly, it doesn't want to pass `make check` for me locally when I try building from source:
[code]

[2016-09-13 15:11] ilovezfs commented on #4220
I think the "make check" issue above is a Skylake issue. Not seeing the same problem on Haswell.

[2016-09-13 15:35] ilovezfs commented on #4220
Here's the linkage you should see
[code]

and the realpaths are
[code]

[2016-09-13 20:11] cogitoxin commented on #3237
same issue here

[2016-09-13 21:02] jonchang commented on #3828
There's some sort of symbol visibility issue happening, I suspect that it's specific to g++-5. I'll try to dig into this deeper later this week. I think Linuxbrew is having a gcc version bump soon so maybe that will fix things.

[2016-09-13 21:31] barronlroth opened #4303 "OpenCV install fails on MacOS Sierra (10.12) at 16%"
### Indicate troubleshooting steps taken

- [ YES ] Ran `brew update` and retried your prior step?
- [ YES ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ YES ] Checked that a similar issue hasn't already been filed?
- [ YES ] Looked up the software bug tracker if reporting a build error?
- [ YES ] If you're seeing permission errors tried running `sudo chown

[2016-09-13 22:03] dpo commented on #4303
For reference, the error is
[code]

[2016-09-13 22:05] #4228 closed

[2016-09-14 03:39] barronlroth commented on #4303
@dpo Good call. Any tips on finding QTKit/QTKit.h?

[2016-09-14 06:46] ilovezfs commented on #4220
@dpo turns out the make check thing is the same bug I'd seen the other day. The problem is not Skylake vs. other architectures. It's case-sensitive HFS+ vs. non-case sensitive HFS+, due to a formula bug, which I just elaborated on here: https://github.com/Homebrew/homebrew-science/pull/4207#issuecomment-246920617

[2016-09-14 07:33] schoeps commented on #4220
Octave (4.2) builds on Sierra. I am running I right now. If you are very advantageous you may play with the formula at https://github.com/schoeps/homebrew-science/blob/octave/octave.rb. This is my playground where I am currently do experiments.

[2016-09-14 08:53] wobytides commented on #4220
Thanks for the help. I tried the following this morning:
`sudo chown -R $(whoami) /usr/local/Library`
`cd /usr/local`
`git fetch`
`git reset --hard`
`brew update`

Once I tried `brew install octave` and it started building from source again. I halted it and gave `brew install octave --force-bottle` to get the bottle. This poured, but at runtime octave gave this:

`dyld: Library not loaded: /usr/lo

[2016-09-14 09:01] ilovezfs commented on #4220
I think you were likely suffering from https://twitter.com/MacHomebrew/status/763686348041641984

If you `brew uninstall octave; brew install octave` does it still try to build from source?

And presumably a regular source build will work too `brew uninstall octave; brew install --build-from-source octave`.

You probably shouldn't ever export HOMEBREW_BUILD_FROM_SOURCE=1 since that means build EVE

[2016-09-14 15:52] lianne opened #4305 "Octave install error after updating to Xcode 8.0"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [X] Looked up the software bug tracker if reporting a build error?
- [X] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-09-14 16:03] dpo commented on #4305
The issue template asks you to provide the gist logs. Please provide all the information requested so we can try to help you.

[2016-09-14 16:14] lianne commented on #4305
sorry, here they are:
https://gist.github.com/3543451ed050665f4541923d30c22234
thanks a lot.

  Luigi

[2016-09-14 16:23] ilovezfs commented on #4305
yup, reproducible.

[2016-09-14 16:51] ilovezfs commented on #4305
@lianne @dpo @schoeps this works around it
[code]

[2016-09-14 19:08] ACharbonneau opened #4306 "Blast fails to build on linux"
#### Brief summary of issue:

make[3]: *** [ncbifile.o] Error 1
make[3]: *** [ncbiargs.o] Error 1
make[3]: *** [ncbidiag.o] Error 1
make[3]: Leaving directory `/tmp/blast-20160914-19060-1k2dcbw/ncbi-blast-2.4.0+-src/c++/ReleaseMT/build/corelib'
FAILED: src/corelib/Makefile.corelib.lib
make[3]: Entering directory `/tmp/blast-20160914-19060-1k2dcbw/ncbi-blast-2.4.0+-src/c++/ReleaseMT/build/corelib'

[2016-09-14 21:32] mjsteinbaugh opened #4307 "STAR 2.5.2b"
I'm interested in updating the rna-star.rb formula to STAR 2.5.2b but I'm not sure how to do this correctly. Would someone be willing to help?

[2016-09-14 22:04] dpo commented on #4307
Sure. The steps go like this in the terminal:

1. If not already done, fork Homebrew-Science to your account (use the button on the top right of this page)
2. In the terminal, `cd $(brew --prefix)/Library/Taps/homebrew/homebrew-science`
3. Add your fork to the list of remotes so you can push your changes there later: `git remote add myfork https://github.com/mjsteinbaugh/homebrew-science.git`
4. C

[2016-09-14 22:10] dpo commented on #4307
Of course, it's also a good idea to read the [Formula Cookbook](https://github.com/Homebrew/brew/blob/master/share/doc/homebrew/Formula-Cookbook.md).

[2016-09-14 22:16] dpo commented on #4305
For reference, the error was
[code]

[2016-09-15 02:42] winstonma commented on #4220
@wobytides I tried your way on OSX Sierra and it didn't work. Same problem exist.

[code]

Still not sure what causes the problem

[2016-09-15 02:43] jonchang commented on #4306
Hi Amanda, it looks like your version of gcc is quite old (version 4.4). It seems like you have gcc version 5 installed via Linuxbrew, could you try setting your compiler to `gcc-5` like:

[code]

[2016-09-15 02:51] ACharbonneau commented on #4306
Hey Jon, that doesn't seem to run.

==> Installing blast from homebrew/science
git config --replace-all homebrew.private true
Error: Failure while executing: git config --replace-all homebrew.private true

[2016-09-15 02:59] jonchang commented on #4306
That seems to be unrelated to your build failure. Is it possible that you don't have write access to your homebrew repository? What happens if you run

[code]

[2016-09-15 03:19] dpo commented on #4220
@winstonma See #4305.

[2016-09-15 05:24] Noctem commented on #4303
The problem also occurs on non-Sierra systems with Xcode 8.

[2016-09-15 06:45] schoeps commented on #4305
@dpo @ilovezfs We should not invest too much time into 4.0.3 since 4.2rc1 is already available. Shall I add an pull request already for the rc? (formula is already available)

[2016-09-15 08:20] ilovezfs commented on #4305
@schoeps yes, please. Do you mind submitting the PR as 4.2 not 4.2-rc1? We can always push a 4.2.1 if needed

[2016-09-15 08:21] ilovezfs commented on #4305
Closing this since it will be fixed by forthcoming superenv changes.

[2016-09-15 08:21] #4305 closed

[2016-09-15 11:36] ilovezfs commented on #4305
@lianne if you `brew update` this should now be fixed due to https://github.com/Homebrew/brew/pull/970.

[2016-09-15 12:00] lianne commented on #4305
yes, now it works also with the original octave formula (without applying your patch of yesterday).

[2016-09-15 12:01] ilovezfs commented on #4305
@lianne excellent. thanks for testing!

[2016-09-15 12:57] barronlroth commented on #4303
@Noctem And Homebrew doctor forces Xcode 8 when running Sierra.

[2016-09-15 13:45] nir-krakauer commented on #4171
[code]

[2016-09-15 13:55] dpo commented on #4171
Did you follow https://github.com/Homebrew/brew/issues/829#issuecomment-243006354?

[2016-09-15 14:01] nir-krakauer commented on #4171
I don't see how it's relevant?

[2016-09-15 14:30] dpo commented on #4171
`brew udpate` doesn't seem to be doing what I expect it to do on your system and there was a repository corruption a couple of weeks ago. The link above will resolve the issue if that's indeed the issue.

[2016-09-15 15:22] heinemml commented on #4303
What @Noctem means, this also now breaks on El Capitan with the Release of XCode 8. Which is more or less an automatic update.

[2016-09-15 15:43] nir-krakauer commented on #4171
All my `/usr/local` directories are owned by the right user though.

[2016-09-15 16:09] mjsteinbaugh commented on #4307
Thanks I have a working update on my personal homebrew tap but just wanted to check before I attempt a pull request of the new version. Thanks.

[2016-09-15 16:09] #4307 closed

[2016-09-15 18:34] ACharbonneau commented on #4306
I definitely have write access to my brew repo. I just fixed my Git config problem, and now forcing brew to use the newer version of gcc seems to have fixed it!

Thanks, I never would have noticed it was trying to compile with the old gcc.

[2016-09-15 18:34] #4306 closed

[2016-09-15 18:39] jonchang commented on #4171
The linked commands fix more than just permission issues; it also "manually" updates homebrew as there was a recent bug that prevented some users from updating their homebrew installations. It seems like your installation hasn't updated for a while, so please try running the commands and report back.

[2016-09-15 23:11] sjackman commented on #4306
Thanks for the troubleshooting, Jon! Linuxbrew is supposed to prefer and default to gcc-5 over gcc-4.4. I'm not sure why it defaulted to the latter.

[2016-09-15 23:20] jonchang commented on #4306
It seems like there's a fails_with gcc-5 block in the formula? I'm not sure how exactly compiler selection works on Linuxbrew but that might be the source of the problem.

[2016-09-16 15:21] dpo commented on #4303
This is more or less a duplicate of #4104. See also https://github.com/opencv/opencv/pull/7159.

[2016-09-16 15:41] nir-krakauer commented on #4171
True. It's hard for me to tell if it makes a difference, as mkoctfile runs fine now after I installed Octave from source.

[2016-09-17 18:08] darrenbrett opened #4315 "After running brew install node, I get "-bash: node: command not found" in command line"
I've been troubleshooting this for hours now. Seems to be a location/permissions issue. After successfully running ""brew install node", when I run "node -v" I get "-bash: node: command not found". When I try and re-run "brew install node" I get "Warning: node-6.6.0 already installed, it's just not linked". Does this suggest a location issue, or a permissions issue? Any help would be greatly appre

[2016-09-17 18:26] dpo commented on #4315
The issue template has suggestions related to permissions issues. It also asks that you submit some information. Please submit all you can so we can try to help you.

[2016-09-17 18:40] darrenbrett commented on #4315
My initial problem was that I couldn't update the angular-cli, because I had rogue node nodules. Even when I would run "brew uninstall node", afterwards, when I would run "node -v", it still showed up on my system. After going to various folders and manually deleting any node files, I finally got it removed from my system (i.e. running "node -v" returned "command not found". So after having that d

[2016-09-17 18:58] darrenbrett commented on #4315
Is there anything else you'd like me to submit?

[2016-09-17 19:02] darrenbrett commented on #4315
"Warning: node-6.6.0 already installed, it's just not linked"

How should I troubleshoot this?

[2016-09-17 19:07] darrenbrett commented on #4315
==> Summary
🍺  /usr/local/Cellar/node/6.6.0: 3,669 files, 40.9M
Darrens-Air:~ darrenking$ node -v
-bash: node: command not found

[2016-09-17 20:57] sromberg commented on #4303
Confirmed for 10.11 on XCode 8:

[code]

Compile error at:
[code]

[2016-09-18 01:20] powellb opened #4316 "netcdf fortran fails configure stage with brew installed gfortran"
### Indicate troubleshooting steps taken
- [X ] Ran `brew update` and retried your prior step?
- [X ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X ] Checked that a similar issue hasn't already been filed?
- [X ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(br

[2016-09-18 18:01] tomasdikk commented on #4305
Dear community, having difficulties `brew install octave` as well, failing in make. (MacOS 10.12, Xcode 8.0)

Here's https://gist.github.com/ccf57ee1f0b0c0cfecc514faa7d32900

Many thanks for your help, appreciate your great work and efforts!

(I also noticed the hdf5 formula points to `https://www.hdfgroup.org/ftp/HDF5/releases/hdf5-1.8.17/src/hdf5-1.8.17.tar.bz2` which causes a 404, apparently it

[2016-09-18 18:09] schoeps commented on #4305
You seem to have the same problem as @lianne but it should be fixed by now. Did you do a `brew update` and `brew upgrade` before? c.f. also https://github.com/Homebrew/homebrew-science/issues/4220

[2016-09-18 20:28] tomasdikk commented on #4305
Dear schoeps, many thanks for your support and for getting back.

Yes, it's still here after `brew update` and `brew upgrade` on my side unfortunately. Not sure why though.

When checking `../Logs/Homebrew/octave/02.make` I have similar issues as mentioned above by dpo:

[code]

Thanks also for the issue #4220, looks similar, no issues with `-llcms` or '-lpng15' though. Investigating. Not the `lve

[2016-09-19 01:47] dpo commented on #4316
Please also give:

[2016-09-19 02:27] dpo commented on #4315
I'm going to close this. Please open a new issue. You'll see the issue template. Please fill out all required information in there. Thank you.

[2016-09-19 02:27] #4315 closed

[2016-09-19 03:55] levi106 opened #4318 "Failed to download resource "hdf5""
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-09-19 05:29] popoko2 opened #4319 "Failed to make runtest on El Capitanto"
### Indicate troubleshooting steps taken

- [ ] Ran `brew update` and retried your prior step?
- [ ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ ] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-09-19 06:33] popoko2 opened #4320 "opencv3 failed to build on 10.11.6"
### Indicate troubleshooting steps taken

- [ X] Ran `brew update` and retried your prior step?
- [ X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ X] Checked that a similar issue hasn't already been filed?
- [ X] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(b

[2016-09-19 07:32] #4319 closed

[2016-09-19 07:37] popoko2 commented on #4319
I posted it by my mis-operation accidentally. I apologize for your inconvenience.

[2016-09-19 08:12] popoko2 commented on #4320
I realized my issue is a duplicate of #4303.

[2016-09-19 08:12] #4320 closed

[2016-09-19 11:47] tomasdikk commented on #4318
Hey levi106, here's my solution to that issue. Manually edit the hdf5 formula

`brew edit hdf5`

Change the URL from `https://www.hdfgroup.org/ftp/HDF5/releases/hdf5-1.8.17/src/hdf5-1.8.17.tar.bz2` which causes a 404, to `https://support.hdfgroup.org/ftp/HDF5/releases/hdf5-1.8.17/src/hdf5-1.8.17.tar.bz2`

The only difference being `www.hdfgroup.org` -> `support.hdfgroup.org`

[2016-09-19 12:19] ilovezfs commented on #4318
no ... brew update since the url has been updated

[2016-09-19 12:19] #4318 closed

[2016-09-19 15:23] zo7 commented on #4303
In case anyone's wondering, you can [download an older version of Xcode](https://developer.apple.com/download/more/) and choose it with `xcode-select` and OpenCV will build correctly (10.11)

[2016-09-19 16:37] tseemann commented on #4306
@ACharbonneau Amanda - make sure Linuxbrew is the first thing in your `PATH` or all sort of hell will occur. And just like "don't drink and drive" I would add "don't brew and conda" :)

[2016-09-19 16:52] ACharbonneau commented on #4306
Hey Torsten...no conda is easy, but the HPC tacks modules onto the front of my path rather than the end so, although brew starts as first in my path, it's nearly impossible to keep it there :(

[2016-09-19 17:06] jonchang commented on #4306
This will be less of an issue when we get superenv running for Linux...

[2016-09-19 21:30] aw1621107 opened #4322 "vtk: Build with options fails linking due to missing OpenGL symbols"
### Indicate troubleshooting steps taken
- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew -

[2016-09-19 21:55] iMicknl commented on #4303
@zo7 unfortunately this doesn't work on 10.12. I am trying to run it with Xcode 7.3, but still the same error at 16%.

[2016-09-20 00:52] aw1621107 commented on #4322
Looks like the minimum failing command is `brew install vtk --c++11 --with-x11`. Logs coming up shortly

[2016-09-20 01:36] jonchang commented on #4241
Hi @nizar-sallem, could you please [check the Issue Template](https://github.com/Homebrew/homebrew-science/blob/master/.github/ISSUE_TEMPLATE.md) and link the output of `brew gist-logs pcl` and the output of `brew config`? This will help us diagnose the issue. Thanks!

[2016-09-20 04:57] powellb commented on #4316
Sorry for the delay:

https://gist.github.com/db748ba3652eceb6f9fa3bb4e5fe012b

[2016-09-20 13:39] aw1621107 commented on #4322
"Shortly"... `gist-logs` succeeds, while `install` fails. Not sure what is going on

[2016-09-20 14:20] aw1621107 commented on #4322
Also, gist-logs appears to be cutting off part of the log? Also happens to be a pretty important part of the log...

[code]

[2016-09-20 16:44] ilovezfs commented on #4322
Yeah the build with X seems broken.

[2016-09-20 16:47] ilovezfs commented on #4305
@tomasdikk since that option is now set in brew itself, I'm afraid you may have been bitten by https://twitter.com/MacHomebrew/status/763686348041641984

[2016-09-20 20:51] dpo commented on #4316
I'm not sure if this is an Xcode 8 issue. Could you try `brew uninstall -f $(brew deps -r netcdf)` followed by `brew install netcdf`?

[2016-09-20 21:13] powellb commented on #4316
Thanks Dominique. I tried this and get the same results. Exact same error.

[2016-09-20 21:23] dpo commented on #4316
I suppose we can blame Xcode 8 then. If that's a possibility for you, you could revert to the previous version of Xcode, where it was known to compile. I believe `xcode-select` will let you install an earlier version.

[2016-09-21 13:03] xzcvczx opened #4330 "oce failing on macOS 10.12"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-09-21 15:38] ilovezfs commented on #4330
This should fix it for you :)
[code]

[2016-09-21 16:53] xzcvczx commented on #4330
Thanks, i just hacked around it with a #ifndef __MAC_10_12 in gettime_osx.h

[2016-09-21 16:55] ilovezfs commented on #4330
yup that's what the `__OPPLE__` is effectively

[2016-09-22 13:39] marmot1123 opened #4333 "Qt5 upgrade fails on macOS Sierra (10.12)"
### Indicate troubleshooting steps taken
- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew -

[2016-09-22 14:54] fish2000 opened #4334 "Possible fix for reported issues with VTK linking to wrong Python"
This has been previously reported:

* https://github.com/Homebrew/homebrew-science/issues/3401
* https://github.com/Homebrew/homebrew-science/issues/4165

… with messy proposed solutions (removing the brewed Python installation altogether, messing with DYLD runtime paths, etc) that in some cases were unfeasable.

BUT SO: After many months of running into the `PyThreadState_Get` problem (q.v. #4165

[2016-09-22 21:08] kingcohn1 opened #4335 "discovardenovo: /usr/bin/g++-4.8: No such file or directory on Ubuntu 16.04"
[code]

gcc --version output: gcc (Ubuntu 5.4.0-6ubuntu1~16.04.2) 5.4.0 20160609
and
after running brew update (2x) and brew doctor I was unable to set the path at

echo 'export PATH="/home/molecularecology/.linuxbrew/bin:$PATH"' >> ~/.bash_profile
### Indicate troubleshooting steps taken
- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible

[2016-09-22 21:20] jonchang commented on #4335
Hi @kingcohn1, could you please do these steps? This will help us determine the cause of your build problems.

[code]

[2016-09-22 21:28] kingcohn1 commented on #4335
https://gist.github.com/kingcohn1/9a1d52ad551645ab1f00d32368f4652b

[2016-09-22 21:28] kingcohn1 commented on #4335
https://gist.github.com/9634b8ea75532af7e1f3ff8931fde778

[2016-09-23 00:41] sjackman commented on #4335
`./configure: line 15723: /usr/bin/g++-4.8: No such file or directory`

Try `sudo apt-get install build-essential curl git python-setuptools ruby`
See http://linuxbrew.sh/#dependencies

[2016-09-23 00:57] kingcohn1 commented on #4335
OK thanks Shaun, but should I specify the path for the updated gcc?

Here's what I'm getting:

molecularecology@molecular-ecology:~$ sudo apt-get install build-essential curl git python-setuptools ruby
[sudo] password for molecularecology:
Reading package lists... Done
Building dependency tree
Reading state information... Done
build-essential is already the newest version (12.1ubuntu2).
git is alr

[2016-09-23 02:48] jarfk6 commented on #4305
I have this exact same problem on OSx 10.12 (Sierra). I've reset git in case I had the update bug (as mentioned by ilovezfs), I've uninstalled XCode and only have the Command Line Tools installed. homebrew is up to date and brew doctor says I'm ready to brew.

https://gist.github.com/dcff5ebacdacf765ad4739de7778fb84

[code]

[2016-09-23 07:03] schoeps commented on #4305
Can you check if the same problem occurs with the 4.2 release candidate?
`brew install https://raw.githubusercontent.com/schoeps/homebrew-science/master/octave.rb --without-qt5`

If you want 4.0.3 you try to manually edit the formula as described above?
e.g. open an editor with
`edit /usr/local/Homebrew/Library/Taps/homebrew/homebrew-science/octave.rb`
and change the line
`system "./configure", *a

[2016-09-23 07:27] dagola opened #4338 "R upgrade fails on macOS 10.11.6"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running sudo chown -R $(whoami) $(brew -

[2016-09-23 15:10] jarfk6 commented on #4305
$ brew install https://raw.githubusercontent.com/schoeps/homebrew-science/master/octave.rb --without-qt5
######################################################################## 100.0%
Warning: Calling MacOS.clang_version is deprecated!
Use DevelopmentTools.clang_version instead.
/Users/Amanda/Library/Caches/Homebrew/Formula/octave.rb:23:in `<class:Octave>'

qt: This formula either does not compil

[2016-09-23 15:16] walsvid commented on #4333
Hi, in your error log I find that `gstreamer` maybe missing. How about try `brew info gstreamer` and find out whether you have installed `gstreamer` or not. If you did not install `gstreamer`, I think you can try `brew install gstreamer` first.

But I find that in the log it said:
[code]
and I do not know why it got error in `Project ERROR: gstreamer-1.0 development package not found`.

[2016-09-23 17:36] pooranis commented on #4338
Same here with 10.11.6.  Homebrew forced me to upgrade to Xcode 8.0, and then I have this same error which seems associated with running Xcode 8 on 10.11.

[2016-09-23 21:42] andrewblim commented on #4338
I also ran into this problem today, and although this is clearly not helpful if you need to stay on El Capitan, things worked for me after upgrading to Sierra.

[2016-09-23 21:58] jonchang commented on #4335
So the formula has `fails_with gcc: "5"` which is why Linuxbrew is preferring gcc 4.8 over gcc 5. I can confirm that it builds fine with gcc 4.8.5 on CentOS 7. It's possible that your gcc-4.8 install is busted somehow? What do you get when you run `/usr/bin/g++-4.8 --version`, or try to install something that requires compilation with `brew install <formula> --cc=/usr/bin/gcc-4.8 --cxx=/usr/bin/g+

[2016-09-24 00:40] pooranis commented on #4338
Because I really needed to install R with x11, and upgrading the OS is not an option right now, I edited the R formula with a cheap fix [similar to this one](https://github.com/Homebrew/homebrew-core/commit/4ae579c3c830f7febf6c1098d241c77e90066274).  I still think it's kind of lame for Homebrew to force everyone to Xcode 8.  It was only released 10 days ago, and Sierra was only released **3 days a

[2016-09-24 00:45] jonchang commented on #3401
Hi all, thanks for your patience with this issue. While we wait for upstream to provide a more permanent fix, if you are a current user of VTK + brewed Python, could you please test the patch in #4342?

Apply the patch then run

[code]

and see if it fixes the crashes?

[2016-09-24 00:46] jonchang commented on #4334
Hi @fish2000, thanks for the report. The issue with that change is that it would require everyone to use Homebrew's copy of Python for VTK, even if they are using the system copy. Could you please try the fix in https://github.com/Homebrew/homebrew-science/issues/3401#issuecomment-249333818 and see if VTK still crashes for you?

[2016-09-24 06:29] ilovezfs commented on #4338
Feel free to open an issue in homebrew/brew with your concerns, but I'd suggest not referring to the unpaid efforts of volunteers as lame while you're at it.

[2016-09-24 12:41] normanrz commented on #4104
https://github.com/opencv/opencv/pull/7159 has been merged. `brew install opencv3 --HEAD --with-contrib` just worked for me

[2016-09-24 19:29] bruce3141 opened #4346 "ArrayFire Formula Requests: Ver 3.4 is out"
## Any near-term plans to update the build formula to Ver. 3.4 of ArrayFire?

Current ArrayFire Ver. is 3.3.2; significant performance improvements have been implemented in Ver. 3.4.

[2016-09-24 19:36] mmngreco opened #4347 "doesn't upgrade octave to 4.0.3_4, mac 10.12"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-09-24 20:06] jonchang commented on #4346
Hi Bruce, please feel free to submit a pull request for the change. You'll need to update the download URL and sha256 hash. Refer to the contributing document if you need more information:

https://github.com/Homebrew/homebrew-science/blob/master/.github/CONTRIBUTING.md

[2016-09-25 06:53] ilovezfs commented on #4346
I believe the vendored `glew1` will have to be overhauled as well, amongst other significant changes.

[2016-09-25 09:04] schoeps commented on #4305
@ilovezfs: Wasn't the syntax `brew install http://url/file.rb` supported?

[2016-09-25 09:06] ilovezfs commented on #4305
The problem above is in the formula, which is using a deprecated method.

[2016-09-25 10:37] schoeps commented on #4305
Thanks! I fixed the formula for the release candidate (4.2.0 rc2). Maybe you want to try it:

`brew install https://raw.githubusercontent.com/schoeps/homebrew-science/octave/octave.rb --without-qt5`

[2016-09-25 22:59] butala commented on #3401
I was having the aforementioned issue. I applied the patch and am now able to use VTK with the homebrewed python2.

Thank you for the patch!

[2016-09-26 03:36] puiseux commented on #3401
Still crashes :
[code]
maybe this can help :

Process:               Python [5780]
Path:                  /usr/local/Cellar/python/2.7.12/Frameworks/Python.framework/Versions/2.7/Resources/Python.app/Contents/MacOS/Python
Identifier:            Python
Version:               2.7.12 (2.7.12)
Code Type:             X86-64 (Native)
Parent Process:        bash [872]
Responsible:           Terminal [800

[2016-09-26 04:37] jonchang commented on #3401
@puiseux, the patch isn't in Homebrew yet. So you'll have to apply it yourself. It doesn't look like it got applied in your case, as there should be a message when you run `brew postinstall vtk` that says something like `Patching VTK to use Homebrew's Python`

[2016-09-26 06:26] dagola commented on #4338
Thanks for your replies so far.
I can confirm that upgrading to Sierra resolves this problem.

[2016-09-26 09:40] marmot1123 commented on #4333
Thanks! Certainly, `gstreamer` was not installed.
Then I tried `brew install gstreamer`.
And then I retried `brew install qt5`, but it happened same thing.
Still I cannot understand why I cannot install qt5.
Anyway, thanks for your comment.

[2016-09-26 11:49] agolovenko commented on #4347
same issue

[2016-09-26 13:55] butala commented on #3401
I can confirm that the patch works. The general steps are:

1. Download patch: https://github.com/Homebrew/homebrew-science/pull/4342.patch
2. Apply patch: `patch /usr/local/Homebrew/Library/Taps/homebrew/homebrew-science/vtk.rb 4342.patch`
3. Install: `homebrew install vtk`

[2016-09-26 14:54] mbahri opened #4351 "graph-tool fails to compile with --with-python3"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-09-26 15:15] fitzyjoe commented on #2428
I upgraded to macOS Sierra and building `vigra` fails for me.

[code]

[2016-09-26 15:31] dmwelch commented on #3401
I can confirm the patch.  FYI: My commands/paths were slightly different from @butala -
[code]

Then to verify:
[code]

[2016-09-26 16:10] jwhubert91 commented on #4315
Hey Darren - Did you get this figured out? I'm having such a problem getting node and npm to work properly. I've tried installing manually and with Homebrew. Nothing seems to get it consistently working. Would love to know if you have any updates on this.

[2016-09-26 16:20] danielytics commented on #3237
I got it too, for `2.18_1`

[2016-09-26 16:32] sjaumann commented on #4347
same issue

[2016-09-26 21:56] davidglbr commented on #4315
@jwhubert91 @darrenbrett Having this problem too.
Trying to find the node exec to link, any insight?

[2016-09-27 02:01] iggirex commented on #4315
Anyone figure this out? or this just got closed with no solution????

[2016-09-27 02:15] davidglbr commented on #4315
Not sure why it was closed (@dpo?). Linking it shouldn't be difficult. Are we missing something or is it a bug?

[2016-09-27 02:20] varnerlab commented on #4347
same issue

[2016-09-27 02:28] jonchang commented on #4315
Please file a new issue according to the issue template. We closed the original issue because it didn't provide sufficient information to help us diagnose the problem.

[2016-09-27 06:21] Apeder commented on #3839
This was frustrating. After following the instructions above, I also had to reinstall the R kernel following the instructions here: https://github.com/IRkernel/IRkernel

[2016-09-27 06:24] ilovezfs commented on #3839
@Apeder is that a component brew itself handles or something you install after brew r has been installed?

[2016-09-27 06:44] Apeder commented on #3839
AFAIK, it's something to install after R, not managed by brew.

[2016-09-27 09:22] ccshao opened #4353 "brew tap homebrew/science error with invalid attribute version (nil) in sortmerna"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-09-27 12:24] dpo commented on #3839
@Apeder the brew formula for R doesn't cover IRkernel, which isn't even registered on CRAN. Are you saying that in your case, brew R stll wants /usr/local/Library/ENV to exist? What were the specific error messages?

[2016-09-27 12:35] dpo commented on #3387
Closing this as octave has been updated since. Feel free to open a new issue if the problem persists.

[2016-09-27 12:35] #3387 closed

[2016-09-27 12:40] dpo commented on #4347
Duplicate of #4305. Please see instructions there. I'll try to push an upgraded octave formula asap.

[2016-09-27 12:40] #4347 closed

[2016-09-27 12:51] dpo commented on #4346
@bruce3141 See [these instructions](https://github.com/Homebrew/homebrew-science/issues/4307#issuecomment-247170702) for how to update a formula and submit a PR.

[2016-09-27 14:25] dpo commented on #4353
I cannot reproduce this. Could you try `brew untap homebrew/science; brew tap --repair; brew tap homebrew/science`?

[2016-09-27 14:56] dpo commented on #4351
For reference, the error is
[code]
@count0 Can you tell if this is an issue with `graph-tool`? It seems related to https://git.skewed.de/count0/graph-tool/issues/333. Here's a link to the detailed error message:
https://gist.github.com/anonymous/19b4dc2c0cdd5a13f19feb37af5bf468#file-02-make-L118

[2016-09-27 15:02] mmngreco commented on #4347
Thanks,  #4305 works for me. 👍

[2016-09-27 15:07] jonchang commented on #4353
This is a known issue with Linuxbrew caused by incompatible changes in how we parse version numbers out of URLS, which changed after Homebrew 1.0. (Linuxbrew is still on homebrew 0.99.)

[2016-09-27 15:35] count0 commented on #4351
Yes, this is the same issue. It is already fixed in git, and will be available in the next release. In the mean time, there is a patch that fixes it here: https://aur.archlinux.org/cgit/aur.git/tree/0001-Fix-compilation-problem-with-newer-CGAL.patch?h=python-graph-tool

[2016-09-27 17:56] nextgenusfs opened #4356 "RepeatScout broken link"
The download link to `repeatscout` seems to be broken (http://repeatscout.bioprojects.org/RepeatScout-1.0.5.tar.gz).  The alternative link is still active from the RepeatMasker website here: http://www.repeatmasker.org/RepeatScout-1.0.5.tar.gz.

[2016-09-27 18:56] dpo commented on #4356
Thanks for the heads up! It would be great if you could submit a pull request to fix the URL.

[2016-09-27 18:59] #4351 closed

[2016-09-27 19:00] dpo commented on #4351
Thanks! Should be fixed. Please `brew update`.

[2016-09-27 19:17] kingcohn1 commented on #4335
Hello Jonathan,

I get:
$ /usr/bin/g++-4.8
bash: /usr/bin/g++-4.8: No such file or directory

but when I type:
$ /usr/bin/g++ --version
g++ (Ubuntu 5.4.0-6ubuntu1~16.04.2) 5.4.0 20160609
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

On Fri, Sep

[2016-09-27 19:29] nextgenusfs commented on #4356
I tried to do this, but never done it before, hopefully I didn't screw up.... https://github.com/Homebrew/homebrew-science/pull/4357

[2016-09-27 20:15] Apeder commented on #3839
The error message was the same as reported here: http://stackoverflow.com/questions/38440350/sed-directory-not-found-when-running-r-with-e-flag

`/usr/local/bin/R: line 193: /usr/local/Library/ENV/4.3/sed: No such file or directory
ERROR: option '-e' requires a non-empty argument`

This error persisted after I had upgraded to Sierra and tried `brew reinstall -s r` several times. After I reinstalle

[2016-09-28 02:42] vinyldarkscratch commented on #4303
The problem is that [QTKit is deprecated since 10.9, and it was stated that it will be removed in a future version](https://developer.apple.com/reference/qtkit).  It seems that Sierra is that very version.  [AVFoundation](https://developer.apple.com/reference/avfoundation) is the library they say should be used in it's place.

[2016-09-28 06:14] semenyukdmitriy commented on #4305
Changing `system "./configure", *args` to `system "./configure", "ac_cv_func_mkostemp=no", *args` in the formula file (locally) fixed the issue for me.

[2016-09-28 06:26] ilovezfs commented on #4305
superenv sets that value, so that means your brew is outdated if that fixes anything

[2016-09-28 07:43] ccshao commented on #4353
@jonchang  is there a temporary fix before the linuxbrew goes to 1.0?

[2016-09-28 07:45] ccshao commented on #4353
@dpo `-- repair` does not work.

[2016-09-28 08:27] shekhei commented on #4353
I am having the same problem under osx el capitan 10.11.6

[2016-09-28 09:51] vincentqiu opened #4363 "brew tap homebrew/science on macOS 10.12"
brew tap homebrew/science

qxf:caffe qxf$ brew tap homebrew/science
==> Tapping homebrew/science
Cloning into '/usr/local/Library/Taps/homebrew/homebrew-science'...
remote: Counting objects: 638, done.
remote: Compressing objects: 100% (634/634), done.
remote: Total 638 (delta 1), reused 66 (delta 0), pack-reused 0
Receiving objects: 100% (638/638), 557.50 KiB | 474.00 KiB/s, done.
Resolving delta

[2016-09-28 12:14] drejom commented on #4353
+1 for Ubuntu 14.04

[2016-09-28 17:54] jonchang commented on #4363
Hi @vincentqiu, could you please fill out the [Issue Template](https://github.com/Homebrew/homebrew-science/blob/master/.github/ISSUE_TEMPLATE.md)? This will help us diagnose this problem. Thanks!

[2016-09-29 01:44] jonchang commented on #4334
Fixed by #4342.

[2016-09-29 01:44] #4334 closed

[2016-09-29 09:43] houtanb opened #4366 "brew update broke octave"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [X] Looked up the software bug tracker if reporting a build error?
- [X] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-09-29 10:44] ticktricktrack commented on #4333
Same problem for me

[2016-09-29 11:22] tomasdikk commented on #4366
Having the exact same problem here unfortunately.

[2016-09-29 11:25] dpo commented on #4366
@schoeps Perhaps this can be addressed in #4327?

[2016-09-29 11:28] ilovezfs commented on #4366
I'm the one who broke it. It needs a revision bump due to the `readline` upgrade in core: https://github.com/Homebrew/homebrew-core/pull/4869

All science victims:

homebrew/science/gap
homebrew/science/gnudatalanguage
homebrew/science/nest
homebrew/science/nexusformat
homebrew/science/octave
homebrew/science/pspp
homebrew/science/qcl
homebrew/science/r
homebrew/science/shogun
homebrew/science/sym

[2016-09-29 11:49] ilovezfs opened #4367 "readline 7 revisions needed"
- [x] homebrew/science/gap #4368
- [x] homebrew/science/gnudatalanguage #4369
- [x] homebrew/science/nest #4370
- [x] homebrew/science/nexusformat #4371
- [x] homebrew/science/octave #4327
- [x] homebrew/science/pspp #4372
- [x] homebrew/science/qcl #4373
- [x] homebrew/science/r #4374
- [x] homebrew/science/shogun #4375
- [x] homebrew/science/symphony #4376

[2016-09-29 11:50] ilovezfs commented on #4366
Closing in favor of https://github.com/Homebrew/homebrew-science/issues/4367.

[2016-09-29 11:50] #4366 closed

[2016-09-29 12:34] dpo commented on #4220
Octave was just updated and rebottled. I'm going to close this but please open a new issue if the problem persists for you (it doesn't show up on the build bot). Thanks.

[2016-09-29 12:34] #4220 closed

[2016-09-29 12:34] ilovezfs commented on #4366
Should now be fixed if you brew update and brew upgrade

[2016-09-29 12:35] houtanb commented on #4366
@ilovezfs thanks

[2016-09-29 12:39] houtanb commented on #4366
@ilovezfs actually, I'm a bit concerned, because octave was just upgraded to 4.2 rc2, which is not the current stable version. Is there any way to make this fix for Octave 4.0.3? I don't think that the default version of octave should be a release candidate

[2016-09-29 12:46] dpo commented on #4366
https://github.com/Homebrew/homebrew-science/pull/4327#issuecomment-250449428

[2016-09-29 12:50] houtanb commented on #4366
@dpo yes, but it hasn't been released yet as 4.2. What's more, for those of us who work on multiple platforms (I work on OS X and Debian), this creates an environment that is not consistent. It's just not correct to force upgrades before they are officially released, no matter if they will "probably" be released as is.

[2016-09-29 12:53] ilovezfs commented on #4366
@houtanb you're welcome to discuss this with @schoeps on #4327.

[2016-09-29 13:35] tseemann opened #4378 "igvtools - Error: SHA256 mismatch"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?

### Bug reports / build errors:

[code]

[2016-09-29 13:42] ilovezfs commented on #4378
guess they reuploaded it lol

[2016-09-29 13:45] ilovezfs commented on #4378
@tseemann fixed https://github.com/Homebrew/homebrew-science/pull/4379

[2016-09-29 13:45] #4378 closed

[2016-09-29 15:53] macmanes commented on #4353
I have same problem in Ubuntu 14.04

[2016-09-29 15:57] tseemann commented on #4353
I'm on RHEL and get it too:
[code]

[2016-09-29 16:02] #4353 closed

[2016-09-29 16:02] sjackman commented on #4353
Fixed with a workaround. Merging `Homebrew/brew` into `Linuxbrew/brew` should hopefully fix this issue properly.

[2016-09-29 16:20] ptranvan opened #4380 "MergePairedFastbs is slow"
Hi,

I got some problem with the prepare step, especially the MergePairedFastbs function...

In particular, it writes 10MB in 1 hour.
Is it normal ? if no, how to solve that.

[2016-09-29 16:29] dpo commented on #4380
Hi. Could you explain what makes you think that the problem is due to Homebrew/Science? Did you ask the question upstream?

[2016-09-29 23:39] ilovezfs commented on #4338
Fixed in https://github.com/Homebrew/homebrew-science/pull/4374.

[2016-09-29 23:39] #4338 closed

[2016-09-30 00:39] singamsetty commented on #4104
Thanks for the tip. Following worked for me on Sierra
`brew reinstall opencv3 --HEAD --with-python3 --with-ffmpeg --with-tbb --with-contrib`

[2016-09-30 01:13] drejom opened #4381 "kent-tools: undefined reference to `png_set_longjmp_fn' on Linuxbrew"
### Indicate troubleshooting steps taken
- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew -

[2016-09-30 01:29] darrenbrett commented on #4315
For me it ended up being a permissions issue. After making some tweaks everything ran/installed as expected. I'd copy in exactly what I changed, but it's been a couple of weeks now.

[2016-09-30 06:36] johnsonea opened #4382 "scotch on macOS 10.12 Sierra gives "internal link edit command failed""
### Indicate troubleshooting steps taken

- [Y] Ran `brew update` and retried your prior step?
- [Y] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [Y] Checked that a similar issue hasn't already been filed?
- [?] Looked up the software bug tracker if reporting a build error?
- [N] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-09-30 08:19] dpo commented on #4382
Thanks for the report. That seems odd. I opened #4383 to see if the same happens on the bot as I don't have access to a 10.12 system.

[2016-09-30 08:19] tseemann commented on #4353
Thanks for patching that @sjackman

[2016-09-30 12:19] My2ndAngelic commented on #2915
I have the problem, here is the gist: https://gist.github.com/My2ndAngelic/64793f48f2e42708be18094f4e7b742d

[2016-09-30 15:58] severinsimmler commented on #4104
This also worked for me, @singamsetty. Thank you!

[2016-09-30 16:22] nir-krakauer opened #4387 "Octave install fails in Ubuntu"
The message is `configure: error: unrecognized option: '-lblas -llapack'`

[Gist](https://gist.github.com/62bf06cd9f47902de1ad0aaa0a536d09)

[2016-09-30 16:45] EMacco commented on #4104
I have been trying to install opencv on Sierra
Error: You must `brew link cmake pkg-config openexr` before homebrew/science/opencv3 can be installed
Please does anyone have a solution?

[2016-09-30 18:02] jwhite007 opened #4388 "Brew Fails to Upgrade R (using linuxbrew)"
### Indicate troubleshooting steps taken
- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew -

[2016-09-30 19:59] xanview commented on #4303
Same problem: "fatal error: 'QTKit/QTKit.h' file not found"

[2016-10-01 15:30] graz90 opened #4392 "Build LAMMPS as a shared directory on Mac"
### Indicate troubleshooting steps taken
- [ ] Ran `brew update` and retried your prior step?
- [ ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X ] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-10-01 16:14] dpo commented on #4392
Hi. I am not sure what you are trying to achieve. When you installed lammps with brew, brew already compiled it as a shared library for you. The command `make mac mode=shlib` is [already in the brew formula](https://github.com/Homebrew/homebrew-science/blob/master/lammps.rb#L180), so you don't need to do that again. You can just start using lammps.

[2016-10-01 17:56] graz90 commented on #4392
I see, maybe the issue is related to something else.
What I am trying to do is to launch this basic Python script from Mac, that should load my LAMMPS file whose name is passed from command line and run it at once.

---------------------------

from __future__ import print_function
import sys

# parse command line

argv = sys.argv
if len(argv) != 2:
  print("Syntax: trivial.py in.lammps")
  sys.ex

[2016-10-01 17:58] graz90 commented on #4392
Ah sorry for the strange layout, the comments on my script seem to be reported as giant words here.

[2016-10-01 18:21] graz90 commented on #4392
Maybe the issue is solved, I tried to install the Homebrew version of Python by simply requiring:
brew install python
and the LAMMPS library is correctly loaded in my Python script. Is it possible that the problem was just related to the fact that my Python version was obsolete, or at least non compatible with Homebrew configurations?

[2016-10-01 23:49] dpo commented on #4392
It probably means that Homebrew LAMMPS links by default with Homebrew Python, which is actually a bug (though I'm glad your script is now working).

[2016-10-01 23:54] dpo commented on #4387
Thanks for the report. #4394 should fix it.

[2016-10-02 04:12] #4387 closed

[2016-10-02 04:13] dpo commented on #4387
Please `brew update`. It should be alright now.

[2016-10-02 13:34] nir-krakauer commented on #4387
It works now. Thanks!

[2016-10-02 22:38] #4382 closed

[2016-10-02 22:39] dpo commented on #4382
Should be good now. Please `brew update` and try again.

[2016-10-03 01:03] johnsonea commented on #4382
Works. Thx!

On Oct 2, 2016, at 3:39 PM, Dominique <notifications@github.com<mailto:notifications@github.com>> wrote:

Should be good now. Please brew update and try again.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_Homebrew_homebrew-2Dscience_issues_4382-23issuecomment-2

[2016-10-04 02:45] apjanke commented on #2555
For some reason it's not linking to `sqlite`. Adding `depends_on "sqlite"` and `ENV.append "LDFLAGS", "-lsqlite"` to the formula didn't fix it for me. For some reason, the `-lsqlite` flag is still not showing up in the link command.

[code]

Any ideas how to tweak the formula or `spatialite-gui`'s `configure` script to convince it to link `sqlite`?

[2016-10-04 14:33] dpo commented on #4392
Confirmed that that's the problem:
<pre>
$ otool -L /usr/local/opt/lammps/lib/python2.7/site-packages/liblammps.so
/usr/local/opt/lammps/lib/python2.7/site-packages/liblammps.so:
	/usr/local/opt/lammps/lib/python2.7/site-packages/liblammps_mac.so (compatibility version 0.0.0, current version 0.0.0)
	/usr/local/lib/libfftw3.3.dylib (compatibility version 8.0.0, current version 8.4.0)
	/usr/local/op

[2016-10-04 15:27] #4356 closed

[2016-10-04 18:36] barronlroth commented on #4303
@xanview installing the --HEAD version should work.

[2016-10-04 23:37] timotheecour opened #4399 "regression: brew upgrade homebrew/science/opencv fails"
(used to work)
ubuntu 16.04:
brew gist-logs homebrew/science/opencv
https://gist.github.com/5949e4f2a2b1e304e82dc28b83514239

ubuntu 14.04:
brew gist-logs homebrew/science/opencv
https://gist.github.com/5ed499c3abfd54df8871fa3206dec251

==> Upgrading homebrew/science/opencv

[code]

[2016-10-04 23:42] timotheecour opened #4400 "regression: brew upgrade homebrew/science/opencv3 fails"
brew gist-logs homebrew/science/opencv3
https://gist.github.com/e00f6e3f21eebb9f5c022f241612ec44

(used to work)

[code]

[2016-10-05 04:08] brooksph opened #4401 "Prokka- Could not determine version of minced"
Installed prokka and upon execution received the following error.

Exception in thread "main" java.lang.UnsupportedClassVersionError: minced : Unsupported major.minor version 52.0
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClassCond(ClassLoader.java:637)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:621)
	at java.security.SecureClassLoader.define

[2016-10-05 08:14] jonchang commented on #4401
Looks like `minced` needs Java 1.8, but you have 1.6. If you like, you can use Cask to update Java: `brew cask install java`

[2016-10-05 14:23] yujun1214 commented on #4303
I met the same problem, was it fixed?

[2016-10-05 16:17] brooksph commented on #4401
@jonchang That worked. Thanks!

[2016-10-05 20:25] jonchang commented on #4401
Glad to hear that. Fixed by #4403.

[2016-10-05 20:25] #4401 closed

[2016-10-06 04:39] cll12 opened #4410 "GMT4 update from SOEST"
GMT4 has been updated (as of Oct 1, 2016). The download url for gmt-4.5.14 in gmt4.rd no longer points to a file that exists. This is also true of the gshhg-gmt2.3.4 file, which has also be updated. The lines should now read:

url "ftp://ftp.soest.hawaii.edu/gmt/gmt-4.5.15-src.tar.bz2"
and
url "ftp://ftp.soest.hawaii.edu/gmt/gshhg-gmt-2.3.6.tar.gz"

I tried to alter the gmt4.rd code and go through

[2016-10-06 16:27] stephane-lb opened #4413 "OpenImageIO + Python3 ( and 2.7 )"
Good evening,

I just installed openimagiio with the option below :

[code]

Then I just opened a terminal, launch python3 and try this line :

[code]

And I got this error :

[code]

So I think something is wrong, but I did not see where by editing the formula, if anyone can help it would be great !

Thanks,

Stephane-lb

[2016-10-07 09:34] starkshaw opened #4416 "Fail to install OpenCV"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-10-07 13:14] chriswl commented on #4416
This looks like a duplicate of #4336 and #4303. `brew install homebrew/science/opencv --HEAD` worked for me in this situation.

[2016-10-07 19:09] sunilshah opened #4418 "octave 4.2-rc02 does not support gui"
### Indicate troubleshooting steps taken
Ran brew update
Ran brew upgrade octave

### Bug reports / build errors:

==> Installing homebrew/science/octave
==> Downloading https://homebrew.bintray.com/bottles-science/octave-4.2.0-rc2.el_capitan.bottle.1.tar.gz
######################################################################## 100.0%
==> Pouring octave-4.2.0-rc2.el_capitan.bottle.1.tar.gz
Warni

[2016-10-07 20:00] jonchang commented on #4381
It looks like Linuxbrew is attempting to link `kent-tools` against your system copy of `libpng` instead of Homebrew's version. Your system copy of libpng seems to be too old to support kent-tools. Do you know if you can install a newer version of system libpng? The command is probalby something like `apt-get install libpng-dev`. This should temporarily resolve the problem until we figure out the r

[2016-10-08 11:59] dpo commented on #4418
`brew install octave --with-gui` will build from source. Please close this issue if it works for you.

[2016-10-08 12:00] dpo commented on #4410
Closing in view of #4409.

[2016-10-08 12:00] #4410 closed

[2016-10-08 18:44] schoeps commented on #4418
Actually it should be
[code]
but `--with-gui` is still supported (we should change the text of the caveat). However, it will not compile with recent Xcode >=8. That is why we disabled the GUI.

Yes but it's currently painful. You must use a patched qt 5.7.0 (https://github.com/Homebrew/homebrew-core/pull/5619) and a patched qscintilla2 (https://github.com/sqlitebrowser/sqlitebrowser/issues/776). B

[2016-10-08 19:34] sunilshah commented on #4418
Thanks.  I will wait for the patched formulas to be released for 10.12.  Once they work, I will close the issue.

By the way, upgrading Mac OS 10.11 to OS 10.12 makes installed octave 4.0.3  to fail at run time.  I will wait for the patched formulas before upgrading other Macs  to OS 10.12.

[2016-10-08 23:59] mhulse commented on #4303
So, like: `brew tap homebrew/science && brew install --HEAD opencv3`? :)

[2016-10-09 16:44] ablyeom commented on #4303
@mhulse
In my case, I ran like: `brew reinstall opencv3 --HEAD --with-ffmpeg --with-tbb --with-contrib`

[2016-10-09 17:07] mhulse commented on #4303
Thanks for the reply @ablyeom. Do you happen to know if I need to add anything to my path after install? When I run `which opencv3` or `which opencv`, I get nothing. :(

[2016-10-09 17:30] ablyeom commented on #4303
@mhulse
OpenCV(which you installed) is not executable file. it's a library for computer vision.

In my case, **`lib`** and **`include`** directories are located under `/usr/local/Cellar/opencv3/HEAD-dd379ec_4` directory.

And! I am starter of opencv, actually... so I cannot help you properly.T-T

[2016-10-09 17:40] mhulse commented on #4303
Thanks @ablyeom, I really appreciate it! 👍 I'm new to `opencv` too. I just assumed it would show up on my path after installation. I'm trying to use it in conjunction with a node package … Anyway, starter here too! Thanks again!

[2016-10-10 05:40] RicterZ opened #4423 "Compile error of ncbi-c++-toolkit"
### Indicate troubleshooting steps taken
- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew -

[2016-10-10 05:44] tseemann opened #4424 "amos bottle confusion"
I think there has been a `revision` but no new bottle?

[code]

Bintray has: `amos-3.1.0.x86_64_linux.bottle.tar.gz`

[2016-10-10 12:16] drejom commented on #4381
Thanks Jon, but no joy...`libpng12-dev` was already installed and up to date. Unless Ubuntu 14.04 is too old?
'''
apt-get install libpng-dev
Note, selecting 'libpng12-dev' instead of 'libpng-dev'
libpng12-dev is already the newest version.
'''

[2016-10-10 13:32] santhosh1993 opened #4425 "octave pkg install error"
octave:1> pkg install -forge general control signal image
In file included from __control_helper_functions__.cc:7:
./lti_input_idx.cc:65:48: warning: 'nelem' is deprecated
      [-Wdeprecated-declarations]
    octave_idx_type len = args(0).cell_value().nelem();
                                               ^
/usr/local/Cellar/octave/4.2.0-rc2/include/octave-4.2.0-rc2/octave/Array.h:360:19: note:

[2016-10-10 14:07] starkshaw commented on #4416
@chriswl Fixed, thanks.

[2016-10-10 14:07] #4416 closed

[2016-10-10 18:31] gwerbin opened #4427 "qgis build failing on El Capitan"
Not sure if this is the same as #3442
### Errors

Output from `brew update && brew install qgis`:

[code]

Similar error arises if `--with-postgis` is included;

[code]
### Gist log

`brew gist-log qgis` output: https://gist.github.com/a882a606f66f52d00ede2065afa6c562
### Brew config

`brew config` output:

[code]
### Brew doctor

`brew doctor` output:

[code]

I know it looks like I have a Franke

[2016-10-10 18:37] jonchang commented on #4381
Yeah, libpng 1.2 is too old. You might need 1.4 or 1.6, I'm not exactly sure.

[2016-10-10 20:38] dpo commented on #4425
Please fill out the issue template. Thank you.

[2016-10-11 07:44] santhosh1993 commented on #4425
### Indicate troubleshooting steps taken

- [ ] Ran `brew update` and retried your prior step?
- [ ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ ] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-10-11 09:29] universewill opened #4437 "command not found: pcl_viewer after install pcl on Macos"
I install pcl using command "brew install pcl".
I run command "pcl_viewer 1.pcd" in terminal but the command is not found.

I find the pcl_viewer binary file in path:
/usr/local/Cellar/pcl/1.8.0_2/pcl_viewer.app/Contents/MacOS

How can i fix this problem?

[2016-10-11 13:35] yorelog commented on #4104
I solved the problem just append a flag `--HEAD` which will install the master branch of [opencv](https://github.com/opencv/opencv).

[pull requests #7266 of opencv ](https://github.com/opencv/opencv/pull/7266) had added the support of OSX AVFoundation , which is a replace framework of QTKit

[2016-10-11 17:12] Lv1204 commented on #4303
@ablyeom that works. Thanks a lot!

[2016-10-12 15:07] WortPixel commented on #3172
I'm assuming standard brew location as well as root & python versions as of now. Maybe this helps.
`brew install cmake`
`brew install python3`
`cd /usr/local`
`curl https://root.cern.ch/download/root_v6.06.08.source.tar.gz | tar xz `
`mkdir root6`
`cd root6`
`cmake ../root-6.06.08 -DPYTHON_EXECUTABLE=/us/local/bin/python3 -DPYTHON_INCLUDE_DIR=/usr/local/Cellar/python3/3.5.2/Frameworks/Python.frame

[2016-10-12 15:51] dpo commented on #3172
Thanks for the tip. It would be immensely cleaner to modify the `root` formula to build correctly against Python3. It would be great if you could submit a pull request in that direction.

[2016-10-12 19:58] iMichka commented on #3401
Hi. I would propose to close this bug. A workaround has been merged, and we can live with that for the moment. The real fix is coming with #3811, but we are still waiting for upstream to make a move. The discussion should continue in #3811.

[2016-10-12 21:03] iMichka commented on #2554
Ping @bfontaine this has been good on my side for some time. Could you please re-test ? I will also update to version 0.10 later anyway.

[2016-10-13 04:22] #3577 closed

[2016-10-13 06:12] ablyeom commented on #4303
@Lv1204 I am glad to be of help :)

I found option to install with new numpy-1.11.2, instead of dependency numpy-1.11.1.
If you want to use python, append `--without-numpy` option.
To use this option, you should install `numpy` using brew.

[2016-10-13 09:19] tommy9l opened #4452 "-[]Ran 'brew upgrade root' and got a massive error"
### Indicate troubleshooting steps taken

- [x ] Ran `brew update` and retried your prior step?
- [ x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ ] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(bre

[2016-10-13 14:31] RedAthens commented on #4399
I have also met this error.

[2016-10-13 16:05] dpo commented on #4452
Please post the output of `brew doctor`.

[2016-10-13 16:36] dpo commented on #4437
`pcl` is built as an app by default. If you want to use it from the command line, try `brew install pcl --without-apps`.

[2016-10-13 17:07] tommy9l commented on #4452
Here is the output of brew doctor

Please note that these warnings are just used to help the Homebrew maintainers
with debugging if you file an issue. If everything you use Homebrew for is
working fine: please don't worry and just ignore them. Thanks!

Warning: "config" scripts exist outside your system or Homebrew directories.
`./configure` scripts often look for *-config scripts to determine if

[2016-10-13 19:29] #2252 closed

[2016-10-13 19:30] dpo commented on #2252
Sorry for the long wait. I just pushed an update that successfully reads in data in the test. Please open a new issue if problems persist.

[2016-10-13 21:29] jhhinrichsen commented on #4367
tig is broken too

[2016-10-14 12:40] duytruong27 opened #4459 "Failed building netcdf, missing open-mpi"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-10-14 14:27] jwhite007 commented on #4388
Is there any word on this? I've had to uninstall R because of some other issues. I cannot get R to install.

[2016-10-14 15:03] jwhite007 opened #4461 ""brew install r --with-cairo" is fubar (Linuxbrew)"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-10-14 16:03] dpo commented on #4461
Duplicate of #4388. Please add additional information to that issue. Sorry it's taking a while to get back to you.

[2016-10-14 16:03] #4461 closed

[2016-10-14 17:02] dpo commented on #4388
Perhaps @sjackman can comment more precisely on the behavior of Linuxbrew, but there's no Linux bottle for `cairo` and the formula was updated to 1.14.6 on September 10th, 2016. So I'm guessing that `brew` decided to install `cairo` seeing that the current version wasn't installed. The most recent `r` Linux bottle seems to date from July 28th, 2016. I'm guessing `r` needs to be rebottled against t

[2016-10-14 18:48] samcunliffe commented on #3172
+1 to this.
Can we have homebrew use python3 either by default or by a simple option.
I hate building root from source. It's got to be one of my least favourite things to do.

[2016-10-14 18:56] dpo commented on #3172
Python3 cannot be the default because Homebrew's policy is to use System Python, but there should be a `--with-python3` option when building `root` (it will be a source build.)

[2016-10-14 19:21] dpo commented on #4459
Did you previously install `hdf5` `--with-mpi`? If so, you'll need to recompile `hdf5` from source because it's still pointing to an outdated version of OpenMPI.

[2016-10-14 19:26] dpo commented on #4424
Is it that I forgot to ping @sjackman 🐧 ?

[2016-10-14 19:53] dpo commented on #1891
Closing as this is now obsolete.

[2016-10-14 19:53] #1891 closed

[2016-10-14 19:53] dpo commented on #1737
Closing as obsolete.

[2016-10-14 19:53] #1737 closed

[2016-10-14 20:15] dpo commented on #1915
I'm not convinced that will lead to a clean install because some optional components are already available as separate Homebrew formulae. But if you feel strongly, please feel free to submit a pull request that we'll evaluate. Thanks.

[2016-10-14 20:15] #1915 closed

[2016-10-14 20:17] dpo commented on #2123
@tseemann Was this ever resolved?

[2016-10-14 20:33] dpo commented on #2315
I'm going to close this as the formulae that are left need more drastic measures.

[2016-10-14 20:33] #2315 closed

[2016-10-14 20:42] dpo commented on #2170
All the formulae mentioned here have been updated, so I'll close this. Please open a new issue if problems persist. Thank you.

[2016-10-14 20:42] #2170 closed

[2016-10-14 20:42] dpo commented on #2179
Closing for lack of activity. Please open a new issue if problems persist.

[2016-10-14 20:42] #2179 closed

[2016-10-14 20:44] dpo commented on #2257
Closing for lack of activity. Please open a new issue if problems persist.

[2016-10-14 20:44] #2257 closed

[2016-10-14 20:57] samcunliffe commented on #3172
Ah right! I take it back, system python makes much more sense. I agree that a `--with-python3` option would be best.

For the benefit of others finding this thread, my version(?) of python3 from Homebrew has a `3.5.2_1` so the paths are different (updated?) from @WortPixel 's recipe above. I think all that is required is to replace the seventh line of the above with:

`
cmake ../root-6.06.08 -DPYT

[2016-10-14 21:06] dpo commented on #3172
I really don't encourage users to employ the "fix" above as that actively interferes with the HOMEBREW_PREFIX. What I meant is to modify the formula.

[2016-10-14 21:08] dpo commented on #2442
Given that `vtk` has been updated several times, I'll close this. Please feel free to open a new issue if there are still difficulties.

[2016-10-14 21:08] #2442 closed

[2016-10-14 21:09] samcunliffe commented on #3172
I don't have the ruby skills to do that.

[2016-10-14 21:09] #2687 closed

[2016-10-14 21:10] dpo commented on #2634
Could be an alias?

[2016-10-14 21:12] dpo commented on #2634
`tabix` was moved to the boneyard.

[2016-10-14 21:12] #2634 closed

[2016-10-14 21:13] dpo commented on #2517
Closing as `qhull` was updated since.

[2016-10-14 21:13] #2517 closed

[2016-10-14 21:14] sunilshah commented on #4418
This issue below is not about octave-gui but about getting octave-cli to work correctly on Mac OS 10.12 for octave 4.2-rc2

1)
brew update
brew install octave

runs to completion but plot command  (gnuplot) does not work.
setenv("GNUTERM","qt"), or "x11", or "aqua" does not help.

gnuplot is always called with aqua from octave.

2)
brew install octave --with-qt5

also runs to completion but  has t

[2016-10-14 21:14] dpo commented on #2520
@schoeps I presume this can be closed?

[2016-10-14 21:15] dpo commented on #2537
There's a 10.10 bottle for `bless`. Is this still relevant?

[2016-10-14 21:35] #2554 closed

[2016-10-14 21:41] dpo commented on #2721
@devonhollowood Can you confirm that the path fixes the build for you?

[2016-10-14 21:43] bfontaine commented on #2537
@dpo I don’t know; I don’t have 10.10 anymore :/

[2016-10-14 21:48] dpo commented on #3343
I just updated the `colpack` bottles and it built fine on the bot. Please feel free to open a new issue if problems persist.

[2016-10-14 21:48] #3343 closed

[2016-10-14 21:58] #3334 closed

[2016-10-14 22:00] dpo commented on #3511
This kind of discussion should probably happen over chat.

[2016-10-14 22:00] #3511 closed

[2016-10-14 22:03] dpo commented on #3370
`pcl` is now at version 1.8.0 so this issue has hopefully been resolved. Please feel free to open a new issue if problems persist.

[2016-10-14 22:03] #3370 closed

[2016-10-14 22:04] dpo commented on #3347
`pcl` was updated to 1.8.0 which should build against vtk7. Please feel free to open a new issue if problems persist.

[2016-10-14 22:04] #3347 closed

[2016-10-14 22:07] #2543 closed

[2016-10-14 22:11] dpo commented on #2537
It builds for me and there's a bottle, so I'll go ahead and close this.

[2016-10-14 22:11] #2537 closed

[2016-10-14 22:29] dpo commented on #2539
This is now resolved, but see #4465 for the current failure (on 10.12).

[2016-10-14 22:29] #2539 closed

[2016-10-14 23:47] #2549 closed

[2016-10-15 00:20] #2553 closed

[2016-10-15 00:22] dpo commented on #2380
I'm going to close this since `brew audit` handles everything.

[2016-10-15 00:22] #2380 closed

[2016-10-15 01:06] #2544 closed

[2016-10-15 07:25] schoeps commented on #2520
Yes, this problem should be solved.

[2016-10-15 07:35] schoeps commented on #4418
This requires gnuplot to be installed with the corresponding options `--with-...`. What switches did you choose?

In either case `brew install gnuplot --with-qt5` and `brew install octave --with-qt5` are still broken.

[2016-10-15 08:53] LaurentTreguier commented on #4014
[code]
It looks like you are using Linxbrew on Ubuntu and not the original Homebrew on OS X... I have the same issue and I am using Linuxbrew too. This may be a Linuxbrew-specific problem.

[2016-10-15 15:33] #2520 closed

[2016-10-15 16:43] sunilshah commented on #4418
In case 1) I did not specify any flags to the brew install octave command.

In case 3) I did test --with-qt5 --without-qt5  --with-aqua

[2016-10-15 19:33] schoeps commented on #4418
On Sierra neither `gnuplot` nor `octave` compile `--with-qt5`. You can use `gnuplot` with x11 or aquaterm backend or fltk.
[code]
Then the following options should work within octave
[code]
or
[code]
and since the fltk backend is compiled by default:
[code]

[2016-10-15 21:08] cmarquardt commented on #1891
Thanks.

[2016-10-15 22:03] DSamuylov opened #4471 "Problems with C compiler while installing dependencies of FEniCS"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-10-15 23:00] dpo commented on #4471
Please open dolfin-related issue on the homebrew/fenics tap tracker. We don't support Anaconda and you seem to have another `mpif90` that takes precedence on your path.

[2016-10-15 23:00] #4471 closed

[2016-10-15 23:53] sunilshah commented on #4418
This is really helpful -thanks Schoeps.

Yes, each of the above worked on Sierra.

Additionally, with that build I also verified that the following worked as well.
1)  octave kernel in Jupyter with inline plots
2) pkg install -forge control signal

[2016-10-15 23:57] sunilshah commented on #4425
I did manage to install and run control and signal packages from forge on Octave 4.2-rc2 on Sierra.

See post #4418.

[2016-10-16 00:09] dpo commented on #4425
Closing this. Please open a new issue and fill out the issue template if there are still problems.

[2016-10-16 00:09] #4425 closed

[2016-10-16 09:16] hfoffani opened #4472 "octave doesn't open GUI (10.11, compiled with --with-qt5)"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-10-16 09:17] ilovezfs commented on #4472
Yeah, this'll be fixed by https://github.com/Homebrew/homebrew-core/pull/5951.

[2016-10-16 09:17] #4472 closed

[2016-10-16 09:19] hfoffani commented on #4472
Ok, thanks!

[2016-10-16 09:20] ilovezfs commented on #4472
No problem. Thanks for reporting it.

[2016-10-16 16:20] xudesheng commented on #4303
I downloaded latest code from OpenCV and it seems like they replaced qtkit.h with AVFoundation. if I compile with XCode, now it can pass 16% and move on. However, it seems like brew is still using old code and therefore it continues fail.
sadly I have uninstalled old version installed by brew and now I can't come back.

[2016-10-17 02:39] bineetuwa opened #4477 "Trouble installing Spades in ubuntu based bash shell in windows 10"
Hi, I am getting following error while trying to install SPAdes using brew install spades.
Any help is appreciated. Thank you.

making depend in crypto...
make[1]: Entering directory `/tmp/openssl-20161017-498-vd9ab3/openssl-1.0.2j/crypto'
/home/binit/.linuxbrew/bin/makedepend: 1: /home/binit/.linuxbrew/bin/makedepend: ELF: not found
/home/binit/.linuxbrew/bin/makedepend: 3: /home/binit/.linu

[2016-10-17 03:42] D-X-Y commented on #4399
I use homebrew to upgrade opencv.
==> Upgrading homebrew/science/opencv
==> Downloading https://github.com/opencv/opencv/archive/2.4.13.tar.gz
==> cmake .. -DCMAKE_C_FLAGS_RELEASE=-DNDEBUG -DCMAKE_CXX_FLAGS_RELEASE=-DNDEBUG -DCMAKE_INSTALL_PREFIX=/usr/local/Cellar/opencv/2.4.13_3 -DCMAKE_BUILD_TYPE=Release -DCMAKE_FIND_FR
==> make

Also meet a similar error...  :(

[2016-10-17 13:09] kosma commented on #4303
@xudesheng Use `brew install opencv --HEAD` as a workaround.

[2016-10-17 15:43] lparsons commented on #4381
I'm running into a similar issue. Similar in that it seems like it's building against libraries in `/usr/lib64/` and not the homebrewed versions (in this case libssl). See logs here: https://gist.github.com/d5162f4334b374c823f3ac113a01ac18

[2016-10-17 15:57] henrybaxter opened #4482 "CASROOT suggestion for oce is incorrect (opt_prefix does not exist)"
### Very happy to fix this if someone can explain how
### Indicate troubleshooting steps taken
- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission

[2016-10-18 09:57] suczako commented on #2516
I had similar issue on OS X after upgrade to => Yosemite and then => El Capitan and then => Sierra---always the same ;)---but non of solutions above worked. Each time I solved it with command: brew reinstall octave --with-java

[2016-10-18 10:02] suczako commented on #1727
I had similar issue on OS X after upgrade to => Yosemite and then => El Capitan and then => Sierra---always the same ;)---but non of solutions above worked. Each time I solved it with command:

$ brew reinstall octave --with-java

[2016-10-18 18:50] fabe85 commented on #4399
I have a similar error with macOS 10.12:

`==> Installing opencv from homebrew/science
==> Downloading https://github.com/opencv/opencv/archive/2.4.13.tar.gz
Already downloaded: /Users/fabian/Library/Caches/Homebrew/opencv-2.4.13.tar.gz
==> cmake .. -DCMAKE_C_FLAGS_RELEASE=-DNDEBUG -DCMAKE_CXX_FLAGS_RELEASE=-DNDEBUG
==> make
Last 15 lines from /Users/fabian/Library/Logs/Homebrew/opencv/02.make:
ma

[2016-10-18 19:08] dpo commented on #4399
See https://github.com/Homebrew/homebrew-science/pull/4336

[2016-10-18 19:48] dpo commented on #4482
There may not be a cleaner solution to this than defining the version in the preamble of the formula, in the form
[code]
and then in the caveats, use only `ver_major`.

Do you want to submit a PR with those changes?

[2016-10-19 00:19] devonhollowood commented on #2721
@dpo Yes, I just tried installing without the patch (which failed with the same old error), and with that patch (which worked!). Thank you.

Incidentally, is there a better way to apply a patch than `curl https://gist.githubusercontent.com/ilovezfs/00d95a9ad9e44c8091a1353b2242c33c/raw/5c2f504334186b6d1f58b064d8cb96013a2027e1/gistfile1.txt | patch -b /usr/local/Library/Taps/homebrew/homebrew-scienc

[2016-10-19 03:39] dpo commented on #2721
@devonhollowood if the patch fixes things, we should simply update the formula to include the patch as @ilovezfs indicated. Would you like to submit a pull request and reference this issue?

[2016-10-19 04:29] devonhollowood commented on #2721
@dpo done, including running `brew audit --strict --online gnudatalanguage` (which produced no errors). Let me know if I did anything wrong; I'm new to homebrew's contribution process. Also, thanks for letting me get involved!

[2016-10-19 08:22] drdv opened #4490 "asl (3.1.0_1) failed to build on 10.12"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?

### Bug reports / build errors:

mex: compile of asl/solvers/examples/amplfunc.c failed

#### Link output by `brew gist-logs <formula>`:

https://gist.gith

[2016-10-19 10:14] matthisk opened #4491 "Install Graph-Tool"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-10-19 12:14] dpo commented on #4399
Should be fixed now.

[2016-10-19 12:16] dpo commented on #4303
Fixed by #4336.

[2016-10-19 12:16] #4303 closed

[2016-10-19 12:18] dpo commented on #3371
I'll close this now that #4336 was merged. Please open a new issue if problems remain with vtk.

[2016-10-19 12:18] #3371 closed

[2016-10-19 12:19] dpo commented on #3383
I'll close this now that #4336 has been merged. Please open a new issue if problems remain. Thanks.

[2016-10-19 12:19] #3383 closed

[2016-10-19 12:20] dpo commented on #3322
Should be fixed in #4336.

[2016-10-19 12:20] #3322 closed

[2016-10-19 12:21] #2823 closed

[2016-10-19 12:22] dpo commented on #2862
Please update and open a new issue if problems still exist.

[2016-10-19 12:22] #2862 closed

[2016-10-19 12:24] dpo commented on #1979
Please update and open a new issue if problems persist. Thanks.

[2016-10-19 12:24] #1979 closed

[2016-10-19 12:25] dpo commented on #2499
Please update and open a new issue if problems persist. Thanks.

[2016-10-19 12:25] #2499 closed

[2016-10-19 12:27] dpo commented on #2905
@ffmpbgrnn @kscasado Is this still an issue? It would be easily fixed in a pull request.

[2016-10-19 12:32] dpo commented on #4490
That's an interesting error:
[code]
Did you run `mexopts` locally to tell Matlab about clang?

[2016-10-19 12:35] dpo commented on #4418
Should be fixed by #4475.

[2016-10-19 12:35] #4418 closed

[2016-10-19 12:55] #2721 closed

[2016-10-19 12:57] dpo commented on #2721
Anytime! Thanks for your contribution!!

[2016-10-19 12:58] #3310 closed

[2016-10-19 14:53] jwhite007 commented on #4388
@dpo
Dominique,

There is no need to apologize for not getting around to addressing this. I know that you guys support Linuxbrew on your own time and do so for free. Thank you. I submitted a separate issue as it concerned the install rather than just the update, and I thought maybe minor update (such as _3) issues weren't a priority. In the future, I'll keep related issues on one thread.

I tried

[2016-10-19 15:20] ilovezfs commented on #4413
Please try again with the new version that was just merged. `brew update`

[2016-10-19 15:51] drdv commented on #4490
Thanks dpo, I don't know how I missed this!
I updated SDKROOT and MACOSX_DEPLOYMENT_TARGET in mexopts.sh and this fixed the issue.

[2016-10-19 15:51] #4490 closed

[2016-10-19 17:13] sunilshah opened #4494 "octave control package fails to install on 4.2_rc2 on sierra"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-10-19 17:28] sunilshah commented on #4494
Following up on #4418 and #4425

On Mac OS Sierra,
brew update

brew uninstall octave
brew install octave

This completed with no errors.  Both gui version and cli run and produce plots using qt.

However, control package does not install any more.

in Octave,

pkg uninstall control signal
pkg  install -forge control singal

clang: warning: argument unused during compilation: '-pthread'
ld: warnin

[2016-10-19 18:34] dpo commented on #4490
👍

[2016-10-19 18:46] dpo commented on #4494
For good measure, could you tell us if it still fails after doing `brew uninstall -f $(brew deps --recursive octave); brew install octave`?

[2016-10-19 19:06] nhartland commented on #4452
I'm getting the exact same issue on 10.12 also, after a complete un- and re-installation of homebrew and root. brew doctor is clean for me.

[2016-10-19 19:44] sunilshah commented on #4494
I did the following before I saw your comment:

brew uninstall -force octave
brew uninstall -force gcc
brew install gcc
brew install octave

Then in octave

pkg load -forge control signal

worked.

Dominque, what will the command you gave do now? Or do you already have your answer?

Thnx

[2016-10-19 20:07] dpo commented on #4494
I have my answer. My suggestion is the sledgehammer that removes everything `octave` depends on to install a fresh copy with fresh (unique) dependencies. Thank you and enjoy!

[2016-10-19 20:07] #4494 closed

[2016-10-19 20:08] dpo commented on #4452
`brew doctor` is clean and you're getting the same issue as in the original post?

[2016-10-19 20:13] nhartland commented on #4452
Yep, exactly, errors in cint/cint/src/dict/gcc4strm.cxx. The problem is also occurring when I attempt to do a diy installation of ROOT.

[code]

[2016-10-19 21:09] stephane-lb commented on #4413
Hi @ilovezfs ,

Thanks for your help, I did that :
[code]

Then in Python3 or Python :
[code]

and I got the same error

[code]

Any other idea ?

Thanks,

Stephane-lb

[2016-10-19 22:34] ilovezfs commented on #4413
Does it happen if you just use --with-python or just use --with-python3?

[2016-10-20 00:12] stephane-lb commented on #4413
Hi @ilovezfs

Ok first of all something strange just happened
[code]

For the reste same error ...

Thanks,

Stephane-lb

[2016-10-20 00:53] ilovezfs commented on #4413
You have to uninstall first, otherwise it will combine the set of original options used when installing it, and whatever new additional options you pass to reinstall.

[2016-10-20 02:07] rwhogg commented on #4400
I think this might be a duplicate of https://github.com/Homebrew/homebrew-science/issues/2905

[2016-10-20 09:57] mckunkel commented on #4452
Greetings,
I am having the same issue installing ROOT via Homebrew.
`==> Installing root from homebrew/science
==> Downloading https://root.cern.ch/download/root_v5.34.36.source.tar.gz
######################################################################## 100.0%
==> ./configure --all --enable-builtin-glew --enable-builtin-freetype --disable-ruby --prefix=/usr/local/Cellar/root/5.34.36_1 --etcdir

[2016-10-20 12:58] duytruong27 commented on #4459
Sorry for the late response.

By removing `hdf5` and run `brew install netcdf` again, the problem is solved. Thank you very much for your help!
Now I am able to install `petsc`, whose dependencies are hdf5 and netcdf.

[2016-10-20 13:00] dpo commented on #4459
Enjoy!

[2016-10-20 13:00] #4459 closed

[2016-10-20 13:21] houtanb opened #4497 "Octave struct package fails to install on 4.2.0-rc2"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-10-20 19:31] dpo commented on #4452
It's hard to tell if the issue with `root` is connected to Python but you're running either Anaconda or Enthought Python, which we don't support and have been known to interfere with Homebrew. If at all possible, could you move those Python distributions out of the way (at least temporarily) to build against System or Homebrew Python?

[2016-10-20 19:33] dpo commented on #4497
Could you please try https://github.com/Homebrew/homebrew-science/issues/4494#issuecomment-254905170?

[2016-10-20 22:16] tommy9l commented on #4452
So after removing anaconda, clearing my brew doctor, brew prune, the entire procedure,
brew install root
didn't work so I did a bit of work and the following set of commands worked for me
brew tap homebrew/science
brew install root6
and it works as i expect it to. i just need to try it with maybe some root files and it'll be ok.

[2016-10-20 22:31] dpo commented on #4452
Did it fail with the same error as above? Could you `brew gist-logs root`?

[2016-10-20 22:39] tommy9l commented on #4452
This is the result I got
https://gist.github.com/0b102b9249f847ad4787f5f3f367e8fd

[2016-10-20 22:47] dpo commented on #4452
For reference, here's the first error:
[code]

[2016-10-20 22:47] dpo commented on #4452
It looks like you didn't install the command-line tools. Try
[code]

[2016-10-21 08:28] aadrych opened #4499 "Installing nedit using homebrew"
Hi,

I recently installed nedit using homebrew and it successfully installed but whenever I call it I get the error:
Error: Couldn't find per display information
I Ran brew doctor but there was nothing recommended that might fix this?
Could you please recommend a way for nedit to work?

Thanks in advance

[2016-10-21 09:13] houtanb commented on #4497
@dpo yes, I tried both the comment you referenced (modified to be `brew uninstall -f $(brew deps --recursive octave); brew uninstall octave; brew install octave`) AND [the one after it](https://github.com/Homebrew/homebrew-science/issues/4494#issuecomment-254919604). The problem persists.

[2016-10-21 09:26] ilovezfs commented on #4499
You'll need to downgrade to Xquartz 2.7.8 and then rebuild openmotif from source. Then nedit will run (just tested that procedure here and it worked).

This issue duplicates https://github.com/Homebrew/homebrew-x11/issues/255.

[2016-10-21 09:26] #4499 closed

[2016-10-21 10:43] ilovezfs commented on #4497
seems fine here
<img width="665" alt="screen shot 2016-10-21 at 3 41 17 am" src="https://cloud.githubusercontent.com/assets/5268928/19595798/7e743874-9740-11e6-9bb4-e09fd6ad96cb.png">

[2016-10-21 11:08] houtanb commented on #4497
It is not fine here:
https://gist.github.com/houtanb/c16f9c2ec36d997a0f74c7acf9d9465b

[2016-10-21 11:19] ilovezfs commented on #4497
Have you set anything in your environment related to compilation?

[2016-10-21 11:25] houtanb commented on #4497
[code]

[2016-10-21 11:27] ilovezfs commented on #4497
OK, so let's not set those ...
[code]

[2016-10-21 11:39] houtanb commented on #4497
That worked. Thanks so much.

[2016-10-21 11:39] #4497 closed

[2016-10-21 11:39] ilovezfs commented on #4497
You're welcome :)

[2016-10-21 12:52] ilovezfs commented on #4482
Isn't this because it's just dumping stuff in share?

[2016-10-21 12:59] aadrych commented on #4499
I also installed python using homebrew with no problem but when I try to import numpy I get the error
Expected in: flat namespace
 in /usr/local/Cellar/python/2.7.12_2/Frameworks/Python.framework/Versions/2.7/lib/python2.7/lib-dynload/_io.so
Is this also a problem of Xquartz? Or an unrelated problem?

[2016-10-21 13:30] Walid-Ahmed opened #4500 "Failed to install OpenCV3(I already have OpenCV2.4 installed)"
Last 15 lines from /Users/walidahmed/Library/Logs/Homebrew/opencv3/02.make:
[ 54%] Built target opencv_shape
/tmp/opencv3-20161021-17374-e6ik8q/opencv-3.1.0/modules/videoio/src/cap_qtkit.mm:46:9: fatal error: 'QTKit/QTKit.h' file not found
#import <QTKit/QTKit.h>
        ^
1 error generated.
make[2]: *** [modules/videoio/CMakeFiles/opencv_videoio.dir/src/cap_qtkit.mm.o] Error 1
make[2]: *** Waitin

[2016-10-21 13:52] aadrych opened #4501 "Downgrading to xquartz fails lammps call?"
Hi,
I recently tried to install nedit again after it failed because of an xquartz upgrade.
I did the recommended steps on https://github.com/Homebrew/homebrew-x11/issues/255
but when I did the brew upgrade && brew update step and then tried to call lammps through the python interface I get the error :

Before the brew upgrade, the lammps call through python was working fine.
Could you recommend a

[2016-10-21 14:43] dpo commented on #4482
`pkgshare` would still contain the minor version number I believe.

[2016-10-21 14:44] dpo commented on #4500
This is a duplicate. Please search existing issues for opencv3.

[2016-10-21 14:44] #4500 closed

[2016-10-21 14:45] dpo commented on #4501
Try `brew reinstall  open-mpi`.

[2016-10-21 20:59] dpo commented on #4452
I can't reproduce it locally but I'm not running 10.12. I opened https://github.com/Homebrew/homebrew-science/pull/4505 to see if it's reproducible on the bot.

[2016-10-22 11:14] Hey-Red-Chan opened #4509 "opencv3 failed to build on MacOS Sierra 10.12"
I typed
`brew install openCV3 --with-python3`
in the terminal and the error is as follows:

==> cmake .. -DCMAKE_C_FLAGS_RELEASE=-DNDEBUG -DCMAKE_CXX_FLAGS_RELEASE=-DNDEBUG
==> make
...
[ 66%] Built target opencv_shape
/tmp/opencv3-20161022-74513-13aty4f/opencv-3.1.0/modules/videoio/src/cap_qtkit.mm:46:9: fatal error: 'QTKit/QTKit.h' file not found
#import <QTKit/QTKit.h>
        ^
1 error generat

[2016-10-22 11:17] Hey-Red-Chan commented on #4509
..oh fine it's a duplicate of #4303

[2016-10-22 11:46] dpo commented on #4509
Yep.

[2016-10-22 11:46] #4509 closed

[2016-10-22 15:31] #4452 closed

[2016-10-22 15:32] dpo commented on #4452
Should be fixed. Please `brew update`.

[2016-10-22 16:10] dpo commented on #4363
Try
[code]
If that doesn't do it, please open a new issue and fill out the issue template. Thanks.

[2016-10-22 16:10] #4363 closed

[2016-10-22 16:12] dpo commented on #4400
Duplicate of #2905. There's an indication there on how to fix the problem.

[2016-10-22 16:12] #4400 closed

[2016-10-22 16:14] dpo commented on #3367
Please open a new issue if the problem persists.

[2016-10-22 16:14] #3367 closed

[2016-10-22 16:21] dpo commented on #4491
Same as #3237.

[2016-10-22 16:21] #4491 closed

[2016-10-23 05:46] dpo commented on #4330
Fixed in #4406.

[2016-10-23 05:46] #4330 closed

[2016-10-23 07:12] Hey-Red-Chan commented on #2665
@SamusAranX
Sorry for digging AGAIN.
Also feel happy that finally someone has exactly the same problem with me. I didn't find python3* folder in  /usr/local/opt/opencv3/lib/ either. I created one and copied the folders in python2.7 into python3* but failed.
Will be thankful if you can tell me how you solve it

[2016-10-23 17:08] tdsmith commented on #2665
That's not a related problem. I'll close this since there is no bug here.

If you are having trouble building the python3 modules, which is distinct from failing to get a message about how to use them, please open a new ticket with the output of `brew gist-logs opencv3`.

[2016-10-23 17:08] #2665 closed

[2016-10-24 09:35] matthisk commented on #3237
When I run configure with @rotten's instructions I get ```configure: error: Could not link against boost_python``` any suggestions as to what may be going wrong? I have both boost1.55 installed and most recent version of boost and boost-python, also the configure command is locating boost_python just fine.

[2016-10-24 09:50] paulcahu opened #4513 "Error install dynare Octave mac OSX 10.11"
### Indicate troubleshooting steps taken

- [X ] Ran `brew update` and retried your prior step?
- [ X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X ] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(br

[2016-10-24 10:15] dpo commented on #4513
#4184 should fix it.

[2016-10-24 10:23] paulcahu commented on #4513
Thank you for your help. However, I am not sure to understand the answer. What should I do exactly?
Thanks again!

[2016-10-24 13:54] mckunkel opened #4515 "Installation of ROOT complains about location of gcc"
### Indicate troubleshooting steps taken

- [ X] Ran `brew update` and retried your prior step?
- [ X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ X] Checked that a similar issue hasn't already been filed?
- [ X] Looked up the software bug tracker if reporting a build error?

### Bug reports / build errors:
No Build errors
#### Brief summary of issue:
For s

[2016-10-24 15:27] rotten commented on #3237
I can't get 2.18 to build this morning either.  (I hadn't had the time to go back and try it until this morning.)  I'm still running El Capitan, and I've just about ported everything that I had previously run with Python 2 to Python 3 now, so I was expecting to get it to work this morning in a Python 3.5.2 environment.

First I tried removing everything I'd previous built or installed and then ins

[2016-10-24 16:09] Lucidyan commented on #3237
Same issues

[2016-10-24 17:53] dpo commented on #4515
You must have an old `gcc` lying around. Try `brew uninstall -f gcc` followed by `brew install root`.

[2016-10-24 17:55] mckunkel commented on #4515
I have already performed this action. To no avail. The error still appears.

[2016-10-24 19:19] santhosh-kumar commented on #4104
Is there a patch for OpenCv release version 3.0? Or I will have to start using the develop?

Thanks.

[2016-10-24 23:48] dpo commented on #4515
Let's make sure some other dependency isn't still linking with an old gcc-5: `brew uninstall -f $(brew deps -r roots)`. Then let's `brew install roots` (pass options if you need to).

[2016-10-25 08:55] guglielmo commented on #3237
Same issues with OSX 10.11.6
brew 1.0.8
python 2.7.12_2
boost 1.62.0

[code]

[2016-10-25 08:59] ilovezfs commented on #3237
Please try again now after brew update.

[2016-10-25 09:30] guglielmo commented on #3237
Tried to build from source, and got this errors:

[code]

[2016-10-25 09:32] guglielmo commented on #3237
@ilovezfs same issues after brew update

[2016-10-25 09:37] ilovezfs commented on #3237
Yup, reproduced the issue locally. This is the same problem that hyperscan has with the current boost 1.62.0

See
https://github.com/Homebrew/homebrew-core/pull/5935
https://github.com/01org/hyperscan/issues/39

I'm checking if it's fixed in HEAD for graph-tool (in case there's a fix we can cherry pick in) and I'm generating a Sierra boost155 bottle.

If you don't want to wait, change `depends_on

[2016-10-25 09:41] ilovezfs commented on #3237
Actually `depends_on "boost160"` should work too if you want to try that first.

Also, I just confirmed this is not yet fixed in HEAD, so it'll need to be reported upstream too.

[2016-10-25 09:47] guglielmo commented on #3237
After editing `graph-tool.rb`, with `depends_on "boost160"`, and re-installing, I got the same error.

[code]

[2016-10-25 09:49] ilovezfs commented on #3237
Right, that's the original error. You need to rebuild graph-tool from source now.

[2016-10-25 10:08] ilovezfs commented on #3237
yup that works
[code]

[2016-10-25 10:10] guglielmo commented on #3237
Mine is still building (it's El Capitan, though, so we'll have a test on a different OSX version, too)

[2016-10-25 10:11] ilovezfs commented on #3237
That test was on El Capitan actually :)

[2016-10-25 10:29] guglielmo commented on #3237
What if I need to build it for python 3.
Is this ok?
```brew install --build-from-source homebrew/science/graph-tool --with-python3```

[2016-10-25 10:33] ilovezfs commented on #3237
that should work, yes

[code]
is the command I'd use, but they are equivalent.

[2016-10-25 11:19] ilovezfs commented on #4515
@mckunkel did dpo's suggestion work?

[2016-10-25 11:25] guglielmo commented on #3237
Still got some problems with python3, seems that scipy is not finding the correct module for python 3.

[code]

I'm trying to re-install scipy, with the `--with-python3` option enabled.

[2016-10-25 11:35] ilovezfs commented on #3237
@guglielmo new version shipped.

[2016-10-25 11:45] mckunkel commented on #4515
I live in Europe, so my replies are a bit time disorienting.
Here is the output of the first command

Error: No available formula with the name "roots"
brew uninstall, rm, remove [--force] formula:
    Uninstall formula.
 If --force is passed, and there are multiple versions of formula
    installed, delete all installed versions.
Error: Invalid usage: This command requires a keg argument

For

Er

[2016-10-25 13:00] ilovezfs commented on #3237
I think the python3 problems here are a formula bug introduced by https://github.com/Homebrew/homebrew-science/pull/1995 in https://github.com/Homebrew/homebrew-science/commit/af5d3ce0. CC @tdsmith

The problem is that you cannot use `build.with?("python3")` until after `depends_on :python3 => :optional`, but it's used before that in `with_pythons = build.with?("python3") ? ["with-python3"] : []`.

[2016-10-25 13:24] guglielmo commented on #3237
It actually compiled ok `--with-python3`, but it fails while importing. I think it may be a boost-python problem.

[code]

[2016-10-25 13:48] ilovezfs commented on #3237
Compiling fine is not the same as actually compiling with the correct dependency build options in effect. For example, I fixed the python3 option bug locally, and the build actually dies in mathplotlib, which apparently is broken if you build it --with-python3, which is what's supposed to happen here before it even attempts to install graph-tool.
[code]
The --with-python3 option is supposed to tri

[2016-10-25 14:45] dpo commented on #3425
Should be fixed in #4519.

[2016-10-25 14:53] jooni41 commented on #4104
It gets installed but not working properly when I import opencv  it shows the following error:
ImportError: dlopen(/usr/local/lib/python2.7/site-packages/cv2.so, 2): Library not loaded: lib/libopencv_reg.3.0.dylib
  Referenced from: /usr/local/lib/python2.7/site-packages/cv2.so
  Reason: image not found

[2016-10-25 15:04] singamsetty commented on #4104
Hi, could you please check if the opencv libraries are loading properly in the python repl ?
[code]
If not, you might have to check if the shared object cv2.so was created and properly linked under the site-packages

[2016-10-25 15:04] ilovezfs commented on #4515
[code]
What's the output?

[2016-10-25 15:07] mckunkel commented on #4515
michaelkunkel:skimmer$ grep -r gcc /usr/local/Cellar | grep 5.2.0
/usr/local/Cellar/gcc/6.2.0/NEWS:   7. http://gcc.gnu.org/onlinedocs/5.2.0/

[2016-10-25 15:14] ilovezfs commented on #3237
[code]

[2016-10-25 15:33] Walid-Ahmed commented on #4303
I installed without errors using
brew install opencv --HEAD

still I can not import CV2 and get the error "ImportError: No module named cv2"

[2016-10-25 15:47] ilovezfs commented on #4515
ok, now try /usr/local
[code]

[2016-10-25 15:59] #3425 closed

[2016-10-25 16:08] Walid-Ahmed commented on #4104
I installed without errors using
brew install opencv3 --HEAD

still I can not import CV2 and get the error "ImportError: No module named cv2"

[2016-10-25 16:30] ilovezfs commented on #3237
This is fixed by https://github.com/Homebrew/homebrew-science/pull/4521 which I merged in  https://github.com/Homebrew/homebrew-science/commit/85226474a51aa23fc9967fb6fcbbe4690579cd45.

[2016-10-25 16:30] #3237 closed

[2016-10-25 16:32] ilovezfs commented on #3237
@guglielmo if you brew update you should be able to successfully use the python3 option now.

[2016-10-25 17:08] Walid-Ahmed commented on #4104
Solved by running:-
brew install opencv3 --HEAD
 echo /usr/local/opt/opencv3/lib/python2.7/site-packages >> /usr/local/lib/python2.7/site-packages/opencv3.pth

[2016-10-25 17:37] jooni41 commented on #4104
its unable to import cv2  how can I be able to check the version

[2016-10-25 18:12] EMacco commented on #4104
I don't think so bro. I had to restore my El Capitan backup and then
installed opencv

On Monday, 24 October 2016, Santhoshkumar Sunderrajan <
notifications@github.com> wrote:

[2016-10-25 18:17] mckunkel commented on #4452
Greetings,

I installed CLT and my problem was solved. Oddly, several sources state that native install of Xcode 8 comes with CLT.

BR
MK
----------------------------------------
Michael C. Kunkel, USMC, PhD
Forschungszentrum Jülich
Nuclear Physics Institute and Juelich Center for Hadron Physics
Experimental Hadron Structure (IKP-1)
www.fz-juelich.de/ikp

[2016-10-25 18:55] Walid-Ahmed commented on #4104
did you try brew install opencv3 --HEAD

[2016-10-25 19:00] jooni41 commented on #4104
Yupps I tried everything

[2016-10-25 19:01] Walid-Ahmed commented on #4104
and
echo /usr/local/opt/opencv3/lib/python2.7/site-packages >> /usr/local/lib/python2.7/site-packages/opencv3.pth ?

[2016-10-25 19:08] jooni41 commented on #4104
nothing is working I tried everything 3 or 4 times

[2016-10-25 19:18] vd4mmind commented on #3718
Can anyone guide me with this issue posted in this link below. It would be of great help.

[https://github.com/igraph/rigraph/issues/174](https://github.com/igraph/rigraph/issues/174)

[2016-10-25 19:45] dpo commented on #3718
@vd4mmind It's not clear that your question is related to Homebrew. Please only post Homebrew-related issues on this tracker. Thank you.

[2016-10-25 20:14] vd4mmind commented on #3718
I am very sorry. This is not homebrew related but related to libstdc++.so.6: version `GLIBCXX_3.4.15' while installing igraph. I am removing my reference.

[2016-10-25 22:06] Lucidyan commented on #3237
@ilovezfs Now it's installs successful, but i receive errors on import
On python2:
[code]

On python3:
[code]

Also I have two boost-libraries installed now, is it necessary? seems that brew doesn't like this

[2016-10-26 01:53] singamsetty commented on #4104
The shared object should be created somewhere under ```python  /usr/local/Cellar/opencv3/HEAD-XXXX/lib/python2.7/site-packages/cv2.cpython-35m-darwin.so``` which you can symbolically link from your python site-packages as cv2.so.

[2016-10-26 04:55] ilovezfs commented on #3237
Yes.

boost160 is keg_only, so it doesn't care.

Your dependencies may be messed up.

[code]
then
[code]

[2016-10-26 07:33] mckunkel commented on #4515
michaelkunkel:~$ grep -r gcc /usr/local | grep 5.2.0
/usr/local/Cellar/gcc/6.2.0/NEWS:   7. http://gcc.gnu.org/onlinedocs/5.2.0/
grep: /usr/local/Homebrew/Library/Homebrew/os/mac/pkgconfig/fuse/fuse.pc: No such file or directory
grep: /usr/local/Homebrew/Library/Homebrew/os/mac/pkgconfig/fuse/osxfuse.pc: No such file or directory
/usr/local/opt/gcc/NEWS:   7. http://gcc.gnu.org/onlinedocs/5.2.0/
g

[2016-10-26 07:51] ilovezfs commented on #4515
do you have any compilation related variables set in your environment?

[2016-10-26 08:11] mckunkel commented on #4515
I did, I removed it and everything is well.
Sorry for all this.

[2016-10-26 08:31] ilovezfs commented on #4515
@mckunkel it's no problem at all. Thanks for reporting the issue!

[2016-10-26 08:36] #4515 closed

[2016-10-26 08:51] jooni41 commented on #4104
@singamsetty can you please guide me how? it will be really appreciable

[2016-10-26 10:09] guglielmo commented on #3237
Ok, I think you're there, apart from a single warning on gcc, building was ok.
[code]

Importing and doing stuff within a python3 shell was also ok, apart from a *Locale not supported* warning, which could definitely be my problem.

[code]

[2016-10-26 11:00] ilovezfs commented on #4513
You can `brew update` and `brew install dynare`

As for the error above, you can fix that by running
[code]

[2016-10-26 11:00] #4513 closed

[2016-10-26 12:14] dpo commented on #2752
Closing as not a Homebrew issue.

[2016-10-26 12:14] #2752 closed

[2016-10-26 12:15] #2961 closed

[2016-10-26 14:34] #2751 closed

[2016-10-26 14:34] #2927 closed

[2016-10-26 15:32] Lucidyan commented on #3237
@ilovezfs After reinstalling dependencies it's working good, thanks!
And another one question: i build it with `--enable-omp` flag, but it compilled with usual `clang` (not `clang-omp`) and seems not compiled properly. How can i get multithread `openmp` support with `brew`?

[2016-10-26 15:40] dpo commented on #3237
@Lucidyan Try `--with-openmp`. It will build with `gcc`, not `clang-omp`.

[2016-10-26 15:40] paulcahu commented on #4513
Thank you very much. This fixed the problem indeed.
Best regards,
--
Paul Cahu
education@helloworld.bzh

[2016-10-26 15:52] Lucidyan commented on #3237
@dpo
Sorry for my inattention, I installed with this flag, by command:
`brew install --build-from-source -with-openmp --with-python3 graph-tool`

But `brew info graph-tool | grep "Built from source"` prints this:

In the htop during compilling i also see `clang` processes

[2016-10-26 15:57] dpo commented on #3237
Oh well, something's missing from the formula, sorry about that. Run `brew edit graph-tool` and insert
[code]
just before `def install`.

[2016-10-26 16:00] dpo commented on #3237
See #4527 but better test it locally as OpenMP isn't the default.

[2016-10-27 02:40] singamsetty commented on #4104
Hi,

On my mac, I am using python3.x and here are the settings. Since you are using python 2.7, you might have to adjust the locations accordingly.
[code]
I used the below command to install opencv3
[code]
This created a shared object under the below location
[code]
I created a soft link to this object from my python site-packages dir as follows.
[code]

Once done, I was able to use the python bin

[2016-10-27 06:37] remia commented on #4413
I don't know if it's the same problem, but I had the same kind of issue (module not found) with both python 2.7 and python 3.5. I noticed that the formula install the python module at the wrong path, ie. /usr/local/lib/python2.7/python instead of /usr/local/lib/python2.7/site-packages.

Just moving the .so file at the correct location resolved the issue for me.

[2016-10-27 06:42] yongduek commented on #4303
After removing all the opencv versions, I installed without errors using
``brew install opencv3 --HEAD``
and
 ``brew link --force opencv3 --HEAD --overwrite``

No problem to compile and run an example in ``samples/cpp``.

[2016-10-27 14:39] stephane-lb commented on #4413
@remia : Thank you! That's fixed !

[2016-10-27 15:09] conradsnicta opened #4529 "wrong superlu version dependency in homebrew-science/armadillo.rb"
@LogicalKnight @frownmonkey
line 19 of homebrew-science/armadillo.rb has
    `depends_on "superlu43"`
This is not right.  Armadillo 7.x requires superlu 5.2, not 4.3.

I'd also recommend updating the formula to Armadillo 7.500, which is the latest upstream version.

[2016-10-27 16:00] dpo commented on #4529
Want to submit a pull request?

[2016-10-27 18:16] jarfk6 opened #4530 "brew doctor: error in octave.rb"
### Indicate troubleshooting steps taken
- [ X] Ran `brew update` and retried your prior step?
- [ X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ X] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(bre

[2016-10-27 19:22] dpo commented on #4530
[code]

[2016-10-27 22:43] lfunderburk opened #4532 "Make error found when installing ABySS"
### Indicate troubleshooting steps taken
- [x] Ran `brew update` and retried your prior step? Yes
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step? Yes. Did not remove anaconda temporarily from my $PATH even though was told this might cause issues while home-brew build. I do not know how to remove it from my $PATH. If this would solve my problem kindly direct m

[2016-10-28 00:25] jmrolsson opened #4533 "Trouble with cmake when installing root6 in maxOS Sierra"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-10-28 01:31] conradsnicta commented on #4529
I don't use Homebrew (or a mac).  I'm the upstream author of Armadillo.
I've filed this bug report after an email report from a user.

[2016-10-28 01:45] jmrolsson commented on #4533
Issue:
Faulty gfortran installation

Solution:
`brew uninstall gcc`
`brew install gcc`

[2016-10-28 01:45] #4533 closed

[2016-10-28 03:27] dpo commented on #4529
Thanks! See #4534.

[2016-10-28 05:06] #4529 closed

[2016-10-28 20:36] K20shores opened #4539 "macOS Sierra 10.12 dlib fails to pass tests"
I've ran `brew doctor` and `brew update`. The only relevant message is the warning below:

Warning: You are using a pre-release version of Xcode.
You may encounter build failures or other breakages.
Please create pull-requests instead of filing issues.

I installed dlib before I upgraded to macOS Sierra 10.12 by downloading it from the dlib website. When I built the example files following the dir

[2016-10-29 18:57] drhalftone opened #4542 "Opencv3 fails at [ 64%] Built target opencv_photo on Mac OS X 10.2.1 with Xcode 8.1"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-10-29 20:49] dpo commented on #4542
Could you point to the error your're seeing? I'm not seeing any.

[2016-10-29 20:56] dimroc commented on #4542
I had a similar error with the additional output pointing to QTKit.h

[code]

[2016-10-29 21:01] dpo commented on #4542
See #4104.

[2016-10-29 21:01] #4542 closed

[2016-10-29 21:02] dpo commented on #4501
Please fill out the issue template, including the output of `brew doctor` and the link output by `brew gist-logs lammps`.

[2016-10-29 22:29] drhalftone commented on #4542
What part of #4104 do you want me to look at?  I've tried --head, I've tried  brew install opencv3 --c++11 --without-python, still an error.  What exactly is the solution?

[2016-10-29 22:32] dpo commented on #4542
We don't have a solution yet. We recently patched `opencv` to correct a similar build error. We haven't yet had time to investigate `opencv3`. Seehttps://github.com/Homebrew/homebrew-science/pull/4336.

[2016-10-30 18:51] ahundt opened #4543 "ceres-solver.rb is not linux ready"
### Indicate troubleshooting steps taken
- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew -

[2016-11-01 10:07] universewill commented on #4437
I uninstall pcl using "brew uninstall pcl", and then install pcl with command "brew install pcl --without-apps"
But the error still exists

[2016-11-01 18:26] blusquare opened #4553 "graph-tool --with-python3 --with-openmp ignores python3, then fails"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-11-01 21:56] michaelbarton commented on #3508
Could you provide an update on this issue is this now fixed? I currently get the following error:

[code]

[2016-11-01 22:18] maculatus commented on #3508
Yes, the issue was resolved. I have not upgrade my homebrew since last week.

On Nov 1, 2016 5:56 PM, "Michael Barton" <notifications@github.com> wrote:

[2016-11-01 22:35] michaelbarton commented on #3508
I'm currently getting an error, has something changed in the mean time? I am unable to build blast from source. When using the bottled version I get the errror:

[code]

[2016-11-01 23:01] jyaworski opened #4554 "openblas fails to build with --with-openmp on MacOS Sierra"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [X] Looked up the software bug tracker if reporting a build error?
- [X] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-11-02 16:17] ilovezfs opened #4560 "revisions for icu4c 58.1 needed"
- [x] libfolia (libfolia 1.8 #6160)
- [x] ucto (ucto 0.9.6 #6163)
- [x] vislcg3 (vislcg3 1.0.1-alpha1 #6165)

RE: https://github.com/Homebrew/homebrew-core/pull/6505

CC @dpo @sjackman

[2016-11-02 16:25] dpo commented on #4560
cf. #3522, #4092

[2016-11-02 21:57] dpo commented on #4554
I can't reproduce locally. It seems something's up with your installation. Please try
[code]
followed by `brew update` and `brew install openblas --with-openmp`. Please also post a link to a gist with the output of `brew doctor`.

[2016-11-02 22:29] #4530 closed

[2016-11-03 00:18] #4482 closed

[2016-11-03 12:39] ccshao opened #4562 "picard tools specify java memory usage."
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-11-04 02:31] dpo commented on #4562
Is this a Homebrew question or a pucard-tools question?

[2016-11-04 08:54] ccshao commented on #4562
@dpo I think it is a homebrew question as picard is packed by in homebrew/science. In the official site of picard-tools they only provide the picard.jar.

[2016-11-04 15:36] #4543 closed

[2016-11-05 16:59] codermw commented on #4303
I installed without errors using `brew install opencv3 --HEAD` and `brew link --force opencv3 --HEAD --overwrite` but I still can't import CV2 and get the error "ImportError: No module named cv2".
I can see the cv2.so file in /usr/local/opt/opencv3/lib/python2.7/site-packages, and the cvopen3.pth is in /usr/local/lib/python2.7/site-packages/ but it still doesn't seem to be linking properly.... any

[2016-11-05 17:01] codermw opened #4571 "import cv2 fails and cannot find module once OpenCV3 has been installed via homebrew on Mac OS Sierra with xcode 8.1"
### Indicate troubleshooting steps taken

I installed without errors using `brew install opencv3 --HEAD` and `brew link --force opencv3 --HEAD --overwrite`

### Bug reports / build errors:
I still can't import CV2 and get the error "ImportError: No module named cv2".

#### Brief summary of issue:
I can see the cv2.so file in /usr/local/opt/opencv3/lib/python2.7/site-packages, and the cvopen3.pth i

[2016-11-05 20:11] tonyxy1992 opened #4572 "how to run lammps on Mac OS X"
### Indicate troubleshooting steps taken

- [ ] Ran `brew update` and retried your prior step?
- [ ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ ] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-11-06 22:45] jyaworski commented on #4554
I believe this is actually related to gcc-4.2. It compiles with with --cc=gcc-6.

[2016-11-06 23:42] dpo commented on #4554
`--with-openmp` shouldn't select gcc-4.2. Please provide the details requested.

[2016-11-07 00:46] mo3000 commented on #3051
i have the same issue a year later -_-

[2016-11-07 01:03] tdsmith commented on #3051
Please open a new issue with the output of `brew gist-logs opencv`. Note that the contrib libraries do not always play well with other formula options.

[2016-11-07 01:03] #3051 closed

[2016-11-07 22:10] Moisan commented on #2633
`harvest-tools` depends on `capnp` [which is currently broken](https://github.com/Homebrew/homebrew-core/issues/5435).

[2016-11-07 23:57] lteneyck opened #4579 "gnuplot under octave does not build on OSX 10.12.1"
### Indicate troubleshooting steps taken

- [x ] Ran `brew update` and retried your prior step?
- [x ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ x] Checked that a similar issue hasn't already been filed?
- [x ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(b

[2016-11-08 00:23] ilovezfs commented on #4579
It looks like it's trying to build gnuplot with aquaterm and with x11 also, so you probably already had gnuplot installed. Please try uninstalling gnuplot before starting the octave install.

[2016-11-08 00:56] ilovezfs commented on #4579
As you can see octave and gnuplot should build fine:
[code]
https://bot.brew.sh/job/Homebrew%20Testing/1165/version=any_sierra/consoleFull

[2016-11-08 01:22] timotheecour commented on #4399
sorry @dpo but `brew install homebrew/science/opencv` is still broken
brew gist-logs homebrew/science/opencv
https://gist.github.com/5b5e4b60c929eb784533b320dc989aa0

[2016-11-08 01:28] timotheecour opened #4580 "please reopen #4399"

[2016-11-08 01:54] dpo commented on #4580
Please use issues to report new issues. I'll have a look at #4399 as soon as I can. Thank you.

[2016-11-08 01:54] #4580 closed

[2016-11-08 07:15] lteneyck commented on #4579
Thank you, once I removed gnuplot, octave installed and runs, and also installs gnuplot.

Aside from the anomaly of the conflict with pre-existing gnuplot installation, the 4.2.0-rc2-1 octave reports itself as being version 3.8.0 and does not start with the gui, as expected for version 4 according to the octave home page. Is this a bug or a feature?

[2016-11-08 07:15] #4579 closed

[2016-11-08 22:10] Knoose commented on #4571
I seem to be having the same issue.

[2016-11-09 13:45] chevinbrown commented on #4333
http://stackoverflow.com/questions/39690404/brew-install-qt-does-not-work-on-macos-sierra

[2016-11-09 15:38] nextgenusfs opened #4584 "gmap-gsnap: Depends on perl [macOS Sierra]"
On Mac 10.12.1 - there is no bottle for Sierra in the formula and building from source apparent fails.  I also tried the more recent version available with similar errors.

[code]

I've sent an email to the developer.

[2016-11-10 10:49] chitrang6 commented on #4399
I ama having the same issue

video.2.4.dylib ../../lib/libopencv_video.dylib
[ 15%] Built target opencv_video
make: *** [all] Error 2

[2016-11-10 11:53] ilovezfs commented on #4333
@chevinbrown that refers to qt not qt5.

[2016-11-10 11:54] ilovezfs commented on #4333
qt5 should be pouring the bottle.

[2016-11-10 12:26] ilovezfs commented on #4333
I'm going to assume this is fixed now that qt 5.7.0 has shipped and there is a Sierra bottle. Please let us know if you're still having trouble installing qt5.

[2016-11-10 12:26] #4333 closed

[2016-11-11 00:11] nextgenusfs commented on #4584
After communicating with developer, I was able to build the most recent version outside of home-brew on OS Sierra with a simple `./configure; make; make check; make install` - so seems to be a home-brew specific problem?  Anybody else have this problem?

[2016-11-11 07:20] ilovezfs commented on #2338
New version shipped if you want to try again: https://github.com/Homebrew/homebrew-science/pull/4586

[2016-11-11 22:01] amoose136 commented on #3795
Note: added $40 bounty on bountysource.com

[2016-11-12 07:59] tdsmith commented on #3795
We won't accept a formula to homebrew-science until there's a stable release version, i.e. pending resolution of https://gitlab.kitware.com/xdmf/xdmf/issues/1.

In the meantime, you can run `brew install tdsmith/xdmf/xdmf --HEAD`.

[2016-11-12 07:59] #3795 closed

[2016-11-12 09:29] ianrrees commented on #3624
Sorry this took me so long to get to!

The second issue in this ticket (@garykac's issue) comes from the linker - I think it might actually be an ld bug.  Will try to make a simplified test case later.  The clue came after setting `export RC_TRACE_DYLIB_SEARCHING=YES` before running the problematic link command and seeing what looks like ld going in to an infinite loop .  Have submitted PR #4587 -

[2016-11-13 22:42] hugochaton commented on #4571
same for me

[2016-11-14 18:41] engincandy commented on #3692
I have the same problem:

How can I solve this? I am using Xcode 8.1 and the latest version of OpenCV...

[2016-11-15 00:41] ilovezfs opened #4595 "Transition to Qt 5"
Updates are needed for formulae that depend on "qt" (Qt 4) due to the transition to Qt 5 (see Homebrew/homebrew-core#1705), and the imminent removal of the Qt 4 formula.

- [x] alglib: required
- [x] opencascade: required, gmsh (optional)
- [ ] qgis: required
- [x] populations: required
- [ ] biopp: recommended
- [ ] osgearth: recommended
- [x] paraview: recommended
- [ ] amos: optional
- [x] g2o:

[2016-11-15 15:45] kjmeagher opened #4597 "healpix links against old version of cifitsio"
healpix bottle links against `libcfitsio.2.dylib` which is not provided by the latest version of cfitsio.
[code]
compiles fine with `--build-from-source` so it probably just needs a new bottle.

[2016-11-15 16:00] ilovezfs commented on #4597
Feel free to open a revision bump PR.

[2016-11-15 20:17] vhad500 opened #4598 "OpenCV 3.1 failed to build"
### Indicate troubleshooting steps taken

- [Yes ] Ran `brew update` and retried your prior step?
- [Yes ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [Yes ] Checked that a similar issue hasn't already been filed?
- [Yes ] Looked up the software bug tracker if reporting a build error?
- [Yes ] If you're seeing permission errors tried running `sudo chown -R $(

[2016-11-16 18:42] jonchang commented on #4598
Hi @vhad500, unfortunately we don't provide support for `HEAD` builds. It's kind of expected that they will break from time to time. Do you know if this errors on a stable release?

[2016-11-16 19:41] gjl991 commented on #4598
I met this problem also：
 error: ‘__gnu_cxx::__alloc_traits<std::allocator<cv::bridge::Bridge>

  ‘toSizeT’
     size_t refineIters = inputs[6].empty() ? (size_t) 10 : inputs[6].toSizeT();

And my complete command is as follows:
sudo cmake -D CMAKE_BUILD_TYPE=RELEASE -D CMAKE_INSTALL_PREFIX=/usr/local -D OPENCV_EXTRA_MODULES_PATH=../../opencv_contrib/modules -D BUILD_EXAMPLES=ON WITH_TBB=ON -D WIT

[2016-11-16 22:35] ayonsen opened #4603 "ceres-solver bottle uses old Eigen version"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?

#### Brief summary of issue:
This appears to be the same as issue 3195 and 3454, but now the latest version of Eigen is 3.3.0, and ceres-solver is built ag

[2016-11-17 20:02] iMichka commented on #4595
FYI I have prepared a PR for pcl, which I can push as soon as vtk has been merged.

[2016-11-17 21:18] cmdcolin commented on #4584
Maybe not helpful for diagnosing issue but I tried this on macOS Sierra and didn't see this

The "last 15 lines" of the 03.make file in /Users/ngs/Library/Logs/Homebrew/gmap-gsnap/ for my comp for example had same info as yours too, so you might have to dig into those log files in that folder more thoroughly to find the error

Maybe also notable but the current gmap-gsnap could be updated too. Cur

[2016-11-17 21:26] cmdcolin commented on #4584
Full build from here

[code]

[2016-11-17 21:43] cmdcolin opened #4617 "Sha256 error installing Mac tbl2asn"
Installing tbl2asn produces a sha256 mismatch.

[code]

I believe the URL that homebrew-science uses points to the "current" version on the NCBI FTP and may have been updated on the server side, hence an error (manually downloading says version is 25.3 where the formula version is 25.0

I was unable to find a "specific version" url so the sha256 could just get updated

[2016-11-17 23:35] ghattab commented on #4303
@yongduek's solution works!
[code]

[2016-11-18 23:38] BGR360 commented on #4598
I have the same issue. How can I disable installation of opencv's videoio via homebrew? I know how to do it if I were installing opencv manually, but not using homebrew

[2016-11-18 23:42] BGR360 commented on #4598
Should I make an upstream issue?

[2016-11-19 00:34] jonchang commented on #4598
If this only happens on a `HEAD` build that might be the best course of action. What is the complete command you are running?

[2016-11-19 00:36] jonchang commented on #4603
Hi @ayonsen, if you can open a pull request that increases the `revision` line this will help fix the issue. I'm currently on mobile and can't do it myself.

[2016-11-19 01:09] BGR360 commented on #4598
I have alleviated the bug by excluding the problematic opencv modules

[2016-11-19 01:10] jonchang commented on #4532
Hi @lfunderburk, it probably is caused by anaconda in your PATH. You should be able to temporarily remove it from your PATH on macOS by running `unset PATH && source /etc/profile`.

[2016-11-19 02:09] jonchang commented on #4423
Hi @RicterZ, it looks like this is caused by changes in the boost library that the ncbi c++ toolkit uses. Until upstream cuts a new release I don't think there's much we can do. Otherwise your best bet for now is to build this against an older version of boost (their website says 1.45 would work). We would welcome any pull requests that helped build this formula against a working version of boost.

[2016-11-19 02:09] #4423 closed

[2016-11-19 17:32] vhad500 commented on #4598
The problem seems to be opencv3 incompatibility with Sierra. So I installed opencv2 instead and everything works fine.

[2016-11-20 14:28] NilanjPatel commented on #4303
@codermw @Walid-Ahmed  have you solved your issue of importing error for cv3, if you have solution than please guide me

[2016-11-21 02:03] gjl991 commented on #4598
@vhad500, you are right. Now I installed opencv 3.0.0 on Ubuntu 16.04 LTS.

[2016-11-21 19:42] ayonsen commented on #4603
Hi @jonchang - sorry, didn't get your message until today. Is there anything you'd still like me to do? It looks like the issue has been resolved.

[2016-11-21 19:51] jonchang commented on #4603
Yup, looks like this is resolved.

[2016-11-21 19:51] #4603 closed

[2016-11-21 20:31] ilovezfs commented on #4603
Now it's resolved. I just shipped https://github.com/Homebrew/homebrew-science/pull/4628.

[2016-11-22 21:19] #4539 closed

[2016-11-22 21:22] #4617 closed

[2016-11-23 22:35] wateryoma commented on #3692
Same problem here
[code]
opencv3 was installed with homebrew
[code]

[2016-11-24 09:57] ythinker opened #4638 "Problems installing opencv under Sierra"
### Bug reports / build errors:

Is this what is the reason？
Opencv installed in mac 10.12 suggested:

[code]

#### The complete command that you issued:

`brew install opencv`

[2016-11-24 10:47] sebastianbeyer opened #4639 "brew install netcdf --with-fortran fails"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-11-24 13:42] davrandom commented on #2733
Hi,
the title of the bug also applies to me, but the reason for the failure is different.
When I'm doing
`brew install opencv --with-contrib`
it fails because:

[code]
also `eigen` is installed with brew.

[2016-11-24 14:24] sebastianbeyer commented on #4639
okai, I have the same error (`cannot compute sizeof (off_t)`), when compiling netcdf manually...

[2016-11-24 15:13] ilovezfs commented on #2733
@davrandom it works with eigen-3.2.10 but not eigen-3.3.0

I suggest you report the problem upstream to opencv3

[2016-11-25 07:33] tdsmith commented on #2733
--with-contrib breaks a lot; be sure you need it.

Closing this ticket since the original issue is a year old and hasn't recurred.

[2016-11-25 07:33] #2733 closed

[2016-11-25 11:08] sebastianbeyer commented on #4639
I found this: https://github.com/Homebrew/homebrew-science/issues/2521#issuecomment-121851582
seems like it is the same then?

[2016-11-25 11:43] tobiasherzke opened #4643 "Java support for Octave without Apple's Legacy Java 6"
This is a low-priority feature request.

### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, **brew doctor is happy**
- [x] Checked that a similar issue hasn't already been filed? **There is a related issue. I reference it below**
- [X] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permissio

[2016-11-25 15:52] chrisgulvik opened #4644 "update PEAR"
Could the formula for PEAR be updated to the latest version?

A new option `-k, --keep-original` resolves a serious bug in previous versions that had the R2 sequences and their associated Phred scores incorrectly reversed when they weren't paired.

http://sco.h-its.org/exelixis/web/software/pear/files/pear-0.9.10.tar.gz
sha256:  ebb0a1a26300b4d54e6a470b0dd17c364aedcf8d4bfab1106649a2d502a76203

[2016-11-25 17:54] nextgenusfs commented on #4584
Ok, well maybe something here, seems like the compiler is not finding perl for some reason, this is from the `config.log`
[code]
When I compile outside of home-brew it obviously works okay.  I have 2 versions of perl installed, system perl, and then home brewed perl.  So my guess is it is looking in the wrong place?

[2016-11-27 12:31] iMichka commented on #4595
For root (and root6), it seems they are stuck at qt3 anyway. Root6 has no qt option so this is not a problem.

I would propose to move root to homebrew/versions, and rename it as root5 (and remove the qt option). root6 could be renamed as root in homebrew science. Or maybe keep it as root6. Not sure how homebrew-science/tap_migrations.json should be written in that case.

[2016-11-28 06:11] nbren12 opened #4652 "hdf5 --with-mpi failed to build on OS 10.11.6"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [NA] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-11-28 06:34] ilovezfs commented on #4652
I believe this is the same behavior I described here: https://github.com/Homebrew/brew/pull/1130#issuecomment-261881626

Do you have gcc installed?

[2016-11-28 08:09] nbren12 commented on #4652
I do, but I think hdf5 is trying to compile with clang

[2016-11-28 08:11] ilovezfs commented on #4652
what's the output of
[code]

[2016-11-28 16:09] nbren12 commented on #4652
It gives `/Library/Developer/CommandLineTools`

[2016-11-28 16:10] ilovezfs commented on #4652
[code]

then try the build again

[2016-11-28 16:18] nbren12 commented on #4652
ha! it works. it successfully configured and is now compiling. thanks so much!

 So xcode-select needs to have the "/Applications/Xcode.app/Contents/Developer" directory selected?

[2016-11-28 22:05] ilovezfs commented on #4652
@nbren12 yeah it should no longer be an issue after the 8.2 CLT ships for El Capitan or you upgrade to Sierra. Incidentally, did it end up actually using gcc-6?

[2016-11-29 03:05] nbren12 commented on #4652
No. I stuck with clang, since it successfully compiled hdf5.

However, now netcdf-fortran is now complaining. Maybe I should open a new
issue.

On Mon, Nov 28, 2016 at 5:05 PM, ilovezfs <notifications@github.com> wrote:

[2016-11-29 03:07] ilovezfs commented on #4652
How did you stick with clang? Pass --cc= or an envvar or something else?

[2016-11-29 03:29] nbren12 commented on #4652
I ran  "brew install hdf5 --with-mpi", so I assumed that it compiled
against clang? I could be mistaken.

On Mon, Nov 28, 2016 at 10:07 PM, ilovezfs <notifications@github.com> wrote:

[2016-11-29 03:32] ilovezfs commented on #4652
Mind posting the link from running the following?

brew gist-logs hdf5

[2016-11-29 03:37] nbren12 commented on #4652
Sure thing. Here it is: [
https://gist.github.com/anonymous/14f11808eea224c3a7122116b41d3e70](https://gist.github.com/anonymous/14f11808eea224c3a7122116b41d3e70)

On Mon, Nov 28, 2016 at 10:32 PM, ilovezfs <notifications@github.com> wrote:

[2016-11-29 03:46] ilovezfs commented on #4652
Cool thanks. Yes please open a new issue for the problem you're now seeing.

[2016-11-29 04:27] nbren12 commented on #4639
I am getting this same error on Mac OS. Here is my gist log https://gist.github.com/2be5525b9403707234d95aa79783205b.

[2016-11-29 04:50] nbren12 commented on #4639
I am not sure if this is reproducible, but I got it to work when I ran `brew install hdf5 --with-fortran --c++11 ` before `brew install netcdf --with-fortran`. Maybe something is wrong with how homebrew is compiling hdf5.

[2016-11-29 13:04] robsonpeixoto opened #4658 "Octave 4.2.0 using 100% CPU"
Sometimes the octave are using 100% CPU without run any script.
And I always need to use `Force Quit`to close the octave.

Any idea how to solve it?

I installed the octave using:
[code]

And I created the lancher app using this doc: http://wiki.octave.org/Octave_for_MacOS_X#Create_a_launcher_app_with_AppleScript

[2016-11-29 16:25] sebastianbeyer commented on #4639
@nbren12 that did not work in my case...

[2016-11-29 23:41] dakcarto opened #4660 "vtk bottle download requires HTTP Basic login"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-11-30 00:43] nbren12 commented on #4639
fwiw this is the output of `brew gist-logs netcdf`
[gist](https://gist.github.com/3976ba08d09baf738bb56b0a95bad5a9
)

And this my `brew gist-logs hdf5`:
[gist](https://gist.github.com/de29e697b0a570cb34c443767c532c08)

Maybe that will help. The main differences I see are the compilers. I am using gcc-6 for fortran and clang for c. Sorry, I couldn't track down specifically how i fixed it. It just w

[2016-11-30 22:11] dakcarto opened #4662 "CMake files of vtk and insighttoolkit bottles reference wrong Xcode SDK"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
   (though had to revert homebrew-science due to #4660)
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permissi

[2016-11-30 23:21] rofoto commented on #4571
Even with brew link -force you must still manually add the path to opencv in your xcode project.

![screen shot 2016-12-01 at 7 18 06 am](https://cloud.githubusercontent.com/assets/13305754/20775537/62ee4fd8-b796-11e6-9f91-e463c1b636fc.png)

i am still unable to compile and run after this but at least the libraries link.

If anyone can figure out how to make to get opencv3 to work in xcode 8.1 I w

[2016-12-02 01:35] giriarteS opened #4664 "Can't remove packages"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step? I ran brew doctor but I was not sure about removing files.
- [x] Checked that a similar issue hasn't already been filed?

#### Brief summary of issue:

[description.txt](https://github.com/Homebrew/homebrew-science/fil

[2016-12-02 02:53] John443 opened #4665 "OpenCV3.1 install failed on macOS 10.12 with command brew install opencv3"
## Error message

Last 15 lines from /Users/John443/Library/Logs/Homebrew/opencv3/02.make:
[ 66%] Built target opencv_shape
/tmp/opencv3-20161201-16559-198zkh1/opencv-3.1.0/modules/videoio/src/cap_qtkit.mm:46:9: fatal error: 'QTKit/QTKit.h' file not found
#import <QTKit/QTKit.h>
^
1 error generated.
make[2]: *** [modules/videoio/CMakeFiles/opencv_videoio.dir/src/cap_qtkit.mm.o] Error 1
make[2]: **

[2016-12-02 03:27] ilovezfs commented on #4665
duplicate of https://github.com/Homebrew/homebrew-science/issues/4104.

[2016-12-02 03:27] #4665 closed

[2016-12-02 17:38] jonchang commented on #4664
Hi @giriarteS, it looks like there's a merge conflict going on, did you modify `repeatscout.rb` at some point in the past? If you are not worried about losing your changes then you can simply do `brew untap homebrew/science && brew tap homebrew/science`

[2016-12-02 18:06] jonchang commented on #4662
Hi @dakcarto, thanks for opening such a detailed issue. I looked into it and I think the issue can be resolved if you update Xcode to the latest version. I tested on an El Capitan machine with Xcode 8 and the SDK path points to `MacOSX10.12.sdk` even though El Capitan itself is 10.11.

If for some reason you need to use an older version of Xcode you can build these from source with `brew install -

[2016-12-02 18:06] #4662 closed

[2016-12-02 18:11] jonchang commented on #4660
Thanks for letting us know. I manually published the VTK 7.1 bottles so it should work now.

[2016-12-02 18:11] #4660 closed

[2016-12-02 19:55] dakcarto commented on #4662
Hi. Hmm. See your point there. Still, doesn't seem like the`MacOSX10.12.sdk` _should_ be the referenced SDK. I'd call that a bug; not sure where it occurs, though.

The main issue is that a bottle for 10.11 is being built against an incorrect SDK. Using an older Xcode, and building from source will work for me (if I have an extra hour 😉); but, this really just masks some other issue that is causin

[2016-12-02 19:56] dakcarto commented on #4660
Confirmed. Thanks!

[2016-12-02 20:09] jonchang commented on #4662
To reduce our support burden, we build bottles using the latest version of Xcode that is available on supported platforms (Yosemite, El Capitan, and Sierra). Since Xcode 8 is available on El Capitan this correctly points to the `MacOSX10.12.sdk`. On Yosemite, which only supports Xcode 7, this instead points to the `MacOSX10.11.sdk` as expected.

The "bug", then, results from either Homebrew or App

[2016-12-02 21:32] jonchang commented on #4658
Hi @robsonpeixoto, I'm not sure that this is a bug with Homebrew. Please consider filing a bug with the Octave project.

[2016-12-02 21:32] #4658 closed

[2016-12-02 23:51] dakcarto commented on #4662
Hmm. Not seeing your point here. Why would the default referenced SDK of a _higher_ version than the OS's or the target's be consider correct or expected?

[2016-12-03 15:38] autosquid commented on #4664
A similar error:

[code]

[2016-12-03 21:35] dakcarto commented on #4662
@jonchang Ok, never mind, my mistake. There is _no MacOSX10.11.sdk_ in Xcode >= 8.0 (even though 10.11.5 is the minimum OS). So, yeah, I definitely see your point now. Obviously, I'm a little late to the party. Thanks!

[2016-12-04 14:34] nextgenusfs opened #4670 "Upgrade to BLAST+ 2.5.0?"
There appears to be two major problems on some systems with BLAST+ 2.4.0, one is that tblastn core-dumps if run in multi-threaded mode.  Here are release notes for 2.5.0: https://www.ncbi.nlm.nih.gov/books/NBK131777/

I tried to just edit the link to the new version in the formula put couldn't get it to build.

Alternatively, is there a way to install the older version 2.3.0 from home-brew?

[2016-12-04 22:52] iMichka commented on #4595
vtk, pcl and openimageio aro done.

[2016-12-05 04:21] jonchang commented on #4532
I assume that this problem has been fixed. Feel free to file a new issue or reopen this one if it hasn't.

[2016-12-05 04:21] #4532 closed

[2016-12-05 19:10] equal-l2 opened #4675 "[RFC] Travis fails constantly"
Linux build on Travis has failed since 4c562ee.
(Since no change is on `.travis.yml` on this commit, it isn't responsible for the problem)
See the log : https://travis-ci.org/Homebrew/homebrew-science/jobs/179522775

The error:

[code]

The error is probably caused by the removal of portable-ruby. (See line 730 on log)

Considering Linuxbrew/homebrew-core and Homebrew/homebrew-test-bot is working

[2016-12-05 23:07] iMichka commented on #4670
Just gave this a try; got the following error during the install step with 2.5.0:

if test -d /private/tmp/blast-20161205-18326-1yiany2/ncbi-blast-2.5.0+-src/c++/ReleaseMT/bin/gbench; then \
	    /Applications/Xcode.app/Contents/Developer/usr/bin/make - --jobserver-fds=3,4 -j install-gbench; \
	else \
	    /Applications/Xcode.app/Contents/Developer/usr/bin/make - --jobserver-fds=3,4 -j install-too

[2016-12-06 20:38] MikeMcQuaid commented on #4595
This looks like the last one with a hard dependency. It'll probably need boneyarded unfortunately if it gets to e.g. Christmas and there's no workaround here.

[2016-12-06 20:39] MikeMcQuaid commented on #4595
Looks possible but unsupported: https://htmlpreview.github.io/?https://raw.github.com/qgis/QGIS/master/doc/INSTALL.html#toc12

[2016-12-06 20:40] ilovezfs commented on #4595
Upstream has Qt 5 support: https://github.com/qgis/QGIS/blob/master/.travis.yml#L4

`$someone` "just" needs to do the work.

[2016-12-06 20:48] ilovezfs commented on #4595
@MikeMcQuaid sounds like it's time to move on then. I think people are using this tap now instead: https://github.com/OSGeo/homebrew-osgeo4mac. Note our formula is 1.8.0 and the tap's is 2.18

[2016-12-06 23:57] Mauker1 opened #4680 "opencv lopencv_imgcodecs not found"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [X] Looked up the software bug tracker if reporting a build error?
- [X] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-12-07 03:26] #4322 closed

[2016-12-08 02:03] equal-l2 commented on #4675
Fixed in #4681, thanks to @jonchang!

[2016-12-08 02:03] #4675 closed

[2016-12-08 14:10] 03128crz opened #4690 "Failed to download v3.1.0/protobuf-cpp-3.1.0.tar.gz. Status=28;"Timeout was reached""
cmake .. -DCMAKE_C_FLAGS_RELEASE=-DNDEBUG -DCMAKE_CXX_FLAGS_RELEASE=-DNDEBUG -DCMAKE_INSTALL_PREFIX=/usr/local/Cellar/opencv3/HEAD -DCMAKE_BUIL
Last 15 lines from /Users/james_cai/Library/Logs/Homebrew/opencv3/01.cmake:

CMake Error at cmake/OpenCVUtils.cmake:1025 (message):
  Failed to download v3.1.0/protobuf-cpp-3.1.0.tar.gz.  Status=28;"Timeout
  was reached"
Call Stack (most recent call first

[2016-12-09 01:32] sjackman commented on #4424
Opened PR #4629 to hopefully resolve this issue.

[2016-12-09 01:32] #4424 closed

[2016-12-10 20:56] lock042 opened #4700 "using openmp by default in my formula"
I'm the maintainer of siril formula in homebrew/science.
Yet to use siril with openmp, user need to install it with
`brew install siril --with-openmp`
But I have to admit I would prefer the opposite behavior:
`brew install siril`
--> install siril with openmp
`brew install siril --without-openmp`
--> install siril without openmp

Is it possible to do it ?

[2016-12-11 07:17] autosquid commented on #4638
did you intend to install opencv(2) or opencv3?

[2016-12-11 11:03] blueclowd commented on #4690
I have the same problem,

use **cmake -DBUILD_opencv_dnn=OFF** if you don't actually need the module

[2016-12-11 16:28] Moisan commented on #4700
Look at [this section](https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md#specifying-other-formulae-as-dependencies) of the Formula guide. You probably want `:recommended` instead of `:optional` in the `openmp` dependency.

[2016-12-11 16:31] ilovezfs commented on #4700
You'll want to look at these:
[code]

[2016-12-11 19:49] lock042 commented on #4700
Thanks but it's difficult to understand. Because by default siril is compiled with clang in homebrew, but clang cannot compile with openmp option.
So, if I only replace
`  option "with-openmp", "Enable OpenMP multithreading"`
by
`  option "without-openmp", "Disable OpenMP"`
as suggested in einspline.rb, it would work ? (I have no Mac to test it except by pulling a request)

[2016-12-11 19:54] ilovezfs commented on #4700
yeah because it also has ` needs :openmp if build.with? "openmp"`

[2016-12-11 20:56] iMichka commented on #4670
Blast 2.5.0 was merged. Please test :)

[2016-12-12 03:33] ythinker commented on #4638
This problem is resolved, then reinstall the brew, install OpenCV (2) on the success of the

[2016-12-12 03:34] #4638 closed

[2016-12-12 07:29] #4367 closed

[2016-12-12 09:03] #4595 closed

[2016-12-12 13:05] lock042 commented on #4700
OK thanks. I pulled a request.
Hope it is ok

[2016-12-12 16:58] lock042 commented on #4700
Thanks a lot !!!

[2016-12-12 16:58] #4700 closed

[2016-12-13 00:54] sjackman commented on #3863
Thanks, Tim!

[2016-12-13 06:36] sjackman commented on #4251
If all you've done is add a `desc` line, then `brew audit` and `brew style` are a good check that you haven't broken anything. You can still submit a PR though. Mention in the PR that the bottle should not be updated. It could also be a good opportunity for building Linuxbrew bottles for any formula that are missing them.

[2016-12-13 19:06] sjackman commented on #4381
`kent-tools` 339 is bottled for Linuxbrew, and the bottle is relocatable. I'm going to hope that installing the bottle resolves this issue. Please report back if not.

[2016-12-13 19:06] #4381 closed

[2016-12-13 19:11] sjackman commented on #4388
Hi, James. Sorry for the extended delay in my reply. Have you found a resolution to this issue?
Does `brew install r` work? Does `brew install r --with-cairo` work?

Both `cairo` and `r` are bottle for Linuxbrew, but sadly neither bottle is relocatable. If possible, I'd suggest installing Linuxbrew in the directory `/home/linuxbrew/.linuxbrew` so that you can use these precompiled bottles and avoi

[2016-12-13 20:04] lparsons commented on #4381
Thanks @sjackman, seems to fix the issue for me.

[2016-12-13 23:04] jmorten opened #4723 "misspelling"
```brew tap hombrew/science```

Asks for github password.

[2016-12-13 23:56] #4723 closed

[2016-12-15 14:08] jtarp26 opened #4730 "openmotif failed to build on 10.10.5"
Bug reports:

I'm attempting to install the mbsystem package, using the patch from Homebrew/homebrew-x11#255 as instructed by the MBsystem support team. I fixed all issues from 'brew doctor' and below is the output from 'brew config'. The URL to the gist-log is "https://gist.github.com/anonymous/cab6bc323cec23b89abc1e1bef400e26". I am new to github and using command line, so apologies for any igno

[2016-12-15 14:41] YuBPan commented on #4303
[code]
make sure use the right path to source file `cv.so` when creating soft link

[2016-12-16 00:30] jonchang commented on #4730
`openmotif` lives in `homebrew/x11`, please file an issue there. But `openmotif` has a bottle so I'm confused as to why you are building from source. Try `brew install openmotif --force-bottle` then if that doesn't work open an issue with the x11 tap.

[2016-12-16 00:30] #4730 closed

[2016-12-16 00:32] jonchang commented on #4644
Fixed by #4648.

[2016-12-16 00:32] #4644 closed

[2016-12-16 00:35] jonchang commented on #4572
Hi @tonyxy1992, we don't provide support for how to run Homebrew formula. But I note that there is no `lmp_mpi` file installed with `lammps`. I would recommend emailing the lammps mailing list or filing a support ticket with their developers.

[2016-12-16 00:35] #4572 closed

[2016-12-16 00:38] jonchang commented on #4427
Hi @gwerbin, Homebrew no longer has a `qgis` formula due to the upstream deprecation of `qt`. You may want to look non-Homebrew taps such as [this one](https://github.com/OSGeo/homebrew-osgeo4mac) if you need `qgis`.

[2016-12-16 00:38] #4427 closed

[2016-12-16 12:50] ilovezfs commented on #3502
Should be fixed now.

[2016-12-16 12:50] #3502 closed

[2016-12-16 21:58] #4141 closed

[2016-12-19 03:08] mictadlo opened #4739 "PEP_scaffolder"
Hi,
Is anyone working to include [PEP_Scaffolder](http://www.fishbrowser.org/software/PEP_scaffolder/)?

Thank you in advance.

Mic

[2016-12-20 19:32] nextgenusfs commented on #4584
So I've had this problem now with a few other formulas as well, I think that some external configure scripts are getting perl/python versions from elsewhere and not using the same method as `brew config`.  Thus if you have installed necessary perl modules in your brewed version of perl (`/usr/local/bin/perl`), they aren't available to system perl when building the formula.

Any ideas on how I can

[2016-12-21 18:06] rambalachandran commented on #3401
When I tried to download and apply the above patch, it throws me the following error
[code]

[2016-12-21 18:09] iMichka commented on #3401
You do not need to apply the patch. The current version does not need it.
You can switch between between brewed python and system python with:

This is explained in the Caveats section of the formula installation (brew info vtk).

I am still in favour of closing this bug. The problem is solved with the current workaround. The  real fix is still waiting for an upstream merge (see #3811)

[2016-12-21 18:21] rambalachandran commented on #3401
Yes I can confirm that `import vtk` now works inside a python console

[2016-12-21 18:22] rambalachandran commented on #3401
Also do you know how to make it work with virtualenv python derived from Homebrew python?

[2016-12-21 20:45] tdsmith commented on #3401
Create your virtualenv with --system-site-packages or write a .pth file to your virtualenv's site-packages that references /usr/local/opt/vtk/lib/pythonx.y/site-packages.

[2016-12-21 20:46] tdsmith commented on #3401
I agree this bug is resolved; thanks again, @iMichka, for your hard work on this issue!

[2016-12-21 20:46] #3401 closed

[2016-12-21 20:49] dmwelch commented on #3401
@rambalachandran If you're using virtualenvwrapper:
[code]

[2016-12-22 02:52] nextgenusfs commented on #4670
Thanks!  Seems to be working fine for me on El Capitan and OS Sierra.

[2016-12-22 09:38] LuZhouheng opened #4749 "Can not install pcl via brew. Failed on install cminpack. (macOS 10.12.2)"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-12-22 10:05] LuZhouheng commented on #4749
It seems like the source of "cminpack" crashed. webcache is here:

http://webcache.googleusercontent.com/search?q=cache:rOfh850tEG0J:devernay.free.fr/hacks/cminpack/+&cd=1&hl=zh-CN&ct=clnk&gl=cn

the source link could not open:

http://devernay.free.fr/hacks/cminpack/cminpack-1.3.4.tar.gz

[2016-12-22 10:09] LuZhouheng commented on #4749
Fixed by this Issue:

https://github.com/devernay/cminpack/issues/7

[2016-12-22 10:09] #4749 closed

[2016-12-22 13:35] timotheecour commented on #4399
NOTE: `brew reinstall -v opencv --HEAD --without-python` did work! progress....

[2016-12-22 14:06] timotheecour commented on #4399
found the root cause and submitted a PR

[2016-12-23 19:47] ysolovyov opened #4758 "Update opencv3 to OpenCV 3.2, it has been released today"
### Indicate troubleshooting steps taken

- [ ] Ran `brew update` and retried your prior step?
- [ ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ ] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-12-24 00:47] Schultzer commented on #4571
@codermw

### Have you linked python.?
`brew link python`

### If not installed
`brew install python`

### Direct the local python path to homebrew python
`mkdir -p /Users/username/Library/Python/2.7/lib/python/site-packages
  echo 'import site; site.addsitedir("/usr/local/lib/python2.7/site-packages")' >> /Users/username/Library/Python/2.7/lib/python/site-packages/homebrew.pth
`

### Try a reinst

[2016-12-24 01:14] Schultzer commented on #4690
Are you installing against `--head` ?
else #4759

[2016-12-26 19:54] cmdcolin opened #4768 "sratoolkit fails install due to sha256 error on ncbi-vdb"
I manually checked the file for the ncbi-vdb dependency referred to in sratoolkit.rb and it appears the shasum -a 256 did in fact differ. Since it is a raw githubcom link perhaps it could be that they retagged their 2.8.1 release but not sure

Refer to
https://github.com/Homebrew/homebrew-science/pull/4767#issuecomment-269232078

[2016-12-28 10:03] ilovezfs commented on #3920
@loeksnokes you are probably a victim of https://twitter.com/MacHomebrew/status/763686348041641984

[2016-12-28 12:06] sallind opened #4773 "calculix-ccx failed to build on 10.12.2"
Bug reports:

Error for command :
brew install calculix-ccx
==> Installing calculix-ccx from homebrew/science
==> Using Homebrew-provided fortran compiler.
This may be changed by setting the FC environment variable.
==> Downloading http://www.dhondt.de/ccx_2.11.src.tar.bz2
Already downloaded: /Users/Daniel-STP/Library/Caches/Homebrew/calculix-ccx-2.11.tar.bz2
==> Patching
patching file ccx_2.11/sr

[2016-12-29 03:08] wumengfei commented on #4303
it gives me a hint
[code]

[2016-12-29 21:44] reneklacan commented on #4758
There's also https://github.com/Homebrew/homebrew-science/pull/4776

[2016-12-29 21:52] chrisgulvik opened #4778 "KmerStreamEstimate.py depends_on "scipy" => :python"
### Bug reports / build errors:
Traceback (most recent call last):
  File "~/.linuxbrew/bin/KmerStreamEstimate.py", line 4, in <module>
    from scipy.optimize import brentq
ImportError: No module named scipy.optimize

#### Brief summary of issue:
-- python module scipy dependency absent in formula
-- proper installation test is lacking https://github.com/Homebrew/homebrew-science/blob/master/kmer

[2016-12-30 15:09] joshualoving opened #4780 "Edirect ftp download error"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?

### Bug reports / build errors:

==> Installing edirect from homebrew/science
==> Downloading ftp://ftp.ncbi.nlm.nih.gov/entrez/entrezdirect/versions/2016-

[2016-12-30 20:25] cmdcolin commented on #4780
Looks like the whole directory naming system on their ftp server changed leading to download failed.

[2016-12-31 00:03] #4768 closed

[2016-12-31 00:32] #4399 closed

[2016-12-31 01:43] joshualoving commented on #4780
Yeah, using brew edit to replace the URL and updating the SHA hash to match the new file worked.

[2016-12-31 04:31] conradsnicta opened #4782 "update homebrew-science/armadillo.rb to Armadillo 7.600.2"
@ilovezfs @dpo  - I recommend updating armadillo.rb to Armadillo 7.600.2.

The updated version fixes a memory leak when compiling in C++11/C++14 mode.

[2016-12-31 16:29] drdv opened #4784 "octave failed to build on 10.12.2"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-12-31 21:52] berquist opened #4785 "qrupdate fails to install from source on 10.9"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [ ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-12-31 21:56] #4104 closed

[2016-12-31 21:56] #4598 closed

[2016-12-31 21:56] #4758 closed

[2016-12-31 23:33] jonchang commented on #4785
This looks like Homebrew/brew#1761 so it should be fixed by running `brew update`. Note that we don't officially support 10.9 so it may be best to start planning to migrate to 10.12 as building from source can lead to a lot of problems.

[2016-12-31 23:33] #4785 closed

[2016-12-31 23:34] jonchang commented on #4784
This looks like Homebrew/brew#1761 so it should be fixed by running `brew update`. Feel free to re-open or file a new issue if that isn't the case.

[2016-12-31 23:34] #4784 closed

[2016-12-31 23:38] jonchang commented on #4782
Feel free to open a pull request for this update. You'll need to update the `sha256` and `url` fields assuming nothing else has changed.

[2016-12-31 23:38] #4782 closed

[2016-12-31 23:40] jonchang commented on #4780
Hi @joshualoving, thanks for figuring this out! Could you please open a pull request to update the url and hash so that other users can benefit from your help?

[2016-12-31 23:42] jonchang commented on #4778
@chrisgulvik please open a pull request for this change. You can just use `depends_on "scipy"` since https://github.com/Homebrew/homebrew-python has the `scipy` bottle.

[2017-01-01 02:36] timotheecour opened #4788 "brew install opencv3: error: '_mm_cvtph_ps' was not declared in this scope"
[code]

Even after doing the same fix to opencv3.rb as I did to opencv.rb here:

https://github.com/Homebrew/homebrew-science/commit/b0350e62de1deb3ccf20face10e11c1df1bd4820

This is therefore a new error different from https://github.com/Homebrew/homebrew-science/issues/4400

[2017-01-01 02:37] timotheecour commented on #2905
I believe this fixed it : https://github.com/Homebrew/homebrew-science/commit/b0350e62de1deb3ccf20face10e11c1df1bd4820

[2017-01-01 16:26] devernay opened #4791 "openimageio bottles broken since last boost upgrade: upgrade to 1.7.9?"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [X] Looked up the software bug tracker if reporting a build error?
- [X] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2017-01-01 17:21] jonchang commented on #4791
There's a current pull request open at #4687 so we'll get around to it soon.

[2017-01-01 17:21] #4791 closed

[2017-01-01 17:43] berquist commented on #4785
It is fixed, thanks.

[2017-01-01 17:53] devernay commented on #4791
Shouldn't at least 1.7.8 bottles be invalidated, since they are corrupted?

[2017-01-02 07:19] ilovezfs commented on #4791
No, we never do that.

[2017-01-02 19:20] jonchang commented on #2905
Assuming this was fixed by #4750, please file a new issue if it wasn't.

[2017-01-02 19:20] #2905 closed

[2017-01-02 19:51] #4788 closed

[2017-01-02 22:48] timotheecour commented on #4788
@jonchang please reopen, if you re-read the comments https://github.com/Homebrew/homebrew-science/commit/b0350e62de1deb3ccf20face10e11c1df1bd4820 was necessary (for a different reason as this bug) but does not fix this bug, I am still getting:

[code]

[2017-01-03 06:21] ffmpbgrnn commented on #2905
@jonchang , Yes, it is fixed. Thanks.

[2017-01-03 14:28] joshualoving commented on #4780
I created a fork and tried to create a pull request, but I'm having trouble figuring out what information to give. This is my commit:

https://github.com/joshualoving/homebrew-science/commit/d7aa291537c205a89b45e2c8cb49c279644d9165

[2017-01-04 12:02] conradsnicta commented on #4782
@jonchang - pull request: https://github.com/Homebrew/homebrew-science/pull/4801

[2017-01-04 20:47] #2406 closed

[2017-01-04 21:10] jonchang commented on #4773
Fixed by #4787

[2017-01-04 21:10] #4773 closed

[2017-01-05 23:41] saulspatz opened #4821 "Install openCV Fails because of missing freetype symbols"
I've been trying to install openCV 3 on Yosemite 10.10.5 without success.  The bottom of 02.make (last file) in my [gist](https://gist.github.com/6d8c0e698ae2f9750453e11f8a570cd1)
shows that the problem is missing symbols in some `freetype` library.  `freetype` was upgraded to version 2.7.1 on 12-30-2016 and I suspect that this may be the source of the problem.  Can you give me any advice or infor

[2017-01-06 12:06] cpraveen opened #4824 "petsc looks for libnetcdf.7.dylib"
I have petsc via bottle
[code]
This seems to want libnetcdf.7.dylib which is not present on my system.
[code]
What I have is
[code]

[2017-01-06 13:00] kinsho6i7h commented on #2017
As per OP, I have just experienced the exact same issue with maxima 5.39 and SBCL 1.3.13

I had recently recompiled SBCL but not used maxima until today.

Recompiling maxima against the new SBCL has fixed the issue but why did it break and will this become prerequisite if I choose to update again?

[2017-01-06 14:48] ilovezfs commented on #4824
perhaps you need to upgrade netcdf.

[2017-01-06 15:58] cpraveen commented on #4824
I have the latest netcdf. Its the petsc bottle that needs to be updated.

[2017-01-06 16:00] ilovezfs commented on #4824
yep, source build locally of petsc was fine. bottle ... not so much

[2017-01-06 16:05] ilovezfs commented on #4824
@jonchang mind opening a `petsc: revision for netcdf` PR please?

[2017-01-07 03:28] timotheecour opened #4825 "brew install opencv3: error: '_mm_cvtph_ps' was not declared in this scope"
same as https://github.com/Homebrew/homebrew-science/issues/4788 but but @jonchang incorrectly closed this issue; and because of https://github.com/isaacs/github/issues/583 we can't reopen issues. My fix https://github.com/Homebrew/homebrew-science/pull/4750 was enough to fix opencv3 a couple weeks ago but this new error crept up in the meantime

[2017-01-07 04:12] timotheecour commented on #4825
the culprit: https://github.com/Homebrew/homebrew-science/commit/42b72dda3e8507148159d642b69ce2d53a533602 introduced the regression

[2017-01-07 04:20] timotheecour commented on #4825
related: https://aur.archlinux.org/packages/opencv-git/?comments=all also mentions same error

[2017-01-08 11:17] ixig opened #4827 "Octave: imshow() image scaling incorrect with qt"
On my MacBook Pro Sierra, imshow() displays the image at half-size. Upon showing the 'axis' in the figure viewer, I can see that the image is only half the size of the axis labels -- i.e. the image fills only (0,0) to (256,256) of the graph's viewplot (which is sized to 512x512, corresponding to the image size).

If I switch to "graphics_toolkit('gnuplot')" -- the default seems to be set for qt --

[2017-01-08 12:57] ixig commented on #4827
Looks like this issue is with Octave ... but although 'Sebastian' indicated a patch was already made in Homebrew 4.2, if so, it didn't work for my install.

[2017-01-08 12:58] ilovezfs commented on #4827
CC @schoeps any idea what the problem is?

[2017-01-08 16:07] schoeps commented on #4827
It's a known bug in Octave. Therefore I suggedt to close the issue here.

Background: qt5 deals properly with retina displays but octave was not adapted when switching from qt4 to qt5. The current formula comes with a first patch (as mentined above) that fixes most issues with the regular plot command, many other plotting routines are not yet tackled.

If anybody has experience with qt development

[2017-01-08 16:10] ilovezfs commented on #4827
Given that http://savannah.gnu.org/bugs/?49053 is still open, I think we can close this issue.

[2017-01-08 16:10] #4827 closed

[2017-01-08 19:50] jonchang commented on #4825
Hi @timotheecour, do you know if this error only occurs on 3.2, or did the removed patches in the 3.2 formula cause this error?

[2017-01-08 20:47] pdondl opened #4829 "Armadillo with option to leave out superlu and arpack"
Just a suggestion: Armadillo is perfectly fine without those two dependencies (and they are very heavy themselves, depending on gcc, for example). It might be nice to make them 'recommended'.

[2017-01-08 22:05] remia opened #4830 "opencv3 compilation error"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew