[2016-03-14 21:26] DomT4 commented on #3442
_From @batic on January 5, 2016 13:16_

I confirm - I get the same error.

[2016-03-14 21:26] DomT4 commented on #3442
_From @mikemcquaid on January 5, 2016 13:46_

@batic Can you also paste your Gist log?

[2016-03-14 21:26] DomT4 commented on #3442
_From @batic on January 5, 2016 13:55_

https://gist.github.com/batic/17ae745923f9369722f4

Basically it is the same as from ceedave.

[2016-03-14 21:26] DomT4 commented on #3442
_From @mikemcquaid on January 5, 2016 16:21_

@batic I'd like to see your `doctor` output too?

[2016-03-14 21:26] DomT4 commented on #3442
_From @krishagel on January 25, 2016 23:50_

I am seeing the same problem.  Here is my log:

https://gist.github.com/krishagel/c52b87ab9107f66837d6

And here is the output from brew doctor

https://gist.github.com/krishagel/a152413d37cf7d111568

[2016-03-14 21:26] DomT4 commented on #3442
_From @jarandaf on February 26, 2016 8:8_

Same error

[2016-03-14 21:26] DomT4 commented on #3442
_From @henrywuxad on March 2, 2016 21:40_

same error here

[2016-03-14 21:26] DomT4 commented on #3442
_From @eric-p on March 8, 2016 17:36_

Hi,
Same error for me. gist log : https://gist.github.com/53559863fe7f30c8e245
Nothing on brew doctor.

[2016-03-15 22:09] rob2go opened #3445 "Problems installing spades"
I get this when I try to brew spades

 brew install spades
==> Installing spades from homebrew/science
==> Downloading https://homebrew.bintray.com/bottles-science/spades-3.7.1.el_capitan.bottle.1.tar.gz

curl: (22) The requested URL returned error: 404 Not Found
Error: Failed to download resource "spades"
Download failed: https://homebrew.bintray.com/bottles-science/spades-3.7.1.el_capitan.bottle

[2016-03-16 08:18] lantiga commented on #3401
@dpo sorry to bug you (I'm taking the conversation from #3313 here), do you have a timeframe for this? Let me know how I can help. Thanks

[2016-03-16 15:15] dpo commented on #3401
@lantiga Sorry for the delay. It's very busy for me at this time. I do want this resolved though. I'll cc @tdsmith who might have ideas or suggest potential problems.

[2016-03-17 10:33] lantiga commented on #3401
@dpo thank you for the feedback

[2016-03-17 20:48] Dtrycode opened #3451 "Problems of `brew install arpack`"
I don't know what the issues are. I just can't install the octave. Please give me some help.
<img width="566" alt="screen shot 2016-03-17 at 1 50 42 pm" src="https://cloud.githubusercontent.com/assets/14356517/13860781/5065d1c6-ec47-11e5-9332-714ee5864d5d.png">

[2016-03-19 02:37] ahundt opened #3454 "Ceres Solver bottle uses old Eigen version"
### Indicate troubleshooting steps taken

- [ x ] Ran `brew update` and retried your prior step?
- [ x ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ x ] Checked that a similar issue hasn't already been filed?

### Bug reports / build errors:

- Brief summary of issue:

Identical to https://github.com/Homebrew/homebrew-science/issues/3195, except now eigen i

[2016-03-19 07:57] binarious commented on #3153
Issue has been resolved upstream.

[2016-03-19 07:57] #3153 closed

[2016-03-21 21:47] sjackman opened #3458 "blast: Fails to build on Linux"
_From @awitney on March 21, 2016 16:48_

# Please follow the general troubleshooting steps first:

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew --prefix)`?

_You can erase any parts of this template not applicable to y

[2016-03-21 21:47] sjackman commented on #3458
Please report `brew gist-logs blast`

[2016-03-22 00:30] awitney commented on #3458
$ brew gist-logs blast
https://gist.github.com/0853a382ef228b464a40

[2016-03-22 03:10] sjackman commented on #3458
It looks as though `blast` doesn't build with `boost` 1.60.0:
https://gist.github.com/anonymous/0853a382ef228b464a40#file-02-make-L193-L195
[code]

[2016-03-22 03:12] sjackman commented on #3458
Duplicate of https://github.com/Homebrew/homebrew-science/issues/2705#issuecomment-179524097

[2016-03-22 03:12] #3458 closed

[2016-03-22 03:12] sjackman commented on #3458
It doesn't look as though there's a solution for this issue yet. You may want to try an older version of boost.

[2016-03-22 15:59] irisvanzelst opened #3461 "Error installing metis"
Hi all,

I have an issue installing `metis` on OSX 10.11.2.

I am using the following `clang`:

[code]

Steps to reproduce:

[code]

Output of `brew doctor` (should hopefully all be unrelated):

[code]

Any ideas what the issue here is? Thanks for your help!

[2016-03-23 03:16] creade commented on #3442
I'm getting an error as well on osx 10.9.5:
https://gist.github.com/creade/37e2d195404593de6949

[2016-03-23 12:23] #3405 closed

[2016-03-23 19:02] nextgenusfs opened #3463 "tRNAscan error: 404 Not Found Error: Failed to download resource "trnascan""
`brew install trnascan` failed due to the url being dead, seems like trnascan is no longer hosted at janelia?
[code]

[2016-03-23 22:40] #3416 closed

[2016-03-24 00:53] nextgenusfs commented on #3463
I looked around a little bit more and it seems the Eddy lab website as moved, tRNAscan-SE can be found here: http://eddylab.org/software/tRNAscan-SE/tRNAscan-SE.tar.Z

And the homepage is now:
http://eddylab.org/software.html

[2016-03-24 05:47] ffmpbgrnn commented on #2905
I met the same problem! Any updates?

[2016-03-24 06:07] ffmpbgrnn commented on #2905
Solved by changing `python-config --configdir` to `python-config --prefix` in opencv.rb.

[2016-03-24 10:24] AUGxhub commented on #1979
e have you solved this problem .i meet a similarly  problem.

[2016-03-24 13:51] nextgenusfs commented on #3415
Eddy lab website as moved, seems like hmmer2 now resides here: http://eddylab.org/software/hmmer/2.3.2/hmmer-2.3.2.tar.gz

[2016-03-24 18:02] sjackman commented on #3415
Duplicate of #3421

[2016-03-25 23:59] Whinza commented on #1638
No rule to make target `/usr/lib/libpython2.7.a', needed by `lib/cv2.so'.  Stop.

This is what I get after 3 hours

[2016-03-26 09:33] waitingkuo commented on #3141
I solved the issue by removing gfortran, gcc and install gcc back

    $ brew uninstall gfortran
    $ brew uninstall gcc
    $ brew install octave

[2016-03-27 13:01] heinemml opened #3476 "Jenkins (bot.brew.sh) sporadically fails"
Jenkins builds seem to fail sporadically on `brew doctor`

What did I do?

* I added pull request #3460 and Jenkins ran successfully for all platforms.
* I changed some things and the Jenkins build failed when executing `brew doctor` (http://bot.brew.sh/job/Homebrew%20Science%20Pull%20Requests/4383/).
* I changed the comment on the commit and pushed again, changing nothing in the commit itself. Th

[2016-03-28 02:02] tseemann commented on #3463
@nextgenusfs thanks for letting us know! i'm making a new formula: https://github.com/Homebrew/homebrew-science/pull/3479

[2016-03-28 02:02] #3463 closed

[2016-03-28 04:39] wkillers opened #3480 "Failed to install petsc"
### Indicate troubleshooting steps taken

- [ ] Ran `brew update` and retried your prior step?
- [ ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ ] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-03-28 04:39] #3480 closed

[2016-03-28 04:45] wkillers commented on #3461
I got the same error when I install petsc on Mac OS X EI Capitan 10.11.4, does anyone knows how to solve this problem? Thank you for your help!!!

[2016-03-28 12:15] joshhooker opened #3481 "Problem installing root"
I am having an error installing root on 10.11.4 with clang 7.3

[code]

Output of brew doctor:
[code]

[2016-03-29 00:53] colstat commented on #3141
They have put out the dmg file about a week after I post this.  It's ready to install, there's no need for gcc or linux commands.

[2016-03-29 02:24] pavelkang commented on #3461
Same here. When I tried to install from source I got the same error.

[2016-03-29 08:29] wkillers commented on #3461
Maybe you can try download and install the petsc from the source code instead of homebrew, since the dependences metis or parmetis are not using in underworld for now. And other dependences that needed for petsc can be listed by 'brew info petsc'.

[2016-03-29 10:07] ilovezfs commented on #3461
It succeeds with gcc. You can add `fails_with :clang` to the formula and `brew install gcc` as a workaround until the exact problem is determined.

[2016-03-29 11:02] ilovezfs commented on #3461
Well looks like this may be an actual compiler bug https://llvm.org/bugs/show_bug.cgi?id=27059

[2016-03-29 11:11] ilovezfs commented on #3461
problem seems restricted to clang 7.3

[2016-03-29 20:38] sjackman opened #3484 "r: error while loading shared libraries: libncursesw.so.5"
https://gist.github.com/sjackman/b637ba29518bb39340bba561ea83c79c#file-02-make-L678-L682

[code]

[2016-03-29 20:39] sjackman commented on #3484
Workaround:
[code]

[2016-03-29 21:49] alokrajiv commented on #3371
still facing error with cv2 build with ffmpeg

[2016-03-29 21:57] sjackman commented on #2683
Try `brew install linuxbrew/xorg/xorg cairo r --with-x11`

[2016-03-30 06:02] tseemann opened #3485 "poretools - "Error in library(devtools) : there is no package called ‘devtools’""
Logs here: https://gist.github.com/43a64c06f3a97a586c7fe771980313d0

[code]

I recently updated R to 3.2.x (with Brew) and I guess `devtools` isn't installed by default.

Perhaps the `poretools` formula should check for this?

**If I manually start R and run `install.packages("devtools")` then try again, it works**.

[2016-03-30 06:12] #3418 closed

[2016-03-30 07:38] irisvanzelst commented on #3461
Dear ilovezfs,

What do you mean by "_You can add `fails_with :clang` to the formula and `brew install gcc `as a workaround until the exact problem is determined._"?

I am very new to homebrew, so I don't really know yet what you are talking about. Which formula are you talking about and where should I add this? Also, I already installed gcc (with the line `brew install gcc`, but when I then type

[2016-03-30 07:40] ilovezfs commented on #3461
@irisvanzelst I made a pull request for this. You can just

[code]

[2016-03-30 07:52] irisvanzelst commented on #3461
@ilovezfs Thank you!

I think I now installed metis correctly, as I get the following output
`$ brew install metis
==> Installing metis from homebrew/science
==> Downloading http://glaros.dtc.umn.edu/gkhome/fetch/sw/metis/metis-5.1.0.tar.gz
Already downloaded: /Library/Caches/Homebrew/metis-5.1.0.tar.gz
==> make config shared=1 prefix=/usr/local/Cellar/metis/5.1.0 openmp=1
==> make install
🍺  /usr

[2016-03-30 07:55] ilovezfs commented on #3461
@irisvanzelst sounds like something is wrong with your PATH, which should contain /usr/local/bin by default.

[code]

[2016-03-30 07:57] irisvanzelst commented on #3461
@ilovezfs I get the following results when typing `echo $PATH` :

[code]

[2016-03-30 08:01] ilovezfs commented on #3461
Oh ok, that's fine. I think none of the actual programs are actually literally named "metis."

[code]

Example usage is in the formula's test
[code]

[2016-03-30 08:11] irisvanzelst commented on #3461
@ilovezfs Okay, I see!

Thanks for your help! It works now! :)

[2016-03-30 08:12] ilovezfs commented on #3461
@irisvanzelst You're welcome.

[2016-03-30 17:25] dpo commented on #3476
Those are sporadic failures. The build just needs to be restarted when they happen. I'm not sure what they're due to. Feel free to report on Homebrew/core.

[2016-03-30 17:25] dpo commented on #3454
Feel free to submit a PR to bump `ceres`.

[2016-03-30 17:27] dpo commented on #3451
Try `brew upgrade gcc`. If that doesn't work, please post the output of `brew gist-logs arpack`.

[2016-03-30 17:27] heinemml commented on #3476
Is there a way for me as non-admin to restart the build? Or ist amend/force-push the only way for me?

I will open an issue at core.

[2016-03-30 17:28] #3451 closed

[2016-03-30 17:28] dpo commented on #3476
Adding a commit to your PR will fire up a new build. Or you can ping one of us to do it manually.

[2016-03-30 17:30] dpo commented on #3438
Will be fixed by #3483.

[2016-03-30 17:32] dpo commented on #3445
I don't have a 10.11 system to test but something's off because your log indicates that `brew` tries to download a bottle or the source for version 3.7.1, while the formula is only for version 3.7.0. Did you modify `spades.rb`?

[2016-03-30 21:39] 0x00B1 commented on #2428
Upgrading Xcode to 7.3 has not resolved this issue for me.

[2016-03-31 01:00] tseemann opened #3490 "gubbins - Failed to import the site module (since python 3.4 -> 3.5)"
I upgraded from Brew python 3.4 to 3.5 and now gubbins doesn't install.

Any idea why the backtrace ends up in python2.7 ?

CC: @andrewjpage

[code]

[2016-03-31 01:34] ahundt commented on #3454
@dpo is a pull request really required? couldn't just re-running the bot take care of it?

[2016-03-31 01:37] dpo commented on #3454
It's a PR that will run the bot. The bottles need to be rebuilt apparently.

[2016-03-31 03:46] ahundt commented on #3454
yeah that's right, but no actual source needs to change I think?

[2016-03-31 08:19] osteotek commented on #3024
I don't have macports installed and I still have the same error with installing opencv3 --with-cuda flag

[2016-03-31 15:15] #3461 closed

[2016-03-31 20:44] davesque commented on #3454
What's the status on this?  I think I'm having issues building with ceres and cmake because of this.

[2016-03-31 23:47] #3454 closed

[2016-03-31 23:48] #3438 closed

[2016-03-31 23:49] dpo commented on #3476
I'll close this. Please reopen if there's anything that can be done here.

[2016-03-31 23:49] #3476 closed

[2016-04-01 10:02] marianoimperatore commented on #3300
Hey there!
I'm having same problem, with the suggested by dcmhanson command to run giving me error as well:
~ mbarbier$ brew link --overwrite gcc
Linking /usr/local/Cellar/gcc/5.3.0...
Error: Could not symlink include/c++/5.3.0
/usr/local/include/c++ is not writable.

[2016-04-01 13:47] dcmhanson commented on #3300
Unfortunately, I can't find my original post on this- at least not on github- but, as I recall, I simply had to re-install the c compiler (gcc?) and then everything worked.

[2016-04-01 15:21] marianoimperatore commented on #3300
I think my Homebrew is messed up...
Can you help me to remake it fresh from scratch?
Is giving me always errors when I try to reinstall o link packages when it was the one telling me to do so

[2016-04-01 15:28] dpo commented on #3300
What does `brew doctor` say?

[2016-04-01 16:06] marianoimperatore commented on #3300
Hey hi! Thak you all anyway.
Brew doctor says a lot of Warnings... I think it will override the maximum number of characters here.
Here it is:
mbarbier$ brew doctor
Please note that these warnings are just used to help the Homebrew maintainers
with debugging if you file an issue. If everything you use Homebrew for is
working fine: please don't worry and just ignore them. Thanks!

Warning: Some dir

[2016-04-01 16:06] dcmhanson commented on #3300
Marian,
Sorry, but I am not an expert with HomeBrew/ LAMMPS system stuff; I had to get some local help myself.

On Apr 1, 2016, at 9:21 AM, marianoimperatore <notifications@github.com> wrote:

I think my Homebrew is messed up...
Can you help me to remake it fresh from scratch?
Is giving me always errors when I try to reinstall o link packages when it was the one telling me to do so

—
You are rece

[2016-04-01 16:11] dpo commented on #3300
@marianoimperatore Please use gists for long outputs instead of posting here directly. You have MacPorts and/or Fink installed and you might have installed gcc with one of them in the past. If you want to go with Homebrew, it's best to drop MacPorts and Fink. Also note that Homebrew doesn't play well with Anaconda. You'll also need to address the issues raised by `brew doctor`.

[2016-04-01 20:14] dpo commented on #3141
I'll close this then. Please open a new issue if there are other problems.

[2016-04-01 20:14] #3141 closed

[2016-04-01 20:18] dpo commented on #3091
@sysfu that's a question for Homebrew core, but note that we no longer support 10.6.  I'll close this as it doesn't seem that anything can be done from here.

[2016-04-01 20:18] #3091 closed

[2016-04-03 01:38] tseemann commented on #3039
@karel-brinda I am working on a formula for this, and once I sort out #1035 it should be available.

[2016-04-03 01:42] tseemann commented on #2634
@lml is there now a more formal way to handle this situation?

[2016-04-04 01:37] chryss commented on #2555
Same for me.

[2016-04-04 06:48] apjanke opened #3501 "madlib test failed against postgresql 9.5.2"
With `postgresql` 9.5.2 installed, `brew test madlib` is failing, both for me locally (from source or bottle), and on Jenkins test-bot runs where `madlib` is tested as part of a `postgresql` formula change. Looks like it's causing https://github.com/Homebrew/legacy-homebrew/pull/49612 to fail in the test stage.

With the current bottle, `postgresql` changes [fail like this](http://bot.brew.sh/job/

[2016-04-04 15:27] tdsmith opened #3502 "seqan missing cmake module, pkg-config file?"
Received an email:

[2016-04-05 13:35] Yetocome commented on #3371
I have the same problem with ffmpeg, is there any patch?

[2016-04-06 10:27] #2521 closed

[2016-04-06 11:38] marianoimperatore commented on #3300
Thanks a lot @dpo , I didn't notice this possibility sorry.
You mean I should uninstall PacPort or Fink? Do you mean I should get rid also of Anaconda to effectively use Homebrew? Are they all kinda confliting programs?

[2016-04-06 14:04] dpo commented on #3300
Yes they can and do conflict.

[2016-04-06 14:18] marianoimperatore commented on #3300
Got it, thanks!
I think I better find the way to use just one of them...

[2016-04-06 15:04] maculatus opened #3508 "blast failed to install - Prokka"
I tried to install prokka but if failed during the installation of blast and ncbi-blast. I brew update my system and it is updated to today (06/04/2016)

brew install prokka
==> Installing prokka from homebrew/science
==> Installing dependencies for homebrew/science/prokka: blast, infernal,
==> Installing homebrew/science/prokka dependency: blast
==> Downloading ftp://ftp.ncbi.nlm.nih.gov/blast/ex

[2016-04-06 17:37] ahundt commented on #3051
I can confirm this

[2016-04-06 17:38] ahundt commented on #3051
https://gist.github.com/311a5cfda8d769cd70fe9f9cdecf6c0a

[2016-04-06 18:40] sjackman commented on #1277
@jrevillard
`CMake Error: Problem with archive_write_finish_entry(): Can't restore time`

I finally sorted out the cause of this issue. It's cause by using an older Linux kernel and is arguably a bug in `cmake`. If you have access to a computer with a newer Linux kernel, it should work just fine. I have only two data points.

| Linux kernel | Status |
|---|---|
| 2.6.18 | ❌ |
| 2.6.32 | ✅  |

[2016-04-06 18:41] #1277 closed

[2016-04-06 19:06] sjackman commented on #3429
Also this error:
https://gist.github.com/sjackman/4aa24581641987cfbbe4f845a016055a#file-02-make-L2-L5893
[code]

[2016-04-06 19:43] sjackman opened #3510 "Travis builds of pull requests are broken"
See for example https://travis-ci.org/sjackman/homebrew-science/builds/121238071

https://travis-ci.org/sjackman/homebrew-science/jobs/121238075#L194-L200
[code]

[2016-04-06 23:06] sjackman commented on #3039
@tseemann I also need SDSL. Could you please post a WIP pull request?

[2016-04-06 23:56] sjackman commented on #2521
Did you find a resolution to this issue, Denis?

[2016-04-07 01:19] tseemann opened #3511 "My bintray API keys don't let me pull --bottle anymore?"
Recently I've lost the ability to `brew pull --bottle formula.rb`

[code]

My account is here: https://bintray.com/tseemann and I have the the correct API envars set:

[code]

[2016-04-07 05:11] davydden commented on #2521
@sjackman no, i didn't :-( I was was just cleaning up my github issues. Please, re-open if it is still important to track this issue.

[2016-04-07 05:55] sjackman commented on #1593
This issue is resolved now that `/usr/bin/clang` and `gcc-5` are ABI compatible on recent versions of Mac OS.

[2016-04-07 05:55] #1593 closed

[2016-04-07 06:09] sjackman commented on #2521
=/ Sorry.

[2016-04-07 07:04] mikemcquaid commented on #1593
@sjackman Does that mean the standard library checks are no longer needed as-of GCC-5 and recent Clangs? Thanks!

[2016-04-07 15:52] sjackman commented on #1593
I don't know the answer to that question off the top of my head. Do you know which C++ library is used by default by `clang` and `gcc-5`, and do you know whether the two C++ libraries are ABI compatible?

[2016-04-07 19:17] maculatus commented on #3508
brew missing

homebrew/science/gubbins: openblas
homebrew/python/numpy: openblas

[2016-04-08 14:14] mikemcquaid commented on #1593
`libstdc++` and `libc++`

No idea 😥

[2016-04-08 15:53] sjackman commented on #1593
http://libcxx.llvm.org

So looks like it's best-effort ABI compatibility. I think that this compatibility is due to the `libc++abi` library http://libcxxabi.llvm.org although that page doesn't mention `libstdc++` at all, but does mention `On Mac OS X, be ABI compatible with the existing low-level support.`, which may be a reference to `libstdc++` compatibility. There are a few StackOverflow questi

[2016-04-09 02:50] tseemann commented on #3508
Try
[code]
before you install Prokka.

[2016-04-09 08:57] ahundt opened #3517 "vtk7 test"
here is the start of a vtk7 test and a desc in case someone is interested in completing it:
https://github.com/Homebrew/homebrew-science/blob/master/vtk.rb

[code]

[code]

otherwise feel free to close this, sorry can't submit a pull request for this myself at the moment.

[2016-04-09 09:58] elmorg commented on #3371
Also having this problem with ffmpeg:

brew install opencv --with-ffmpeg
==> Installing opencv from homebrew/science
==> Using Homebrew-provided fortran compiler.
This may be changed by setting the FC environment variable.
==> Downloading https://github.com/Itseez/opencv/archive/2.4.12.tar.gz
Already downloaded: /Library/Caches/Homebrew/opencv-2.4.12.tar.gz
==> cmake .. -DCMAKE_C_FLAGS_RELEASE=-DN

[2016-04-09 10:00] alokrajiv commented on #3371
run `brew install` with flag `--HEAD` for now because the patch isn't in the release yet.

[2016-04-09 10:08] KingGeorgeWang opened #3518 "lammps: Missing files"
Hi all,

I have an issue while installing Lammps on OS X 10.11.4.

Some files may be lost during the installing procedure. Here is the detail.

[code]

And the procedure is shown below.

[code]

I'm curious where can I find the folder "src". Thanks for your help!

[2016-04-09 14:37] dpo commented on #3518
What folder `src`? After installing, it's discarded.

[2016-04-09 14:38] dpo commented on #3510
I get the same on my fork.

[2016-04-10 01:08] mjdousti commented on #3141
This command solved my problem:
`brew link --overwrite gcc`

[2016-04-10 07:25] tdsmith commented on #3401
http://www.vtk.org/Bug/view.php?id=16068

[2016-04-10 07:26] tdsmith commented on #3162
This is related to http://www.vtk.org/Bug/view.php?id=16068. Closing since we're tracking this in a few places now. Thanks!

[2016-04-10 07:26] #3162 closed

[2016-04-10 07:46] KingGeorgeWang commented on #3518
Thanks for your reply! @dpo
But according to the Manual, there should be the folder `src` under the `lammps` dir, and without folder `src`, I cannot use the Makefile.mpi or Makefile.serial files in src/MAKE. (which seems to be important in the following steps)

Here's what Manual says about `Lammps` dir:

gunzip lammps*.tar.gz
tar xvf lammps*.tar
This will create a LAMMPS directory containing two

[2016-04-10 15:32] heinemml commented on #3147
I think this is fixed by 417bd3f

[2016-04-10 15:52] dpo commented on #3518
I'm a bit confused. Homebrew has already gone through the entire installation procedure for you. LAMMPS is ready to be used. Try `brew test lammps`.

[2016-04-10 19:08] sjackman opened #3519 "discovar: Failed to download: Access denied: 530"
Reported upstream:
https://groups.google.com/a/broadinstitute.org/forum/?hl=en&fromgroups#!topic/discovar-user-forum/VqZiz1ZNNKY

[code]

[2016-04-10 19:38] ilovezfs commented on #3519
works for me.
[code]

[2016-04-10 22:55] dpo commented on #3147
@ahundt confirm?

[2016-04-11 03:17] sjackman commented on #3519
Works now for me too. Perhaps it was transient or resolved upstream.

[2016-04-11 03:17] #3519 closed

[2016-04-11 06:26] ahundt commented on #3147
@dpo works great! Thanks!

[2016-04-11 11:24] dpo commented on #3147
Thanks

[2016-04-11 11:24] #3147 closed

[2016-04-11 13:29] tfmoraes opened #3525 "GDCM 2.6.3 compiled with VTK 6 (possibly 7) formula"
Hi,

I updated the gdcm formula to 2.6.3 version. Also, I adapted it to compile with VTK 6 (possibly with 7). I had to apply some patches, because gdcm is not adapted to compile with VTK 6. I submitted a pull request to gdcm repo with these patches. The formula is here https://gist.github.com/tfmoraes/f780c5c46f2fdd5a87eca8d7fbdac9e6 and the patches https://gist.github.com/tfmoraes/5489a2473c1ed6c

[2016-04-11 16:38] maculatus commented on #3508
Thanks, however it failed again...
brew install blast --without-check -without-static
==> Installing blast from homebrew/science
==> Downloading ftp://ftp.ncbi.nlm.nih.gov/blast/executables/blast+/2.2.31/ncbi-
Already downloaded: /home/gybazeta/.cache/Homebrew/blast-2.2.31.tar.gz
==> Patching
patching file c++/include/corelib/ncbimtx.inl
==> ./configure --prefix=/mnt/data/Programs/.linuxbrew/Cella

[2016-04-11 18:29] heinemml commented on #3383
Is this problem still existing? On my system installation works.
[code]

[2016-04-11 19:47] sjackman commented on #3510
I believe this was happening because Travis tests were enabled for my fork `sjackman/homebrew-science`. I didn't even realize builds of my fork were enabled. I've disabled Travis for my fork.

[2016-04-11 19:47] #3510 closed

[2016-04-11 20:37] dpo commented on #3383
@heinemml Are you on 10.11?
@pro404 Any news?

[2016-04-11 20:39] heinemml commented on #3383
@dpo I'm on 10.11.4

[2016-04-11 23:24] sjackman opened #3527 "trinity: Fails to build with GCC 5"
https://gist.github.com/sjackman/fb183909c1469102bff8b78215f9450e#file-01-make-L40
[code]

[2016-04-11 23:42] sjackman commented on #3527
Bumped `trinity` to version `2.2.0`. New error:
[code]
https://gist.github.com/sjackman/ef765ef28e168496aa025c32d2319e55#file-01-make-L1071

[2016-04-11 23:43] sjackman commented on #3527
See also #2801 and #2913

[2016-04-12 08:25] KingGeorgeWang commented on #3518
Thanks for your reply! @dpo

The problem is that after installation the dir `lammps` is different from what Manual says. (missing dir `src`, etc. ) You've said that

But it seems that `src` shouldn't be deleted since it will be used in the further calculation. And in Windows system folder `src` can be found after installing Lammps. So I wonder what mistake I've made.

And I've tried the command yo

[2016-04-12 11:37] DwinGrashof commented on #3458
I've installed boost 1.59 in the hope to succesfully install CEGMA with Linuxbrew/Homebrew.
This didn't wor for me. I still have the same error as listed above. Is there anyone who found a way to fix this issue?

Kind regards,
Dwin

[2016-04-12 18:00] sjackman commented on #3458
As a workaround, you could use upstream's precompiled executables:
ftp://ftp.ncbi.nlm.nih.gov/blast/executables/LATEST/ncbi-blast-2.3.0+-x64-linux.tar.gz
See http://www.ncbi.nlm.nih.gov/books/NBK52640/

[2016-04-12 18:01] sjackman commented on #3458
This issue has moved to https://github.com/Homebrew/homebrew-science/issues/2705

[2016-04-12 18:02] sjackman commented on #2705
As a workaround, you could use upstream's precompiled executables:
ftp://ftp.ncbi.nlm.nih.gov/blast/executables/LATEST/ncbi-blast-2.3.0+-x64-linux.tar.gz
See http://www.ncbi.nlm.nih.gov/books/NBK52640/
Sorry that we don't have a Linuxbrew fix for you right now.

[2016-04-12 18:49] micrain opened #3533 "ipopt does not work with the openblas option"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [X] Looked up the software bug tracker if reporting a build error?
- [X] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-04-12 21:02] dpo commented on #3533
What happens when you just say `brew install ipopt --with-openblas`? If there's an error, could you please post a link to the output of `brew doctor`?

[2016-04-12 21:04] dpo commented on #3525
Feel free to submit a pull request.

[2016-04-13 00:11] tseemann commented on #2705
@sjackman I was thinking if we could add a `--binaries` option to `blast.rb` to use the binaries that NCBI provide (OSX or Linux) ?
This problem is only getting worse, as BLAST 2.3.0 has even more issues.

[2016-04-13 00:41] tfmoraes commented on #3525
Ok. Pull request submitted.

[2016-04-13 00:58] #3525 closed

[2016-04-13 04:37] sjackman commented on #2705
If it doesn't build from source, and hasn't for ages, perhaps we should just use the upstream binaries. That solution doesn't make me happy, but it's nuts that BLAST hasn't been installable for months.

[2016-04-13 05:18] CodingAnarchy opened #3536 "NetCDF fails to link using Homebrew-installed GCC"
### Bug reports / build errors:

I'm trying to compile the simple example C++ (NetCDF4) examples found [at the Unidata site](https://www.unidata.ucar.edu/software/netcdf/examples/programs/).  Using the Homebrew provided `g++` compiler, I have tried using this command `g++-5 -std=c++14 -o NCDF_WT SimpleXyWr.cpp -lnetcdf -lnetcdf_c++4`.  (I have also swapped the library order to no effect.) The resu

[2016-04-13 09:13] ozagordi commented on #2705
Thanks for looking into this @sjackman.
I am indeed using the precompiled binaries. That old wish of [opening up blast](http://blastedbio.blogspot.ch/2011/08/opening-up-ncbi-blast.html) expressed by @peterjc!

[2016-04-13 11:12] ilovezfs commented on #2705
If you want to use binaries, we'd want to make them an external `:requirement` as opposed to something distributed by brew.

Does the build fail now even with `--without-check`? It seems to be fine for me if I do that.
[code]
and
[code]
As for getting `--with-check` working, maybe we should vendor the last version of boost that works?

[2016-04-13 12:16] ilovezfs commented on #2705
It was the upgrade of boost from 1.58 -> 1.59 that broke the tests, so at least that narrows it down some.

[2016-04-13 12:37] ilovezfs commented on #2705
Build also succeeded on Linuxbrew using `--without-check`: https://gist.github.com/anonymous/a551855fd787dae0c5ac395dbae0e89d
[code]

[2016-04-13 14:45] ilovezfs commented on #2705
The boost problem is solved in `2.3.0`. I'll open a PR here.

[2016-04-13 15:25] ilovezfs commented on #2705
Nope, spoke too soon. I had a bug in the formula deprecating `without-check` to `without-test`, but still had `build.with?("check")` lower down, so it built `---without-boost`. That's too bad because it means upstream did another release without fixing this.

[2016-04-13 16:20] sjackman commented on #2705
If it's only `make check` that's failing, let's disable it for now and improve the `test do` block to run a small alignment.

[2016-04-13 16:22] ilovezfs commented on #2705
I think we can do this instead:
https://gist.github.com/ilovezfs/0fb252a82687a28574c8509bccf8e022

[2016-04-13 16:43] ilovezfs commented on #2705
@sjackman Actually, let's do this: https://github.com/Homebrew/homebrew-science/pull/3537

[2016-04-13 16:45] sjackman commented on #2705
[code]

Works for me! Thanks, Joe. Does `homebrew/versions/boost155` work on Linux?

[2016-04-13 16:47] sjackman commented on #2705
I'd rather use `homebrew/versions/boost155` than vendor in `boost 1.5.8`.

[2016-04-13 16:48] ilovezfs commented on #3508
Please try
[code]

[2016-04-13 16:59] maculatus commented on #3508
Hello,
Thanks for your email. I tried the command and the patch failed to apply.
It is asking my for an identification.

When I tried to identified my self using:
git config --global "My email"
I got:
error: invalid key: "My email"

On Wed, Apr 13, 2016 at 12:48 PM, ilovezfs <notifications@github.com> wrote:

[2016-04-13 17:04] ilovezfs commented on #3508
You can do this instead
[code]

[2016-04-13 17:05] ilovezfs commented on #3508
Saw you're on OS X like me.
[code]

Otherwise, the same as above.

[2016-04-13 17:12] maculatus commented on #3508
Nope, I have a linux box.
cd  ~/Programs/.linuxbrew/Library/Taps/homebrew/homebrew-science

#got this:

fatal: 'ilovezfs' does not appear to be a git repository
fatal: Could not read from remote repository.

Please make sure you have the correct access rights

[2016-04-13 17:13] ilovezfs commented on #3508
git remote add ilovezfs git://github.com/ilovezfs/homebrew-science.git

[2016-04-13 18:47] DomT4 commented on #2705
:wave: Someone coughed the word "Versions" in the wind and as it drifted by I was curious as to the source. Or this thread was pointed out to me. Whichever seems more interesting.

I prefer Joe's solution FWIW. I don't particularly want to write a big comment here so I'll bullet point instead:

* Blast isn't `cellar :any` which means every non-`/usr/local` user will have to install from source, an

[2016-04-13 19:10] sjackman commented on #2705
Hah! Tell us how you really feel. =p

[2016-04-13 19:15] sjackman commented on #2705
My annoyances with vendoring in dependencies:

1. The code duplication is terrible. Lot's of formula break when `boost` upgrades. Do we vendor `boost` into each of them? If there's a fix required for Linuxbrew, then I have to fix each of them independently. I'd rather fix it just once in a common spot.

2. It drastically increases the build-test cycle time / CI time to have to build `boost` before

[2016-04-13 19:26] DomT4 commented on #2705
I'm Versions biggest cheerleader as well :wink:, but I don't sugar-coat the current state of play there.

I'm working on it but it's hard work to rush. There is a long-term plan on Versions that's going to involve a lot of change, and will inevitably annoy people at first, but means we can provide better Versions support _and_ permit chaining other formula to major releases that aren't necessarily

[2016-04-13 19:34] sjackman commented on #2705
I vote for disabling the unit tests and improving the `test do` without actual alignments.

Once `boost155` is installed on your development machine you don't have to rebuild it for each change that you want to test of the `blast` formula. True that doesn't help users or CI that much.

[2016-04-13 19:35] ilovezfs commented on #3508
@maculatus did you get it working?

FYI:
[code]

[2016-04-13 19:37] sjackman commented on #2705
My thought for supporting versions in Homebrew-science was to tag each commit like `abyss-1.9.0` and then have `brew install abyss=1.9.0` expand to `https://github.com/Homebrew/homebrew-science/blob/abyss-1.9.0/abyss.rb`. There's obviously a lot more work needed than just that, but that's the gist of it.

[2016-04-13 19:42] ilovezfs commented on #2705
[code]
And why not that with the vendored boost?

I think supporting versions in homebrew/science would be horrible can of worms. What is the motivation? I'm assuming staving off the people who have their pitchforks out over broken reverse dependencies?

[2016-04-13 19:46] ilovezfs commented on #2705
And FWIW:
[code]

[2016-04-13 19:47] DomT4 commented on #2705
I think a reasonable middle-ground here is Joe's solution, but to make it opt-in _except_ for cases where `build.bottle?` is true. That protects users from the vendor when building from source, but ensures the tests are run on CI.

I'm not sure this would work without a major redesign to Homebrew itself; Homebrew would need to either run an online call for every `install` execution to link it to t

[2016-04-13 20:19] maculatus commented on #3508
git remote add ilovezfs git://github.com/ilovezfs/homebrew-science.git
fatal: Not a git repository (or any of the parent directories): .git

[2016-04-13 20:20] ilovezfs commented on #3508
@maculatus you have to be in the tap directory

[2016-04-13 20:48] maculatus commented on #3508
It worked, blast was installed. However, in the process of installing boost my device run out of space. I checked with df and is plenty of free space. I am going to check this with our IT department.
Thanks

 git fetch ilovezfs
remote: Counting objects: 15674, done.
remote: Compressing objects: 100% (6777/6777), done.
remote: Total 15674 (delta 9795), reused 14748 (delta 8870), pack-reused 0
Recei

[2016-04-13 20:51] ilovezfs commented on #3508
@maculatus You probably just need to set the brew temporary directory to somewhere where's there's space:
[code]

[2016-04-13 20:52] ilovezfs commented on #3508
echo 'export HOMEBREW_TEMP=~/tmp >> ~/.bash_profile' will probably fix it.

[2016-04-13 20:53] maculatus commented on #3508
...but df indicates plenty of space...do I need to identify an specific space for Home-brew?

Filesystem                             1K-blocks        Used   Available Use% Mounted on
/dev/vda1                              264091652    53010936   197642612  22% /mnt/data

[2016-04-13 20:57] ilovezfs commented on #3508
@maculatus I think the default is probably your tmpfs which too small.

[2016-04-13 21:12] maculatus commented on #3508
Thanks, I changed my profile and it is "pouring" boost now...

[2016-04-13 21:23] maculatus commented on #3508
It failed again...

/mnt/data/Programs/.linuxbrew/Library/brew.rb (Formulary::FormulaLoader): loading /mnt/data/Programs/.linuxbrew/Library/Formula/lzo.rb
Error: No such file or directory @ dir_s_mkdir - /home/gybazeta/tmp/homebrew20160413-3383-1pz44l8
/mnt/data/Programs/.linuxbrew/Cellar/ruby/2.3.0/lib/ruby/2.3.0/tmpdir.rb:86:in `mkdir'
/mnt/data/Programs/.linuxbrew/Cellar/ruby/2.3.0/lib/ruby/2.3

[2016-04-13 21:25] ilovezfs commented on #3508
try without the tests
`brew install --build-from-source --without-test blast`

[2016-04-13 22:27] sjackman commented on #2705
And why not that with the vendored boost?

Sounds good to me. 👍

[2016-04-13 22:31] sjackman commented on #2705
To be able to reproduce scientific work that was done with a particular version of a program.

You read a scientific paper. The results are *foo* with version *v* of tool *t*. You download the authors' data, `brew install t`, and run the tool on their data and instead of seeing *foo* you see *bar*. So you `brew install t=v` and, lo, see the result *foo*—or don't and start the gnashing of teeth abo

[2016-04-13 22:39] ilovezfs commented on #2705
I'd refer you to
https://github.com/Homebrew/homebrew-bundle/issues/162

[2016-04-13 22:44] sjackman commented on #2705
I agree that there's a lot of reasons it can fail. Some of the basic cases should work simply enough though. `bwa` for example is a commonly used bioinformatics tool with no dependencies. There's no reason `brew install bwa=0.6.2` shouldn't work. The challenge is that users would expect it to work perfectly in all cases, which isn't going to happen.

[2016-04-13 22:46] ilovezfs commented on #2705
The reason is that that very thing used to exist as the brew versions command but was dispensed with because it was ... a can of worms.

[2016-04-14 07:20] apjanke commented on #3325
[Topcat](http://www.star.bris.ac.uk/~mbt/topcat/) doesn't have a traditional distribution. That downloadable `topcat-full.jar` file is a Java library. It needs a couple other bits to run as an application.

They provide a `topcat` command to go with that JAR file [as a separate download](http://www.star.bris.ac.uk/~mbt/topcat/topcat). If you grab that and put it together with the JAR, you'll be cl

[2016-04-14 08:11] apjanke commented on #3325
How badly do you want to use this? It doesn't build out of the box on OS X for me when using the source from that GitHub repo. (Doesn't have a full build script, and doing the manual steps is failing.) How badly do you want to use this? I think we could get it building, but it would take a bit of work.

[2016-04-14 08:42] apjanke commented on #2537
Fails on 10.11 for me, too.

Several new releases are out, but they don't build out of the box. 1.02 is current, and has switched to vendoring all its dependencies, and fails on case-insensitive filesystems.

Boneyard time?

[2016-04-14 08:52] apjanke commented on #2539
Also broken on 10.11 for me.

Logs: https://gist.github.com/355174535d5cb2f221730779e21bbc86

[2016-04-14 10:21] ilovezfs commented on #3527
@sjackman This is fixed by https://github.com/Homebrew/homebrew-science/pull/3540

[2016-04-14 15:14] baumeist commented on #3527
Hi @sjackman,
It appears my issue was related to using gcc 5 and that it has been resolved. Can you please tell me if I need to reinstall Trinity now? I'm not sure how to resolve the build issue I'm having.
Thanks for your help.

[2016-04-14 15:23] maculatus commented on #3508
Thanks, it worked. I continued with the prokka installation and all the other programs were installed (barrnap, minced, parallel, tbl2asn, prodigal, aragorn, hmmer, infernal and blast) but prokka is failing to download
brew install prokka
==> Installing prokka from homebrew/science
==> Downloading http://www.vicbioinformatics.com/prokka-1.11.tar.gz
/usr/bin/curl: /mnt/data/Programs/.linuxbrew/lib6

[2016-04-14 16:46] joethorley opened #3542 "would you accept the following admb formula"
I'm willing to submit the following formula for ADMB as a pull request.
[code]

It works on El Capitan with three seeminly minor audit problems

[code]
Would you accept it? Does it need any modifications?

[2016-04-14 19:59] ahundt opened #3543 "suite-sparse failing --with-tbb on Linux"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-04-14 20:23] dpo commented on #3543
Does it build `--without-tbb`?

[2016-04-14 22:18] aldanor opened #3544 "HDF5 1.10.0 stable is out"
The 1.10.0 stable has been out for a few weeks now, wonder if it makes sense to have the recipe updated?

[2016-04-15 00:08] dpo commented on #3544
Sure, but there's a truckload of dependents to update along with it. An update of HDF5 typically breaks 5-10 other formulas. Try `brew uses hdf5` and you'll have an idea.

[2016-04-15 00:14] dpo commented on #3542
Seems interesting. I'm not worried about the "not notable enough" comment. Scientific packages often don't get starred as other packages do. But please address the `mv` issue. The non-executables in `bin` are also annoying. Do those files really have to be in `bin` when you run the code or can they be relocated? Does `admb` have a `make install`?

[2016-04-15 00:17] joethorley commented on #3542
Can you point me to an example with the Ruby mv method?

[2016-04-15 00:17] dpo commented on #3536
I'm not a C++ expert but if you installed `netcdf` from the bottle, it wasn't built in c++14 mode. Could that be the reason? Did you try building from source with something like (untested)
[code]

[2016-04-15 00:19] dpo commented on #3518
The output from `brew test lammps` seems normal. Could you provide a link to the part of the manual you are referring to?

[2016-04-15 00:28] dpo commented on #3542
It should just be something like
[code]
See, e.g, [here](https://github.com/Homebrew/homebrew-science/blob/master/asl.rb#L38) and [here](https://github.com/Homebrew/homebrew-science/blob/master/asl.rb#L42).

[2016-04-15 00:51] CodingAnarchy commented on #3536
I had not tried to build from source, but the result of the command you suggested was a failure to pass `make check` with the following output:

[code]

[2016-04-15 00:57] CodingAnarchy commented on #3536
Switching to `--cc=clang` with the same environment variable for CXXFLAGS passes without a problem.

[2016-04-15 01:06] CodingAnarchy commented on #3536
Just doing some additional checking, it turns out that the default installation does not link properly using the default clang compiler either, resulting in:

[code]

[2016-04-15 01:22] joethorley commented on #3542
That got rid of the mv comment.
I couldn't get a `make install` working but I'm far from an expert on these matters.
This is about as far as I can take it.
Can I do a pull request with what I have?

[2016-04-15 01:28] dpo commented on #3542
Well, only you will be able to change your pull request, so it would be great to know that you're very comfortable with the software you're submitting a PR for ;-).

[2016-04-15 01:31] joethorley commented on #3542
I'm comfortable enough with it and think it represents a substantial improvement over the current state of affairs - I'll submit a PR in the next 24 hours

[2016-04-15 23:22] ahundt commented on #3543
looks like it may just be linker errors when using `--without-tbb`, though still broken.

https://gist.github.com/047da4b674c6f170cde2950bcec5d521

[code]

[2016-04-16 00:14] dpo commented on #3543
Doesn't look like you installed BLAS and LAPACK Ubuntu packages. Use apt. Or else build `--with-openblas`.

[2016-04-16 00:15] dpo commented on #3542
See #3554.

[2016-04-16 00:15] #3542 closed

[2016-04-16 00:31] ahundt commented on #3543
Perhaps that info should be printed as a warning/note? It would be cool to find this out easily when compared to raw compiler errors!

the following worked for me:
`brew install suite-sparse --without-tbb --with-openblas`

[2016-04-16 01:15] dschneiderch commented on #3335
I had to setup rserver to allow min-user-id of 500. an alias in my .bash_profile:
`alias rserver='sudo /usr/local/lib/rstudio-server/bin/rserver --auth-minimum-user-id 500'`

[2016-04-16 01:31] tseemann commented on #3508
@maculatus That server had catastrophic disk failure a few days ago - it has been restored by @drpowell.

However, I recommend now `brew reinstall prokka --HEAD` to get the latest version from GitHub. it has many many bug fixes.

[2016-04-16 01:31] dpo commented on #3543
That's probably something to think about in Linuxbrew. OSX ships with a BLAS and LAPACK, while Linux doesn't.

[2016-04-16 03:15] ahundt commented on #3543
fair enough, at least I can install it now, moved to https://github.com/Linuxbrew/linuxbrew/issues/1075. Thanks!

[2016-04-16 03:40] ahundt opened #3555 "opencv3.rb ipp downloads outdated"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-04-16 09:54] winstonma opened #3558 "Vips 8.3 can't be installed (with GraphicsMagick)"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-04-16 23:17] tseemann opened #3559 "garli pointing to system ncl dep, not brew one?"
Just putting this here now as I don't have time to investigate currently:

[code]

[2016-04-17 18:55] mywaystar commented on #3558
I did brew uninstall vips and and brew install vips and it's worked

[2016-04-18 14:23] sjackman opened #3567 "genewise: Depends on tcsh, possibly also binutils on Linux"
_From @DwinGrashof on April 14, 2016 8:59_
# Please follow the general troubleshooting steps first:
- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew --prefix)`?

_You can erase any parts of this template not applicable to

[2016-04-18 14:23] sjackman commented on #3567
Please report `brew gist-logs genewise`.

[2016-04-18 14:23] sjackman commented on #3567
_From @DwinGrashof on April 18, 2016 10:6_

I am sorry, this is the link I got: https://gist.github.com/5ed55a7589a494f032ff82c6dcc9fec3

[2016-04-18 14:23] sjackman commented on #3567
No worries.

[code]
https://gist.github.com/anonymous/5ed55a7589a494f032ff82c6dcc9fec3#file-01-make-L684

There appears to be a bug in the `genewise` Makefile. The libraries `-l…` are specified in the wrong order. Either `brew install gcc` or `brew install binutils` may work around your issue.

I'm reassigning this issue to Homebrew-science.

[2016-04-18 17:02] maculatus commented on #3508
Thanks! I was able to install prokka. I have some issues with space and I have to redirect my cache to a place with more space. After that the prokka installed without problem
Cheers

[2016-04-18 18:50] felixbuenemann commented on #3558
This is fixed in https://github.com/jcupitt/libvips/commit/23eaf93867cf73de691a9b68611d01664f30e8bd I'll make a PR.

[2016-04-18 19:59] lunayi commented on #3567
Hi, I have the same problem with you when installing root. Have you solve this?

[2016-04-18 19:59] felixbuenemann commented on #3558
@winstonma Could you append "with GraphicsMagick" to the issue title?

[2016-04-18 20:20] sjackman commented on #3567
Does either `brew install gcc` or `brew install binutils` resolve your issue?

[2016-04-19 00:16] devonhollowood commented on #2721
I just ran into the same issue when running `brew install gnudatalanguage --with-hdf4 --with-python`. It seems like the problem comes from the `--with-hdf4` option, since building without it went smoothly for me, although how this leads to the given syntax error (on line 70 of [this file](http://gnudatalanguage.cvs.sourceforge.net/viewvc/gnudatalanguage/gdl/src/GDLTokenTypes.hpp?revision=1.44&view

[2016-04-19 07:58] DwinGrashof commented on #3567
After succesfully installing both `brew install gcc` and `brew install binutils` a error still occurred in `brew install genewise` and `brew install homebrew/science/cegma`. This is a different error than before.

[code]

[code]

[2016-04-19 15:43] sjackman commented on #3567
Wonderful! That's grand progress. I don't suppose you know which of `binutils` or `gcc` fixed the problem? I suspect `binutils`.

[code]

Try
[code]

[2016-04-20 07:37] shrx commented on #3442
Same here.

[2016-04-20 08:20] DwinGrashof commented on #3567
I tried to install csh with `brew install csh` but that returned this error:
[code]

So I installed csh with this command `sudo apt-get install csh`
This installed csh perfectly. After this installing cegma and with it genewise went without any more problems.
Thanks for all the help!

[2016-04-20 14:41] hnxiao opened #3575 "New release of nauty"
This is not a issue but a reminder.
The new release has been out for a while.
I hope the formula can be updated accordingly.

[2016-04-20 14:59] sjackman commented on #3567
On Linuxbrew it's named `tcsh`. Sorry for the confusion. Glad to hear that you got it working!

[2016-04-20 15:43] dpo commented on #3575
Please don't hesitate to submit a pull request if you need a formula updated.

[2016-04-20 17:28] michiexile opened #3577 "VTK forces the directory `.../include/python3.5m`"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [?] Looked up the software bug tracker if reporting a build error?
- [NA] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-04-20 18:26] sjackman commented on #3543
I'm reopening this issue because I'm seeing the same error compiling with `tbb` as mentioned above. @ahundt was using GCC 4.8, and I'm using Homebrewed GCC 5.

I had `suite-sparse` 4.2.1 and 4.4.4_2 installed on this machine with default options. I haven't looked into what's changed since then.

Either `--with-tbb` can be fixed for Linuxbrew, or the default options on Linux could be changed to `--

[2016-04-20 18:27] sjackman commented on #3543
https://gist.github.com/sjackman/5005e63c4eaf263b312a772b39280fcf#file-01-make-L1949
[code]

[2016-04-20 19:06] dpo commented on #3543
Does it work if you apply [this patch](https://gist.github.com/8bbf739ac4ac9fd9e7afda5a2648a1a7)?

[2016-04-20 19:53] dpo commented on #3543
See #3578

[2016-04-20 20:01] sjackman commented on #3543
`brew install suite-sparse --with-openmp --without-tbb` worked.
I'm testing #3578 now. Thanks for the patch, Dominique.

[2016-04-20 20:29] dpo commented on #3543
It fixed the first two issues, but others remain.

[2016-04-20 20:32] sjackman commented on #3543
Many fewer error this time though:
[code]

[2016-04-20 20:32] sjackman commented on #3543
I think it's failing because it's linking a C++ solib using `gcc-5` rather than `g++-5`.

[2016-04-20 20:42] dpo commented on #3543
The `operator` stuff appears related to CUDA. I'll try disabling that.

On OSX, it uses clang and not clang++ and somehow it works, but then again, it's a mystery how it found `libtbb` before the patch.

[2016-04-20 20:46] sjackman commented on #3543
Changing `gcc-5` to `g++-5` in the above command using `brew instal --debug` does fix that particular linking error.

[2016-04-20 20:46] sjackman commented on #3543
The error message that I see now is:
[code]

[2016-04-20 21:17] dpo commented on #3543
[Here](https://travis-ci.org/Homebrew/homebrew-science/jobs/124585780) it worked, but the test fails because the libraries can't be found. I wonder if anyone has ever bothered to build SuiteSparse on Linux before!

[2016-04-20 21:22] dpo commented on #3543
Maybe related to https://github.com/Homebrew/homebrew-science/pull/3515#issuecomment-212136979?!

[2016-04-20 21:36] sjackman commented on #3543
I've built it twice on Linux before with no options. Versions 4.2.1 and 4.4.4_2.

[2016-04-20 22:13] dpo commented on #3543
Those versions didn't have shared libraries.

[2016-04-20 22:14] sjackman commented on #3543
Ah. That would explain it.

[2016-04-20 22:18] dpo commented on #3543
Does #3578 build for you? I don't have access to a Linux machine, so it's difficult to debug the test.

[2016-04-20 23:45] sjackman commented on #3543
Yes, it builds. `brew test suite-sparse` fails though.
[code]

[2016-04-20 23:46] sjackman commented on #3543
Perhaps I spoke too soon. It built successfully, but `$prefix/lib` is empty.

[2016-04-20 23:47] dpo commented on #3543
That would explain it ;-).

[2016-04-20 23:49] dpo commented on #3543
What did [this line](https://github.com/Homebrew/homebrew-science/pull/3578/files#diff-3b0bc9b28f67d5681f6abb5e9e99875fR79) do?

[2016-04-21 07:03] winstonma commented on #3558
@mywaystar I just did what you have mentioned and it works

@felixbuenemann Since the other way works so I will close this issue without testing

[2016-04-21 07:03] #3558 closed

[2016-04-21 14:46] dpo commented on #3543
Do you have a gist for this last attempt? The Travis log doesn't show everything.

[2016-04-21 15:14] sjackman commented on #3543
Hi, @dpo. I think it's because `*.so` installs all the `.so` symlinks, but not the actual libraries, which are named `*.so.1.2.3` on Linux. The dead symlinks then get pruned. I think it's a silly naming scheme, but we're stuck with it. Try (untested)
[code]

[2016-04-21 15:41] dpo commented on #3543
Success: https://travis-ci.org/Homebrew/homebrew-science/jobs/124781828

[2016-04-21 16:27] dpo commented on #3543
I don't think the Travis images like BLAS libraries though: https://travis-ci.org/Homebrew/homebrew-science/jobs/124789335#L677

[2016-04-21 17:24] schoeps commented on #3543
coming back to my comment in #3515; we might need to call `make install`? or is it now working for everyone but me? :)

[2016-04-22 02:20] #3543 closed

[2016-04-22 18:39] sjackman commented on #3440
Fixed by #3441

[2016-04-22 18:40] #3440 closed

[2016-04-23 21:39] dpo commented on #3425
Is it still the case with `openblas`?

[2016-04-23 21:44] dpo commented on #3533
I can't reproduce this. It works fine for me.

[2016-04-23 22:25] sjackman commented on #3425
So far 92/96 have passed! It's looking good. The last four tests are in progress…

[2016-04-23 22:51] sjackman commented on #3425
[code]

[2016-04-24 07:44] KingGeorgeWang commented on #3518
Thanks for your reply! @dpo

Here is the link of the manual:

The quotation is from the section

(PS. The installation package for Windows seemed incompatible on Mac /sad )

[2016-04-24 08:04] KingGeorgeWang commented on #3518
By the way, here's the screenshot of what dir `Lammps` contains in my Mac. @dpo

![2016-04-24 16 01 23](https://cloud.githubusercontent.com/assets/18363288/14766288/ec48cb64-0a35-11e6-9441-63c54810bcdc.png)

[2016-04-24 15:34] gutia commented on #3401
Same issue with both brewed python and vtk. In my case brewed vtk was linking against system python. So adding this to the path worked for me:
`export LD_LIBRARY_PATH=/usr/local/Cellar/python/2.7.11/Frameworks/Python.framework/Versions/2.7/lib:$LD_LIBRARY_PATH`

[2016-04-24 18:57] peteroid commented on #3051
I have the same issue as well. Here is my gist: https://gist.github.com/peteroid/1d3c14e85cf2efb70c9cb8512eff8361

[2016-04-25 13:15] nextgenusfs opened #3583 "augustus `--proteinprofile` or PPX method fails"
`brew install augustus` on the surface appears to install correctly, and `augustus` runs normally for 95% of what the program is suppose to do.  However, I keep getting an error when trying to run a protein profile prediction using Augustus installed from Homebrew.  This same method works find on Linux - and actually even Augustus installed with LinuxBrew.  Perhaps this is a compilation error?  He

[2016-04-25 23:45] #3527 closed

[2016-04-26 00:05] kosmasK opened #3588 "openCV_contrib needs update"
My computer is a MacBook Pro with osx 10.11.3

### Indicate troubleshooting steps taken
- [x] Ran `brew update` and retried your prior step?
brew is updated to 421cd53.

- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
no issues

- [x] Checked that a similar issue hasn't already been filed?
There are issues with the aruco library that is in the opencv contribu

[2016-04-26 00:29] sjackman commented on #3527
@baumeist Try `brew update && brew upgrade && brew install trinity`

[2016-04-26 10:13] hitorigochi opened #3593 "nexusformat : install fails by error occurred while make check"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-04-26 16:43] barbara73 commented on #3024
I had the same problem on my new mac with OS X El Capitan (fatal error: 'string.h' file not found), when I tried to make opencv2. But after installing macports, everything worked fine. It seems that using both macports and homebrew together is not so bad.

[2016-04-27 01:36] dpo opened #3597 "Formulas that might need to depend on veclibfort"
In order to avoid errors and segfaults when using single precision and/or Fortran, `veclibfort` must be interposed between the library and the Accelerate framework.
- [ ] `armadillo.rb`
- [ ] `dealii.rb`
- [ ] `elemental.rb`
- [ ] `hypre.rb`
- [ ] `ipopt.rb`
- [x] `octave.rb`
- [ ] `p4est.rb`
- [ ] `pastix.rb`
- [ ] `petsc.rb`
- [ ] `plink2.rb`
- [ ] `r.rb`
- [ ] `slepc.rb`
- [ ] `suite-sparse.rb`

[2016-04-28 04:45] nextgenusfs commented on #3583
It seems like this is a compilation issue.  I was able to install manually by changing the augustus `src/Makefile` to use `g++-5` and then manually configured the `bamtools` includes for `filterBam` and `bam2hints`.  When I do this, then the `--proteinprofile=` option is functional again.  The PPX problem seems to exists in both the bottle and if you try to install with `--build-from-source`, more

[2016-04-28 10:23] vano144 opened #3600 "OS X 10.11.1: install opencv3 with home-brew, strange error"
After command brew install opencv3 --HEAD  --with-contrib --with-cuda --with-ffmpeg --with-tbb --with-qt5, I see:

      cv::PngDecoder::readData(cv::Mat&) in grfmt_png.cpp.o
      cv::PngEncoder::write(cv::Mat const&, std::__1::vector<int, std::__1::allocator<int> > const&) in grfmt_png.cpp.o
  "_png_set_write_fn", referenced from:
      cv::PngEncoder::write(cv::Mat const&, std::__1::vector<int,

[2016-04-28 14:09] nextgenusfs commented on #3583
Also of note.  The same error occurs is augustus-3.2.2.  However, in that distribution I'm unable to compile manually and get it to work.  If I try to compile manually (same way as augustus-3.2.1 above) using `g++-5`, I then get a different error:
[code]

[2016-04-28 14:10] Halo-5 opened #3601 "OSX 10.9.5 (Mavericks) openCV3 not finding cocoa"
Installed Anaconda python 2.7.11

Installed opencv3 thusly
`brew install opencv3 --with-contrib --with-cuda --with-ffmpeg --with-tbb --with-qt5 --with-static-option
`

Added this to .bash_profile

[code]
This works

`python >>>import cv2 `

ran a simple opencv python script and got
[code]

[2016-04-28 20:05] #3600 closed

[2016-04-28 20:06] vano144 commented on #3600
Problem was in old library (limping,libtiff)

[2016-04-29 15:23] stefanoborini commented on #3401
@gutia I am surprised it did, but I might be wrong. The problem are

1. Frameworks always take precedence over naked shared libraries, meaning that even if libpython27.dylib is in your library path, it won't be used as long as there is a framework for it
2. The LD_LIBRARY_PATH envvar is not used on OSX. The same variable is called DYLD_LIBRARY_PATH, but again, see 1.
3. The system framework path i

[2016-04-30 02:55] lathropd commented on #2555
I'm having the same issue in 10.11.4

[2016-04-30 05:27] tdsmith opened #3614 "quake needs to be rebottled"
It links to an old gcc version:

[code]

[2016-04-30 14:31] iMichka commented on #3517
I just opened a pull request with some modifications to your test here: #3617

[2016-04-30 14:40] iMichka commented on #3577
I wrote part of these lines. They are from the time were brewed python was the default python when you used brew (I guess that has changed lately, @tdsmith ?). VTK was linked against the current version of brewed python that was there. So the current setup is still consistent: brew installs python 3.5, and VTK is linked against it.

This has 2 disadvantages:
- if you still need to use python 3.4,

[2016-04-30 14:43] iMichka commented on #3401
Just a comment for @tdsmith. I also had a look at VTK cmake files and tried to hack something together (as I patched ITK lately for the same problem with success)

The thing with VTK is that the library linking commands are cluttered throughout multiple files, and it would probably need some bigger rewriting. As I do not know the VTK setup very well, I also abandoned after 1-2 hours of hacking. So

[2016-05-01 05:52] michiexile commented on #3577
This is exactly why it threw me off though: I *am* using brewed Python. There’s nothing in the formula that gets Homebrew to *force a minor-version update* of its Python though, and these kinds of build errors is a really opaque way of telling me “please update your Python”.

--
Mikael Vejdemo-Johansson
mikael@johanssons.org

[2016-05-02 04:23] Halo-5 commented on #3601
this works

brew install opencv3 --with-cuda --with-ffmpeg --with-tbb

[2016-05-02 21:43] ahundt commented on #3517
Thanks! Since there is a pull request for this I'll consider the issue of "help wanted" to be complete and the pull request #3617 to be the thing that will be addressed. Closing.

[2016-05-02 21:43] #3517 closed

[2016-05-02 23:30] zacsketches opened #3620 "OpenCV not building --with-qt --with-ffmpeg --without-python"
mac OS X 10.9.5

- [ x ] Ran `brew update` and retried your prior step?
- [ x ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ x ] Checked that a similar issue hasn't already been filed?
- [ x ] Looked up the software bug tracker if reporting a build error?

### Bug reports / build errors:
In file included from /tmp/opencv-20160502-36884-18f7ab9/opencv-2.4.12/

[2016-05-03 14:09] maculatus opened #3623 "Artemis failed to open"
Hello,
I installed the new version of artemis a few weeks ago and today it failed to open after the last update. I uninstall and re-install artemis with the same results. I also installed the app-java without a change.

java.lang.RuntimeException: cannot load system cursor: CopyDrop.32x32
	at sun.awt.X11.XToolkit.lazilyLoadDesktopProperty(XToolkit.java:1541)
	at java.awt.Toolkit.getDesktopProperty

[2016-05-03 15:46] desert0616 commented on #3401
Hi everyone, is this issues fixed already?
At the same time, is there any way to brew a older version to skirt this issue?

[2016-05-03 15:55] gutia commented on #3401
@stefanoborini Thank you for the reply! Yes, after I came back to it, I realized that didn't resolve the issue. :( I can't recover the steps that I did. I'm still not sure what is the correct resolution. Currently, I am just switched to using system python, but can't do this for a while as I also need ITK or SimpleITK.

[2016-05-03 16:09] stefanoborini commented on #3401
@gutia if the system python is the same version, you can just use `install_name_tool` to change the dependency.

[2016-05-04 02:44] rogermc2 opened #3624 "--with-oce nglib fails to build on Mac OSX 10.11.4"
### Indicate troubleshooting steps taken
- [yes ] Ran `brew update` and retried your prior step?
- [ yes] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
         But unsure about deleting things from /usr/local affecting other installed programs.
- [yes ] Checked that a similar issue hasn't already been filed?
- [ yes] Looked up the software bug tracker if reporti

[2016-05-04 07:45] desert0616 commented on #3401
@lantiga Hi, I was wondering that there is any temporary approach to handling this problem. Or I have to use default python for now. Thanks.

[2016-05-04 07:51] ianrrees commented on #3624
Hmm, that seems like a lot of warnings, is that normal for these sort of logs?

The first real errors I'm seeing have to do with clang not having openmp support - you can see in the configure.log that openmp support is not detected.  I don't have access to a machine with Homebrew at the moment, will try to dig a bit further soon.

In the meantime, http://stackoverflow.com/questions/29057437/compil

[2016-05-04 09:16] rogermc2 commented on #3624
I've now managed to install nglib with HomeBrew

[2016-05-04 09:20] ianrrees commented on #3624
Good to hear!  Could you elaborate a bit on how you fixed your problem?

[2016-05-04 09:27] rogermc2 commented on #3624
brew install nglib
This installed nglib in /usr/local/Cellar/nglib/5.3.1
I then had to set nglib paths in cmake e.g. NGLIB_LIBNGLIB = /usr/local/Cellar/nglib/5.3.1/lib/libnglib.dylib

So, HomeBrew provides version 5.3.1.
The version I was trying to build and which failed was today's git clone

[2016-05-04 15:39] autosquid commented on #3601
what is your original `PYTHONPATH `?   The python binding is not generate in my case, could you provide your `PYTHONPATH` kindly?

[2016-05-05 02:09] Halo-5 commented on #3601
pythonpath is in the first post.

[2016-05-05 02:09] #3601 closed

[2016-05-05 03:16] tdsmith commented on #3620
share `brew gist-logs opencv` please! Do you experience this error building `brew install opencv --with-ffmpeg`?

[2016-05-05 03:17] tdsmith commented on #3614
Will be incidentally resolved by #3622.

[2016-05-05 03:17] #3614 closed

[2016-05-05 17:13] tdsmith opened #3631 "poretools no longer has R dependencies"
See https://github.com/arq5x/poretools/commit/db748020d83c26627c3e08edfb045bfe3990c6c9#diff-04c6e90faac2675aa89e2176d2eec7d8

So we can remove those from the formula.

Also, the checksum doesn't match: https://github.com/arq5x/poretools/issues/80

[2016-05-05 17:16] tdsmith commented on #3631
blocking #3630

[2016-05-05 17:19] tdsmith opened #3632 "nonpareil installs R packages to the wrong place"
[code]

We should apply `--library=#{lib}/R/#{r_version}/site-library` liberally.

blocking #3630.

[2016-05-06 12:31] ksw9 commented on #2975
Hi,
I am also running into similar errors when I try to install Gubbins using LinuxBrew.  After following the instructions on the Gubbins GitHub, after trying
brew install gubbins

I recieve the following errors:
unning install

Numerical Python (NumPy) is not installed.

This package is required for many Biopython features.  Please install
it before you install Biopython. You can install Biopytho

[2016-05-07 18:18] tehrandavis opened #3634 "rstudio server command line issues"
I'm having the problems raised in issue #3243.

Using this on OSX el capitan, cannot manage the server from command line using the rstudio-server commands.

I get the following error: too many positional options have been specified on the command line

Any ideas?

[2016-05-08 17:45] boatmaker opened #3635 "undefined method `clang_version' for OS::Mac:Module"
### Indicate troubleshooting steps taken

- [x ] Ran `brew update` and retried your prior step?
- [x ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x ] Checked that a similar issue hasn't already been filed?

I went to run brew doctor and brew update and then it threw this error:

Error: undefined method `clang_version' for OS::Mac:Module
Please report this b

[2016-05-08 18:41] j9ac9k commented on #3635
I'm having the same issue.

[2016-05-08 19:39] dunn commented on #3635
I think https://github.com/Homebrew/brew/commit/ed9f7308b265944c27c833b9a2aaa0e911ff5667 fixed this; run `brew update` and try again, please!

[2016-05-08 20:19] j9ac9k commented on #3635
@dunn ran ```brew update``` getting a slightly different error now.

[code]

[2016-05-08 20:36] dunn commented on #3635
Ah, sorry.  I think with https://github.com/Homebrew/brew/commit/c6dc50fcf05c8c4956ac86345360fefcb00f664e you'll be good.

[2016-05-08 21:29] hpcraink commented on #3635
Hi @dunn sorry https://github.com/Homebrew/brew/commit/c6dc50fcf05c8c4956ac86345360fefcb00f664e does not help; still get:
`Error: uninitialized constant OS::Mac::DeveloperTools`

[2016-05-08 21:36] dunn commented on #3635
😭 https://github.com/Homebrew/brew/commit/4059d5fc2634e24a0b5f9f02a416bda1a7016435

[2016-05-08 23:48] j9ac9k commented on #3635
4059d5f fixed it for me!

[2016-05-09 01:36] boatmaker commented on #3635
Thanks! Fixed now!

[2016-05-09 01:36] #3635 closed

[2016-05-09 22:50] #3575 closed

[2016-05-09 23:12] sjackman opened #3637 "CEGMA 2.5 ?"
_From @aviantask on May 9, 2016 22:24_

Can we update the CEGMA version to 2.5 which fixed some bugs in the genewise module?

_Copied from original issue: Linuxbrew/linuxbrew#1106_

[2016-05-11 04:20] tdsmith commented on #3634
What command are you entering and what makes you think it's Homebrew-related? Thanks!

[2016-05-11 04:34] tdsmith commented on #3588
We install the tagged 3.1.0 version. Please ask them to make a release or submit a pull request with a patch isolated to the commit that fixes the build issue you're encountering. Thanks!

[2016-05-11 04:34] #3588 closed

[2016-05-11 04:44] #2392 closed

[2016-05-11 04:44] #3485 closed

[2016-05-11 04:44] #3631 closed

[2016-05-11 04:45] #3632 closed

[2016-05-12 15:14] brentonk opened #3647 "R fails to build on 10.11.4"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [X] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-05-12 18:50] dchammond commented on #3401
Hi, what is the current status here?  If I do not specify any python flags, will vtk install?

[2016-05-12 19:40] gnamor commented on #3401
For me the VTK installs, but still fails when I do "import vtk" in the brew installed python. It works for the system installed python.
Any solution on the horizon?
Thank you!

[2016-05-12 20:44] ksw9 commented on #2975
I just wanted to follow up--are others having similar issues?  Is there a recommended way to install without LinuxBrew?
Thank you!

[2016-05-13 00:59] danknight commented on #2975
Hi ksw9,

This issue was remedied with a new update for Gubbins.
See issue #159 https://github.com/sanger-pathogens/gubbins/issues/159

Cheers
Dan

[2016-05-13 05:56] svanhal71 opened #3650 "spades: error: 'uint128' does not name a type"
Spades fails to install on Ubuntu 14.04 - please help

brew install spades

Find link to gist below:
https://gist.github.com/anonymous/91922c21dc68f1beffa6f34f15c620c0

Thanks

[2016-05-13 21:37] ilovezfs commented on #3647
The bash completion used in the formula is now deprecated: https://code.google.com/archive/p/rcompletion/

Remove
[code]

and

[code]
and it should work again until we address this.

[2016-05-13 23:13] tseemann opened #3651 "kmc - build error w/ gcc-5"
Logs here: https://gist.github.com/9cce4a38ae6b345df5addd3c2f333f8c

[code]

[2016-05-14 06:33] randy3k commented on #3634
It is not related to homebrew. So this thread should be closed.

Unfortunately, RStudio Server doesn't ship with an administrative script on Mac OSX,
check:
https://github.com/rstudio/rstudio/tree/ebb054efe3e650de818a251b11087311e5169ed8/src/cpp/server/extras/init.d

[2016-05-14 06:44] randy3k commented on #3243
Unfortunately, RStudio Server doesn't ship with an administrative script on Mac OSX. You may be able to make one from the template
https://github.com/rstudio/rstudio/blob/ebb054efe3e650de818a251b11087311e5169ed8/src/cpp/server/extras/admin/rstudio-server.in

[2016-05-14 08:07] timotheecour commented on #3555
same issue

[2016-05-14 13:36] hannekum commented on #3624
er, so what about --with-oce like the title states and your 'solution' does not have!?!!?!?

[2016-05-14 16:42] schoeps commented on #3387
Does the new formula (4.0.2) work for you?

[2016-05-14 16:58] tehrandavis commented on #3634
Okay. Thanks for the clarification.

[2016-05-14 16:58] #3634 closed

[2016-05-15 02:55] joeangel commented on #2862
On OSX EI Caption I install succeed!

[code]

[2016-05-15 19:57] joshbode opened #3659 "R 3.3.0 Issues when Embedding"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?

`homebrew-science/r/3.3.0` is causing issues for `homebrew-science/r-gui/1.67` (also o

[2016-05-16 02:22] joshbode commented on #3659
I think this could be due to an uninitialised variable being treated differently (i.e. initialised to zero) by different compilers.

In the meantime, I'm patching `r-gui` in #3661 to allow zeroes from `R_ReplDLLdo1()`, which will prevent it from exiting on an error.

[2016-05-16 02:50] andrea-capri opened #3662 "homebrew/science r"
The R formulae is outdated and points to a non-existant url for the r-completion @  https://rcompletion.googlecode.com/svn-history/r31/trunk/bash_completion/R

[2016-05-16 02:53] #3662 closed

[2016-05-16 02:55] andrea-capri commented on #3647
using that code i get
[code]

[2016-05-16 13:30] autosquid commented on #3367
@drakaris  I read you also tried without --HEAD. By now, have you resolved the problem?  I met the same (I think) problem, and here is the log:  https://gist.github.com/autosquid/ca0db9e8c52165acf0e33d13fce45c00

@dpo  would you kindly have a look at it ?

please ignore the proxychains things, 'cause I need it to download the 3rd parties.

[2016-05-16 15:23] #3373 closed

[2016-05-16 15:25] randy3k commented on #3634
I have added an admin script in the next iteration of Rstudio-server

https://github.com/Homebrew/homebrew-science/pull/3663

[2016-05-16 15:52] #3555 closed

[2016-05-16 16:17] randy3k commented on #3335
I have added a note in the next iteration of rstudio-sever
https://github.com/Homebrew/homebrew-science/pull/3663/files#diff-48166587eada6e56baf36c67519ce214R308

[2016-05-17 10:44] impact27 opened #3667 "opencv3 fails to link with brew python3"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-05-17 12:42] thekoc opened #3669 "Octave build error with texi2dvi"
I installed mactex through brew cask and `/Library/TeX/texbin/` is in my PATH:

/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:**/Library/TeX/texbin**:/opt/X11/bin:/usr/texbin/:/usr/local/sbin:/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin
which tex
/Library/TeX/texbin/tex

But still it tell me:

==> make all DOC_TARGETS=
==> make check DOC_TARGETS=
Last 15 lines from /Users/koc/Library/Logs/Home

[2016-05-17 15:11] rafsanm opened #3670 "r.rb : rcompletion link is no longer valid ( googlecode) but found alternative"
### Indicate troubleshooting steps taken
Because googlecode is no longer an active code repository, the link is not valid. You can download the source from there. Instead, I used rcompletion found in https://github.com/deepayan/rcompletion. It builds and installs correctly after we do the adjustments.
- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issue

[2016-05-17 15:36] ilovezfs commented on #3670
https://github.com/Homebrew/homebrew-science/issues/3647

[2016-05-17 16:05] dpo commented on #3669
TeX shouldn't be required any more. Is `texinfo` installed? What does `ls $(brew --prefix texinfo)/bin` say?

[2016-05-17 17:18] heinemml commented on #3667
opencv3 is keg only as it conflicts with the opencv package. You can see this at the end of the build or by issuing `brew info opencv3`

[code]

The message is only show for python 2. But if you build with python3 support you have to issue a similar command. On my System that is:  `echo /usr/local/opt/opencv3/lib/python3.5/site-packages >> /usr/local/lib/python3.5/site-packages/opencv3.pth`

So in

[2016-05-17 17:24] impact27 commented on #3667
Ok but when I install --with-python3 why does it display the instructions for Python 2 and not 3?

[2016-05-17 22:39] iMichka commented on #3401
For the record, I started to work on a patch. Please do not use this in production :)

We used the same strategy in ITK and SimpleITK to fix this problem.
I just started a branch of master to play around. Its the beginning, but it already works with brewed python: https://github.com/iMichka/VTK/commit/a42023af0155f29307f9ee9f3afdce2fcd9e9ed9

I will need a few days to finish to test and clean this

[2016-05-17 22:42] Chrismarsh commented on #3401
iMichka, this is good news. Thanks very much for your effort. Currently this bug is blocking me, so I look forward to your full patch.

Is there a simple way to testing this out? Despite using Homebrew, I'm not entirely familiar how it's backend scripts work for pulling other patches in.

[2016-05-17 23:00] iMichka commented on #3401
You can git clone the VTK project from my fork, checkout my branch (vtkNoPythonLink), modify your local vtk formula by adding ```head "/Users/myname/VTK", :using => :git, :branch => "vtkNoPythonLink"```, and use brew install vtk --HEAD. (not tested, I am directly building VTK manually for the moment). Also, you may need to set VTK_ENABLE_VTKPYTHON=OFF.

I'll continue to work on this tomorrow. Test

[2016-05-17 23:11] dpo commented on #3669
Please post the output of `brew doctor` and `brew gist-logs octave` (a link).

[2016-05-18 00:01] svanhal71 commented on #3650
I have managed to download spades and compile it from source
using the following
wget http://spades.bioinf.spbau.ru/release3.7.1/SPAdes-3.7.1.tar.gz
tar -xzf SPAdes-3.7.1.tar.gz
cd SPAdes-3.7.1
PREFIX=path to Linux.brew ./spades_compile.sh

the problem must be with the cmake.

I wish to install with brew as I am trying to install nullarbor which requires spades to install with all pointers (this d

[2016-05-18 00:16] thekoc commented on #3669
brew doctor said ready and git-log said [https://gist.github.com/5f41c8a77d3de5b6c318d80d9453544d](url)

[2016-05-18 07:49] heinemml commented on #3667
Valid point. The message is generated by the homebrew system and is not formula specific. I opened an issue on the homebrew tracker. Let's see what's the opinion there.

[2016-05-18 20:52] Chrismarsh commented on #3401
Strangely, I don't have a local VTK formula in /usr/local/Library/Formula, so I copied one from the hombrew science repo.

Modified it as per your instructions.

Checkout and switched to the vtkNoPythonLink branch.
Then ran

I see it cloning my copy of your forked repo, so it seems to be doing 'the right thing'.
[code]
During compilation, itI dies here:

[code]
1769 [ 10%] Building CXX object Comm

[2016-05-18 21:22] iMichka commented on #3401
@Chrismarsh the vtk formula is in homebrew-science, under: ```/usr/local/Library/Taps/homebrew/homebrew-science```.

I updated my patch, which works now with ```VTK_ENABLE_VTKPYTHON=ON```
https://github.com/iMichka/VTK/commit/8a6eafa5a53c7f9c0f7b8492c6aa840d020ff23d

@dpo @tdsmith I have a question for you. VTK is building it's own Python interpreter, called ```vtkpython```, and which will be inst

[2016-05-18 21:55] Chrismarsh commented on #3401
@iMichka Ah yes, there it is. Thanks.

After updating to your latest patch, still isn't compiling for me. Still undefined references to _PyEval_InitThreads

[2016-05-19 02:24] twohlever opened #3685 "Garli build fails on OSX 10.10.5"
### Troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
-  [X] #2541 Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker: https://code.google.com/archive/p/garli/issues

### Bug reports / build errors:

- Brief summary of issue: garli fai

[2016-05-19 10:55] dpo commented on #3533
@micrain

[2016-05-19 13:28] ilovezfs commented on #3637
I was actually just about to ask about this formula, when I noticed this issue. It seems to me that we should boneyard CEGMA and create a new formula for BUSCO, as CEGMA has been discontinued and the (former) upstream recommends switching to BUSCO: http://korflab.ucdavis.edu/datasets/cegma/

[2016-05-19 14:05] ilovezfs commented on #3637
Either way: https://github.com/Homebrew/homebrew-science/pull/3687

[2016-05-19 22:28] jonchang commented on #3685
Can you see if #3628 fixes this? You can test it out with

[code]

[2016-05-19 22:51] iMichka commented on #3401
I submitted the patch upstream: https://gitlab.kitware.com/vtk/vtk/merge_requests/1511
It is still a work in progress. The discussion can continue there and come back here once it is merged.

For your build problem, let's try to get that sorted out here:
- Make sure my branch is up to date: I ammended the commit I made
- Do you have brewed python installed ?
- Are you building with ```brew install

[2016-05-19 23:34] twohlever commented on #3685
Thank you for the quick response! Unfortunately, I'm still running into this error:
https://gist.github.com/b7f0fe5fa17569e830af811631dd876d

[2016-05-19 23:55] jonchang commented on #3685
Garli requires MPI but it looks like Homebrew isn't installing it. You
probably need to `brew install open-mpi`

[2016-05-20 00:26] twohlever commented on #3685
That worked! Thank you!!

[2016-05-20 00:26] #3685 closed

[2016-05-20 04:24] Chrismarsh commented on #3401
Yes to all your questions.

However, your latest patch fixes the compile. I will test further tomorrow.

[2016-05-20 11:09] #1676 closed

[2016-05-20 13:31] dpo commented on #2737
I'll close this because `octave` was updated recently. Please open a new issue if problems persist.

[2016-05-20 13:31] #2737 closed

[2016-05-20 13:32] dpo commented on #1899
I'll close this as octave was updated recently. Please open a new issue if problems persist.

[2016-05-20 13:32] #1899 closed

[2016-05-20 13:33] dpo commented on #3387
@mstatongk1

[2016-05-20 13:37] dpo commented on #3669
@thekoc Out of curiosity, does it work if you say `brew install octave --without-test`?

@schoeps Any idea why `make all DOCTARGETS=` succeeds but `make check DOCTARGETS=` fails because LaTeX can't be found?
https://gist.githubusercontent.com/thekoc/5f41c8a77d3de5b6c318d80d9453544d/raw/16e8aae56c8aa8662872648802a491de26c1007c/03.make

[2016-05-20 13:58] schoeps commented on #3669
I think this also occured on Jenkins, right? I did not observe this locally and obviously it should not happen since doctargets='' surpresses building of the manual. Possibly it's an Octave bug.

One would have to dive into the makefiles and disable doctargets manually but this is not fun to debug.... let's see if we can get around it :)

[2016-05-20 14:03] dpo commented on #3669
At least in the most recent update, I don't think Jenkins complained (and it doesn't have LaTeX installed). How can we work around it?

[2016-05-20 14:08] schoeps commented on #3669
Let's try to help thekic and then let's try ignoring the issue :) My reasoning is as follows: standard users do not recompile and most advanced (scientific) users will have latex anyway....

[2016-05-20 14:55] thekoc commented on #3669
`brew upgrade octave --without-test`
makes no difference

  TEXI2DVI octave.dvi
  MAKEINFO octave.html
You don't have a working TeX binary (tex) installed anywhere in
your PATH, and texi2dvi cannot proceed without one.  If you want to use
this script, you'll need to install TeX (if you don't have it) or change
your PATH or TEX environment variable (if you do).  See the --help
output for more detai

[2016-05-20 15:09] thekoc commented on #3669
I uninstalled and installed again with no argument,then  it seems that the bug just had disappeared = =

[2016-05-20 15:32] dpo commented on #3669
Glad to hear you got it to work. Feel free to close the issue if all is well now, and don't hesitate to open a new one if anything else comes up.

[2016-05-21 00:30] tdsmith commented on #3659
:+1:; closing as not a Homebrew bug. You may consider reporting this to R-core as well.

[2016-05-21 00:30] #3659 closed

[2016-05-21 00:30] #3647 closed

[2016-05-21 00:30] #3670 closed

[2016-05-21 00:34] tdsmith commented on #3667
Closing as not a homebrew-science bug.

[2016-05-21 00:34] #3667 closed

[2016-05-21 21:40] QCTW commented on #3620
Hi guys,

I have the following error when building with --with-ffmpeg
`brew install opencv3 --c++11 --with-contrib --with-ffmpeg --with-quicktime
==> Installing opencv3 from homebrew/science
==> Using Homebrew-provided fortran compiler.
This may be changed by setting the FC environment variable.
==> Downloading https://github.com/Itseez/opencv/archive/3.1.0.tar.gz
==> Downloading from https://code

[2016-05-21 22:01] QCTW commented on #3620
Sorry, it seems to because of  --with-quicktime

I can build with command "brew install opencv3 --c++11 --with-contrib --with-ffmpeg"

[2016-05-22 03:37] thekoc commented on #3669
Alright, thanks for your time.

[2016-05-22 03:37] #3669 closed

[2016-05-22 15:05] fivetech opened #3692 "ld: library not found for -lopencv_ts"
After upgrading opencv3 via homebrew, when I try to build the project, Xcode says:

[code]

However, it works when I remove -lopencv_ts from "Other Linker Flags" section.

By the way, I run "brew doctor" and get this result:

[code]

However, I have up-to-date version of Xcode. There is no 7.3.1. version of Xcode.

[2016-05-22 15:21] ilovezfs commented on #3692
Yes, there is a 7.3.1: https://itunes.apple.com/us/app/xcode/id497799835?mt=12

You need to add the library path (`/usr/local/opt/opencv3/lib`) to `Build Settings > Search Paths > Library Search Paths` and the include path (`/usr/local/opt/opencv3/include`) to the `Header Search Paths`.

This may help you: http://blogs.wcode.org/2014/11/howto-setup-xcode-6-1-to-work-with-opencv-libraries/

[2016-05-22 15:28] fivetech commented on #3692
I mean there is no update appeared in App Store for 7.3.1.

I have already done it. I could build the project before upgrading opencv3. After upgrading opencv3, the problem started to occur.

[2016-05-22 16:31] ilovezfs commented on #3692
I only see these libraries:
[code]

[2016-05-22 16:51] fivetech commented on #3692
http://blogs.wcode.org/2014/11/howto-setup-xcode-6-1-to-work-with-opencv-libraries/
In this guide, we should link libraries with this:
-lopencv_calib3d -lopencv_core -lopencv_features2d -lopencv_flann -lopencv_highgui -lopencv_imgcodecs -lopencv_imgproc -lopencv_ml -lopencv_objdetect -lopencv_photo -lopencv_shape -lopencv_stitching -lopencv_superres **-lopencv_ts** -lopencv_video -lopencv_videoio

[2016-05-22 17:00] ilovezfs commented on #3692
This diff will fix it if you build from source:
[code]

[2016-05-23 08:32] ilovezfs commented on #3692
@fivetech were you able to get your project working again with that patch?

[2016-05-23 14:30] ashi009 commented on #3669
I still have the issue.

[2016-05-23 15:28] schoeps commented on #3669
please try this
[code]

[2016-05-25 04:16] tseemann commented on #3490
Paging author @andrewjpage - any ideas?

[2016-05-26 06:22] #3637 closed

[2016-05-26 13:23] misaka-10032 commented on #2914
Go for [this one](https://github.com/OSGeo/homebrew-osgeo4mac)

[code]

[2016-05-26 15:30] Chrismarsh commented on #3401
For my workflow of reading vtu files I generate elsewhere, as well as the vtk_to_numpy features, it all seems to work without any issues.

[2016-05-26 21:29] sjackman commented on #3637
For repeatability of old pipelines, I prefer to keep `cegma` in `homebrew-science`. Thanks for updating it to 2.5. I'm all for creating a formula for `busco`.

[2016-05-27 11:44] dimatteomaurizio commented on #2862
I can confirm @joeangel 's solution works on OSX 10.11.5

[2016-05-27 18:17] josuemercado opened #3699 "nglib --with-oce failed"
"brew install --with-oce nglib" failed

=> ./configure --prefix=/usr/local/Cellar/nglib/5.3.1 --disable-gui --enable-nglib --enable-occ --with-occ=/usr/local/opt/o
==> make install
Last 15 lines from /Users/josue/Library/Logs/Homebrew/nglib/02.make:
libtool: link: clang++ -dynamiclib -Wl,-flat_namespace -Wl,-undefined -Wl,suppress -o .libs/libocc.0.dylib  .libs/Partition_Inter2d.o .libs/Partition_

[2016-05-28 02:06] joshbode commented on #3659
Will do - adding `ENV.O1` to the R 3.3.0 formula yields the same results as the official Mac R binaries (i.e. `208` return for errors). This should not depend upon the optimization level and suggests to me that something may not be properly initialised in R.

[2016-06-01 01:10] tseemann opened #3705 "spades: error: 'uint128' does not name a type"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [X] Looked up the software bug tracker if reporting a build error?

### Problem

https://gist.github.com/8e6aee43061a39dbd35e65c2849e17b8

This is older b

[2016-06-01 04:24] sjackman commented on #3705
[code]
https://gist.github.com/tseemann/8e6aee43061a39dbd35e65c2849e17b8#file-02-make-L2-L464

[2016-06-01 04:25] sjackman commented on #3650
[code]
https://gist.github.com/anonymous/91922c21dc68f1beffa6f34f15c620c0#file-02-make-L152

[2016-06-01 04:53] asl commented on #3705
Sorry, we branched the release after fixing this stuff.

Get rid of #ifdef __SSE4_2__ inside assembler/ext/src/cityhash/city.cc - we're not using CRC-variants of CityHash anyway.

[2016-06-01 04:54] sjackman commented on #3705
This looks to me to be an upstream issue, but I'm not sure why it compiles fine on Mac OS.

The following gets it to compile for me:
[code]

[2016-06-01 04:56] asl commented on #3705
Shaun, this will work as well.

[2016-06-01 05:00] sjackman commented on #3705
I missed your comment above. Thanks for the quick response, Anton.

[2016-06-01 05:11] #3650 closed

[2016-06-01 05:11] #3705 closed

[2016-06-01 05:11] sjackman commented on #3650
Fixed!

[2016-06-01 05:11] sjackman commented on #3705
Fixed!

[2016-06-01 08:12] tseemann opened #3707 "amos 3.1.0 still has hard-coded /usr/local/bin"
Depsite having a `./configure --prefix` build system, these 4 components have hard-coded stuff.

Needs some global `inreplace` magic in `amos.rb` formula I guess.

I think the `minimus2` one needs to be `mummer.bin`.

[code]

[2016-06-02 01:46] mghouse commented on #3442
+1.  (10.10.5)
Last lines:
[code]
Appears to be widespread:

qgis failed to build on 10.11 https://github.com/Homebrew/homebrew-science/issues/2914
qgis install error https://github.com/Homebrew/homebrew-science/issues/1866
Multiple taps for qgis https://github.com/Homebrew/homebrew-science/issues/1036
qgis failed to build on OS 10.10.5 https://github.com/Homebrew/homebrew-science/issues/3442
qgis

[2016-06-03 22:10] ilovezfs commented on #3651
Seems fine here with gcc-5.
[code]

[2016-06-03 23:05] ilovezfs commented on #3651
Also fine on Linuxbrew
[code]

[2016-06-03 23:06] ilovezfs commented on #3651
@tseemann Can you please try again?

[2016-06-04 04:50] ilovezfs commented on #3692
@fivetech This seems to have been an upstream packaging issue.
[code]

[2016-06-04 04:51] ilovezfs commented on #3692
Closed via https://github.com/Homebrew/homebrew-science/commit/f83083037d30acd297ed37d1b028a9fd1af4907f

[2016-06-04 04:51] #3692 closed

[2016-06-04 05:53] ilovezfs commented on #3371
Please re-test this with opencv 2.4.13, which I've just merged.

[2016-06-04 09:19] tseemann commented on #3623
@maculatus
Linux or Mac?
What version of Java?  `java -version`
If Mac, do you have XQuartz installed ?

[2016-06-04 12:55] maculatus commented on #3623
It is a linux and the java -version:
java version "1.8.0_91"
Java (TM) SE Runtime Environment (build 1.8.0_91-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.91-b14, mixed mode)

Also, I tried with the openjdk version and same problem.
sudo update-alternatives --config java
password
*/usr/lib/jvm/java-7-openjdk-amd64/jre/bin/java
/usr/lib/jvm/java-8-oracle/jre/bin/java

On Sat, Jun 4, 2016 at 5:1

[2016-06-05 00:24] tseemann commented on #3623
I assume you are just running `art` command?

Does it work if you just download the .tgz file from http://www.sanger.ac.uk/science/tools/artemis and run 'art' ?

Does the 'webstart' version work at the above site? (The 'launch' buttons)

[2016-06-05 06:29] tseemann commented on #3707
There is more going on here. It seems the formula tried to append some `VAR=VALUE` strings to the `./configure` call. Should they be prepended instead?

[2016-06-05 15:54] maculatus commented on #3623
Yes, I am using the art command.
I downloaded the tgz file and run art and I got the same problem...same
with the webstar

On Sat, Jun 4, 2016 at 8:24 PM, Torsten Seemann <notifications@github.com>
wrote:

[2016-06-06 23:22] jmchilton commented on #2876
Forgot about this issue. We did land up submitting a proposal and the NIH did not even respond :angry:. Closing this issue now and thanks everyone for the feedback.

[2016-06-06 23:22] #2876 closed

[2016-06-07 01:26] tdsmith commented on #3707
This should probably be treated as an upstream bug.

[2016-06-07 04:08] kallewoof opened #3718 "R dylib load references gcc 5 dir, but gcc 6 is installed"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?

### Bug reports / build errors:

- Brief summary of issue: Installing latest version of R results in a `dyld: Library not loaded: /usr/local/opt/gcc/lib/gc

[2016-06-07 05:19] randy3k commented on #3718
I confirm this. The update of gcc usually will break many other softwares.

[2016-06-07 10:18] mattia- opened #3719 "PETSc/SLEPc rebuild needed after open-MPI and gcc update"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?

### Bug reports / build errors:

I am sorry to bring this up again, but the same issue as https://github.com/Homebrew/homebrew-science/issues/3336 just res

[2016-06-07 13:43] dpo commented on #3719
#3710 should take care of this

[2016-06-07 14:33] adamaltmejd commented on #3718
Same thing happens to me. Tried the commands that you posted @randy3k and I still get an error (below), but at least R starts. Also tried to `brew install homebrew/versions/gcc5` and then reinstall R but that doesn't help at all.

[code]

[2016-06-07 14:36] dpo commented on #3718
Seems like it's just a matter of bumping up `r`. Anybody for a pull request?

[2016-06-07 15:03] randy3k commented on #3718
@adamaltmejd
you have to continuously apply the `install_name_tool` patch to `/usr/local/Cellar/r/3.3.0/R.framework/Versions/3.3/Resources/library/stats/libs/stats.so`
and any other similar files.

[2016-06-07 16:21] zhiboz commented on #3718
another "workaround" is to reinstall R, and all affected packages against gcc6.

[2016-06-07 16:35] randy3k commented on #3718
To reinstall R, make sure you are not reinstalling to bottle but building from source

[code]

[2016-06-07 19:45] tdsmith opened #3721 "quake needs to be rebuilt for gcc6"
see http://bot.brew.sh/job/Homebrew%20Science%20Pull%20Requests/4904/version=el_capitan/testReport/junit/brew-test-bot/el_capitan/linkage___test_quake/

[2016-06-07 19:47] #3718 closed

[2016-06-07 20:46] parthiyban opened #3723 "Octave Fortran Link issue"
installed octave using home-brew.
octave
dyld: Library not loaded: /usr/local/opt/gcc/lib/gcc/5/libgfortran.3.dylib
  Referenced from: /usr/local/Cellar/octave/4.0.2_3/libexec/octave/4.0.2/exec/x86_64-apple-darwin14.5.0/octave-gui
  Reason: image not found
octave exited with signal 5

- Ran `brew update`
- Ran `brew doctor`
- Ran brew reinstall qrupdate --build-from-source
reinstalled octave
gfort

[2016-06-07 21:40] sjackman commented on #3718
Thanks, Tim.

[2016-06-07 21:41] tdsmith commented on #3718
Cheers!

[2016-06-07 22:03] vladakolic commented on #3723
I have the same issue. `/usr/local/opt/gcc/lib/gcc/5/libgfortran.3.dylib` does not exist on my machine, it is located under /`usr/local/opt/gcc/lib/gcc/6/libgfortran.3.dylib`. Probably just need to change some reference somewhere?

[2016-06-07 22:05] zhiboz commented on #3718
Ran into issues when installing the `igraph` package with R 3.3.0_1.

[code]

I got stuck now as I did not figure out a way to switch back to gcc 5.3.0 and R 3.3.0 :(

[2016-06-07 22:29] tdsmith commented on #3718
Works for me; you might have to nuke your installed packages with `rm -rf /usr/local/lib/R/3.3/site-library/*` but I'm not sure why you'd see that particular error.

[2016-06-08 00:43] zhiboz commented on #3718
out of luck :(; `rm -rf /usr/local/lib/R/3.3/site-library/*` did not work for me. tried to remove R and reinstall R; it did not work either. bummer!

is it possible to install R 3.3.0 with gcc5? thanks!

[2016-06-08 01:11] tseemann commented on #3623
@maculatus so it sounds like an issue with your computer or Java installation.  I'm not sure there is much we can help with in terms of the Brew project.

[2016-06-08 01:11] #3623 closed

[2016-06-08 01:24] dpo commented on #3723
Fixed by #3724.

[2016-06-08 01:24] #3723 closed

[2016-06-08 01:54] tdsmith commented on #3718
It is not. Please open a new ticket with more information about the failure you're seeing and how you can reproduce it.

[2016-06-08 05:18] sjackman commented on #3718
Is the problem perhaps with `igraph`?

[2016-06-08 13:16] maculatus commented on #3623
Thanks Dr Seemann, We were working with the problem here and we think is
something to do with the VNC server display in the cluster and Java. IT is
hopping to fix the problem today. Yes, it is nothing to do with the brew
system.
Cheers

On Tue, Jun 7, 2016 at 9:11 PM, Torsten Seemann <notifications@github.com>
wrote:

[2016-06-08 13:22] zhiboz commented on #3718
I suspect so. some other packages like `dplyr` install fine.

[2016-06-08 14:24] chrisgulvik commented on #3226
I agree with Torsten. It makes sense to simply add the google-sparsehash formula as a dependency:
`depends_on "google-sparsehash"`

Also, the sam header file is required for compiling sam-stats, so something like this `-I~/.linuxbrew/Cellar/htslib/1.3.1/include/htslib` needs to be added when configuring... I think this would be sufficient for that purpose:
`depends_on "htslib" => :build`

[2016-06-08 15:33] sjackman commented on #3718
Just a shot in the dark. Try `brew remove igraph` and then `install.packages("igraph")`

[2016-06-08 16:16] zhiboz commented on #3718
Thanks @sjackman! just tried with no luck.

I just installed the R binary for Mac OSX from https://www.r-project.org/, which fits my urgent need for now ...

[2016-06-08 16:21] randy3k commented on #3718
I have no problem of installing igraph on R 3.3.0 with gcc 6. It looks like you are linking against libstdc++ instead of libc++.

[2016-06-08 16:52] sjackman commented on #3718
@zhiboz You can install the R binary using cask as well `brew cask install r`

[2016-06-09 19:12] benjaminjack commented on #3718
I'm having the same issue with the lme4 package. I tried removing and reinstalling it with no luck:

`** preparing package for lazy loading
Error in dyn.load(file, DLLpath = DLLpath, ...) :
  unable to load shared object '/usr/local/lib/R/3.3/site-library/minqa/libs/minqa.so':
  dlopen(/usr/local/lib/R/3.3/site-library/minqa/libs/minqa.so, 6): Library not loaded: /usr/local/opt/gcc/lib/gcc/5/libgf

[2016-06-09 19:13] randy3k commented on #3718
I guess you have to also reinstall the package `minqa`.

[2016-06-09 19:14] randy3k commented on #3718
I used these commands to fix the gcc issues **USE WITH CAUTION**

[code]

[2016-06-09 19:15] benjaminjack commented on #3718
Reinstalling `minqa` fixed it! Thanks!

[2016-06-09 23:22] ibloomfield commented on #3699
same issue

[2016-06-09 23:46] tdsmith commented on #3699
It looks like the code is triggering an assert in Apple's linker; please consult with the upstream developer and/or Apple. If you can successfully build this outside of Homebrew, please let us know and we can evaluate whether we're contributing to this failure.

[2016-06-09 23:46] #3699 closed

[2016-06-10 05:08] #3719 closed

[2016-06-10 06:16] staticfloat opened #3731 "nlopt needs to be bottled for el_capitan"
Hello!  Can you please bottle `nlopt` for `el_capitan` so users don't all have to recompile it?  Thanks!

[2016-06-10 09:09] mattia- commented on #3719
Thanks for the fix, and sorry for the late reply!

Unfortunately, I'm still facing the following error when configuring an application for build (using CMake):
[code]
Is this in any way related to the PETSc package? This same application used to configure and compile fine before this gcc-openmpi-petsc update, so I am not sure what is going wrong now.

[2016-06-10 12:53] dpo commented on #3719
I'm not sure what `PETSC_TEST_RUNS` is. What's that folder supposed to contain?

[2016-06-10 13:18] dpo commented on #3719
Please update and give it another try. Some dependencies of PETSc still needed to be updated. Check that `brew test petsc` works.

[2016-06-10 15:38] mattia- commented on #3719
Ok, that solved the problem for PETSc. The same goes for SLEPc, I'm afraid:
$ brew test slepc --keep-tmp
Testing homebrew/science/slepc
==> Using the sandbox
==> mpicc ex1.c -I/usr/local/opt/slepc/include -I/usr/local/opt/petsc/include -L/usr/local/opt/petsc/lib -lpetsc -L/usr/local/opt/slepc/lib -lslepc -o ex1
==> mpirun -np 3 ex1 2>&1 | tee ex1.out
==> Kept temporary files
Temporary files retain

[2016-06-10 15:44] dpo commented on #3719
Yes. I'm working on it in #3732.

[2016-06-10 15:47] mattia- commented on #3719
Great! Thanks a lot!

[2016-06-11 03:40] dpo commented on #3719
Ok. Let's try again.

[2016-06-11 03:50] #3731 closed

[2016-06-11 03:50] dpo commented on #3731
Should be good.

[2016-06-11 05:55] bennytrill opened #3735 "Failed installing transfig (xmkmf) 10.8.5"
- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew --prefix)`?

### Bug reports / build error

[2016-06-11 14:27] mattia- commented on #3719
Everything looks good now, thank you very much!

[2016-06-11 14:37] dpo commented on #3719
You're welcome.

[2016-06-11 14:57] dpo commented on #3735
Could you post the output of `brew gist-logs transfig`?

[2016-06-11 17:59] bennytrill commented on #3735
I run into this when running `brew gist-logs transfig`:

Error: Problems parsing JSON

[2016-06-11 21:05] randy3k opened #3737 "openblas for linux boottle installation problem"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?

### Bug reports / build errors:

- Brief summary of issue:

I got the following erorr when installing the openblas error
[code]

However, the `--build-from-source` option works fine.

[2016-06-11 23:57] dpo commented on #3737
@sjackman any ideas?

[2016-06-11 23:58] dpo commented on #3735
Try `brew install -sv transfig` and create a gist with the complete output.

[2016-06-11 23:59] dpo commented on #3593
Is this resolved now?

[2016-06-12 00:00] dpo commented on #3583
`augustus` was just updated. Does the issue persist?

[2016-06-12 00:01] dpo commented on #3533
Closing this as unreproducible. Please reopen if the issue persists.

[2016-06-12 00:01] #3533 closed

[2016-06-12 00:08] bennytrill commented on #3735
Heres the gist for `brew install -sv transfig`:

https://gist.github.com/c1ee4d1825b43d48fc96f36f18650297.git

[2016-06-12 00:52] sjackman commented on #3737
Yep, I see the problem. For some reason there's an absolute symlink rather than a relative symlink in `lib`.
[code]

I thought absolute symlinks like this were automatically cleaned up though when bottling. I guess not.

Here's the bug:
[code]

It should be either:
[code]
or
[code]
I believe this latter form is preferred now.

@randy3k As a workaround, you can install Linuxbrew in `/home/linuxbrew

[2016-06-12 00:54] sjackman commented on #3737
@randy3k Please report `ruby --version`. I believe this bug may only affect old versions of Ruby.

[2016-06-12 00:56] sjackman commented on #3737
This issue, oddly, does not affect Mac. I'm not sure why.
[code]

[2016-06-12 01:32] dpo commented on #3735
I'm guessing `/homebrew/x11/imake` needs to be rebottled against gcc6. Could you try installing `imake` from source using `brew install -s imake` and then `brew install transfig` again?

[2016-06-12 04:10] #3737 closed

[2016-06-12 15:54] sjackman commented on #3737
Thanks for the fix, Dominique. I'll rebuild the Linuxbrew bottle.

[2016-06-12 18:08] nextgenusfs commented on #3583
Yes, v3.2.2 has same problem if installed via home-brew (`brew installl augustus`).

[2016-06-12 23:46] michaelsbradleyjr opened #3743 "Trouble installing openblas --with-openmp"
I've tried installing openblas `--with-openmp` and with/without `--HEAD`. In either case, I get the following build error:

[code]

I'm not sure to what degree the `mmacosx-version-min` is tangled with the clang related error. Now, I re/installed the latest version of gcc via homebrew using the `--without-multilib` option, so it should support OpenMP; also, I've installed `clang-omp` with brew, an

[2016-06-13 00:06] dpo commented on #3743
The formula should specify the C compiler to the Makefile and it doesn't. However, compiling with gcc-6 produces an error for me on 10.9. Feel free to give it a try yourself. All that's needed is to `brew edit openblas`, change lines 29 and 30 so they read
[code]
and run `brew install -sv openblas --with-openmp`. I get the same error with `--HEAD`.

[2016-06-13 00:39] michaelsbradleyjr commented on #3743
I made the suggested edits, and before running `brew install -sv openblas --with-openmp`, I did:

[code]

The install then completed successfully. I'm running mac osx `10.11`.

[2016-06-13 01:22] dpo commented on #3743
Sounds good. #3744 officializes the fix.

[2016-06-13 01:26] michaelsbradleyjr commented on #3743
The only thing I would note is that I had to export the `HOMEBREW_CC` and `...CXX` variables, otherwise the install did not work, even with the changes made to the homebrew formula.

[2016-06-13 01:32] dpo commented on #3743
That's odd. They're already set to the correct values:
[code]

[2016-06-13 01:34] dpo commented on #3743
@xianyi

[2016-06-13 01:58] michaelsbradleyjr opened #3745 "Installed R from source with gcc, RStudio reports Plots is disabled"
I just successfully re/installed R from source, using gcc-6 / g++-6, and RStudio now warns me:

[code]
Perhaps that is an expected difficulty, perhaps not... I'm not sure.

[2016-06-13 10:04] tseemann opened #3746 "Time to update to BLAST+ 2.4.0"
Just released:  ftp://ftp.ncbi.nlm.nih.gov/blast/executables/blast+/LATEST/

Anyone have time to upgrade `blast.rb` ?

@sjackman @xu-cheng

[2016-06-13 12:27] heinemml commented on #3371
Testing on OS X 10.11.5:
`brew install opencv --with-ffmpeg` builds without error.

`brew install opencv --with-vtk` fails with the following error:
[code]

To me that looks like a different problem than before. Should I open a new ticket? If this is could be confirmed on Yosemite we could close this ticket.

[2016-06-13 12:30] heinemml commented on #2862
This problem should be fixed with the latest release (published June 4. on homebrew).

[2016-06-13 12:32] heinemml commented on #3367
@autosquid the link to your gist is not working. Is the problem still existing?

[2016-06-13 12:40] heinemml commented on #3395
@vilim Could you try with the recent releases if the problem still exists? On my 10.11.5 System `brew install opencv --with-ximea` completed without error.

[2016-06-13 12:48] heinemml commented on #3620
`brew install opencv --with-qt --with-ffmpeg --without-python` runs through on my 10.11.5 System.  @zacsketches could you retry with the latest release?

[2016-06-13 12:55] ilovezfs commented on #3746
@tseemann voilà https://github.com/Homebrew/homebrew-science/pull/3747

[2016-06-13 12:55] #3746 closed

[2016-06-13 13:01] ilovezfs commented on #3371
This is making my head hurt. Does upstream even test this or are we doing something grievously wrong in the build?

[2016-06-13 13:09] christofferGT commented on #3699
same issue. Any luck in solving the problem?

[2016-06-13 19:26] bennytrill commented on #3735
That seemed to have work! The `transfig` installed fine after installing `imake` from the source. Thanks so much really appreciate the help

[2016-06-13 19:45] dpo commented on #3735
You're welcome.

[2016-06-13 19:45] #3735 closed

[2016-06-13 21:04] heinemml commented on #3371
Okay, this really is messy. Essentially there are 2 commits on this issue upstream.

The CMake error (the one which was mentioned initially) was fixed in this commit for master
https://github.com/Itseez/opencv/commit/64a57f7c387f201094076120bfecf59719a95aea and this was also ported back to the 2.4 branch in this commit: https://github.com/Itseez/opencv/commit/d2e451e8774c67ec2d509651a45088883c0f4a

[2016-06-14 00:26] michaelsbradleyjr commented on #3745
FYI, I did another compile-install with brew, using clang instead of gcc, and RStudio works as normal – no warnings or problems re: "Plots".

[2016-06-14 01:02] ilovezfs commented on #3371
I suspect we are best off just waiting for the next releases.

[2016-06-14 01:33] autosquid commented on #3367
@heinemml   I adjusted the sequences of options I added, and then the problem is gone. (I do not understand why... :( )

[2016-06-14 06:51] heinemml commented on #3371
Okay, to sum this up.

`--with-ffmpeg` should be working in the current state
`--with-vtk` is currently broken on opencv release and HEAD, on opencv3 release. opencv3 HEAD is working because it is fixed upstream. It should be working with vtk 6.x as the fixes are all related to vtk7. But you can't get vtk 6.x via homebrew.

Maybe we should close this issue and open a new one solely for the vtk bug

[2016-06-14 11:03] egarpor opened #3751 "Segmentation fault when trying to run mkdssp"
### Indicate troubleshooting steps taken

- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Ran `brew update` and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [X] Looked up the software bug tracker if reporting a build error?
- [X] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-06-15 00:33] dpo commented on #3743
@michaelsbradleyjr Could you post the logs of the failed build, with just the changes made to the formula?

[2016-06-15 10:39] asl commented on #3705
Some followup - this should not be necessary for SPAdes 3.8.1. See https://github.com/ablab/spades/commit/c535e9c4adeac975c28b71dbacdf8feba8ab10a6

[2016-06-15 16:45] michaelsbradleyjr commented on #3743
I will do a re/install to see if I can reproduce the problem I encountered earlier and report back. However, I can't afford to "break" my r+openblas right at this moment; hopefully I can let you know something by the end of the day.

[2016-06-15 21:49] kenorb commented on #2723
I had python symlinked to python3, so I did:

    rm /usr/local/bin/python
    brew link --overwrite python

to fix it.

[2016-06-15 23:15] dpo commented on #3743
I just tried on 10.10 and it worked for me so I'll pull. Please open a new issue if you get a chance to try again and there are difficulties. Thanks.

[2016-06-15 23:17] #3743 closed

[2016-06-17 00:31] sjackman commented on #3705
Thanks! Could you also add `#!/usr/bin/env python` to the top of `spades_init.py`?

[2016-06-17 00:32] sjackman commented on #3705
I've opened a PR for SPAdes 3.8.1: https://github.com/Homebrew/homebrew-science/pull/3756

[2016-06-17 10:36] asl commented on #3705
Why do you need this? The file is never executed, always included.

[2016-06-17 12:23] gtamazian opened #3757 "Bcftools plugins missing"
### Troubleshooting steps taken

- [x] Ran `brew update` and retried to install **bcftools**.
- [x] Ran `brew doctor`, fixed as many issues as possible and retried to install **bcftools**.
- [x] Checked that a similar issue hasn't already been filed.
- [x] Looked up the software bug tracker if reporting a build error.

### Bug report

The formula does not install **bcftools** plugins. The followin

[2016-06-17 13:59] sjackman commented on #3705
`make install` installs `spades_init.py` in `$PREFIX/bin`. The Homebrew audit scripts complain about non-executable files installed in `$PREFIX/bin`. It ought be installed in `$PREFIX/share/spades/spades_init.py` if it's not intended to be executed.

[2016-06-17 14:05] sjackman commented on #3705
I've merged 3.8.1 into Homebrew https://github.com/Homebrew/homebrew-science/pull/3756

[2016-06-17 14:15] joshhooker commented on #3481
I found out that this was a problem with XCode and after downgrading my XCode, it worked.

[2016-06-17 14:15] #3481 closed

[2016-06-17 15:54] kilojoules opened #3758 "arpack install fails - cross compiling configure error"
brew is failing to install slepc. It is hard for me to follow the output, but it looks like it fails trying to install arpack, which I already successfully installed.

    $ brew install arpack
    Warning: homebrew/science/arpack-3.2.0_1 already installed

    $ brew install slepc
    ==> Installing slepc from homebrew/science
    ==> Installing dependencies for homebrew/science/slepc: arpack

[2016-06-17 16:14] dpo commented on #3758
It works for me and it worked on the  bot. It could be due to the fact that gcc was updated recently. Could you try `brew upgrade gcc open-mpi`, `brew uninstall -f arpack` and then `brew install slepc`?

[2016-06-17 16:21] kilojoules commented on #3758
Thanks for the tip! That didn't work. Also, I have confirmed I can compile and run fortran 77 files.

    $ brew upgrade gcc open-mpi
    Error: gcc 6.1.0 already installed
    Error: open-mpi 1.10.2_1 already installed

    $ brew upgrade

    $ brew uninstall -f arpack

    $ brew install slepc
    ==> Installing slepc from homebrew/science
    ==> Installing dependencies for homebrew/science/sl

[2016-06-17 16:23] dpo commented on #3758
Something else is out of date. Perhaps `veclibfort`?

[2016-06-17 16:30] kilojoules commented on #3758
$ brew upgrade veclibfort
    Error: homebrew/science/veclibfort 0.4.2_3 already installed

I ran `brew update`. doesn't that mean all my packages are up-do-date?

[2016-06-17 16:39] dpo commented on #3758
`brew update` means the formulas are up to date. `brew upgrade` would bring all the installed packages up to date.

I just tried on 10.10 and it worked fine. Something's up. Do you have another gfortran lying around? Or another gcc from MacPorts or Fink?

[2016-06-17 16:50] kilojoules commented on #3758
I have not installed any packages with macports or fink. I'm pretty sure that I only have the brew versions of gcc and fortran installed. I ran `brew upgrade` and all my packages are up-to-date but the error is persisting. I don't understand - I already have arpack installed. Why is slepc trying to install arpack in the first place, and why does this install fail but  `brew install arpack` work?

[2016-06-17 17:02] dpo commented on #3758
`slepc` needs to install `arpack` with MPI support. Because that's not what the default `arpack` install does, it needs to be recompiled. Plain `brew install arpack` just installs the precompiled binaries. You'd get the same error with `brew install arpack --with-mpi`.

[2016-06-17 17:14] kilojoules commented on #3758
I found that to be true. Is there any way I can test for another gfortran or gcc? The only thing I can think of is that, for another project, I was using gcc/g++ as my homebrew compiler. It's possible that I still have a package compiled using gcc/g++, although I have confirmed that gcc and openmpi were built with clang.

[2016-06-17 18:09] dpo commented on #3758
I don't know of a sure shot method but how about just typing `gfortran` at the command line and, without inserting a space, just tabbing to see what completions come up? In my case,
[code]

[2016-06-17 19:22] kilojoules commented on #3758
reinstalling all my homebrew packages solved this problem. I suspect it was in the netcdf package, but it's just a hunch

[2016-06-17 19:22] #3758 closed

[2016-06-17 20:37] alexeigurevich commented on #3705
Hi Shaun, we made `spades_init.py` executable and added `#!/usr/bin/env python` to the top of it. This change will be available since next SPAdes release.
This file should be in the same dir with spades.py for development purposes, so we can't install it in `$PREFIX/share/spades/`.

[2016-06-17 21:29] sjackman commented on #3705
Okay. Thanks, Alex.

[2016-06-18 05:45] tseemann commented on #3707
@tdsmith I agree but I don't think it is being maintained anymore.

[2016-06-18 06:13] tseemann commented on #3651
I get the same error:

[code]

I wonder if this is either
1. the use of `-static`
2. something Redhat/Centos connected
3. a parallel Makefile issue - how many CPUs do you allow make to use?

[2016-06-18 17:05] tdsmith commented on #3745
I'm not sure why this doesn't work with gcc and we'll consider PRs to make it work but if it works with clang I'm happy :) Thanks for reporting; let us know if you have any more questions.

[2016-06-18 17:05] #3745 closed

[2016-06-18 17:12] tdsmith commented on #3757
Thanks a lot for filing this issue! Would you like to write a patch for this? [This document](https://git.io/vo2xc) should give you a head start and we'd be more than happy to walk you through it if you have any questions.

[2016-06-18 17:14] tdsmith commented on #3751
Did dssp install a bottle? Can you give the output of `brew config` and `brew gist-logs mkdssp`?

[2016-06-18 17:16] tdsmith commented on #3707
Should we remove it from homebrew-science?

[2016-06-18 17:51] tdsmith commented on #3721
Build seems broken for other reasons as well

[2016-06-19 18:46] epiphytexx commented on #3699
I have the same issue - but with the next ld version (ld64-264.3.102)

ld: Assertion failed: (counter() < 0xffff), function nextCounter, file /Library/Caches/com.apple.xbs/Sources/ld64/ld64-264.3.102/src/ld/ld.hpp, line 108.

[2016-06-21 14:14] garykac commented on #3624
AFAICT, this bug shouldn't be closed since the problem still occurs: Running
`brew install --with-oce nglib`
still fails with
`ld: Assertion failed: (counter() < 0xffff), function nextCounter, file /Library/Caches/com.apple.xbs/Sources/ld64/ld64-264.3.102/src/ld/ld.hpp, line 108.`
whereas:
`brew install nglib`
installs without errors.

[2016-06-21 20:59] ianrrees commented on #3624
This issue was to do with someone failing to install nglib from the latest git source rather than the recipe, is that the same issue you're having?

Could you confirm that you can't install nglib without the --with-oce?  What version of oce do you have installed?

[2016-06-21 21:12] gtamazian commented on #3757
Sorry, it seems that there was something wrong with my local installation of **bcftools**. I reinstalled the formula and the plugins worked perfectly. I am closing the issue.

[2016-06-21 21:12] #3757 closed

[2016-06-22 02:23] rogermc2 commented on #3624
I've forgotten the original details.
I just ran
:~ Roger$brew install --with-oce nglib
Warning: homebrew/science/nglib-5.3.1 already installed
I then uninstalled nglib and again ran brew install --with-oce nglib
which failed as commented by garykac.
So, as suggested, I'll reopen it.

[2016-06-22 02:25] rogermc2 commented on #3624
brew install nglib
subsequently ran without problem.

[2016-06-22 04:20] tdsmith commented on #3757
No problem!

[2016-06-22 06:50] puiseux commented on #3401
Is there some correction for this bug ?
i uninstall, reinstall python
`brew uninstall python && brew install python`
then vtk
`brew uninstall vtk`
`brew install --with-python --with-qt vtk`
it try this : `python -c "import vtk"`

and this :
`/usr/bin/python -c "import vtk"` => OK

is it possible to install old vtk-5 with python ? It was working perfectly for me, but now I can't code anymore...  An

[2016-06-22 07:36] iMichka commented on #3401
I removed VTK5 lately, you can see the reasons in the commit message: https://github.com/Homebrew/homebrew-science/commit/7d8296ed144b6fbaf351a2178b4f003ba8b2557b
If you really want it back, the best way is to setup your own tap, and maintain the vtk5 formula yourself (or discuss with the homebrew maintainers a way to bring it back, but this is not my decision to take).

For the problem with pytho

[2016-06-24 10:20] hitorigochi commented on #3593
Thanks a lot. I confirmed that this issue was fixed.

[2016-06-24 10:20] #3593 closed

[2016-06-29 08:17] aadrych opened #3791 "Installing lammps using homebrew"
Hi,
I've just been trying to install lammps using hombrew.
When I tried running it, there was no links to lammps, after running the brew doctor there were some errors with the keg links so I ran the keg links to the lammps library and gcc but I get the following error:
Alexs-MacBook-Pro:~ mbdxkaa8$ brew test lammps -v
Testing homebrew/science/lammps
==> Using the sandbox
/usr/bin/sandbox-exec -f /

[2016-06-29 12:37] egarpor commented on #3751
It *seems* like the bottle is not being installed.

If I run `brew install homebrew/science/dssp` I get:

==> Downloading https://homebrew.bintray.com/bottles-science/dssp-2.2.1.yosemite.bottle.tar.gz
######################################################################## 100.0%
==> Pouring dssp-2.2.1.yosemite.bottle.tar.gz
🍺  /usr/local/Cellar/dssp/2.2.1: 5 files, 844K

My `brew-config`:

ORIGIN

[2016-06-29 14:49] cmdcolin opened #3793 "edirect: Error: SHA256 mismatch"
I have a short error with installing NCBI edirect

[code]

I am not sure why the bottle download failed, but also note the shasum error. I noticed that when downloading the ftp source manually reported a different version from 3.60 ftp://ftp.ncbi.nlm.nih.gov/entrez/entrezdirect/edirect.tar.gz and is now 4.50, so this ftp url might not point to a stable version

It might be worth to point to a spec

[2016-06-29 14:59] ilovezfs commented on #3793
The bottles for 3.60 were removed from bintray at some point. I'm not sure why, but they're quite gone.

The checksum doesn't match because that URL is generic not version specific, so whenever it gets update by upstream, the formula will currently break. I'll fix this now.

[2016-06-29 15:37] cmdcolin commented on #3793
Super, thanks!

[2016-06-29 16:30] ilovezfs commented on #3793
@cmarquardt https://github.com/Homebrew/homebrew-science/pull/3794

You can `brew pull https://github.com/Homebrew/homebrew-science/pull/3794` if you'd like to try it.

[2016-06-30 18:49] amoose136 opened #3795 "[Request] Xdmf formula"
Building [Xdmf](http://xdmf.org/index.php/Get_Xdmf) on MacOS/OS X has been an annoying process for me. I'd like to manage an Xdmf install via Brew but I'm not very good with Ruby and the last time I tried making a formula I didn't really get anywhere in a general manner.  I know it requires Swig and HDF5 and there are formulas for both of these already available but making a formula that will work

[2016-07-01 08:23] dpo commented on #3791
Try to upgrade your gcc: `brew upgrade gcc`.

[2016-07-01 18:16] ouojeda opened #3801 "LAMMPS install issues with libgfortran.3.dylib"
Hi, Tried installing home-brew and then lammps on mac. Seems to work fine (no errors, just a python directory warning). When I try to test it, it fails, asking for a Fc dynamic library issue:

Testing homebrew/science/lammps
==> Using the sandbox
/usr/bin/sandbox-exec -f /tmp/homebrew20160701-59955-1kjiwvs.sb /System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/bin/ruby -W0 -I /usr/local/Lib

[2016-07-01 19:36] dpo commented on #3801
Duplicate of #3791.

[2016-07-01 19:36] #3801 closed

[2016-07-01 22:13] ouojeda commented on #3791
Sorry, I tried brew upgrade gcc,
Same error.
Thanks

[2016-07-02 03:11] dpo commented on #3791
The lammps bottles should point to gcc6, not 5. Could you uninstall lammps and show us the entire procedure you went through? The output of `brew doctor` would also help. Thanks.

[2016-07-03 07:16] tdsmith commented on #3791
Be sure to run `brew update` before you reinstall lammps.

[2016-07-03 07:29] tdsmith commented on #3721
[code]

[2016-07-04 13:40] mariecd commented on #3791
Hi,
I've tried all the above and I still get the same error message as aadrych.
I've also tried to uninstall home-brew, reinstall it and then reinstall lammps but it's not working. Also, when I run brew doctor, my system is ready to brew.
Thanks :)

[2016-07-04 20:50] dpo commented on #3791
Could you try `brew uninstall -f $(brew deps lammps)` followed by `brew update` and `brew install lammps`? If you're still getting the same error, you can always build from source with `brew install -s lammps` while I look into the issue.

[2016-07-05 12:05] mariecd commented on #3791
Thanks for the help,
I've uninstall homebrew then reinstall it and install lammps from the source. It's now working so thanks a lot!

[2016-07-05 22:35] sterlingzhan opened #3809 "Update LAMMPS to latest version (May 2016)"
Hi!

Would it be possible to update the version of LAMMPS available through homebrew-science to the latest version (May 2016, instead of February 2015)?

Thanks in advance! I know that this is probably a relatively simple task, but I'm a bit of a newbie here and I'm just figuring out how things work. I enthusiastically look forward to contributing once I get the hang of things!

Sterling

[2016-07-06 04:42] ouojeda commented on #3791
Mine work too!. I had to uninstall LAMMPS, the dependencies and do the brew update. After installing again from source, it worked.

[2016-07-07 21:43] powellb opened #3813 "ncview 2.1.7"
### Indicate troubleshooting steps taken

- [ X] Ran `brew update` and retried your prior step?
- [ X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X ] Checked that a similar issue hasn't already been filed?
- [X ] Looked up the software bug tracker if reporting a build error?
- [ X] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(

[2016-07-08 00:55] DomT4 opened #3814 "R CMD fails on 10.11.5"
_From @Swammer on July 7, 2016 16:19_

Attempting to install R using Homebrew.  The following were all successful:

[code]

However, `R CMD javareconf JAVA_CPPFLAGS= I/System/Library/Frameworks/JavaVM.framework/Headers` failed with the following output:
[code]

Because of the recent caskroom migration, I added `export HOMEBREW_CASK_OPTS="--caskroom=/opt/homebrew-cask/Caskroom"` to my bash profile

[2016-07-08 16:07] #3809 closed

[2016-07-08 16:08] dpo commented on #3809
Done! Enjoy!

[2016-07-08 16:08] dpo commented on #3791
LAMMPS was just upgraded to the newer version and bottles rebuilt. Let's know if it works for you now.

[2016-07-08 16:08] #3791 closed

[2016-07-08 16:09] dpo commented on #3112
Please upgrade. LAMMPS was just upgraded and rebottled.

[2016-07-08 16:09] #3112 closed

[2016-07-08 16:29] dpo commented on #3401
@lantiga Could you give #3811 a try and let us know if it works for you?

[2016-07-09 15:01] sjackman commented on #1191
Now that we have binary bottles for about 200 Homebrew-Science formula in Linuxbrew, you can install older versions of software from the bottles: http://linuxbrew.bintray.com/bottles-science/ Not a complete solution, but definitely an improvement.

[2016-07-09 15:08] brucellino commented on #1191
Hi all.

Coming late to the party. In the project I'm working on, we maintain the older versions of the code, but since there is transparent continuous integration, we also maintain the tests (positive and false results). Very similar to what https://github.com/Homebrew/homebrew-science/issues/1231 was talking about I think - we are using Jenkins to do this.

Applications which pass tests are put

[2016-07-09 23:14] syarra opened #3818 "New bottle for qr_mumps: gcc-5 -> gcc-6"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?

### Bug reports / build errors:

_Erase any parts of this template not applicable to y

[2016-07-10 07:56] #3818 closed

[2016-07-10 20:23] breannansmith opened #3823 "HDF5 Compiler Reports Incorrect Include Path"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-07-10 20:41] tdsmith commented on #3814
Try this instead: `R CMD javareconf JAVA_CPPFLAGS="-I/System/Library/Frameworks/JavaVM.framework/Headers -I$(/usr/libexec/java_home | grep -o '.*jdk')"`

[2016-07-10 20:42] tdsmith commented on #3823
It includes the path to the hdf5 headers just fine; I don't see that it's wrong. Can you be more specific about the problem you're encountering?

[2016-07-10 20:46] tdsmith commented on #3813
I see:

[code]

Try removing ~/.ncviewrc.

[2016-07-10 20:56] breannansmith commented on #3823
h5cc reports '/usr/include', while Homebrew installs under '/usr/local' -- the second include path to szip above is correct, but the path to the core Homebrew include path is not. Under El Capitan:
[code]

Looking further down the output of 'h5cc -show', the library path is reported incorrectly as well:
[code]

[2016-07-10 21:13] tdsmith commented on #3823
Oh, odd! Sorry, I didn't look closely enough and assumed your output was the same as mine:

[code]

Mine does look correct. Have you updated Homebrew lately? What's the output of `brew config`?

[2016-07-10 21:13] tdsmith commented on #3823
Which is ALSO wrong, nevermind

[2016-07-10 21:14] Swammer commented on #3814
Thanks. I did that and got this warning in return:
[code]

Below is the full readout:
[code]

[2016-07-10 21:18] tdsmith commented on #3823
My mistake; the include path does look incorrect. The path to the static hdf5 library is reported correctly, though.

OTOH: if you run `h5cc -show -c`, the include path is printed correctly. I don't know how to use h5cc but if this is a bug I don't think it's Homebrew's doing and I'd encourage you to report it to the hdf5 developers.

[2016-07-10 21:24] tdsmith commented on #3823
In fact, if you give it a non-empty .c file on the command line, the include path is also included correctly; check with:

[code]

I think this is working fine; will close. Thanks!

[2016-07-10 21:24] #3823 closed

[2016-07-10 21:25] tdsmith commented on #3814
Looks good. thanks!

[2016-07-10 21:25] #3814 closed

[2016-07-11 03:20] powellb commented on #3813
Removing .ncviewrc doesn't help. Which XQuartz are you using?

[2016-07-11 03:28] tdsmith commented on #3813
You're right! Succeeds with 2.7.8, fails with 2.7.9.

[2016-07-11 03:31] tdsmith commented on #3813
It looks like it just needs to be rebuilt; installing it from source with `brew install -s ncview` works fine for me.

[2016-07-11 03:36] powellb commented on #3813
Thanks, that worked for me also. Feel free to close. I appreciate you looking into it.

[2016-07-11 03:36] tdsmith commented on #3813
We should refresh the bottle. Thanks for the report!

[2016-07-11 18:05] bgruening commented on #1191
@sjackman we were fixing the problem with building Docker images automatically out of brew recipes with this project: https://github.com/mulled/mulled
Unfortunately we all moved on to conda packages and this features is not maintained, it should work through.
If anyone cares to maintain the brew part I would be happy to give a introduction.

[2016-07-11 20:50] sjackman commented on #1191
Mulled is a great idea. I'm not sure that I can volunteer to maintain the Linuxbrew port myself, but if there's any work I can do in Linuxbrew to better support mulled, I'd be happy to.

[2016-07-12 08:38] lantiga commented on #3401
Works for me! Thanks so much to all who contributed so far.

[2016-07-12 11:01] druid0523 opened #3826 "some error when run 'brew tap homebrew/science'"
OSX EI Captan 10.11.5

It is like that sth. wrong with the mathgl.rb . It tell me the error:

undefined method `with_qt?' for #<Class:0x007fb42c387f10>

Command is : `brew tap -vd homebrew/science`

The output is :

git clone https://github.com/Homebrew/homebrew-science /usr/local/Library/Taps/homebrew/homebrew-science --depth=1
Cloning into '/usr/local/Library/Taps/homebrew/homebrew-science'...
r

[2016-07-12 11:35] PeterPetrik commented on #3826
I have same error on Darwin
[code]

[2016-07-12 12:04] LogicalKnight commented on #3826
This was fixed in ef35225.

[2016-07-12 14:49] lparsons opened #3828 "Building express fails: library not found for -lprotobuf"
### Indicate troubleshooting steps taken
- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [X] Looked up the software bug tracker if reporting a build error?
### Bug reports / build errors:
- The build fails with the error `ld: library not found

[2016-07-13 08:50] casperla01 opened #3829 "Trouble installing octave to mac os 10.11.5"
Hi. I am having trouble installing octave on mac el capitan 10.11.5
I have run 'brew update' and 'brew upgrade'
I have fixed all issues from running 'brew doctor'
Thre are no permission errors

I used the command 'brew install octave'

this is the output

-----------

Last 15 lines from /Users/casperla/Library/Logs/Homebrew/octave/02.make:
      F__magick_finfo__(octave_value_list const&, int) in

[2016-07-13 08:55] dpo commented on #3829
Could you post the output of `brew gist-logs octave`?

[2016-07-13 09:00] casperla01 commented on #3829
Yes. it can be found here
https://gist.github.com/anonymous/8e7c3e32287150bbd282318b481ddf80

[2016-07-13 16:00] k-atb commented on #3813
`brew install -s ncview `worked for me also

[2016-07-18 07:11] autosquid opened #3838 "nlopt upstream changed its build system to cmake."
### Bug reports / build errors:

_Erase any parts of this template not applicable to your Issue._

- Brief summary of issue:

nlopt upstream has changed its build system to cmake (instead of configure), so the HEAD option will not work. hope someone could fix this.

[2016-07-18 09:35] dpo commented on #3838
Not sure when I can get to it. Feel free to submit a pull request.

[2016-07-18 20:32] DomT4 opened #3839 "r: Expects /usr/local/Library/ENV to still exit"
_From @K20shores on July 18, 2016 19:59_

### Bug reports:

After updating to the newest version of Homebrew, some commands that deal with a brewed version of R no longer work. Two versions of this problem can be found below:

1.) http://stackoverflow.com/questions/38441722/error-using-rscript
2.) http://stackoverflow.com/questions/38440350/sed-directory-not-found-when-running-r-with-e-flag

It se

[2016-07-18 20:32] DomT4 commented on #3839
_From @scpeters on July 18, 2016 20:4_

See also #544

[2016-07-19 16:52] ck37 commented on #3839
I am also running into this issue. I cannot build documentation for my R package due to not finding sed :/

[code]

[2016-07-19 19:40] blindjesse commented on #3839
Installing from source (uninstalling then reinstalling with -s option) seemed to work for me.

[2016-07-19 22:29] ck37 commented on #3839
Thanks, yep that worked for me too

[2016-07-20 01:14] rwhogg opened #3844 "HTTP 403 Error when downloading Mathomatic"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?

### Bug reports / build errors:

`brew install mathomatic` fails with an HTTP 403 erro

[2016-07-20 13:07] coreice commented on #3813
Hmmm, freshly installed ncview today, also got this error. Only solution is using XQuartz 2.7.8 (I have 2.7.9)?

[2016-07-20 13:51] houtanb opened #3847 "problem passing argument with `=` to formula"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [X] Looked up the software bug tracker if reporting a build error?

### Bug reports / build errors:
- Brief summary of issue:
Install options containing a

[2016-07-20 17:44] #3839 closed

[2016-07-20 17:45] DomT4 commented on #3839
Should be fixed after a `brew update && brew upgrade r`. Not sure where the Science team is, but didn't want to leave it broken for any longer so bumped it myself.

[2016-07-20 18:40] Moisan commented on #3847
This does not seem to be Formula dependent, I can reproduce this on other formulas such as cantera.

[2016-07-20 18:45] houtanb commented on #3847
@Moisan yes, I noticed it on another formula originally. I just posted about this one because it dealt with this type of option in a very simple and direct way.

[2016-07-20 21:00] dpo commented on #3847
Pinging @UniqMartin @xu-cheng

[2016-07-21 06:11] #3847 closed

[2016-07-21 17:10] tdsmith commented on #3813
Still haven't refreshed the bottle, sorry! I'll do that today. In the meantime `brew install -s ncview` will work.

[2016-07-21 17:23] tdsmith commented on #3813
This should be closed by #3824.

[2016-07-21 17:23] #3813 closed

[2016-07-21 22:28] speth commented on #2170
I believe this issue was resolved by c7327d96.

[2016-07-21 23:02] dpo commented on #3829
Sorry for the delay. Could you try `brew uninstall -f $(brew deps -r octave)` followed by `brew install octave`?

[2016-07-22 12:09] UniqMartin commented on #3847
Sorry for introducing this bug and massive thanks to @xu-cheng for the quick fix!

[2016-07-22 19:11] enriquefernandez opened #3852 "Weird random memory error in cddlib (both 0.94g and 0.94h) when built through homebrew (no issues if manually build)"
### Indicate troubleshooting steps taken
- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Tried newer version of library (0.94h) than the one in homebrew/science (0.94g) with homebrew build system and got the same problem
### Bug reports / b

[2016-07-23 15:49] dpo commented on #3852
Does it work if you run `brew install cddlib --gcc=gcc-6.1`?

[2016-07-23 15:50] dpo commented on #3826
Please `brew update`. Sorry for the inconvenience.

[2016-07-23 15:50] #3826 closed

[2016-07-23 17:58] enriquefernandez commented on #3852
I won't have access to my computer until Monday night, but I don't think so.

I tried building the formula with 'fails with clang' and I think this is exactly what it did.

Does brew setup environment variables before running configure and make? How do I know what those variables are?

Just trying to understand why running commands that look the same produce different builds...

[2016-07-23 18:35] dpo commented on #3852
You can see all environment variables by running `brew install -i cddlib`. You'll drop to a shell, where you can run `env`. What you can also try is `brew install cddlib --env=std`.

[2016-07-23 19:42] dpo commented on #3828
I'm on 10.9 but I can't reproduce this. Could you try `brew uninstall -f $(brew deps -r express)` followed by `brew update` and `brew install express`?

[2016-07-23 19:47] dpo commented on #3751
The output you pasted shows that the bottle **is** being installed. Note that the formula name is `dssp`, there's no formula with the name `mkdssp`, which seems to be an executable installed as part of `dssp`.

I can reproduce the segmentation fault. However, it went away when I built from source with `brew install -s dssp`. Could you confirm that that also works for you?

[2016-07-24 00:27] clayrichardson opened #3855 "PCL: LSOpenURLsWithRole() failed with error -10810 for the file /Applications/pcl_viewer.app"
Steps for reproducing error:

`$ brew install pcl`
`$ brew linkapps pcl`

[code]

[2016-07-24 05:07] ilovezfs commented on #3855
Please check if that's reproducible after rebooting.

[2016-07-24 17:24] enriquefernandez commented on #3852
Perfect, thanks.
I'll try that tomorrow and report back.

[2016-07-24 20:34] Horta opened #3862 "rstudio-server: GIT_DISCOVERY_ACROSS_FILESYSTEM not set"
`brew install rstudio-server`

gives

https://gist.github.com/Horta/65fc9be1a17ecb6ba68fb4de48682096

Note: I had to `brew install libuuid` before reaching to that error (it would complain that I don't have libuuid)

[2016-07-25 16:16] sjackman opened #3863 "numpy: `--with-check` fails"
_From @AlecWong on July 25, 2016 8:22_

# Please follow the general troubleshooting steps first:
Yes I have tried the following tips:

-  Ran `brew update` and retried your prior step?
-  Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
-  If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew --prefix)`?

### Bug reports:

[code]

_Copied

[2016-07-25 16:22] dpo commented on #3863
Shouldn't this go to homebrew/python?

[2016-07-25 16:24] sjackman commented on #3863
It should, but I haven't yet discussed with that tap whether they do or want to support Linuxbrew. Just assigning them a random ticket didn't seem to be the right way to go about it.

[2016-07-25 16:25] dpo commented on #3863
Sounds good.

[2016-07-25 17:20] sjackman commented on #3863
I also don't yet have a fix for this issue. Rather wish I did. A fair number of bioinformatics formula depend on `homebrew/python/numpy`.

[2016-07-25 19:10] dpo commented on #3863
Do you have the full logs that show what the error is exactly?

[2016-07-25 19:54] sjackman commented on #3863
Here's a failure on Travis: https://travis-ci.org/Linuxbrew/homebrew-science/jobs/145640307
It doesn't have the complete logs, but I can get those.

[2016-07-25 22:17] dpo commented on #3863
Yes, it's hard to tell anything from that Travis log.

[2016-07-25 22:44] sjackman commented on #3863
It's reproducible with Docker:
[code]

`gist-logs`: https://gist.github.com/anonymous/e88c4f5311caca5c7dd6cd263d5f1c91

The relevant error is `relocation R_X86_64_PC32 against symbol `fun_' can not be used when making a shared object; recompile with -fPIC`

[code]
https://gist.github.com/anonymous/e88c4f5311caca5c7dd6cd263d5f1c91#file-03-python-L105

[2016-07-25 22:52] enriquefernandez commented on #3852
Ok, I just tried this, and I'm still getting weird results.

Doing `brew install cddlib --env=std` produces no changes. It seems like brew is still using `clang` as the compiler, and I get the same repeatable random crashes when using the library.

What is also weird, is that if I force homebrew to use the gcc-6 compiler with `brew install -v --cc=gcc-6 cddlib`, homebrew uses gcc-6, but I still ge

[2016-07-25 23:07] dpo commented on #3863
Perhaps the reason is that one of the three .o's (_test_ext_module_5403module.o, fortranobject.o or tmpPNC0ZM.o) wasn't compiled with -fPIC. But I'm not sure how to force that flag.

[2016-07-25 23:08] dpo commented on #3852
How about `--cc=gcc-6 --env=std`?

[2016-07-25 23:12] sjackman commented on #3863
I believe this build failure is an upstream issue. I opened a ticket upstream: https://github.com/numpy/numpy/issues/7794

[2016-07-26 00:40] enriquefernandez commented on #3852
Nop, it doesn't work either. Same memory crash error.

Worth noting that `brew install --cc=gcc-6 --env=std -v cddlib` produces `libcdd.0.dylib` with size 139376, while the manual building method with `./configure CC=gcc-6` produces `libcdd.0.dylib` with size 172500.

I really don't understand why...

[2016-07-26 00:44] enriquefernandez commented on #3852
By the way, I also tried manually building with `./configure CC=clang` and then copying the library (`cp libcdd.0.dylib /usr/local/lib/libcdd.dylib` from `lib-src/.libs/` and it also works perfectly.

So it is not the compiler, it seems...

[2016-07-26 03:32] puiseux commented on #3401
Sorry to be so late, i was on holidays.
I don’t really understand what you want me to try …
I’ve tried
[Mar jul 26][04:52 ]@[bin] $ brew audit --strict --online vtk
==> Installing or updating 'rubocop' gem
Fetching: rainbow-2.1.0.gem (100%)
Successfully installed rainbow-2.1.0
Fetching: ast-2.3.0.gem (100%)
Successfully installed ast-2.3.0
Fetching: parser-2.3.1.2.gem (100%)
Successfully installed

[2016-07-26 06:13] iMichka commented on #3401
It's okay I did all the testing myself. A patch was merged to VTK; then reverted because it introduced 2 regressions. I fixed the first one yesterday. You'll have to wait until my patch goes in.

[2016-07-26 13:10] dpo commented on #3852
One would need to carefully compare the full Homebrew logs with the output of a manual compilation.

[2016-07-26 14:06] #3844 closed

[2016-07-26 14:59] q-p opened #3867 "CGNS 3.3"
### Update CGNS to version 3.3?

CGNS has been updated in January, and I for one use it occasionally. :)

This update might pose some problems though, as with no additional configuration settings, the cg_sizet type is changed from `int` to `unsigned long` (I think), so some code using this library may no longer compile if it assumes `int` and `cg_sizet` are the same type.

Also, the names of confi

[2016-07-26 15:06] dpo commented on #3867
Thanks. It would be great if you could submit a PR with a test added to the formula.

[2016-07-26 15:38] dpo commented on #3259
@itcarroll `graph-tool` was just updated to 2.18. Could you check and report if you're still having the same issue? Note that if you're on 10.9, you'll have to build `boost` and `boost-python` from source with gcc-5 (`brew install homebrew/versions/gcc5`). `graph-tool` will also be compiled from source and gcc-5 will be automatically selected (gcc-6.1 is buggy).

[2016-07-26 15:40] #3254 closed

[2016-07-26 15:41] dpo commented on #3237
@rotten `graph-tool` was just updated to 2.18. Could you check and report if you're still having the same issue?

[2016-07-26 15:42] #3191 closed

[2016-07-26 15:44] dpo commented on #3167
@thombles Is this still an issue? `octave` has been updated in the mean time.

[2016-07-26 15:46] dpo commented on #2785
`gmsh` was recently updated, so I'll close this. Please open a new issue if the problem persists.

[2016-07-26 15:46] #2785 closed

[2016-07-26 15:49] #3751 closed

[2016-07-26 17:12] q-p commented on #3867
Not sure what the deal is with the ParaView test. It seems a bit like it is linked to old versions of the libraries (e.g. some ffmpeg ones which certainly don't have anything to do with cgns).

[2016-07-27 10:28] TedSmith1968 opened #3871 "verification error in lamps"
### Indicate troubleshooting steps taken
- [ ] Ran `brew update` and retried your prior step? YES but just hangs
- [ ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?  YES
- [ ] Checked that a similar issue hasn't already been filed? YES
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo

[2016-07-28 12:35] thomasfangyi opened #3880 "paraview failed to build on os x 10.11.5"
# Please follow the general troubleshooting steps first:

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?

_You can erase any parts of this template not applicable to your Issue._

### Bug reports:

brew install paraview failed on os x 10.11.5

gist-logs at https://gist.github.com/thomasfangyi/9810b3322cfdd

[2016-07-29 12:41] tseemann commented on #3828
I get the same problem on Linux.

https://gist.github.com/2663310d4e6d8bf18c431963218be55a

[2016-07-29 12:46] ilovezfs commented on #3828
The difference is probably due to superenv on Homebrew making protobuf findable, but we may need to give cmake a little more help with the location on Linuxbrew. In any case, you should be able to work around it by building --without-protobuf.

[2016-07-29 12:59] ilovezfs commented on #3828
Hmm, no I see it found it in your log.

@tseemann is your protobuf installed from the bottle by any chance?

[2016-07-30 00:43] tseemann commented on #3828
Yes:
[code]

[2016-07-30 00:45] ilovezfs commented on #3828
@tseemann do you mind trying rebuilding that from source, and then seeing if the express issue still occurs?

[2016-07-30 01:31] ilovezfs commented on #3828
Also worth noting that Google just released protobuf 3.0.0:
https://github.com/google/protobuf/releases/tag/v3.0.0
https://github.com/Homebrew/homebrew-core/pull/3415

[2016-07-30 05:56] tseemann commented on #3828
@ilovezfs that seemed to work!
[code]

[2016-07-30 05:57] ilovezfs commented on #3828
@tseemann OK, that's good news. So the question is whether regenerating the bottles will actually fix anything, or if it'll still persist due to conflicting C++ standards or some such problem like that.

[2016-07-30 05:59] tseemann commented on #3707
@tdsmith No - it is still used in the community as part of many projects.

[2016-07-30 06:37] ilovezfs commented on #3863
@sjackman I believe this has been going on since at least https://github.com/Homebrew/homebrew-python/pull/294 CC @tdsmith

[2016-07-30 06:44] sjackman commented on #3863
https://github.com/Homebrew/homebrew-python/pull/294#issuecomment-204658192

The fortran test error prevents `homebrew/python/numpy` from building on Linux. Any hope of fixing the test failure? Can the test be disabled if it's safe to ignore it?

[2016-07-30 06:45] ilovezfs commented on #3863
Yes, I think we should disable it for now. Just unclear if it's the same thing as what happened with 1.11.0 since you were saying you think this is new to 1.11.1?

[2016-07-30 06:53] sjackman commented on #3863
I have these versions of `numpy` installed on my system:
`1.9.2_1 1.9.3 1.10.0 1.10.1 1.10.4 1.11.0`
I'm unable to build `1.11.1`.

[2016-07-30 07:01] ilovezfs commented on #3863
[code]

Try --with-python3

[2016-07-30 07:10] sjackman commented on #3863
I am using `--with-python3` but on Linux.

[2016-07-30 07:13] ilovezfs commented on #3863
Is it actually using python3? Maybe try making it "python3" instead of ":python3"?

[2016-07-30 07:33] ilovezfs commented on #3863
@sjackman I think we need to add `"without-python"` to the numpy options in addition to the `with-python3` that is there already.

[2016-07-30 08:47] ilovezfs commented on #3863
@sjackman I think this may be the problem:
https://github.com/numpy/numpy/issues/6809
https://github.com/numpy/numpy/issues/1171

[2016-07-30 13:40] Chen-tao opened #3911 "update jfrog-cli-go error"
msg as follow:
[code]

[2016-07-30 13:41] ilovezfs commented on #3911
brew update again and it shouldn't happen again, right?

[2016-07-30 13:45] ilovezfs commented on #3911
Oh no, I take that back. This is a third party tap: https://github.com/bramstein/homebrew-webfonttools

You need to bug him to update to sha256.

CC @bramstein

[2016-07-30 13:45] #3911 closed

[2016-07-30 13:49] ilovezfs commented on #3911
See https://github.com/Homebrew/brew/issues/606.

[2016-07-30 14:36] sjackman commented on #2633
@ondovb @aphillippy Any thoughts on resolving this `capnp` build error of `mash`?

[2016-07-30 14:37] sjackman commented on #3410
@ondovb @aphillippy Any thoughts on resolving this `capnp` build error of `mash`?
`harvest-tools` fails with a similar error at #2633

[2016-07-30 14:48] sjackman commented on #3863
Aha! Smoking gun. Yes, that looks promising. Although it seems upstream thinks it's a `wontfix` bug. That's not promising.

[2016-07-30 14:53] ilovezfs commented on #3863
Yup! Is it reproducible outside of brew? Not sure if it's that we're setting `-march=foo` or flag refurbishing or some other `magical_voodoo.rb` where we end up stepping on upstream's flags, if that is indeed what's going on.

[2016-07-30 22:07] valasatava commented on #3113
Similar issue on OS X 10.11.5
ImportError: dlopen(/usr/local/Cellar/pymol/1.8.2.1/libexec/lib/python2.7/site-packages/pymol/_cmd.so, 2): Library not loaded: /usr/local/opt/glew/lib/libGLEW.2.0.0.dylib
  Referenced from: /usr/local/Cellar/pymol/1.8.2.1/libexec/lib/python2.7/site-packages/pymol/_cmd.so
  Reason: image not found

[2016-07-31 02:21] ilovezfs commented on #3113
@valasatava You should open your own issue, but most likely you need to upgrade your local glew.

[2016-07-31 07:04] Chen-tao commented on #3911
Got it. 😃

[2016-07-31 16:10] sjackman commented on #3863
Completely unconfirmed speculation follows. Based on the title of #6809, it looks as though upstream sets `-fPIC` in `FFLAGS` (which is not the correct place to set it) and Brew's overriding `FFLAGS` causes the shared objects to be compiled without `-fPIC` and then linking fails.

[2016-08-01 05:20] ararslan opened #3920 "Octave formula causes a deprecation warning"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [ ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-08-01 09:35] stefanofiorentino commented on #3920
Same warning here, will try to find out the recipe which causes the warning.

[2016-08-01 09:42] stefanofiorentino commented on #3920
@ararslan octave.rb already point to DevelopmentTools as you can see [here](https://github.com/Homebrew/homebrew-science/blob/master/octave.rb#L23).
Regards.

[2016-08-02 00:59] sjackman opened #3929 "augustus: undefined reference to BamTools::BamAlignment::RemoveTag"
https://gist.github.com/anonymous/8168e5866e8f3ac1e28635f19a327546

[code]

[2016-08-02 01:04] sjackman commented on #3929
I can reproduce this build error.

[2016-08-02 01:10] sjackman commented on #3929
Perhaps `augustus` 3.2.2 is not compatible with `bamtools` 2.4.0?

[2016-08-02 01:12] sjackman commented on #3929
No, I don't think that's it. `bamtools` was updated to 2.4.0 on 2015-06-24 and `augustus` was updated to 3.2.2 on 2016-04-19.

[2016-08-02 01:19] sjackman commented on #3929
The bottle built successfully on Ubuntu 14 with GCC 4.8. It fails for me with GCC 5.3. Perhaps it's a compiler version issue.

[2016-08-02 01:56] tdsmith commented on #3863
Feel free to open issues on homebrew-python, though you may hear "patches welcome!" from me. If setting `-fPIC` somewhere fixes this I'm happy.

[2016-08-02 04:24] sjackman commented on #3863
If my reading of the above is correct then `ENV.append "FFLAGS", "-fPIC"` may resolve the issue.

[2016-08-02 05:28] mistydemeo opened #3930 "brew install opencv"
_From @Vayne-Lover on July 20, 2016 8:42_

Hello,when i use brew to install opencv there are errors.
I follow this step:
brew update
brew tap homebrew/science
brew install opencv

The gist-logs shows:
[code]

The doctor shows:
[code]

The errors show:
[code]

_Copied from original issue: Homebrew/homebrew-core#3149_

[2016-08-02 05:28] mistydemeo commented on #3930
We'll need more info to diagnose this; please read the [troubleshooting guide](https://github.com/Homebrew/brew/blob/master/share/doc/homebrew/Troubleshooting.md) for what will be needed. As well, since this is for a package that's maintained in another repository, I'll move your issue to the appropriate place.

[2016-08-02 05:58] Vayne-Lover commented on #3930
Hello mistydemeo.
My gist-logs:
Vayne-Lover-MacBook:~ Vayne-Lover$ brew gist-logs opencv
https://gist.github.com/d3143f3d32ed923950314f1e16593ffb

My doctor:
Vayne-Lover-MacBook:~ Vayne-Lover$ brew doctor
Please note that these warnings are just used to help the Homebrew maintainers
with debugging if you file an issue. If everything you use Homebrew for is
working fine: please don't worry and just

[2016-08-02 13:57] q-p commented on #3867
Depends on #3880

[2016-08-02 15:00] junho85 commented on #3335
I use 0.99.902. Still have login problem.

in my case

not works
[code]

works
[code]

[2016-08-02 15:32] randy3k commented on #3335
For 0.99.903, you should follow the instruction

[code]

[2016-08-02 22:27] ondovb commented on #3410
Looks like a missing `capnp` include flag. Should be fixed in latest.

[2016-08-02 22:39] ondovb commented on #2633
This should be fixed in the latest harvest-tools source.

[2016-08-02 23:04] sjackman commented on #3410
I'm using `mash` 1.1, which is the latest stable release. Do you mean the git latest source?

[2016-08-03 00:16] monajalal opened #3939 "opencv3 with python3 doesn't have python3.5 in the lib folder in the Cellar folder"
Why there's no python3.5 in the following path? I have installed OpenCV3 for Python3 using homebrew:

According to this tutorial I should have it after following the steps (so bad I don't know the language the tutorial is written in): http://qiita.com/HirofumiYashima/items/eb697b1e359586b538e6

`ls /usr/local/Cellar/opencv3/3.1.0_3/lib/python2.7/site-packages/cv2.so
`I expect to have the following

[2016-08-03 01:26] tdsmith commented on #3939
This is the relevant error: https://gist.github.com/monajalal/fae307db63c777fefe3ac496ec328465#file-01-cmake-L222-L223

[code]

You should not have a virtualenv active while you are installing software with Homebrew and you should make sure that the `python3` in PATH is the right version. Cmake may also be confused by the presence of other python3's in /usr/local/bin; consider removing those while

[2016-08-03 04:22] tdsmith opened #3998 "madlib test is broken"
[code]

[2016-08-03 09:03] thombles commented on #3167
Honestly I'm not sure. I have a different mac not but still on 10.11 as originally reported.

[code]

I only used it briefly at the start of the year so I'm not sure when the wheels fell off. Fine by me if you want to close it. It seems like the sort of thing like that would come right once everyone upgraded to El Cap.

[2016-08-03 10:19] schoeps commented on #3167
Did I understand your post correct: you are on a new machine and octave is still not working. However, the error message is now about fltk?

If this is the case: please do `brew update; brew upgrade`. FLTK was updated already some time ago to work on El Capitan: https://github.com/Homebrew/homebrew-core/commit/e28f7cf928481b724f1bff82546e8508bbc61313

[2016-08-03 13:16] gkinglisboa opened #4009 "graphviz install error: library not found for -ltclstub8.6"
### Indicate troubleshooting steps taken
- [X ] Ran `brew update` and retried your prior step?
- [ X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ X] Checked that a similar issue hasn't already been filed?
- [?? how ?? ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoa

[2016-08-03 13:34] drhalftone commented on #3347
I get the error with "brew install pcl --without-apps --without-tools --without-vtk --without-qt"

[2016-08-03 19:08] ondovb commented on #3410
Yes, sorry, the latest source.

[2016-08-03 20:04] sjackman commented on #3410
Yes, I can confirm that `brew install --HEAD mash` works. Could you please tag a new stable release of `mash`?

[2016-08-03 22:04] egarpor commented on #3751
Thanks for the fix :) It works as expected now.

[2016-08-03 23:10] tdsmith opened #4012 "pykep links Python framework inappropriately"
[code]

[2016-08-04 01:04] rafaeltiveron opened #4013 "Error brew install express - collect2: error: ld returned 1 exit status"
Hello again

I tryed to install express when at make event I've got this error message:

`brew install express`

`==> Installing express from homebrew/science`

`
==> Downloading http://bio.math.berkeley.edu/eXpress/downloads/express-1.5.1/express-1.5.1-src.tgz
Already downloaded: /home/bioroot/.cache/Homebrew/express-1.5.1.tgz
`

`==> cmake . -DCMAKE_C_FLAGS_RELEASE=-DNDEBUG -DCMAKE_CXX_FLAGS_REL

[2016-08-04 01:56] ilovezfs commented on #4013
Duplicate of https://github.com/Homebrew/homebrew-science/issues/3828. Solution is there.

[2016-08-04 01:56] #4013 closed

[2016-08-04 05:06] Dewdrops commented on #3669
I still have the issue in OSX 10.11.5 when install octave 4.0.3 .

The command I use is
[code]

Error output
[code]

[2016-08-04 05:17] monajalal commented on #3939
@tdsmith seems like it was not active anyways:
[code]

[2016-08-04 05:27] tdsmith commented on #3939
It was when you posted your build logs.

[2016-08-04 06:31] ilovezfs commented on #3920
Yup this was fixed already, so you shouldn't see it the next time you brew update.

[2016-08-04 06:31] #3920 closed

[2016-08-04 06:36] ararslan commented on #3920
Awesome, thanks @ilovezfs!

[2016-08-04 06:46] monajalal commented on #3939
so I have the following:

[code]
And as you see python3.5 (or any other Python3) is not still in the lib folder as expected. I'd be really glad if you could tell me what's broken?

[2016-08-04 06:52] tdsmith commented on #3939
Please share the logs with `brew gist-logs opencv3`. I expect that cmake is still confused about which python you intend to use.

[2016-08-04 07:08] schoeps commented on #3669
Actually Octave should not build the docs (`DOC_TARGETS=`). However, one could enforce the correct path in the formula by adding a line like `ENV.prepend_path "PATH", "/Library/TeX/texbin"`,
see [here](https://gist.githubusercontent.com/schoeps/21005e50dff49fdf31bd0b2fef85bc67/raw/9a1c06d6bada9c5a8a82eff21b93d6feaedc4c6a/octave.rb). You can modify your local file accordingly or install the gist

`

[2016-08-04 07:39] monajalal commented on #3939
[code]

[2016-08-04 07:48] monajalal commented on #3939
https://gist.github.com/b0206dd8622a433281745aede1d0e79a @tdsmith

[2016-08-04 08:19] tdsmith commented on #3939
You need to fix this: https://gist.github.com/monajalal/b0206dd8622a433281745aede1d0e79a#file-01-cmake-L223-L224

[2016-08-04 10:49] Dewdrops commented on #3669
@scoeps
Thanks for the gist. Works great.

In fact this issue only happens to me when `--with-openblas` is specified. Don't know why though.

[2016-08-04 10:59] rafaeltiveron commented on #4013
That is not the solution! I've tryed.

[2016-08-04 11:02] schoeps commented on #3669
This can be explained: if you use no switches then homebrew will fetch a precompiled binary. Therefore the problem does not show up. This also means that installing `--with-openblas` should be significantly slower than without.

Regarding openblas: Actually I prefer it, too but recently, people have seen strange problems in Octave on various platforms due to openblas (e.g. unexpected crashes while

[2016-08-04 14:13] albertz opened #4014 "openfst selects wrong compiler"
`brew install openfst` results in the error `Error: The selected compiler doesn't support C++11: gcc`, although I have set `HOMEBREW_CC` to `clang` and `HOMEBREW_CXX` to `clang++`.

`brew config`:

[code]

`brew env`:

[code]

[2016-08-04 14:18] ilovezfs commented on #4014
`brew config` please

[2016-08-04 18:06] rafaeltiveron commented on #3828
Hello again

I tryed to install express when at make event I've got this error message:

`brew install express`

`==> Installing express from homebrew/science`

`
==> Downloading http://bio.math.berkeley.edu/eXpress/downloads/express-1.5.1/express-1.5.1-src.tgz
Already downloaded: /home/bioroot/.cache/Homebrew/express-1.5.1.tgz
`

`==> cmake . -DCMAKE_C_FLAGS_RELEASE=-DNDEBUG -DCMAKE_CXX_FLAGS_REL

[2016-08-04 20:17] monajalal commented on #3939
please have a look. I uninstalled Python3.5 and installed Python3.4.1 from source. If you could give an insight how to fix this will be great!

[code]

the gist itself alone:
https://gist.github.com/dc03eeac06d21c513eb7634d39b62548

[2016-08-04 21:26] ilovezfs commented on #3828
@rafaeltiveron  Did you
A)
`brew reinstall protobuf`
or
B)
`brew reinstall  protobuf -s`
or
C) something else

[2016-08-05 08:10] CodeMaxx opened #4015 "Change MacOS.clang_version to DevelopmentTools.clang_version"
I got this error while updating today.
![image](https://s32.postimg.org/tz8hx7hut/Screen_Shot_2016_08_05_at_1_33_39_PM.png)

I would like to fix this and contribute 😄 Can someone give me pointers where to start?

[2016-08-05 08:47] ilovezfs commented on #4015
Thanks for wanting to contribute! In this case, you can run `brew update` again and then it will be fixed.

[2016-08-05 08:47] #4015 closed

[2016-08-05 16:35] CodeMaxx commented on #4015
I didn't get an error this time. But I don't see any recent Pull Request regarding this?

[2016-08-06 05:09] goxberry opened #4018 "mfem 3.2 build crashes"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [x] Looked up the software bug tracker if reporting a build error?
- [x] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-08-06 11:19] dpo commented on #4018
Thanks for the fix!

[2016-08-06 11:19] #4018 closed

[2016-08-06 14:48] BertDeDeckere opened #4021 "brew install vtk --with-qt5 fails"
Hi all,

I've been trying to install vtk with qt5 support for a long time now, unfortunately without much luck. Here are the steps I took:
- Ran 'brew update'
- Updated all formulas
- Ran 'brew doctor' and fixed all issues

Then in the terminal
$brew install vtk --c++11 --with-examples --with-qt5

I tried before without c++11 and exampled, but that doesn't make any difference. The brew gist logs c

[2016-08-06 15:39] ilovezfs commented on #4021
It doesn't look like the build is actually failing? Where's the error?

[2016-08-06 15:41] BertDeDeckere commented on #4021
The error is at the end of the make file, here is an excerpt:
-- [download 0% complete]
-- [download 100% complete]
-- Downloaded object: "/tmp/vtk-20160806-78090-11hfs8w/VTK-7.0.0/build/ExternalData/Objects/MD5/5f7cae168c119b40ab9a4cc5d6ca14f2"
-- [download 0% complete]
-- [download 100% complete]
-- Downloaded object: "/tmp/vtk-20160806-78090-11hfs8w/VTK-7.0.0/build/ExternalData/Objects/MD5/b3ae

[2016-08-06 15:43] ilovezfs commented on #4021
@sjackman looks like this lovely formula is downloading random things off the Internets.

[2016-08-06 15:52] ilovezfs commented on #4021
It will use these formulae with those options:
[code]
So you could try uninstalling all of them first.

[2016-08-06 16:52] BertDeDeckere commented on #4021
It works! I came across this thread: https://github.com/Homebrew/homebrew-science/issues/3401
When uninstalling everything (including the brewed Python) and installing VTK, it works. Upon doing so, the system Python is used and not the Python from Brew.

Jeej :-)

[2016-08-06 20:30] macfree commented on #3624
I had the same problem and have some additional information, maybe it could help. Ld gets a serious memory leak while trying to install, going up to 30 gb of memory acc to actvity monitor.

[2016-08-07 02:30] ilovezfs commented on #4021
@BertDeDeckere I'm glad you got it working. I think we can close this in favor of

http://www.vtk.org/Bug/view.php?id=16068
https://gitlab.kitware.com/vtk/vtk/merge_requests/1713
https://github.com/Homebrew/homebrew-science/issues/3401
https://github.com/Homebrew/homebrew-science/pull/3811

I'm still not thrilled to put it mildly with the random downloading but :see_no_evil: for now.

[2016-08-07 02:30] #4021 closed

[2016-08-07 05:50] joeyo opened #4024 "HDF5 has not pkg-config file"
It would be handy if HDF5 came with a pkg-config file. Here's one that I wrote that gets the job done:

[code]

Thanks!

[2016-08-07 18:22] tdsmith commented on #4024
Please let the HDF5 team know you'd like them to ship a pkg-config file. Thanks!

[2016-08-07 18:22] #4024 closed

[2016-08-07 18:23] tdsmith commented on #3939
There's still an error in the same place: https://gist.github.com/monajalal/dc03eeac06d21c513eb7634d39b62548#file-01-cmake-L223-L227 -- you need to install numpy for your python3.4.

[2016-08-09 15:07] bstamps commented on #3929
I've got the same error on Ubuntu 16.04- any luck on your end getting this to compile?

[2016-08-09 16:47] cmdcolin commented on #3793
@ilovezfs I think this has issues. I ran this and then re-ran brew install edirect and it seemed to work with the newer installation (used go, etc) but I got this error running an esearch

[code]

[2016-08-09 17:16] ilovezfs commented on #3793
@cmdcolin can you try commenting out  `system "go", "build"` and reinstalling?

[code]

[2016-08-09 17:33] cmdcolin commented on #3793
Hmm...doesn't seem to change anything

I used brew edit edirect to make that change (the formula that was there was also as appeared in the PR) and then did a brew reinstall edirect but got the same error

It was also downloading the head version, so I corrected the shasum to 322c74b67b59e604b99dae915599bc4329b8802db7ee93fc308b44c1a09d19f4 for mavericks and confirmed that the install did recognize

[2016-08-10 13:17] ashishbhole opened #4030 "Error received: brew install superlu43 --with-openblas"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?

### Bug reports / build errors:

Testing SINGLE PRECISION linear equation routines
csh stest.csh
make[1]: csh: Command not found
make[1]: *** [stest.out] E

[2016-08-10 14:36] dpo commented on #4030
What platform are you on? Could you post the output of `brew gist-logs superlu43`?

[2016-08-10 15:36] ashishbhole commented on #4030
I am using ubuntu 64 bit machine. Output of brew gist-logs superlu43 is as follows:

 # superlu43 - 2016-08-10_19-34-37.txt
Homebrew build logs for homebrew/science/superlu43 on Ubuntu 14.04.4 LTS
Build date: 2016-08-10 19:34:37
00.config.out
HOMEBREW_VERSION: 0.9.9
ORIGIN: (none)
HEAD: (none)
Last commit: never
Core tap ORIGIN: https://github.com/Linuxbrew/homebrew-core
Core tap HEAD: 32ac2466117

[2016-08-10 15:55] sjackman commented on #3929
No, I haven't had a chance to trouble shoot this build error. There's a precompiled binary bottle, but it's marked as being non-relocatable. If you install Linuxbrew in `/home/linuxbrew/.linuxbrew` that precompiled binary bottle will be used by default. If you want to live dangerously, `brew install --force-bottle augustus` *may* work (no promises), but it's worth a shot.

[2016-08-11 13:35] ashishbhole opened #4035 "Trilinos download failed: 502 Bad Gateway"
### Indicate troubleshooting steps taken

- [x ] Ran `brew update` and retried your prior step?
- [x ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x ] Checked that a similar issue hasn't already been filed?

I am facing a problem in building Trilinos12.6.2, as it is not connecting to remote server.
I am using following command
brew install trilinos --with-op

[2016-08-12 09:44] ilovezfs commented on #3426
Closed via https://github.com/Homebrew/homebrew-science/pull/4005.

[2016-08-12 09:44] #3426 closed

[2016-08-12 20:46] ashishbhole commented on #4035
I think url for downloading trilinos is wrong:
 http://trilinos.csbsju.edu/download/files/trilinos-12.6.2-Source.tar.bz2

I tried with changing it with working url. It downloads trilinos. But throws some other errors. Anybody can suggest anything?

[2016-08-13 00:13] fbender commented on #3401
Seems like this is continued in [!1713](https://gitlab.kitware.com/vtk/vtk/merge_requests/1713) – does #3811 add the patch to fix the issue before upstream is able to merge?

[2016-08-13 01:36] dpo commented on #4035
Could you show what you changed and what the other errors were? Remember that if you update the `url` you also need to update the `sha256`. Brew tells you what it shoudl be.

[2016-08-13 01:49] dpo commented on #4030
In the future, please only post the link output by `brew gist-logs` instead of the entire output. Thanks.

It looks like you don't have the C shell on your machine. I haven't kept up with Linux so I'm not sure whether distros install it or not, but it seems like SuperLU is expecting it. Could you try installing csh with your package manager and retrying?

[2016-08-13 04:22] ashishbhole commented on #4030
I will take care of that in future.

Yes, I figured it out later. Now I have installed superlu. I should have been careful enough to close this issue. Thank You.

[2016-08-13 04:22] #4030 closed

[2016-08-13 04:38] ashishbhole commented on #4035
I changed url in trilinos.rb file to following:
https://trilinos.org/oldsite/download/files/trilinos-12.6.4-Source.tar.bz2

This url is able to download trilinos. I also changed SHA256 as suggested by brew. But still I got an error.

Output link to brew gist-logs trilinos is as follows:
https://gist.github.com/4a652e4433cde05ef9782b0a84c5d41e

I can't make out what's wrong here.

[2016-08-13 06:29] gaoyifan opened #4049 "Bottles files missing"
The following bottles files is missing (HTTP code 404):
[code]
Could someone fix it?

[2016-08-13 07:06] ilovezfs commented on #4049
The edirect thing is a duplicate issue:
https://github.com/Homebrew/homebrew-science/issues/3793
https://github.com/Homebrew/homebrew-science/pull/3794

I'll investigate the sfscode thing, though.

[2016-08-13 08:53] ilovezfs commented on #4049
@gaoyifan sfscode should be fixed in https://github.com/Homebrew/homebrew-science/commit/5bcea95aab72e987c4074cd89a0bf3278b597e72 if you brew update.

[2016-08-13 09:23] gaoyifan commented on #4049
Thanks a lot!
sfscode works now.

[2016-08-13 09:23] #4049 closed

[2016-08-13 09:24] ilovezfs commented on #4049
@gaoyifan you're welcome

[2016-08-13 09:56] iMichka commented on #3401
#3811 does not contain the fixes for the 2 issues we had with the first patch, and should not be merged.

https://gitlab.kitware.com/vtk/vtk/merge_requests/1713 has the matplotlib issue fixed. The second one; the integration with the KITS flag, is still not done. As stated in https://gitlab.kitware.com/vtk/vtk/merge_requests/1713, I am on holidays until next week, so I won't be working on this any

[2016-08-13 11:23] bfontaine commented on #2946
FWIW I tried upgrading the formula and fix the issue as described in the StackOverflow answer but it fails later in the process:

[code]

[code]

([full logs](https://gist.github.com/d1fdf21b1e6852bd405db5b9ce43dc11))

[2016-08-13 11:49] dpo commented on #4035
It seems to be a compiler issue: https://gist.github.com/anonymous/4a652e4433cde05ef9782b0a84c5d41e#file-02-cmake-L717

Could you try `brew uninstall -f $(brew deps -r trilinos)` and then `brew install trilinos`?

[2016-08-13 13:45] ilovezfs commented on #2946
This fixes it and uses current versions:
https://gist.github.com/ilovezfs/03699d8b59334520cd114f94cc27bb39

[2016-08-13 13:47] ilovezfs commented on #2946
@bfontaine so based on that, I guess libfolia-0.12.tar.gz may need to be vendored if upstream has no fix yet?

[2016-08-13 19:58] fbender commented on #3401
@iMichka thanks for the quick reply! I'm currently looking for a quick fix to be able to continue with my thesis. I assume I can ignore the KITS issue for my setup, and just manually redo your formula changes in #3811 with the updated patch. Or I just switch to the system python binary for the moment …

[2016-08-14 17:23] iMichka commented on #3401
Yes the easiest thing is to use my patch from #3811 manually, and keep an eye on this thread until the problem is solved.

[2016-08-14 21:06] valbertoenoc commented on #3401
TL;DR: brew vtk works fine with brew python3.

@iMichka , I have been moving around this issue for a while now, and I finally, arrived at a solutions that works for me.
I reinstalled vtk with python3 support and everything worked fine. (if you have already installed you might have to reinstall it with the --with-python3 and --without-python flags, since vtk doesn't currently support both wrappers

[2016-08-14 21:47] bfontaine commented on #2946
@ilovezfs It seems so 😐

[2016-08-15 08:51] ilovezfs commented on #3417
@sjackman Is this now fixed?

[2016-08-15 08:52] ilovezfs commented on #3445
this should be fixed if you brew update and brew install spades, since spades is at 3.9.0 now

[2016-08-15 08:52] #3445 closed

[2016-08-15 08:54] ilovezfs commented on #2218
@nekrut hopefully our current version of spades (3.9.0) is working as you expect

Please let us know if not!

[2016-08-15 08:54] #2218 closed

[2016-08-15 10:23] iMichka commented on #3401
@valbertoenoc The problem would still be there with python 3. If you try to import the vtk you built with a python 3 coming from anaconda, macports, or from the python.org website, it would still crash.

The problem is well known, the patch adresses that problem. We know what needs to be fixed to make it work in a more general way. Thanks for the report though.

[2016-08-15 17:22] sjackman commented on #3417
I'm getting this same error, but it could easily be an error on my side. I'll troubleshoot.

[2016-08-15 20:35] apjanke opened #4067 "biopieces broken?"
### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-08-16 02:35] sjackman commented on #4067
I've created an upstream issue https://github.com/maasha/biopieces/issues/5 asking the author to tag a stable release. If he's responsive, let's update it, if not, let's boneyard it.

[2016-08-16 04:49] ilovezfs commented on #3793
@cmdcolin please re-test with edirect 4.80 https://github.com/Homebrew/homebrew-science/commit/d1b104f4b77c395e26dfb64468416528d889b9e7

[2016-08-16 04:49] #3793 closed

[2016-08-16 15:30] cmdcolin commented on #3793
@ilovezfs I still got errors similar to my post above but could solve them by manually installing Mozilla::CA

<details>
<summary>Log of edirect installation</summary>
[code]
</details>

[2016-08-16 15:40] arjunwadhawan opened #4069 "Lammps not executing on imac (Installed via brew)"
I am trying to execute a lammps MD. I have kept the lammps executable in the same directory as the input data file . I am getting this error

Initially i tried to keep the executable path (export PATH=/usr/local/bin:$PATH ) to .bash_profile file but gave me the same error

LAMMPS (14 May 2016)
ERROR: Unknown command: {\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470 (../input.cpp:246)

Any exper

[2016-08-16 15:54] ilovezfs commented on #3793
@sjackman hmm ... so maybe it shouldn't do `rm ["Mozilla-CA.tar.gz", "xtract.go"]` during install?

[2016-08-16 15:58] sjackman commented on #3793
I can confirm that it depends on `Mozilla::CA`. I installed it using `cpanm Mozilla::CA`. It should instead vendor in `Mozilla::CA`, or install the bundled `Mozilla-CA.tar.gz` tarball.

[2016-08-16 16:08] sjackman commented on #4067
Upstream has released `biopieces` 2.0. Let's update to that.

[2016-08-16 16:35] sjackman commented on #4067
Fixed by #4070

[2016-08-16 16:35] #4067 closed

[2016-08-16 16:44] #4069 closed

[2016-08-16 16:44] arjunwadhawan commented on #4069
had issue in input file. sorry to bother

[2016-08-16 17:30] dpo commented on #4035
@ashishbhole ping

[2016-08-17 02:03] apjanke commented on #4067
LGTM. Thanks!

[2016-08-17 12:50] ashishbhole commented on #4035
Hello, I followed your guidelines brew uninstall -f $(brew deps -r trilinos) and brew install trilinos.
But received other errors. I have kind of lost the track. I will become specific with those errors shortly.
However, this was the case when I change the url and SHA for trilinos. If you could fix the original code for url of trilinos, I guess problem will be solved.

[2016-08-19 01:49] DomT4 opened #4075 "Unable to install octave on OSX 10.11.6"
_From @jackson312 on August 19, 2016 0:2_

If Homebrew was updated on Aug 10-11th 2016 and `brew update` always says `Already up-to-date.` you need to run: `cd $(brew --repo); git fetch; git reset --hard origin/master; brew update`.

# Please follow the general troubleshooting steps first:

- [x ] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possi

[2016-08-19 10:05] dpo commented on #4075
@jackson312 your issue should be fixed by #4071.

[2016-08-19 10:07] dpo commented on #4035
I'll fix this very soon but first I need to merge #4072. Thanks for your patience.

[2016-08-19 19:19] jackson312 commented on #4075
I am still seeing the error, when will this get merged into the main repo?

[2016-08-20 07:44] schoeps commented on #4075
Should be ready very soon. In super urgent cases you can do stuff like `brew install https://raw.githubusercontent.com/schoeps/homebrew-science/2f1b48ef7797acad1cdce51565713b5610e5957d/octave.rb --HEAD --with-gui`

[2016-08-20 15:11] dpo commented on #4075
@jackson312 Please `brew update` and try to reinstall.

[2016-08-20 16:55] yuanzhenjie commented on #3930
[ 11%] Building CXX object modules/highgui/CMakeFiles/opencv_highgui.dir/src/grfmt_png.cpp.o
cd /tmp/opencv-20160821-20081-1n604iw/opencv-2.4.13/macbuild/modules/highgui && /usr/local/Library/Homebrew/shims/super/clang++   -DCVAPI_EXPORTS -DHIGHGUI_EXPORTS -I/tmp/opencv-20160821-20081-1n604iw/opencv-2.4.13/modules/highgui/perf -I/tmp/opencv-20160821-20081-1n604iw/opencv-2.4.13/modules/video/includ

[2016-08-20 18:08] ptzz opened #4077 "octave: help command broken"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?

### Bug reports / build errors:
`help` command does not work, e.g. `help fft` produces:

[code]
Indeed the file `/usr/local/Cellar/octave/4.0.3_1/share/oct

[2016-08-21 22:03] lendenmc opened #4082 "opencv3 fails to create '/usr/local/opt/opencv3/python3.5' folder with 'without numpy' and 'with python3' options"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-08-21 22:59] tseemann opened #4083 "Migrate minia from 2.0.3 to 2.0.7"
If anyone is keen to upgrade this formula `minia.rb`

OLD 2.0.3
http://minia.genouest.org/

NEW 2.0.7
https://github.com/GATB/minia
(sub modules)

[2016-08-22 08:44] aadrych opened #4086 "lammps: Pypar install with homebrew."
Hi,
I am trying to run lammps using python scripts.  I've got it to work with the serial version of lammps and I've tested to see that the mpi does work with brew installed lammps but when I try to run the mpi lammps with a python script, using the recommended pypar module, it says no module available.
How can I get homebrew to include this pypar module so I can run lammps with mpi in a python scr

[2016-08-22 16:03] muammar commented on #4075
I have just tried, but there is still an error:

[code]

[2016-08-22 16:15] schoeps commented on #4075
I have rarely seen error messages so instructive: "you may try with --HEAD". So please try
`brew -v install octave --with-gui  --HEAD`
or go without GUI
`brew -v install octave`

[2016-08-22 16:52] muammar commented on #4075
I uninstalled dependencies:

[code]

Then, I tried with the command you proposed:

[code]

I got this error:

[code]

Then I installed: `brew install librsvg`, and retried. Now it works.

<img width="1280" alt="screen shot 2016-08-22 at 18 50 34" src="https://cloud.githubusercontent.com/assets/954209/17863288/5f17e2ee-6899-11e6-92f1-3d19bb3e4ebc.png">

[2016-08-22 17:14] schoeps commented on #4075
great 👍  However, you do not to reference the explicit `http://..octave.rb` anymore since the new `octave.rb` is now merged into homebrew/science, so  `brew -v install octave --with-gui --HEAD` gives the same result.

Thanks for the remark on `librsvg`. I will add it as dependency for `HEAD`. Maybe you want to become a homebrew contributor and do it by yourself? I would recommend to add `depends_o

[2016-08-22 17:25] muammar commented on #4075
Thanks for the information about it.

That would be nice. Let me try it if you don't mind :). Thanks!.

[2016-08-22 18:29] muammar commented on #4075
@schoeps I have created a [PR](https://github.com/Homebrew/homebrew-science/pull/4087).

[2016-08-22 20:09] dpo commented on #4075
Thank you!

[2016-08-22 20:09] #4075 closed

[2016-08-22 20:19] jackson312 commented on #4075
I am getting a timeout. Maybe the fact that I am building using --with-openblas is causing it?

jackson@ingma:~$ brew -v install octave --with-openblas --with-gui --HEAD
==> Installing octave from homebrew/science
==> Using Homebrew-provided fortran compiler.
This may be changed by setting the FC environment variable.
==> Cloning http://www.octave.org/hg/octave
/usr/local/opt/mercurial/bin/hg clon

[2016-08-22 20:22] dpo commented on #4075
In a terminal, are you able to execute the following
[code]

[2016-08-22 20:27] jackson312 commented on #4075
No, it times out as well. Maybe they have some ports blocked on the firewall here at work. I can try it tonight at home.

[2016-08-22 20:28] dpo commented on #4075
At any rate, the problem isn't related to Homebrew. Perhaps the octave tracker will have more information?!

[2016-08-22 20:30] muammar commented on #4075
I also think is a network problem. In my case, hg is cloning ok.

[2016-08-22 20:37] dpo commented on #4077
@schoeps I can reproduce this on 10.9. Something has gone missing. Do we need to build `--with-docs` to have inline help?

[2016-08-22 20:51] vicnorton opened #4088 "octave 4.0.3_1 and 4.0.3_2 are missing many files"
### Bug reports / build errors:
- Brief summary of issue:
octave 4.0.3_1 and 4.0.3_2 are missing many files contained in 4.0.3
- Please state the complete command that you issued.
octave> help svd
error: unable to open /usr/local/Cellar/octave/4.0.3_2/share/octave/4.0.3/etc/macros.texi for reading
error: called from
    __makeinfo__ at line 103 column 5
    help at line 102 column 22

The file "ma

[2016-08-22 21:28] schoeps commented on #4077
Yeah. Sorry. It will be alright in octave 4.2 and I was focussing on the new release and so I messed 4.0.3 up :( I was happy to get rid of `--with-docs` because we have seen that octave fails to build sometimes because of creating the documentation. So, shall we make `--with-docs` default again until 4.2?

[2016-08-22 21:34] dpo commented on #4077
Does `--with-docs` mean the PDF documentation or also the help system? If anything, I think the help system should be available.

[2016-08-22 21:35] dpo commented on #4088
See #4077.

[2016-08-22 21:35] #4088 closed

[2016-08-23 03:01] #3880 closed

[2016-08-23 03:01] dpo commented on #3880
Should be fixed.

[2016-08-23 06:51] schoeps commented on #4077
@ptzz @vicnorton I have made a pull request. For now, you can either build the development sources which also give you the GUI `brew install octave --HEAD --with-gui` or try `brew install octave --with-docs`. Sorry for the inconvenience, we had to release 4.0.3_1 rather quickly since Qt4 is being removed from homebrew.

[2016-08-23 10:27] vicnorton commented on #4077
No problem, Sebastian. I have switched back to Octave 4.0.3.

Regarding my original note, I am appending a list of some of the stuff that was removed from Octave 4.0.3 to make Octave 4.0.3_1.

Regards,

Vic

tip-off after installing octave 4.0.3_1:
==> Summary
🍺  /usr/local/Cellar/octave/4.0.3_1: 2,166 files, 42.2M
~$ octave
warning: docstring file '/usr/local/Cellar/octave/4.0.3_1/share/octave/4.

[2016-08-23 15:23] #4035 closed

[2016-08-23 15:24] dpo commented on #4035
Should be good now. Please `brew update`.

[2016-08-23 15:34] dpo commented on #4077
Fixed now. Please `brew update`.

[2016-08-23 15:34] #4077 closed

[2016-08-23 15:40] dpo commented on #4014
Can't reproduce this: `brew install -s openfst` worked fine for me on 10.9. The bot apparently had no problem either. Let's see what `brew doctor` says.

[2016-08-23 18:08] vicnorton commented on #4077
Unfortunately I can’t graph anything now, but I don’t know what the problem is.

[2016-08-23 18:24] schoeps commented on #4077
@vicnorton are using the gui (requires `--HEAD`) or cli?

[2016-08-23 18:26] dpo commented on #4077
It works for me. Don't forget to set `GNUTERM` if you use the CLI. I use AquaTerm and I noticed I have to fire up AquaTerm before starting Octave.

[2016-08-23 19:06] dpo commented on #3871
Try to upgrade the dependencies: `brew uninstall -f $(brew deps -r lammps); brew reinstall lammps`.

[2016-08-23 19:08] dpo commented on #3829
We just updated `octave` so I'm going to close this. Please try the solution above and open a new issue if problems persist. Thanks.

[2016-08-23 19:08] #3829 closed

[2016-08-23 19:09] vicnorton commented on #4077
I have been using
  octave-cli
with
  graphics_toolkit gnuplot
  setenv GNUTERM qt
but apparently "GNUTERM qt” is no longer recognized.

Now when I try my macplotbug.m script I see many lines of
  warning: could not match any font: *-normal-normal-10
  warning: ft_render: unable to load appropriate font
followed by
  Unknown or ambiguous terminal name ‘qt'
The image does come up in Aquaterm, which

[2016-08-23 19:53] ptzz commented on #4077
I also have issues and is using GNUTERM qt. Don't see the errors @vicnorton gets, but it takes really long (~20s) to do plot(x) when x contains 10 values -- and it's getting plotted with x11.

[2016-08-23 19:59] dpo commented on #4077
You would probably receive more meaningful support if you took those comments to the octave tracker.

[2016-08-23 20:01] schoeps commented on #4077
Did you guys update gnuplot recently? If yes, it should have complained about renamed switches (`--with-qt` has been depracted). The new switch is `--with-qt5` since homebrew has dropped qt4 support.

[2016-08-23 20:35] ptzz commented on #4077
Just reinstalled gnuplot with `--with-qt5` but the problem with octave is still the same.

[2016-08-23 20:58] vicnorton commented on #4077
I also reinstalled gnuplot with --with-qt5:

/usr/local/Cellar/gnuplot/5.0.4 (44 files, 2.3M) *
  Built from source on 2016-08-23 at 16:09:05 with: --with-qt5
From: https://github.com/Homebrew/homebrew-core/blob/master/Formula/gnuplot.rb
==> Dependencies
Build: pkg-config ✔
Required: fontconfig ✔, gd ✔, jpeg ✔, libpng ✔, libtiff ✔, readline ✔, webp ✔
Recommended: lua ✔
Optional: pdflib-lite ✘, qt5

[2016-08-23 22:10] schoeps commented on #4077
please try

`brew install https://raw.githubusercontent.com/schoeps/homebrew-core/438a015b876d99ac06f17c019a9faa9c9969c473/Formula/gnuplot.rb --with-qt5`

[2016-08-23 23:33] jwhite007 opened #4098 "Issues Installing R with Linuxbrew"
### Indicate troubleshooting steps taken

- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [x] Checked that a similar issue hasn't already been filed?
- [ ] Looked up the software bug tracker if reporting a build error?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew

[2016-08-24 07:56] tseemann commented on #4083
I have now done this.

[2016-08-24 07:56] #4083 closed

[2016-08-24 11:52] vicnorton commented on #4077
That solved the gnuplot qt problem, Sebastian. But I still have a font problem with octave 4.0.3. My test script sergA.m:

     % sergA.m
     %   An example for <http://savannah.gnu.org/bugs/?48689>
     %   based on the example of
     %     Dmitri A. Sergatskov <mailto:dasergatskov@gmail.com>

     clear all;

     %% Patches with same number of vertices
     t1 = (1/16:1/8:1)' * 2*pi;
     t2

[2016-08-24 13:24] schoeps commented on #4077
@vicnorton Sorry, it seems to be neither an Octave nor a Gnuplot problem. Maybe it's related to fontconfig. In this case you may want to reset you font caches, e.g., delete `~/.cache/fontconfig/` (check the documentation of fontconfig"). However, I consider this issue #4077 as solved. Please open a new one if necessary.

[2016-08-24 15:53] dpo commented on #2975
Is this resolved?

[2016-08-24 15:55] dpo commented on #2380
@tseemann I'd suggest adding what's missing to the general formula howto and closing this if that's ok. `brew audit --strict --online` really tells everything.

[2016-08-24 16:43] kushalj1997 opened #4104 "OpenCV 3 macOS 10.12 Sierra QTKit not found build issue"
### Indicate troubleshooting steps taken
- [YES] Ran `brew update` and retried your prior step?
- [YES] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [YES] Checked that a similar issue hasn't already been filed?
- [YES] Looked up the software bug tracker if reporting a build error?
- [YES ] If you're seeing permission errors tried running `sudo chown -R $(whoam

[2016-08-24 19:07] mdelmans opened #4105 "ncbi-c++-toolkit"
### Indicate troubleshooting steps taken

- [ X ] Ran `brew update` and retried your prior step?
- [ X ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ X ] Checked that a similar issue hasn't already been filed?
- [ X ] Looked up the software bug tracker if reporting a build error?
- [ X ] If you're seeing permission errors tried running `sudo chown -R $(whoam

[2016-08-24 20:22] jwhite007 commented on #4098
I was able to install with
[code]
I would still like to know why I can't install with --without-x11, however.
I've tried without success both
[code]
and
[code]

[2016-08-25 02:47] #3867 closed

[2016-08-25 03:24] tdsmith commented on #4098
Failure in the attached log is:

[code]

It looks like this reflects a cairo that was built without X support, while building R with X support.

`brew install r --with-cairo` should work.

How did `brew install r --without-x11` fail?

[2016-08-25 03:28] svanhal71 commented on #2975
Yes the new package is installing using brew.

Thanks

From: Dominique [mailto:notifications@github.com]
Sent: Thursday, 25 August 2016 1:53 AM
To: Homebrew/homebrew-science
Cc: Sebastian Van Hal; Mention
Subject: Re: [Homebrew/homebrew-science] Re unable to install gubbins using brew with the following error on Ubuntu 14.04 similar to 2883 ? any thoughts (#2975)

Is this resolved?

—
You are rece

[2016-08-25 03:40] dpo commented on #2975
Thanks.

[2016-08-25 03:40] #2975 closed

[2016-08-25 08:43] egonw opened #4108 "pathvisio doesn't install with java8"
(ping @kozo2)

### Indicate troubleshooting steps taken

- [X] Ran `brew update` and retried your prior step?
- [ ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [X] Checked that a similar issue hasn't already been filed?
- [ ] If you're seeing permission errors tried running `sudo chown -R $(whoami) $(brew --prefix)`?

### Bug reports / build errors:

- Brief

[2016-08-25 10:49] vicnorton commented on #4077
My fontconfig problem has been solved by following the suggestions on
   http://stackoverflow.com/questions/35249881/octave-fontconfig-error
Now the gnuplot_qt terminal terminal works perfectly, though it takes
quite a while to come up the first time. It would be nice if the
gnuplot formula could be fixed at homebrew so that the instruction
   brew install gnuplot --with-qt5
actually installed gnu